[2019-11-13 16:00] leofang commented on #2634
@kmaehashi, given that, I don't think these lines are correct:
https://github.com/cupy/cupy/blob/fff3d28c2d3dbfb95254a9ea860d55a54a3b7e4c/cupy/core/include/cupy/complex.cuh#L53-L56
https://github.com/cupy/cupy/blob/fff3d28c2d3dbfb95254a9ea860d55a54a3b7e4c/cupy/core/include/cupy/complex.cuh#L68-L71
Can I correct them in #2636 as well?

[2019-11-13 16:49] grlee77 commented on #2634
Great work on finding this workaround.

I can confirm that the other NaN case you find is also a bug. For
[code]
Numpy gives NaN, but CuPy gives 5. The CuPy case is what you would want if you are trying to find the max while ignoring NaNs.

Basically `cupy.max` is behaving like `numpy.nanmax`.

[2019-11-13 17:46] leofang commented on #2634
Those lines do not seem to have actual impact at the Python level. It's likely that the reduction kernel implementation took care of it.

I hope all of these nuisances are addressed in #2636 now. PTAL.

[2019-11-13 18:48] leofang commented on #2624
@Fokatu That was fast! You will need to submit a PR and work with the internal and external reviewers (like me) to improve it. What you need to do:
- Fork CuPy
- Make changes locally, write some unit tests for the new features, and test them all locally
- Ensure flake8/autopep code format compliance
- Push your local changes as a new branch in your remote fork
- On GitHub, switch to the new branch

[2019-11-13 20:43] berceanu commented on #2583
I was wondering, what if one uses the conda-forge channel to install cupy? Does that have packages for ppc?

[2019-11-13 21:09] leofang commented on #2583
Currently no: https://anaconda.org/search?q=cupy. If you need this, please feel free to open an issue on [conda-forge/cupy-feedstock](https://github.com/conda-forge/cupy-feedstock).

I am not sure if conda-forge has the resource/infrastructure to build GPU packages for Power PC though; the `{{ compiler("cuda") }}` support is fairly new. We can continue the discussion there.

[2019-11-14 01:57] aanugraha commented on #2166
I could reproduce the error with:
[code]
Cupy was installed by `pip install cupy-cuda91`.

[2019-11-14 04:33] #2414 closed

[2019-11-17 11:42] mforbes opened #2645 "cp.sinc fails for complex input"
Unlike the numpy version, `cupy.sinc` fails on complex inputs:

[code]

Either the docs should be updated or the underlying implementation should be fixed.

[code]

[2019-11-18 03:26] jakirkham opened #2647 "Allocating aligned memory"
This is more of a question at the moment, but could lead to a doc issue or a feature request.

Some lower level libraries prefer memory allocated with a specific alignment. In some cases, incorrect alignment means poor performance. In other cases, it's the difference between some code running or not. To this end, it would be really useful to allocate aligned memory with CuPy. However after looking

[2019-11-18 03:38] leofang commented on #2647
My impression is that in terms of memory allocation, CuPy follows the internal practice of `cudaMalloc()` and is always aligned: https://github.com/cupy/cupy/blob/59e6c2b2e0c722b09c7a7af13f908942ef7806cc/cupy/cuda/memory.pyx#L805-L809
(I actually investigated this problem when working on #2432 but I can't recall what I've learned off my head...😞)

[2019-11-18 04:05] emcastillo commented on #2647
I think a custom allocator or memory pool should solve this.

[2019-11-18 04:31] emcastillo commented on #2625
It should be tested whether the allocator can be stored in thread-local memory without conflicts.
Then use the thread-local for the context manager and the global one for regular set/get allocator calls.

[2019-11-18 05:06] asi1024 commented on #1969
I confirmed. Thanks!

[2019-11-18 05:06] #1969 closed

[2019-11-18 05:28] jakirkham commented on #2625
Yeah that makes sense to me too.

[2019-11-18 14:11] #2645 closed

[2019-11-18 15:21] #2634 closed

[2019-11-19 02:42] eduamf commented on #1910
The computer doesn`t have CUDA!  I`m using Ubuntu 16.04.
I tried spacy 2.0, 2.1 and 2.2, without success. I tried with conda (removing previous versions), idem.

[code]
I can`t use spacy without CUDA?

[2019-11-19 02:54] eduamf commented on #1910
But CuPy is "an implementation of NumPy-compatible multi-dimensional array on CUDA. CuPy consists of the core multi-dimensional array class, cupy.ndarray, and many functions on it. It supports a subset of numpy.ndarray interface". I didn`t find a CPU cudy version. Maybe the fix solution is to use NumPy instead CuPy.

[2019-11-19 05:20] toslunar opened #2650 "`linalg.det` should return 0 if getrf failed"
`det` of a singular matrix is 0. `getrf` failure has to be checked.

* Conditions
  - CuPy version: from a0869c60b5fe5551949f5c815de0206cf8e5759b (#2437)

* Code to reproduce

[code]

[2019-11-19 08:02] kmaehashi commented on #2647
Could you elaborate more on this? Do you think it fine if `ALLOCATION_UNIT_SIZE` can be adjusted in the default mempool?

[2019-11-19 10:03] #2637 closed

[2019-11-19 17:48] bsugerman opened #2654 "`pip install cupy` is not correcly installing cupyx"
I'm installing cupy on a windows 10 machine running 3.7.3 and cuda 9.0. I've installed cupy successfully using `pip install cupy-cuda90`, in that the installation ends without error and I can use basic cupy functions. But when I try to get into the scipy packages, I find that some of them aren't installing on my machine (ex: `scipy.ndimage.filters`) and none of the scipy modules can be loaded.

[2019-11-19 17:59] leofang commented on #2654
There's nothing wrong with your `pip`. That's simply because `cupyx` is not placed in the `cupy` namespace. If you need `ndimage`, just do
[code]
It is made so to follow `scipy`'s practice:
[code]

[2019-11-19 18:36] leofang commented on #2583
Issue opened in conda-forge/cupy-feedstock#14.

[2019-11-19 19:08] bsugerman commented on #2654
OK, that worked.  But... is there any reason why the following will not work?

[code]
instead, I have to do this cascade:
[code]

Seems like an odd setup in the __init.py__

[2019-11-19 19:11] cjnolet opened #2655 "Sparse support to include vstack & hstack"
I am finding the `cupy.sparse` packages to be very useful. For the most part, they match the `scipy.sparse` in provided functionality. One important feature that is currently lacking, which is supported by `scipy.sparse` [1], is the ability to `hstack` and `vstack` sparse arrays.

I am working to integrate `cupy.sparse` arrays into `Dask.Array` and it is necessary for the `Dask.Array` to be able t

[2019-11-19 20:24] cjnolet commented on #2359
@danielhanchen has been working on a Sparse SVD primitive in cuML using cuSparse and cuSolver.

If we find that it brings a great benefit to performance, we'd love to support getting this functionality into cupy.

[2019-11-19 20:46] grlee77 commented on #2654
I don't think you have to do that cascade. Just

```from cupyx import scipy```

should work on its own.

[2019-11-19 20:54] grlee77 commented on #2655
+1

On first glance, it looks like this should be pretty easy to add (mostly just copy/paste the following code from SciPy):
https://github.com/scipy/scipy/blob/634d0c03d77cebb3ce162688509ddc9b9f695098/scipy/sparse/construct.py#L401-L623

[2019-11-19 21:03] dloney opened #2656 "PointAttributes error on Windows with cuda toolkit v10.1"
I'm compiling cupy from source on Windows 10 to contribute to the sparse matrix functions. I upgraded to the v10.1 cuda toolkit and am receiving the following error on the cupy 7.0rc1 build:

Traceback (most recent call last):
  File "D:\local\projects_current\cupy\cupy\__init__.py", line 15, in <module>
    from cupy import core  # NOQA
  File "D:\local\projects_current\cupy\cupy\core\__init__.py

[2019-11-19 21:39] leofang commented on #2656
PointerAttributes is a central piece of GPU software design that allows unified memory access. It is not deprecated. Some of its struct members are renamed/marked deprecated, but your symptom seems like a bad build to me.

Did you upgrade your CUDA after compiling CuPy? If so you need to rebuild it from source. Different versions of CUDA are not guaranteed ABI compatible.

[2019-11-19 21:50] dloney commented on #2656
Thanks leofang. I'm still learning CUDA, so I was going off of what I read elsewhere.

I upgraded to v10.1 and then rebuilt the package, anticipating the cupy wouldn't be compatible. So it should be a clean build.

[2019-11-19 22:43] leofang commented on #2656
If you happen to have multiple versions of CUDA installed, you need to make sure 10.1 gets picked during both compile time and runtime. Could be that the runtime library is wrongly linked/loaded.

Also, are you using 10.1 Update 2? Not sure if this is relevant: #2569.

[2019-11-20 03:49] leofang opened #2658 "Is `cupy.cuda.runtime` set to None too early during interpreter shutdown?"
* Conditions (you can just paste the output of `python -c 'import cupy; cupy.show_config()'`)
[code]
Tested with a fresh build on the latest master in a fresh conda environment.

* Code to reproduce
[code]
I don't think I've seen this error before. Looks like `runtime` is set to `None` when `stream.__del__()` is invoked, but this is unexpected because, according to [PEP 442](https://docs.python.or

[2019-11-20 04:22] emcastillo commented on #2658
Couldn't reproduce with python 3.7.3

[2019-11-20 04:44] leofang commented on #2658
What's the Cython version that you used? I am on 0.29.14.

[2019-11-20 05:10] #2469 closed

[2019-11-20 05:13] emcastillo commented on #2658
0.29.13

[2019-11-20 05:54] leofang commented on #2658
Still see the error with Python 3.6.7 + Cython 0.29.13...Not sure what happened 😥

[2019-11-20 06:06] #2581 closed

[2019-11-20 06:57] emcastillo commented on #2658
Jave you tried python 3.7.x?

[2019-11-20 09:18] niboshi commented on #2650
Jenkins, test this please

[2019-11-20 09:59] toslunar commented on #2654
It is not intended but `cupy.cupyx` is there just because `cupy/__init__.py` has the line `import cupyx`, which is similar to `numpy.sys` is the built-in `sys` module.

[2019-11-20 09:59] #2324 closed

[2019-11-20 10:25] kmaehashi commented on #2581
This issue has been fixed in #2657. Thanks @YoujinShin for raising an issue and pointing out the root cause.

[2019-11-20 12:14] leofang commented on #2658
Sorry that was a typo. I tried 3.7.3. 😅

[2019-11-20 13:19] cjnolet commented on #2655
I don’t mind contributing this feature, unless you plan to work on it, @grlee77. I’ll get myself familiar with the contributor guide.

[2019-11-20 13:32] grlee77 commented on #2655
Please go ahead. Docstrings will have to be changed to the CuPy style and
test cases added under tests/cupyx_tests/scipy_tests/sparse_tests/

On Wed, Nov 20, 2019, 8:19 AM Corey J. Nolet <notifications@github.com>
wrote:

[2019-11-20 15:24] leofang commented on #2599
Note that in conda-forge/cupy-feedstock#10 we've successfully built the PY38+Linux package for CUDA 9.2, 10.0, and 10.1 (not sure which 10.1 it is though), but the conda-forge CI doesn't have any GPU to test the package. Waiting for @kmaehashi to press the green button there.

(Conda-forge currently does not support CUDA compiler on Windows or OS X; we only target Linux for the moment.)

[2019-11-20 15:44] leofang opened #2661 "Is `cupy/internal.py` redundant?"
It seems that it does nothing but provides a duplicate of `cupy.core.internal.prod()`. Looks like we could just remove that file? I think all functions in `*.pxd`/`*.pyx`/`*.pxi` already use `cupy.core.internal.prod()`, so only the following two files need to change the import:
- `cupy/testing/helper.py`
- `cupy/linalg/product.py`

(based on `grep --include=\*.{py,pxd,pyx,pxi} -R './' -e 'internal

[2019-11-20 16:40] jakirkham commented on #2599
Based on our discussion here, it sounds like we expect those packages to already work on Python 3.8. So the risk of publishing bad packages is low. Even if it does happen, we can pull them pretty easily. So my recommendation would be to merge. Should give users an easy path to try things out on Python 3.8, which should generate some useful feedback for the upcoming release.

[2019-11-20 17:51] UmashankarTriforce opened #2663 "Specific Scipy/Numpy functions for cupy"
I'm working closely with a team from RAPIDS organization and I would like to port the following for cupy from numpy/scipy -

- [x] numpy.convolv (https://numpy.org/devdocs/reference/generated/numpy.convolve.html)
- [x] numpy.roots (https://numpy.org/devdocs/reference/generated/numpy.roots.html)
- [x] numpy.polyval (https://docs.scipy.org/doc/numpy/reference/generated/numpy.polyval.html)
- [ ] nump

[2019-11-20 18:05] cjnolet opened #2664 "Sparse matrix multiply orders of magnitude slower than PyTorch"
I have been doing some profiling comparing cupy's sparse matrix `dot()` with PyTorch's `mm()` and I'm getting some very surprising results. I noticed that while cupy is using cusparse, PyTorch appears to be using only thrust/cub to do the multiply.

Strangely, I'm finding that it's the cusparse `csrgemm_kernel` from cupy that is dominating the runtime of the multiply, taking 40ms. The end-to-end m

[2019-11-20 20:43] awthomp commented on #2589
@leofang -- I'm still getting this error with PyTorch version 1.2 and 1.3 and CuPy 6.5. Anything I'm missing?

[2019-11-21 01:25] okuta commented on #2179
CuPy [v7.0.0rc1](https://github.com/cupy/cupy/releases/tag/v7.0.0rc1) was released (include #1094).
It supports HIP environment!

[2019-11-21 01:25] #2179 closed

[2019-11-21 02:51] leofang commented on #2589
@awthomp Could you please file an issue there? It's meant to be solved in pytorch/pytorch#24947.

Taking a closer look at the error message, I think my earlier reply was wrong: it's actually a bug in PyTorch (at which the PR pytorch/pytorch#24947 targeted) even before the CUDA array interface was updated to v2, so it would not help even if you use CuPy v6 unfortunately. Sorry.

CUDA arrays passed

[2019-11-21 02:54] okuta commented on #2629
I introduced complex header to CuPy in following commit.
https://github.com/cupy/cupy/commit/799001330654b0d8818f6ba4b7d658e2dabcaf2b

I also modified the header due to some limitations of nvrtc.

Maybe I ported from CUDA7.5 bundle version or github master.

[2019-11-21 03:10] leofang commented on #2658
I still have no idea why this happened. I tested it on a DGX-2, which runs pre-installed Ubuntu 18.04. My conda env was set up using `conda create -n PY37 python=3.7 numpy scipy fastrlock` and then `conda activate PY37; pip install .` Only this machine gives me `AttributeError`; other GPU machines I have access to are fine.

 Closing this issue as it apparently involves some unknown env conflicts,

[2019-11-21 03:14] leofang commented on #2663
Cool! I don't think any of the functions you listed are implemented in CuPy, see https://docs-cupy.chainer.org/en/latest/reference/comparison.html.

[2019-11-21 03:24] leofang commented on #2654
That being said, I also found the `cupyx` import a bit un-intuitive. I actually had made a similar request back in https://github.com/cupy/cupy/pull/1746#issuecomment-447600777. Do we really want to stick to `scipy` on this matter?

[2019-11-21 06:18] leofang commented on #2629
With errors like this:

and this: https://github.com/cupy/cupy/pull/1866#issuecomment-457791608, it seems the root cause is system headers are not included and passed to NVRTC? Can't we simply include them and solve this issue with minimum to zero future effort?

Just curious, not suggesting anyone's time is urgently needed to investigate this 😛

[2019-11-21 06:26] okuta commented on #2629
We can use `__CUDACC_RTC__` macro to avoid including cmath header.

[2019-11-21 06:52] emcastillo commented on #2629
We discussed at the daily and I will take care of creating the thrust fork for our organization.

[2019-11-21 07:52] kmaehashi opened #2667 "Support CUDA 10.2"
[code]

[2019-11-21 09:14] #2521 closed

[2019-11-21 10:55] #2650 closed

[2019-11-21 14:55] leofang commented on #2521
@niboshi Would you like to backport #2491 and #2536 now that both are merged?

[2019-11-21 15:07] leofang commented on #2589
@awthomp in the meanwhile, could you try DLPack and see if it works?
https://docs-cupy.chainer.org/en/latest/reference/interoperability.html#dlpack

[2019-11-21 15:20] awthomp commented on #2589
@leofang Using DLPack works great. I have an example in one of my [cuSignal]( https://github.com/rapidsai/cusignal) notebooks located [here](https://github.com/rapidsai/cusignal/blob/master/notebooks/E2E_Example.ipynb)

[2019-11-21 15:25] leofang commented on #2589
Glad to know it works! Thank you, @awthomp. I should have been more keen on this issue.

I just brought this issue to @gchanan in https://github.com/pytorch/pytorch/pull/24947#pullrequestreview-320958580.

[2019-11-22 01:16] niboshi commented on #2521
@leofang Yes, I've made a backport PR #2669. Thanks!

[2019-11-22 03:19] leofang commented on #2629
Thank you @emcastillo for the update and @okuta for comments.

Tried a bit today, I don't think `__CUDACC_RTC__` can help. The following test leads to a zoo of compilation errors irrelevant of "headers not found".
[code]
(I am convinced the submodule approach is the most viable one, just curious how far we could push in this direction.)

[2019-11-22 03:25] emcastillo commented on #2629
I just got it working using a submodule and `__CUDACC_RTC__`
I am currently running tests and plan to submit a PR in the next few hours/day

[2019-11-22 03:34] leofang commented on #2629
Cool! Ping me when it's ready!

[2019-11-22 03:44] #2625 closed

[2019-11-22 03:57] emcastillo commented on #2629
Actually it didn't work, the thrust headers need a lot of extra work

[2019-11-22 08:09] emcastillo commented on #2629
The current thrust headers are just full of code that NVRTC does not accept,
we have to put a lot of ifndef and the code becomes dirty and unmanageable.

The subset of the complex interface is just small enough and is not prone to changes other than align size for future GPUs, I don't think we really need to sync with the current thrust in this case.

I will make it work just to show a prototype a

[2019-11-22 09:23] tomwhite opened #2674 "Implement `mean` for `cupyx.scipy.sparse.csr.csr_matrix`"
This would be similar to the already existing implementation of `sum`.

This came up when trying to run Scanpy with CuPy and Dask: https://github.com/theislab/scanpy/issues/921, and @mrocklin suggested I open an issue here.

[2019-11-22 09:25] tomwhite opened #2675 "Implement `multiply` for `cupyx.scipy.sparse.csr.csr_matrix`"
This came up when trying to run Scanpy with CuPy and Dask: https://github.com/theislab/scanpy/issues/921.

[2019-11-22 09:27] tomwhite opened #2676 "Implement column subsetting for `cupyx.scipy.sparse.csr.csr_matrix`"
E.g. `xs[:, 1:3]` should work when `xs` is a `cupyx.scipy.sparse.csr.csr_matrix`. Note that row subsetting does work in this case.

This came up when trying to run Scanpy with CuPy and Dask: https://github.com/theislab/scanpy/issues/921.

[2019-11-22 09:28] tomwhite opened #2677 "Implement boolean column subsetting for `cupyx.scipy.sparse.csr.csr_matrix`"
E.g. `xs[:, subset]`, where subset is e.g. `np.array([True, False, True, False, True])` and `xs` is a `cupyx.scipy.sparse.csr.csr_matrix`. Note that row subsetting does not work in this case.

This came up when trying to run Scanpy with CuPy and Dask: https://github.com/theislab/scanpy/issues/921.

[2019-11-22 13:54] dloney commented on #2656
Thanks leofang. I traced this back to an issue that happened when I merged into my fork which produced some unexpected behavior. I built a clean version of the repository and it worked without an issue. I'm closing the issue.

[2019-11-22 13:54] #2656 closed

[2019-11-22 17:01] leofang commented on #2629
I see. Thank you for looking into this issue, @emcastillo. I can totally imagine the challenges. In that case I suggest we just take incremental changes (as we currently do) to bring the cupy complex headers up to date.

I can help go over the current Thrust some time next week, and find if we miss any non-trivial changes (like alignment); adding the missing `__host__` qualifiers is easy. Will rep

[2019-11-22 18:33] jakirkham commented on #2674
cc @pentschev

[2019-11-22 18:33] jakirkham commented on #2675
cc @mrocklin @pentschev

[2019-11-22 18:33] jakirkham commented on #2676
cc @mrocklin @pentschev

[2019-11-22 18:33] jakirkham commented on #2677
cc @mrocklin @pentschev

[2019-11-22 18:39] leofang opened #2678 "Wrong array order due to reduction over non-contiguous axes of F-order arrays"
I was working on CUB support for F-order arrays, and I found that when the reduced axes do not have contiguous strides, the output array order is wrong:
[code]
(Note that here it uses CuPy's reduction kernel rather than CUB, since CUB doesn't work when the axes are not contiguous.) It seems when entering the reduction routines, the input array order is not memoized.

[2019-11-22 23:25] jakirkham commented on #2616
It's a good question. Periodically there are situations where one would like to hand a buffer from lower-level code (like C/C++) to a Python user, but the buffer shouldn't be modified by the Python user. Today we solve these issues by copying before handing it off, but it would be nice to save on the copy.

[2019-11-22 23:26] jakirkham commented on #2616
Another use case is related to `__cuda_array_interface__`. Where a user can mark the buffer as read-only. It would be nice to respect that if we can. Relevant text copied below.

[2019-11-23 01:23] jakirkham commented on #130
What about starting with a big scary note in the docs that says exactly this? 😉

Seriously though I think this would be really nice for other Cython libraries that use CuPy. Hopefully over time we can come to a consensus about what things deserve to be public and stable, but it is likely something that will require a fair bit of iteration.

[2019-11-23 03:07] grlee77 commented on #2519
I implemented [cub::DeviceSpmv::CsrMV](https://nvlabs.github.io/cub/structcub_1_1_device_spmv.html) for CuPy today and it seems to be 3-4 times faster than the cuSPARSE-based implementation in my initial testing. I will make a PR shortly.

[2019-11-23 11:32] KeigoTakamura opened #2681 "About cupy build error in HIP (AMD ROCm) environment"
Hello,I tried to build an environment based on ROCm for Cupy but failed
 I tried HIP build on "cupy v7.0.0 rc1" but it failed in some environments.
I have built and tried multiple environments and reproduced a similar error.

Env1
OS Ubuntu 18.04.3
Xeon  E5-2603 v4
gcc 7.4.0
GPU RadeonⅦ
ROCm version 2.9.6
MiOpen Version: 2.1.0.7487-rocm-rel-2.9-6-a5a4129

Env2
Run on Env1
ROCm Docker based env
The

[2019-11-25 14:57] leofang commented on #2661
Relevant: #2689.

[2019-11-25 15:09] leofang opened #2710 "Expose CuPy memory pool to C/C++ space?"
I found the following snippet (L15-L40) in `cupy.cuda.thrust`:
https://github.com/cupy/cupy/blob/4586fedac8254dcd71d97617f2f95f98254dbbcc/cupy/cuda/thrust.pyx#L15-L40

I think this is an important low-level API for external C/C++/Cython code (such as Thrust and CUB) to use CuPy's memory pool. Is it possible to move them to, say, `cupy/cuda/memory.pxd` so that it can be reused?

[2019-11-25 15:26] leofang commented on #2519
Cool, I completely overlooked that section in the CUB documentation! I wonder why doesn't CUB support other kinds of sparse matrix operations...

[2019-11-25 16:10] leofang commented on #2616
I think what @kmaehashi meant is that it is hard to respect that flag in almost all basic CuPy operations except in `ElementwiseKernel`/`ReductionKernel`, where the input/output array attributes are put into inspection before processing.

I think this puts an extra layer of burden in general across all Python GPU libraries. Note that Numba does not respect that flag either. @jakirkham, could you p

[2019-11-25 18:14] leofang commented on #2675
Relevant? #2698.

[2019-11-25 22:30] kkraus14 commented on #2635
@kmaehashi We're going to explore this when we get some free cycles. The initial thought is that when someone imports RMM we'll check if cupy is importable, and if it is we'll set the cupy allocator to use an RMM defined allocator.

Do you foresee any issues with this or situations where the allocator will get overridden?

[2019-11-26 01:12] emcastillo commented on #2629
@leofang can I get your opinion on the PRs that are above?
They are quite dirty so the quality can (and should) be improved but they should give an idea of the needed effort to keep everything synced

[2019-11-26 01:18] #2613 closed

[2019-11-26 03:54] leofang commented on #2629
Thanks so much for working on this @emcastillo! It is amazing that you even got the dirty hack to build! 🎉

You convinced me it does not worth the time and effort to sync it, unless the maintenance can be fully automated (I don't see how to). I think later I will take a look at these upstream files, since they are modified within the last two years:
- arithmetic.h
- complex.inl
- cpow.h
- cproj.h

[2019-11-26 06:54] niboshi opened #2716 "Use `intptr_t` instead of `size_t ` for handle types"
Related: #1913

Handles are pointers. `intptr_t` should be used as a representative type.

* [ ] cublas
* [ ] cusolver  #2718
* [ ] cusparse
* [ ] cudnn

[2019-11-26 07:40] okuta commented on #2681
Thank you for your report!
Current HIP support experimental feature only supports AMD environment.

Please use normal CuPy when you use Nvidia GPU and CUDA.

[2019-11-26 07:43] kmaehashi commented on #2655
Ongoing in #2665

[2019-11-26 07:44] okuta commented on #2681
This error was solved by #2632 .
Could you try CuPy master branch?

[2019-11-26 07:47] niboshi commented on #2664
Related: #2664

[2019-11-26 08:17] niboshi opened #2717 "Document strides incompatibility with NumPy"
We do not guarantee compatibility of strides returned by CuPy functions. That should be documented.

[2019-11-26 08:18] niboshi commented on #2678
Thank you for raising an issue.
We do not guarantee strides compatibility. So this difference is expected.

Rel: #2717

[2019-11-26 08:18] #2678 closed

[2019-11-26 08:19] niboshi commented on #605
Closing as we do not guarantee compatibility of strides:  #2717

[2019-11-26 08:19] #605 closed

[2019-11-26 08:20] kmaehashi commented on #2710
Does CUB allocate memory by itself, out of CuPy memory pool? I think that issue should be addressed first. Moving to `cupy/cuda/memory.pxd` sounds fine if it's done in that fix.

[2019-11-26 08:20] kmaehashi commented on #2678
Also rel: #605

[2019-11-26 09:09] kmaehashi commented on #2654
We discussed and it is better to avoid exposing `cupy.cupyx` as it is confusing. @toslunar will send a PR to fix this issue.
@toslunar Could you close this issue after sending PR?

[2019-11-26 09:09] kmaehashi commented on #2661
I think it's redundant and can be removed.

[2019-11-26 09:10] kmaehashi commented on #2664
Could you try the proposed patch? https://github.com/cupy/cupy/pull/2698

[2019-11-26 10:34] emcastillo commented on #2710
I've been checking on CUB and they use a single allocator that is not swappable by others.
So having cub getting memory from cupy involve to modify the cub code itself. Maybe we can send a PR to cub? I think that providing an Allocator interface for cub and the ability to set it up is a valuable contribution.

Another possibility here is to have cupy using the cub allocator underneath cupy's own,

[2019-11-26 12:37] leofang commented on #2710
That’s right. Currently all CUB routines integrated with CuPy use CuPy memory pool. This is just for future extensions and code reusability.

[2019-11-26 12:39] kmaehashi commented on #2635
As library imports are often implicit to end-users, I'd rather prefer an explicit API to override the memory pool, e.g., `rmm.override_cupy_memory_pool()`.
(e.g. if user imports a library that has strong dependency to cupy and weak (optional) dependency to RMM, users may want to use CuPy memory allocator.)
Automatic override in higher layer application like cuDF sounds fine for me.

[2019-11-26 15:37] jakirkham commented on #2635
If we are trying to constrain the allocator used based on context, we may consider using the `set_allocator` context manager ( https://github.com/cupy/cupy/issues/2625 ).

[2019-11-26 16:18] grlee77 commented on #2664
I only implemented matrix-vector multipy (spmv) in #2698 and did not try spmm. (Also the gains or not an order of magnitude as mentioned here).  Regardless of how small the sparse matrix is, it seems that even the CUB-based approach still takes close to 20 ms. It could be useful to determine what the source of that overhead is.

@cjnolet.  How many nonzero entries are in the dataset you are testin

[2019-11-26 16:34] kkraus14 commented on #2635
My experience with this is that many users won't look at the docs / find that API and then will have conflicting memory pools. In order to avoid this with using Numba we ended up re-exposing large portions of the user facing Numba API related to device array construction, and even then we still get plenty of users creating a combination of RMM backed and cudaMalloc backed device arrays.

Ideally w

[2019-11-26 16:35] leofang commented on #2678
Ah, didn't notice this is duplicate of #605. Thanks.

[2019-11-26 17:42] cjnolet commented on #2664
@grlee77, I'm using the 20-newgroups with all the labels from scikit-learn, which looks to have an nnz of 1787565.

[code]

Here's the PyTorch Naive Bayes implementation that I've been using for comparison:
[code]

And here's the small script I'm running to test PyTorch:

[code]

I'm getting this as my output (accuracy matches scikit-learn):
[code]

[2019-11-26 18:35] leofang commented on #2664
`time.time()` does not include GPU activities, so looks like only kernel launch time is counted. How did you time the CuPy code?

[2019-11-26 18:48] cjnolet commented on #2664
I timed each algorithm internally using ‘cupy.prof.time_range’ (as can be seen [here](https://github.com/cupy/cupy/files/3870573/cupy_vs_pytorch.nvvp.zip) and found the numbers described in the description.

The end to end times were computed for internal cuml benchmarking, but I felt it relevant to post them here. I had run a test-case where I synchronized the streams before calling ‘start = time

[2019-11-26 19:05] cjnolet commented on #2664
@leofang, I missed the ‘sync=True’ in the fit() function when constructing the reproducible script. I’ve updated my previous reply accordingly.

[2019-11-26 19:12] leofang commented on #2664
Thanks, I didn't pay attention to the origin post and jumped into the middle of the thread. Could you share your cupy script so we can test locally ourselves? It'd offer a different view from an nvvp session.

[2019-11-26 22:30] grlee77 opened #2720 "inconsistent behavior of keepdims for CUB-based reductions"
It appears that keepdims does not keep all of the reduction dimensions when CUB is enabled and axis is a tuple containing more than one axis.

* Conditions (you can just paste the output of `python -c 'import cupy; cupy.show_config()'`)
[code]
* Code to reproduce

[code]
gives
[code]

cc @leofang

[2019-11-26 22:42] grlee77 commented on #2720
actually the behavior is as above only for `sum`, `min` and `max`

For `argmin` and `argmax` the CUB case gives shape `()` instead( while non-CUB is still (1, 1) as expected)

[2019-11-26 22:49] grlee77 commented on #2720
The issue is within `device_reduce` rather than `device_segmented_reduce`.

This can be confirmed by using `axis=(1, 0)` instead of `axis=(0,1)` which does not meet the criteria of `_cub_device_reduce_axis_compatible` . In that case, all reductions give shape (1, 1) as expected indicating that the `device_segmented_reduce` treats `keepdims` correctly.

A separate issue is to fix `_cub_device_reduc

[2019-11-26 23:52] grlee77 commented on #2720
I am working on a fix for this currently.

[2019-11-27 00:23] leofang commented on #2720
Apparently I didn’t think it was a problem 🤦‍♂️ Thanks for catching it, @grlee77. I think calling `_preprocess_array()` should give you the right shape?

[2019-11-27 00:55] grlee77 commented on #2720
I think the origin of the problem was an oversight on my part in #2517. I enabled reduction over all axes there, but did not ensure that `keepdims` preserved all of the axes.

[2019-11-27 01:19] anaruse commented on #2716
Would it be better to use `intptr_t` in #2709 as well?

[2019-11-27 02:10] niboshi commented on #2716
Yes, but there may be a room for discussion on how to define these types: https://github.com/cupy/cupy/pull/2718#issuecomment-558891688

[2019-11-27 04:18] leofang commented on #2599
This PR is merged. Feel free to test it:
[code]

[2019-11-27 12:10] #2654 closed

[2019-11-28 04:15] #2594 closed

[2019-11-28 04:16] kmaehashi commented on #2597
Do you still see this issue?
It seems that the installation succeeds but it fails to clean-up temproary file.
I would suggest trying in fresh env or trying again after reboot.

[2019-11-28 21:06] jakirkham commented on #2716
Should it be `intptr_t` or `uintptr_t`?

[2019-11-28 21:32] jakirkham commented on #2635
Perhaps. Though we do have users running `rmm.reinitialize(...)` to setup the RMM pool anyways. Maybe it is reasonable to add a flag there ( https://github.com/rapidsai/rmm/issues/191 )?

[2019-11-28 22:11] jakirkham commented on #2223
Yes, please feel free 🙂

[2019-11-29 03:34] niboshi commented on #2716
It shouldn't matter much, but I think `intptr_t` is more natural because Python `int` is a signed integer.

[2019-11-29 14:20] KeigoTakamura commented on #2681
Thank you for checking the issue
I checked the operation on the ENV1 machine, but an error occurred.

```python ./setup.py develop```

[code]

I tried the master branch but got another error.

[2019-11-29 15:08] leofang commented on #2681
@KeigoTakamura This looks like my oversight when working on #2426, although I am not sure why it's not caught by the CI. Could you try the patch in #2737 and see if it works? Thanks.

[2019-11-29 17:41] KeigoTakamura commented on #2681
Thank you for quick response.
I checked the operation with env1
[code]
I got another error.

[code]

Is there a problem with my environment?

[2019-11-29 19:11] grlee77 commented on #2595
Although the `dtype` argument is provided in argmin/argmax in CuPy, isn't it broken for anything except `dtype=None`?.

At least when I tried it (with CUB disabled), I get a `TypeError`:
`Wrong type (<class 'numpy.float32'>) of arguments for cupy_argmin`

(whereas NumPy gives a `TypeError` stating `'dtype' is an invalid keyword argument for argmin`)

[2019-11-29 19:11] grlee77 commented on #2595
`keepdims` does work in CuPy, though, which seems useful if not strictly NumPy-compatible

[2019-11-29 20:56] grlee77 commented on #2519
As documented in https://github.com/cupy/cupy/pull/2725#issuecomment-559879307, we could also use CUB to accelerate `mean` (which is also used internally by `std` and `var`)

[2019-11-30 00:14] leofang commented on #2681
No, your environment is fine. It's just that the HIP support is rather new, so when we make changes to the cuda codebase, we often forget to (or don't know we should) add necessary stubs for HIP. In this case, I think `libraryPropertyType_t` was added in #2578.

[2019-11-30 00:28] leofang commented on #2595
For this case I think NumPy should change -- naively I'd expect `argmax`/`argmin`'s behavior should be the same as that of `max`/`min`, i.e. accepting a tuple `axis` and `keepdims` and so on.

[2019-11-30 03:46] leofang commented on #2681
@KeigoTakamura Could you try again the patch from the same PR? I added a stub for `libraryPropertyType_t`. (Sorry I don't have an AMD card to test it myself...)

[2019-11-30 04:43] KeigoTakamura commented on #2681
Build succeeded
Thank you for a good job!!!!!

[2019-12-01 08:33] #2681 closed

[2019-12-02 03:20] leofang commented on #2629
I spotted a few minor differences in the listed files. I intend to make a PR, incorporate the major changes in upstream (will not be a 100% clone), and close this issue.

[2019-12-02 03:21] emcastillo commented on #2629
Do they affect functionality or performance?

[2019-12-02 03:35] leofang commented on #2629
Functionality -> I doubt they would (apart from the missing `__host__` qualifier).
Performance -> Hard to tell. Can only be measured with the changes ready.

[2019-12-02 04:04] emcastillo commented on #2629
Thanks for looking into it.

[2019-12-02 08:11] leofang opened #2742 "Discussion on multi-GPU support for cuFFT and cuSOLVER"
Original context: See #2644.

Some of CUDA libraries like cuFFT and cuSOLVER provide native multi-GPU support. However, there is no guarantee that multiple GPUs will outperform single GPU; on the contrary, for cuFFT I found in https://github.com/cupy/cupy/pull/2644#issuecomment-558835428 that any workload that can be handled in one GPU should ***not*** be processed using multi GPUs; the extra data

[2019-12-02 08:22] anaruse commented on #2569
Sorry for being very late to respond.

The issue above does not reproduce on my environment (CUDA 10.1 U2, GPU V100). Could you try it on V100 as well?

This issue occurs on my environment. Seems this is partly because results of `testing.shaped_arange((3, 3), xp, dtype) ** 2`, that is used as an input array `a` in `xp.linalg.matrix_power(a, -2)`, are a little bit strange in cupy with CUDA 10.1 U2

[2019-12-02 08:39] leofang opened #2743 "Mark explicit `plan` in `cupyx.scipy.fftpack.*` a stable API?"
The explicit `plan` argument in `cupyx.scipy.fftpack.*` and the `get_fft_plan()` function there were added in v6. I have used it extensively in production since then, and I also heard positive feedbacks (via private communication). The plans (`Plan1d` or `PlanNd`) returned by the `get_fft_plan()` handle can be reused either explicitly as an argument, or implicitly as a context manager. In other wo

[2019-12-02 09:53] anaruse commented on #2569
Seems the test above raises an AssertionError with not only CUDA 10.1 U2 but also 10.1 U1 (no error with CUDA 10.1).  When the test is changed as follows, no error is raised even with CUDA 10.1 U1 or 10.1 U2.

    -        a = testing.shaped_arange((3, 3), xp, dtype) ** 2
    +        a = testing.shaped_arange((3, 3), xp, dtype)
    +        a = a * a

It looks there are at least two small accurac

[2019-12-02 11:05] ziyaointl opened #2744 "ndarray.dot produces wrong values with non-native endian arrays"
Some numpy arrays have non-native endianess. Numpy uses dtype.isnative to denote the endianness of an object and handles both non-native and native endianness gracefully. However, cupy.ndarray.dot seems to ignore this flag. This leads to incorrect values being calculated on the gpu.

### Conditions
 - CuPy Version          : 6.4.0
 - CUDA Root             : /usr/common/software/cuda/10.1.168
 - CU

[2019-12-02 11:12] anaruse commented on #2569
The accuracy issue of `cupy.power`, when float32 is used, can be fixed by the following change. Though it might cause some performance degradation...

    --- a/cupy/core/_routines_math.pyx
    +++ b/cupy/core/_routines_math.pyx
    @@ -516,7 +516,7 @@ _power = create_ufunc(
         ('??->b', 'bb->b', 'BB->B', 'hh->h', 'HH->H', 'ii->i', 'II->I', 'll->l',
          'LL->L', 'qq->q', 'QQ->Q',

[2019-12-02 11:28] anaruse commented on #2569
FYI

i | powf(i,2) on CPU | powf(i,2) on GPU
-- | -- | --
0 |  0.000000 |  0.000000
1 |  1.000000 |  1.000000
2 |  4.000000 |  4.000000
3 |  9.000000 |  9.000000
4 | 16.000000 | 16.000000
5 | 25.000000 | 24.999998
6 | 36.000000 | 36.000000
7 | 49.000000 | 48.999996
8 | 64.000000 | 64.000000
9 | 81.000000 | 81.000000

[2019-12-03 02:28] kmaehashi commented on #2569
OK, I'll try. FYI, I reproduced this error on P100 with CUDA 10.1. Also reproducible with GTX 1060 using CUDA 10.2 (cuFFT 10102).

[2019-12-03 04:09] #2661 closed

[2019-12-03 12:04] toslunar commented on #2744
`cupy.array` is printed after it's sent to CPU.  https://github.com/cupy/cupy/blob/49af1c205bb99c86bdcb97d99f731589299ad86b/cupy/core/core.pyx#L1347-L1353

The following confirms `cupy.ndarray.__mul__` ignores endian.

[code]

[2019-12-03 12:57] asi1024 commented on #2743
`cupyx.scipy.fftpack.fft` have `plan` keyword argument, but I think it might be better to support this feature as a method of `plan`. (That means an API like as `plan.fft(x, ...)` seems better to me.) So, I'm hesitating to make it as stable support. How do you think?

[2019-12-03 15:17] hakeemo opened #2749 "Feature Request: Sparse ILU Factorization"
Are there plans in the near future to include Sparse ILU Factorization routines?
If this is a good first issue, I would be interested in contributing.

[2019-12-03 15:28] JennieGerhardt commented on #1529
do you have solved the first problem?

[2019-12-03 15:30] leofang commented on #2743
I consider the methods in `Plan1d` and `PlanNd` private APIs that are subject to change as deemed necessary anytime, so I really do not like the idea of exposing them to average users. It takes much more work to make them robust, easily accessible, and stable, than just marking `plan` stable.

In addition, using the low-level APIs directly means we lose all the benefits and conveniences that high-

[2019-12-03 19:14] leofang opened #2750 "`max()` and `min()` handle complex NaN differently from NumPy"
Reproducer:
[code]
Outputs from NumPy and CuPy do not match:
[code]
NumPy seems to propagate the first encountered NaN, but I can't verified this rigorously. BTW, CUB handles this correctly (set `cp.cuda.cub_enabled = True`).

I can't figure out what's wrong by inspecting the `_amax` and `_amin` implementations in `cupy/core/_routines_statistics.pyx`. Seems to be an issue of how pairwise operation

[2019-12-04 04:58] toslunar commented on #1529
The first problem is fixed by #2662.  Thanks.

[2019-12-04 06:56] leofang commented on #2743
I am throwing in some notes while refreshing my memory on pyFFTW. @grlee77 as one of the core maintainers for pyFFTW, please correct me if I am wrong 🙂

I think there is 1-to-1 correspondence between pyFFTW and CuPy's FFT support:
- `pyfftw.interfaces` <-> `cupy.fft`/`cupyx.scipy.fftpack`
- `pyfftw.FFTW`        <-> `cupy.cuda.cufft.Plan1d`/`PlanNd`
- `pyfftw.builders`    <-> `cupyx.scipy.fftpack.g

[2019-12-04 07:20] emcastillo commented on #2750
Sounds like cupy is not using a proper comparison operator for the complex numbers?

[2019-12-04 07:27] leofang commented on #2750
Taking `max()` as example, I actually tried manipulating here
https://github.com/cupy/cupy/blob/8d6317313a714dd37a69fe4738fbc09fd6a88b1b/cupy/core/_routines_statistics.pyx#L130-L138
and here
https://github.com/cupy/cupy/blob/8d6317313a714dd37a69fe4738fbc09fd6a88b1b/cupy/core/include/cupy/complex.cuh#L71-L86
and various combinations, but none of them worked. So this was why I suspected the problem

[2019-12-05 06:54] kmaehashi opened #2762 "Interoperability with PyTorch memory pool"
Both CuPy and PyTorch have its memory pool. For interoperability, it would be better if the memory pool can be shared.

Currently we provide a way to use PyTorch memory pool as a CuPy memory pool. One idea is to move this code to CuPy code base (maybe under `cupyx`). https://github.com/chainer/chainer-pytorch-migration/blob/master/chainer_pytorch_migration/allocator.py

[2019-12-05 07:06] niboshi commented on #2762
PyTorch is a higher-level library.
It's not smart to make a dependency from CuPy to PyTorch.
As CuPy already has a generalized API to insert arbitrary allocator, I think it's cleaner to make PyTorch expose its allocator.

[2019-12-05 07:43] kmaehashi commented on #2762
Yes, I agree with that. That's another option.

What we need to do is to provide a feature user needs when they want. Actual user needs sometimes precede the smart or clean design. And I think there is an immediate need for this feature.

[2019-12-05 07:52] niboshi commented on #2762
We don't have to spoil modularity in order to fulfill the immediate necessity; that can be done by a separate library.

[2019-12-05 08:36] kmaehashi commented on #2762
I agree that it is another option to consider 👍

[2019-12-05 13:50] JanuszL opened #2763 "CUPY 7.0 fails with Python 2.7"
* Conditions (you can just paste the output of `python -c 'import cupy; cupy.show_config()'`)
 - Python version 2.7.15+
  - CuPy version 7.0.0
  - Ubuntu 18.04
  - CUDA version NA
  - cuDNN/NCCL version (if applicable) NA
* Code to reproduce
[code]
* Error messages, stack traces, or logs
[code]

[2019-12-05 14:03] grlee77 commented on #2763
Hi Janusz.
7.0 only supports Python 3.5-3.8. I think you will have to stay on the 6.x releases for python 2 support.

[2019-12-05 16:00] JanuszL commented on #2763
Hi Gregory,
Thank you for the response. I just noticed that prebuild packages are not available for Python 2.7, and the reason why it installs in my case is that source distribution cannot be limited to a particular python version.
Maybe source distribution installation could fail with python 2.7 with an appropriate message?

[2019-12-05 16:43] leofang commented on #2763
Good suggestion. I made a PR (#2766) for this.

[2019-12-05 16:57] JanuszL commented on #2763
Thanks!

[2019-12-05 17:00] kmaehashi commented on #2599
We added official support for Python 3.8 in v6.6.0/v7.0.0.

[2019-12-05 17:00] #2599 closed

[2019-12-05 17:00] kmaehashi commented on #2243
Fixed in v6.6.0/v7.0.0.

[2019-12-05 17:00] #2243 closed

[2019-12-05 17:01] #2188 closed

[2019-12-05 18:42] jakirkham commented on #2599
Thanks @kmaehashi! 😄

[2019-12-05 19:14] leofang opened #2768 "Deprecate warning for some Python and CUDA codes"
See, for example, https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=101105

Python:
- `PyThread_get_key_value` (observed starting 3.7)
- `PyThread_set_key_value` (observed starting 3.7)
- `PyThread_create_key` (observed starting 3.7)

CUDA:
- `cuParamSetTexRef` (based on the doc this was already marked deprecated at least starting 8.0)
- `cudaPointerAttributes::isManaged`

[2019-12-05 19:22] niboshi commented on #2768
Thank you for raising an issue!
Just a pointer to a related issue: #1940

[2019-12-05 19:26] leofang commented on #2768
Thanks, @niboshi! I knew I've seen this raised somewhere!

[2019-12-05 19:28] leofang commented on #2768
I think I added `cuParamSetTexRef` in #2432 but didn't really use it 😅

[2019-12-06 04:44] kmaehashi opened #2771 "Add test code for cuTENSOR"

[2019-12-06 16:49] leofang commented on #2589
This should be fixed in PyTorch now with pytorch/pytorch#24947 merged.

[2019-12-06 16:49] awthomp commented on #2589
Thanks @leofang. I'm compiling as we speak.

[2019-12-06 16:51] leofang commented on #2589
Yeah it's nice you're testing it! I wonder how long it takes to build PyTorch?

[2019-12-06 16:53] awthomp commented on #2589
Let's just say I think I'll go for a run, and check when I get back :smile:

[2019-12-06 17:49] awthomp commented on #2589
Confirmed fixed with https://github.com/pytorch/pytorch/pull/24947

[2019-12-06 18:03] grlee77 commented on #2743
Yeah, this is pretty close. The pyFFTW builders also return a `pyfftw.FFTW` object, it is just a more convenient interface than calling `pyfftw.FFTW` directly.  In either case, the FFTW object has a `__call__` method implemented so that the end-user can use it like a function.

e.g.
fft = pyfftw.builders.fft(...)
y = fft(x)  # applys a pre-planned transform

So I think the main difference between

[2019-12-06 18:11] grlee77 commented on #2743
I am +1 on making it keyword-only.

The need for the separate `plan` argument has been reduced somewhat by the ability to use the plans as a context manger, but I think it is convenient to still have the option to explicitly pass in a plan.

I think one issue with calling a method from a Plan object itself is that this is even less like the style of NumPy or SciPy fft code.

[2019-12-06 18:15] grlee77 commented on #2743
I should revisit to recall the full details. I know I had a working implementation that was basically a copy of the pyFFTW one, but wanted to instead use a non time-based cache. I did start that somewhere, but haven't looked at it recently and never got around to making a PR for it.

In one recent application I have just been explicitly storing a given PlanNd object and using it as a context manag

[2019-12-06 18:21] leofang commented on #2589
Awesome, @awthomp! Thanks for your time! Which version of CuPy did you use? v6 or v7?

[2019-12-06 18:26] awthomp commented on #2589
Thanks for driving this, @leofang! I used CuPy v7 (`pip install cupy-cuda100`) in my testing.

[2019-12-06 18:29] leofang commented on #2762
Is #2710 relevant? I know some core functionalities of PyTorch are implemented in C++, but I am not sure about their memory pool.

[2019-12-06 20:23] grlee77 commented on #2569
On current master with CUDA 10.1 update 2, I am also seeing a two test failures in `cupyx.scipy.fft` that I assume are for the same reason as the `test_irfftn` one mentioned above. Specifically they are:
[code]

[2019-12-06 20:58] grlee77 commented on #2743
It can be faster in some cases than non-preplanned pyFFTW or for small transform sizes due to lower overhead. I think pyFFTW still wins in general when using pre-planned transforms, but the relative benefit is much less than previously. For near-prime sizes, FFTPack could be orders of magnitude slower than pyFFTW, but pocketfft does not have that same weakness.

[2019-12-06 22:28] xiaodong-yu opened #2777 "CUDA stream errors"
When I play with the CUDA stream APIs in cupy, I find even running the official examples (cupy/examples/stream/cufft.py) returns the following errors:
Exception ignored in: <bound method Stream.__del__ of <cupy.cuda.stream.Stream object at 0x7fa0f7366050>>
Traceback (most recent call last):
  File "cupy/cuda/stream.pyx", line 168, in cupy.cuda.stream.Stream.__del__
  File "cupy/cuda/stream.pyx", l

[2019-12-06 22:44] HouseOfFinwe opened #2778 "Add ability for rawkernels to accept ctype structs as arguments"
Cupy currently lacks the ability to pass arguments to kernels that take structs.  E.g.  float3, int2, etc.

[2019-12-06 22:47] HouseOfFinwe opened #2779 "Add ability for rawkernels and rawmodules to accept a path to ptx files in addition to cubin"
Cupy rawkernels and rawmodules only accept source core and paths to cubin files.  They should also accept paths to ptx files since the driver api allows for this.

[2019-12-07 02:45] heyu91 opened #2780 "`TypeError` when using `cupy.nanstd` and `cupy.nanvar`"
Hello, `cupy` raised `TypeError` when I ran the following code.

[code]
the error is shown as below:
[code]

Here is some information about my device:

OS : Windows 10 64 bit

Python : 3.7.5 (default, Oct 31 2019, 15:18:51) [MSC v.1916 64 bit (AMD64)]

numpy Vesion : 1.74.4

CuPy Version : 7.0.0

CUDA Root : C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.0

CUDA Build Version : 10000

CUDA

[2019-12-07 02:59] leofang commented on #2777
Possibly the same problem: #2658

@emcastillo I was not alone! Could it be some modules have a hidden stream added for some reason, and that stream was deconstructed too late (after `cupy.cuda.runtime` is de-imported)?

[2019-12-07 09:05] Algabri opened #2781 "TypeError: lowerb is not a numpy array, neither a scalar"
how to fix this error
here more details
https://stackoverflow.com/questions/59224490/typeerror-lowerb-is-not-a-numpy-array-neither-a-scalar

[2019-12-08 03:34] leofang commented on #2779
Hi @HouseOfFinwe, in the PR #2782 I added the PTX support to `RawModule`. I believe it's the right place to support it, since for `RawKernel` it'd require more code changes, and I think based on the API design it is unintuitive to have PTX code supported there.

FYI, your title is inaccurate, as cubin is already supported in `RawModule`.

Just curious, did you request this because you actually nee

[2019-12-08 03:40] cloudXia777 commented on #2100
Hey, Error (7) occurred when I ran "y  = cupy.arange(10)". Do you know why this error?

[2019-12-08 03:48] HouseOfFinwe commented on #2779
That was just poor phrasing on my part.  I should have said in addition to cubin.  Our kernels are compiled to ptx, so it would be useful to us if cupy supported this capability.

[2019-12-08 03:56] leofang commented on #2779
If you have the source code to compile from, why not just passing them to `RawModule`?

[2019-12-08 04:07] HouseOfFinwe commented on #2779
Because it would be a pain in the butt to provide all the include directories and compile options.  The kernels are already compiled in C++ in another project.  I would like to leverage those kernels without having to recompile them.  More driver API coverage would be nice.  I understand this is not cupy’s aim, but no one else in python land is really doing this other than perhaps pycuda, and they

[2019-12-08 04:33] leofang commented on #2743
I like a non-time-based cache. Before we migrated to GPUs and used cuFFT, we used pyFFTW a lot with a practically infinite timeout. Could you share with us just briefly why pyFFTW would like a timed one?

I just started looking into how PyTorch implements its cuFFT plan cache. Seems like they do not have any timeout:
https://github.com/pytorch/pytorch/tree/master/torch/backends/cuda (Python level)

[2019-12-08 21:38] suryadwar opened #2783 "Implementing specific NumPy functions in CuPy"
As a part of a course project, I'd like to contribute to CuPy. I reached out to @kmaehashi who told me I could start by implementing simple functions which are not yet present in CuPy according to this [Comparison Table](https://docs-cupy.chainer.org/en/latest/reference/comparison.html).

I would like to start by implementing numpy.argwhere in CuPy. It would be great if someone could guide me on w

[2019-12-09 04:15] niboshi commented on #2762
Is #2710 about exposing memory pool in Cython for use within CuPy, or exposing it in C/C++ for use in external apps?

I think the former is already accomplished in the current CuPy code (and irrelevant to PyTorch interoperability).

As for the latter, I'm not familiar with this kind of usage of Cython so I might be misunderstanding, but I think it's not easy to use for users.
They would have to co

[2019-12-09 08:14] emcastillo commented on #2781
Opencv does not work with cupy arrays, you will need to convert back and from cupy when calling Opencv using the cupy.asnumpy and cupy.asarray functions.

[2019-12-09 08:26] emcastillo commented on #2780
Seems to be a bug on how some datatypes are being handled in windows.
We will look into this.

[2019-12-09 08:36] #1940 closed

[2019-12-09 08:46] emcastillo commented on #2777
I am not sure but maybe https://github.com/cupy/cupy/pull/2769/ can fix this.

The problem seems to be that part of the thread-local storage gets blown up before the stream itself is destructed.

[2019-12-09 19:51] grlee77 commented on #2743
I don't know what the reasoning was for that choice. It has been that way since before I joined the project. I did see that there was some suggestion to change it to LRU a few years back, but it was not accepted at the time: pyFFTW/pyFFTW#129

[2019-12-09 20:33] jakirkham commented on #2635
FWIW we have a proposed implementation of this in PR ( https://github.com/rapidsai/rmm/pull/198 ) if this is of interest.

[2019-12-10 00:55] Algabri commented on #2781
when using `cupy.asnumpy` , the output: ```
Traceback (most recent call last):
  File "/home/redhwan/learn.py", line 22, in <module>
    mask = cv2.dilate(mask, kernal , iterations=1)
TypeError: kernel is not a numpy array, neither a scalar
[code]
Traceback (most recent call last):
  File "/home/redhwan/learn.py", line 18, in <module>
    mask = cv2.inRange(hsv, red_lower, red_upper)
TypeError: lo

[2019-12-10 01:10] emcastillo commented on #2781
Unfortunately, you can't call OpenCV functions with cupy arrays.

[2019-12-10 01:42] Algabri commented on #2781
Thanks, emcastillo for this information

[2019-12-10 06:00] takagi commented on #2779
Closed via #2782.

[2019-12-10 06:00] #2779 closed

[2019-12-10 08:59] leofang commented on #2768
With #2769 and #2770 merged, now we are left with the warnings from `cudaPointerAttributes`.

[2019-12-10 09:40] leofang commented on #2742
@asi1024 Any chance you've discussed this issue further internally? Thanks.

[2019-12-10 20:47] jakirkham opened #2789 "`__cuda_array_interface__ ` with `NULL` pointer fails to convert to CuPy array"
Recently ran into an issue with CuPy's `__cuda_array_interface__` conversion support where it fails if it holds a `NULL` pointer for the data. Here's an example using an existing CuPy array. Though this happens with any `__cuda_array_interface__` supporting object that holds a `NULL` pointer.

* Conditions (you can just paste the output of `python -c 'import cupy; cupy.show_config()'`)
  - CuPy ve

[2019-12-10 22:25] smarkesini opened #2790 "slow SpMV"
Hello,
I mention this issue earlier in #2365 as performance issue; the bug was fixed but performance is still an issue. When I perform a sparse matrix vector multiply using CSR format, it is over 200 times slower the first time it is computed and it is always  over 200 times slower when multiplying a sparse matrix in CSC format with a vector from the left hand side. Internally cuda should perform

[2019-12-11 01:08] leofang commented on #2789
Thanks, @jakirkham. This was my oversight when fixing it in #2611. As we discussed elsewhere, in this case `ptr = 0` is used as a flag to prevent from looking up the pointer attribute.

Are you able to create a PR to fix this? It should just be a simple one liner `if ptr > 0: ...` added to `cupy.cuda.memory.UnownedMemory`. I can also create one later today (no access to my computer now). Thanks.

[2019-12-11 02:31] emcastillo commented on #2790
Possible duplicate #2664

[2019-12-11 03:25] jakirkham commented on #2789
No worries. There were a lot of good fixes there too. Thanks for all of those. 🙂

Yeah I think it should be straightforward. It might be a little bit until I get to it (so if someone beats me to it no worries), but more than happy to submit a fix. 😄

Mostly wanted to make sure we were aware of the issue and were tracking it somewhere. 😉

[2019-12-11 06:01] leofang commented on #2763
Rel: https://stackoverflow.com/questions/59276773/cupy-with-tx2-and-cuda-9-0

[2019-12-11 08:37] niboshi opened #2797 "Document functions that may synchronize the device"
Some functions (e.g. `nonzero`) inevitably synchronize the device.
That should be documented.

[2019-12-11 10:28] niboshi opened #2800 "Refactor the way ndarray methods are implemented"
Currently routines implementations that have interfaces both as a module-level function and as a `ndarray` method are implemented in such a way that the main code is implemented in the `ndarray` method and it is called by the module-level counterpart.

I think it's better to reverse it, so that `ndarray` method calls the other.

Benefits:
* Simplifies `core.pyx` where `ndarray` is defind.
* Reduce

[2019-12-12 05:18] asi1024 commented on #2743
`scipy.fftpack.*`s are not guaranteed never to support `plan` argument in the future, so we cannot assure you that we keep the backward compatibility of `plan` keyword argument of `cupy.scipy.fftpack.*`.

[2019-12-12 05:59] asi1024 commented on #2742
@leofang Sorry for my late response. We are considering that unified memory may be useful for this issue. ([Related issue in stack overflow](https://stackoverflow.com/questions/57752516/how-to-use-cuda-pinned-zero-copy-memory-for-a-memory-mapped-file))

[2019-12-12 09:24] #2797 closed

[2019-12-13 02:39] leofang commented on #2658
Reopen as a dup of #2777.

[2019-12-13 02:40] leofang commented on #2777
Just tested the master branch on the machine that I observed the #2658 symptom, and it still happens ☹️

[2019-12-13 03:09] emcastillo commented on #2777
The problem is object destruction order here, the globals are not guaranteed to be alive when a object `__del__` is called. I think that just wrapping it into a try/catch should suffice

[2019-12-13 04:44] leofang commented on #2777
I wonder why it is not reproducible everywhere...

[2019-12-13 05:17] emcastillo opened #2806 "`__del__` behavior on interpreter shutdown"
When finishing program execution, python does not guarantee the order in which objects are destroyed.

Calls inside a `__del__` method calling other objects or modules are not guaranteed to be correctly executed.

https://github.com/cupy/cupy/blob/master/cupy/cuda/stream.pyx#L185
It is known to fail because `runtime` module is already unloaded when `__del__` is called.

https://docs.python.org/3/r

[2019-12-13 05:28] emcastillo commented on #2806
Maybe `atexit` module can be used?

https://docs.python.org/3/library/atexit.html

[2019-12-13 05:49] leofang commented on #2806
I think I tried registering the stream’s destructor with `atexit` and it didn’t work, but I don’t remember how exactly I did it, and I could do it wrong.

I think I also tried letting each stream instance hold a reference to the runtime module and it failed too. It seems the shutdown procedure doesn’t care about reference counting...

[2019-12-13 05:58] niboshi commented on #2806
As pointed out at https://github.com/cupy/cupy/issues/2658#issue-525424530, the problem does not seem explained by Python's expected behavior?

[2019-12-13 06:04] emcastillo commented on #2806
Maybe is because of Cython?

[2019-12-13 06:16] leofang commented on #2806
Probably not Cython itself (as I tested several older and latest versions and the problem persists), but its bad interplay with Python. I also wonderEd if this could be a bug in Anaconda/conda-forge’s Python packaging, which I always use in production. Finally, it could just be a coincidence, but both bug reports (#2658, #2777) used CUDA 10.0.

[2019-12-13 06:21] emcastillo commented on #2806
I use CUDA 10.0 too.

[2019-12-13 06:29] leofang commented on #2777
@xiaodong-yu could you confirm that the error you saw happened at interpreter shutdown, i.e., the script itself ran correctly?

[2019-12-13 06:48] emcastillo commented on #2806
We just found that if we install python with pyenv, then it breaks just with `python -c 'import cupy; stream = cupy.cuda.Stream()'`
Credit goes to @niboshi

[2019-12-13 07:05] leofang commented on #2806
Your pyenv is provided by the Linux distribution (apt-get, etc)?

[2019-12-13 07:06] emcastillo commented on #2806
Installed manually

Conda flags
[code]
Pyenv python 3.7.3 flags (python3-config --cflags)
[code]

[2019-12-13 07:41] niboshi opened #2808 "Detection of device synchronization"
Device synchronization is a source of performance degradation, but currently even some of CuPy functions implicitly (whether intentionally or not) do that (#2797).

It would be nice to have a mechanism to detect device synchronization.

### Proposal

Add a context manager within which any operation that synchronizes the device causes an error. The context manager sets a thread-local configuration

[2019-12-13 09:45] #2806 closed

[2019-12-13 09:45] niboshi commented on #2658
#2809

[2019-12-13 09:45] #2658 closed

[2019-12-13 09:45] niboshi commented on #2777
#2809

[2019-12-13 09:45] #2777 closed

[2019-12-13 11:03] leofang commented on #2658
@emcastillo I confirm that #2809 fixed the error. Thanks!

[2019-12-13 12:16] leofang commented on #2742
@asi1024 Did you mean ***pinned*** memory or ***unified*** memory? For the former, yes it will benefit the performance of host-device transfer, and it is possible to create a NumPy array from a pinned memory, something like
[code]
So the "NumPy-in, NumPy-out" feature will speed up further. The SO post you linked is along this line, with extra effort that the host memory is backed by disk via mmap.

[2019-12-14 03:40] takagi commented on #2163
It seems that it is not only for an empty array but for any array split with over-run.

[code]

[2019-12-14 09:40] emcastillo commented on #2742
you can have a Cupy array living in unified memory, which allows it to be bigger than a single gpu memory size.

[2019-12-14 09:49] emcastillo commented on #2808
I think this is great and could be pretty useful to improve performance of user codes.

One minor detail that just comes to my mind is that instead of declaring every method that synchronizes, could we make the cuda runtime call used to synchronize devices to check the flag set by the context manager. This will solve the second issue, but it will not detect calls that “could” synchronize but they

[2019-12-14 16:25] leofang commented on #2808
+1 for the runtime module to check the flag if possible. This seems more robust, and also less painful for implementing new functions. At least we don’t need to chase after which function syncs.

[2019-12-15 11:06] leofang commented on #2742
@emcastillo True, but I don’t think this is supported by cuFFT, and I suspect it’s not supported by cuSOLVER either. For multi-GPU cuFFT the content must live on GPUs in a specified format, which is supposed to be managed by `cufftXtMalloc` but I handled manually in #2644. If unified memory is supported there, it must be an undocumented feature.

[2019-12-15 15:10] leofang commented on #2743
@asi1024 Don't worry too much 🙂

First, with `scipy.fft` being added in v1.4.0 and in preference to `scipy.fftpack`, the latter is considered as "long term legacy" (https://github.com/cupy/cupy/pull/2355#issuecomment-517325388) and maintained only for backward compatibility. I doubt there will be any change over its API.

Second, in the event that a `plan` argument is to be added to `scipy.fftpack

[2019-12-15 15:54] leofang commented on #2800
From what I understand, this is more or less what NumPy does. (Just wanna supplement this observation, not suggesting we should follow NumPy on this aspect.)

This sounds OK to me. The real crisis of Cython module dependencies is to let the `cuda` module depend on the `core` module. Everything would just crash because of module initialization order. This is why we needed a runtime `import` instead

[2019-12-15 18:19] fredericoschardong opened #2816 "random.randint support for range larger than int32"
[random.randint](https://github.com/cupy/cupy/blob/master/cupy/random/generator.py#L1122) doesn't support ranges larger than int32 apparently because [RandomState._interval](https://github.com/cupy/cupy/blob/f121d14f6d3d2f5b25a58f26d2f8bca40dd10812/cupy/random/generator.py#L631) doesn't. Is there a plan to support larger numbers such as int64 and uint64?

[2019-12-16 04:10] emcastillo commented on #2816
Hello and thanks for your question,
The main problem here is the reliance in the `curand` library which does not support generating numbers with a extent greater than 2^32 bits.

[2019-12-16 06:01] niboshi commented on #2808
Even `runtime` API wrapper doesn't know if the call synchronizes (because it depends on the pointer attributes), so it won't solve the problem.

[2019-12-16 06:41] emcastillo commented on #2808
It doesn't synchronize only if the memory is pinned memory in memcpy calls? or are there other cases where behavior is unclear.

I guess that being able to know if the host memory is page locked or not should be a sufficient condition for this, but I am afraid this is not easy 😢

[2019-12-16 07:17] niboshi commented on #2808
I'm not sure about other cases, but checking pointer attributes is not roboust, and also incurs some overhead as well.

[2019-12-16 14:58] leofang commented on #2762
Sorry for my late reply.

#2710 is raised for this use case. In `cupy.cuda.thrust`, a handle to the CuPy memory pool is implemented so that the C++ functions in `cupy_thrust.cu` can use it. I believe it is better to move that handle to elsewhere as I suggested in #2710.

That's right. This is meant for developers building projects on top of (or dependent of) CuPy, not for general users. For the ca

[2019-12-16 15:09] leofang commented on #2808
I think it is meant to be very robust. One potential pitfall could be the change of fields in the attribute struct (in 10.0 or above? I don't remember...#2768 is relevant). When looking up and interpreting the attributes we should be careful.

For the overhead, I am always under the impression that it's a cheap operation:
[code]
From what I know, it's rather common in a CUDA program to check the p

[2019-12-17 04:32] niboshi commented on #2808
Thank you for the measurement, but 6us looks quite expensive.
In my environment it's about 1us, but I'm still not confident that it's cheap enough for an overhead of the lowest-level API call.

[2019-12-17 07:22] #2763 closed

[2019-12-17 07:25] kmaehashi commented on #2778
Ref: https://stackoverflow.com/questions/59206428/passing-structure-to-raw-kernel-in-cupy

[2019-12-17 07:34] #2781 closed

[2019-12-17 07:37] #2790 closed

[2019-12-17 08:01] smarkesini commented on #2664
sorry that I opened a different issue for SpMV, but in #2790 I attached a modification to cupyx/scipy/sparse/coo.py, that improved the timing for SpMV with 10M nnz  from 0.06 to 0.00024 seconds. I could be related.

[2019-12-17 21:38] jakirkham opened #2824 "Swapping values in array yields incomplete result"
When trying to swap 2 values in a CuPy array, it appears that the swap does not proceed to completion. As a result an intermediate state of the swap is stored as the final result.

* Conditions (you can just paste the output of `python -c 'import cupy; cupy.show_config()'`)
  - CuPy version: 6.6.0
  - OS/Platform: Ubuntu 18.04.2 LTS (bionic)
  - CUDA version: 10.1.243
  - cuDNN/NCCL version (if ap

[2019-12-17 21:57] jakirkham commented on #2667
Does CuPy 6.6.0 work with CUDA 10.2? Also does this mean CuPy 7.0.0 has support for CUDA 10.2 or is there more to do here?

[2019-12-18 01:48] emcastillo commented on #2824
The problem seems to be when assigning a view of the array to the same array.
[code]
Fails while
[code]
works

[2019-12-18 05:13] toslunar commented on #2824
In order to achieve the swap, `a[[0, 1]] = a[[1, 0]]` looks good to me.

[2019-12-18 05:26] #2824 closed

[2019-12-18 06:18] #2163 closed

[2019-12-18 22:47] #2059 closed

[2019-12-19 01:46] #2629 closed

[2019-12-19 15:15] cjnolet opened #2840 "NCCL Python Wrapper"
There are a lot of use-cases for having NCCL run directly in the Python layer. It looks like the current wrapper requires the user to work at the level of ctypes pointers rather than native Python objects.

There is user interest in being able to initialize a NCCL clique and pass cupy arrays directly to the collective comms functions. This opens up a lot of possibilities for users and I have also

[2019-12-20 00:26] leofang commented on #2840
It’s not that complicated. The underlying device pointer of CuPy arrays is exposed via either `arr.data.ptr` or `arr.__cuda_array_interface__['data'][0]`. Once this is known, making a Python wrapper is straightforward without using ctypes, which I hate 😉

For example, this is a thin wrapper we used in one of our projects:
[code]
The idea here is to make the NCCL comm behave like a mpi4py comm.

[2019-12-20 00:33] leofang commented on #2840
Btw, I meant to say it’s nice to have this wrapper built-in in CuPy, but it’s probably just a convenience handle, as none of the CuPy functions uses NCCL so far. Given that the wrapper is so simple, perhaps we could just add it to the examples?

[2019-12-20 00:40] cjnolet commented on #2840
This is something we would like to use for collective comms (alongside UCX-py) in RAPIDS cuML. We could host this there as part of our API, but as other projects are likely to want to use it as well, it seemed more reasonable if it was available as part of cupy’s public API. I could really go either way, though. RAPIDS cugraph may have an interest in this very soon as well.

Sent from my iPhone

[2019-12-20 06:14] niboshi commented on #2743
I think the discussion is not necessarily limted to `fft`, but about general policy on how CuPy supports a feature that is not in NumPy (or SciPy). It doesn't seem a good idea to add a CuPy-specific argument to NumPy- or SciPy-compatible functions in general.

If `scipy.fftpack` is "long term legacy", I have a feeling that we have no motivation to improve `cupyx.scipy.fftpack`.

Also, as there's a

[2019-12-20 06:22] niboshi opened #2843 "`cupyx.scipy.fft` is not compatible with `scipy.fft`"
In SciPy, `scipy.fft` is accessible after importing `scipy`.
[code]

`cupyx.scipy.fft` is not accessible after importing `cupyx.scipy`.
[code]

----
*(What follows is the initial version of this post, where I used an old version of SciPy (1.3.3) and it doesn't apply to the newest one).*

[2019-12-20 08:39] leofang commented on #2743
Agreed.

If it is made a keyword-only argument as discussed above, there is no compatibility issue and I don’t see why it is a concern. Could you elaborate more?

I don’t get it. What exactly do you mean here?

@niboshi It means a deadlock here. The discussion there is on hold largely because we need it here, yet we have not reached any consensus that can be communicated with upstream. As I said w

[2019-12-20 12:28] grlee77 commented on #2843
This function ``scipy.fft`` is just ``numpy.fft``. There are a number of other NumPy functions that get imported into the root SciPy namespace as well, but all of them have recently been deprecated: https://github.com/scipy/scipy/pull/10290.

We would like to remove all of them as it is odd to provide functions from a separate library in the public API. Most of them may not be removed for some tim

[2019-12-20 13:04] niboshi commented on #2843
Oh...
I was using an old version of SciPy (1.3.3).
I updated the issue description, as the first problem still remains.

[2019-12-20 13:26] niboshi commented on #2743
If we have our own argument (even if it's keyword-only), it becomes problematic when other libraries adds the same argument with different meaning.
We would have to change the meaning of that argument, which would cause backward incompatibility.
Likeliness does not matter because this is about the general policy throughout CuPy.

I don't know what exactly "long term legacy" means, so I might be wr

[2019-12-20 15:00] bsugerman opened #2844 "Is there a plan to implement a GPU version of opencv.remap?"
I'm very excited to be using cupy and have thusfar found it incredibly simple to use and very complete in terms of the functions I've needed. However, it is missing the cv2.remap() function which I'd argue is a critical part of image processing. Is there a plan in the works to code that up, or do you know if someone has made their own version using cupy?

[2019-12-20 15:01] leofang commented on #2743
We would have to change the meaning of that argument, which would cause backward incompatibility.

@niboshi You are making the same argument as @asi1024 did earlier. I am not convinced that it is the scenario we need to worry about. In particular,

this is a kinda passive view to me. We have SciPy-FFT folks @grlee77 @peterbell10 here & in the linked issue, and @grlee77 and I are familiar enough wi

[2019-12-20 16:17] leofang commented on #2743
For those who follow the issue via email notification: I modified my response above to make my points clearer.

[2019-12-20 16:40] leofang commented on #2840
@cjnolet If CuPy prefers not to support this, I am happy to contribute to the RAPIDS stack if you could guide me 🙂

[2019-12-20 17:50] berceanu opened #2845 "cudaErrorSystemNotReady: system not yet initialized"
output of `python -c 'import cupy; cupy.show_config()'`:

[code]

* Conditions
  - OS/Platform: Ubuntu 16.04.6 LTS
  - CUDA version: 10.0, installed via `conda install cudatoolkit=10.0`
  - CuPy version: 7.0.0, installed via `pip install cupy-cuda100` in my conda env

`nvidia-smi` works properly, and shows ` NVIDIA-SMI 430.64       Driver Version: 430.64       CUDA Version: 10.1`

[2019-12-20 18:44] grlee77 commented on #2743
Hi @leofang. I think your summary of the SciPy side of things sounds correct.

I understand wanting to keep APIs consistent, but I also think there are practical considerations that warrant exceptions. For example IIRC, `cupy.fft.fft` has always preserved single precision dtypes while NumPy's version explicitly casts to double, so apparently an exception was already made in that case. When there i

[2019-12-23 01:04] emcastillo commented on #2845
please install `cupy-cuda101`

[2019-12-23 02:33] #2720 closed

[2019-12-23 06:02] toslunar commented on #2843
I got `scipy.fft` as function will be removed in 1.5.  I'm still not sure about the result of `import scipy; scipy.fft` with scipy 1.5.  The change in the availability of `scipy.fft` module without the import may be a kind of compatibility issue, while SciPy recommends `from scipy import foo` (https://docs.scipy.org/doc/scipy/reference/api.html).

[2019-12-23 06:27] niboshi commented on #2843
Oh, thanks.
Probably it's a problem at SciPy's side.

[2019-12-23 07:00] ToukiLiu opened #2853 "Cupy dose not working on ubuntu 18.04"
Conditions (you can just paste the output of `python -c 'import cupy; cupy.show_config()'`)
  - CuPy version 7.0.0
  - OS/Platform Ubuntu 18.04
  - CUDA version 9.0
  - cuDNN/NCCL version 7.6.5 (for cuda 9.0)
  - GPU NVIDIA GTX580
  - Driver version 390.116

Code 1:
[code]
Error msg 1:
[code]

Code 2:
[code]
Error msg 2:
[code]

[2019-12-23 07:55] toslunar commented on #2853
It seems answered in https://stackoverflow.com/questions/59451428.

[2019-12-23 08:33] #2816 closed

[2019-12-23 10:24] niboshi commented on #2843
https://github.com/scipy/scipy/issues/11264#issuecomment-568426924

Closing as it's confirmed we don't have to follow SciPy's behavior.

[2019-12-23 10:24] #2843 closed

[2019-12-23 13:38] berceanu commented on #2845
But then I also need to install cudatoolkit=10.1?

[2019-12-23 13:44] emcastillo commented on #2845
Sorry, I looked at the cuda version the driver supports instead the one you have installed.
your setup seems right.

Do you have the CUDA libraries in the LD_LIBRARY_PATH?
Also which GPU are you using?

Sorry again and thanks

[2019-12-23 14:12] leofang commented on #2589
It seems the bug fix will be included in PyTorch v1.4.0, see https://github.com/pytorch/pytorch/pull/31450.

[2019-12-23 16:16] berceanu commented on #2845
I didn't touch `LD_LIBRARY_PATH`, since I installed the cuda Toolkit via conda. I have gotten this setul to work on other systems, but this is a HGX-II node with 16 V100 GPUs. I dont know if its connected, but nvidia-smi takes about 30 seconds to display its output.

[2019-12-24 00:57] emcastillo commented on #2845
If nvidia-smi takes that long probably the driver may not be running in persistence mode.
I am unsure if it may be related but try to enable it if possible.

https://docs.nvidia.com/deploy/driver-persistence/index.html

[2019-12-24 04:46] niboshi opened #2863 "Clean up intermediate aliases"
Intermediate aliases (something in this file: https://github.com/cupy/cupy/blob/master/cupy/sorting/__init__.py) are not necessary and rather confusing for users.

[2019-12-24 04:47] #2853 closed

[2019-12-24 04:52] niboshi opened #2864 "Boolean subtraction should be an error"
[code]

If `xp` is `numpy`:
[code]

CuPy should align with it.

(Some background:  #2859)

[2019-12-24 04:57] niboshi opened #2865 "Remove dtype argument from min/max?"
It looks to me there's no point for these functions to have `dtype` argument.
They should be keyword-only at the very least, for numpy compatibility.

[2019-12-24 05:28] toslunar commented on #2864
#692 is a similar issue on unary `-`.

[2019-12-24 05:51] #2789 closed

[2019-12-24 05:59] kmaehashi commented on #2749
I think no one's working on it. We welcome your contributions 😄

https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.linalg.spilu.html

[2019-12-24 06:20] leofang commented on #2865
Related: #2595

[2019-12-24 06:45] niboshi commented on #2595
I think `dtype` has a use case, because without it you don't have control of the retuned dtype, even if you know int64 is too much.

[2019-12-24 07:21] niboshi commented on #2844
I'm sorry but currently OpenCV is out of scope of CuPy.

[2019-12-24 07:21] #2844 closed

[2019-12-24 07:40] leofang commented on #2844
I think the question was whether there’d be a CuPy-equivalent of [remap](https://docs.opencv.org/2.4/modules/imgproc/doc/geometric_transformations.html?highlight=remap). I suppose `cupyx.scipy.ndimages` provides similar functionalities (or building blocks) for that?

[2019-12-24 07:51] toslunar commented on #2595
Issue numpy/numpy#8710: "Add `keepdims` argument to argmin and argmax"

[2019-12-24 10:09] niboshi opened #2869 "testing.shaped_random does not accept shape ()"
[code]

Version: current master (06972b52781b76d5785c5ad1160afc8864593f6c)

There are many lines of such usage in unit tests, but all of them are accompanied with `@testing.numpy_cupy_raises()` without explicit error type...

[2019-12-24 10:29] niboshi opened #2871 "Disallow `testing.numpy_cupy_raises` without explicit error type?"
By default this decorator passes a test with any errors raised, but I think we should never write such a test.

Problems like below could be prevented.
* #2870
* https://github.com/cupy/cupy/pull/2820/files#diff-17feca175c3f71ea15a5fe29026fa958L145-L149

`pytest.raises()` also requires explicit error type.

[2019-12-24 10:54] niboshi commented on #2595
We don't have to remove any arguments?
Then, #2872 fixes the remaining issue (`dtype` argument of `argmin/argmax`).

[2019-12-24 12:28] trivialfis opened #2873 "Support None value `strides` in `__cuda_array_interface__` while creating array."
This line assumes `strides` being a valid iterable value: https://github.com/cupy/cupy/blob/a89d44dc1ed74cdb7a0305dc0312050465a36d90/cupy/core/core.pyx#L2717

While according to numpy `__array_interface__` `strides` can be of value `None`: https://docs.scipy.org/doc/numpy/reference/arrays.interface.html

When input `__cuda_array_interface__` contains None strides, cupy throws an error here:
[code]

[2019-12-24 12:40] leofang commented on #2873
You are referring to an old snapshot of the codebase. This issue has been fixed in the branches master (for v8), v7, and v6.

[2019-12-24 12:52] trivialfis commented on #2873
I see, thanks!

[2019-12-24 12:52] #2873 closed

[2019-12-24 14:44] bsugerman commented on #2844
Yes that is the question. You can use map_coordinates as a hack, but it runs many times slower than opencv’s remap. But you also lose a lot of compute time sending data between the cpu and gpu, so having a gpu version of this kind of module is very useful.

[2019-12-24 15:01] leofang commented on #2844
It is a known issue that several functions in the `cupyx.scipy.ndimage` module, including `map_coordinates`, are not very performant, see #2607. But I am not sure about the data transfer part.

@niboshi perhaps it's worth reopening this issue?

[2019-12-24 15:30] niboshi commented on #2844
Basically we won't implement anything that are not in NumPy nor SciPy, but once the topic of the issue is made more relevant (performance of `map_coordinate`?), please feel to reopen it.

[2019-12-24 15:30] bsugerman commented on #2844
For completeness, I did a little timing exercise on my machine using a 400x600 array. I can run cv2.remap on it in 625 µs on the cpu.  Using scipy's map_coordinates, it takes 10 ms on the cpu, or 3.3 ms using cupy's version on the gpu. There's an extra penalty of 23 µs to convert back/forth from gpu to cpu if I'm going to insert the opencv version of remap into a longer algorithm stream. I'm tryin

[2019-12-25 05:49] toslunar commented on #2871
`TypeError` caused by a missing argument cannot be prevented by `accept_error=TypeError`.  IMO, we need something like the following.
[code]

[2019-12-25 05:55] niboshi commented on #2871
@toslunar  +1 for that idea. (I assume `numpy_cupy_raises` will be deprecated)

[2019-12-25 07:50] #2865 closed

[2019-12-25 07:54] toslunar commented on #2864
`TypeError` on boolean inputs
- `__neg__`: since 1.13
- `__sub__`: since 1.14

[2019-12-25 09:11] niboshi opened #2885 "Complex imag causes error for 0-size array"
`ndarray.imag` causes `AssertionError` if the array is 0-sized.

Version: current master (2aec8a78761cdcc88541bf1f5e40e17840d3eb84)
### Code:
[code]

[2019-12-26 05:10] #2869 closed

[2019-12-26 07:06] #2808 closed

[2019-12-26 07:06] #2595 closed

[2019-12-26 08:07] asi1024 commented on #2871
@toslunar +1 excepts name of `numpy_cupy_none`. How about `numpy_cupy_run` for example?

[2019-12-26 08:14] niboshi commented on #2871
I'd suggest `for_numpy_cupy`.

[2019-12-26 16:02] leofang commented on #2844
Doesn't CuPy supports a (very limited) subset of OpenCV functionalities in `cupyx.scipy.ndimage`? https://docs-cupy.chainer.org/en/latest/reference/ndimage.html#opencv-mode

[2019-12-26 16:09] bsugerman commented on #2844
Yes but not anything like `remap`

[2019-12-27 03:47] niboshi opened #2896 "More appropriate name for cupyx.time.repeat?"
I think `cupyx.time.repeat` (#2740) is not necessarily the best name.

Random thoughs:
* Repeating is not the main goal of the function.
* There may be other metrics than time.
* There is `cupy.prof`.

[2019-12-27 16:02] leofang commented on #2896
How about `cupyx.time.benchmark`?

[2019-12-27 16:24] leofang commented on #2743
Glad to confirm my understanding! Thank you, @grlee77.

I can throw in more examples of such exceptions that were just vetted and made quite recently:
- `argmin`/`argmax` have different signatures (#2595)
- `allclose` does not return bool (#2799)

which echo what you said:

As for documentation:

I think in addition to do so in the docstrings, we could also add to https://docs-cupy.chainer.org/en/

[2019-12-28 08:48] rushabh-v commented on #2863
Can you please elaborate on what do you exactly mean by something in that file @niboshi ?

[2019-12-30 16:27] leofang commented on #1961
Just saw cython/cython#3187. It seems starting Cython 0.29.14 it is possible to build Cython modules in parallel, but I have not tested this capability yet.

[2019-12-30 16:29] leofang commented on #1961
It seems Pandas tested this capability in their CI and found improvement: pandas-dev/pandas#30214.

[2019-12-30 17:08] leofang opened #2900 "Drop support of older NumPy (<=1.14)?"
According to [NEP 29](https://numpy.org/neps/nep-0029-deprecation_policy.html), an unusual NumPy Enhancement Proposal that declares a community-wide policy instead of merely proposing changes to NumPy itself, the support of NumPy <=1.14 will be dropped in early January, 2020, which is a few days later:

Would CuPy consider following NEP 29 so that some test codes can be simplified without worrying

[2020-01-03 13:18] ylht opened #2902 "converting cupy to numpy is very slow"
* Conditions
  - CuPy version 7.0.0
  - OS/Platform Ubuntu 18.04
  - CUDA version 10.1
* Code to reproduce
[code]
* Error messages, stack traces, or logs
converting cupy to numpy is very slow The result is

[2020-01-05 10:37] shinaoka opened #2904 "cupy.einsum is very slow for elementwise operations"
I've found a performance issue on the einsum function.
The einsum function runs 100x slower than the simple elementwise expression for 1D elementwise operations.

* Conditions
Debian GNU/Linux 10.2

[code]

[code]

* Code to reproduce
Here, we measure timings 10 times.

[code]

3. Output
einsum is super slow!
[code]

[2020-01-05 11:41] shinaoka commented on #2904
I've figured out that the einsum ends up with matmul of two 3D arrays of shape (N, 1, 1).
This function indeed runs slow for these arrays.
In the following results, I used Tesla P4 instead of P100, the numbers differ by a factor of 4.

[code]

[code]

[2020-01-05 17:59] leofang opened #2905 "`cupy.cumsum()` much slower than `cupy.core._routines_math.scan()`?"
I noticed that there are two functions in CuPy that can do prefix sum, so out of curiosity I did a quick benchmark, and I found `cumsum()` is much slower than the internal `scan()` (it's a `cdef` function wrapped by `_scan_for_test()`):
[code]
I wonder if we should just use the implementation of `scan()` in `cumsum()` when the input array is 1D (or raveled)?

[2020-01-06 02:16] emcastillo commented on #2902
Replied in https://stackoverflow.com/questions/59578835/convert-cupy-to-numpy-is-very-slow

[2020-01-06 02:23] emcastillo commented on #2904
As you noticed, einsum is a generalization of several operations and the current implementation relies on matrix multiplications. Therefore we favor the general case over specific ones and simple Element-wise or reduction operations are expected to be faster when directly implemented.

[2020-01-06 02:33] shinaoka commented on #2904
Agreed.
But, this issue becomes annoying when cupy is used together with opt_einsum (or numpy.einsum_path).

I am trying to contract many arrays/tensors using the opt_einsum package with cupy backend.
In this case, an optimal contraction is searched at runtime and the whole contraction procedure is split into multiple einsum operations.
Thus, I have no prior knowledge of what elementary operations

[2020-01-06 02:55] emcastillo commented on #2904
It should be possible, let us discuss this in the team.

[2020-01-06 02:56] emcastillo commented on #2904
Do you have an example of an einsum equation where this is a burden besides the trivial case?

[2020-01-06 04:50] emcastillo commented on #2905
I've been looking at the code.
It actually make sense to do it that way, but that's an ugly hack and I think that we should look into why is cumsum being that slow and try to fix that.

[2020-01-06 05:05] shinaoka commented on #2904
Thank you for your help.
Another bottleneck in my test calculations is the following.
The einsum is slower than the optimal case by a factor of 10 on P100.
But, it may not a big difference.

[code]

[code]

[2020-01-06 05:19] shinaoka commented on #2904
One more (maybe independent) bottleneck:

[code]

Timings on Tesla P100-PCIE-16GB
[code]

It may be simply bounded by the memory bandwidth?

[2020-01-06 05:19] emcastillo commented on #2905
I just have a PR that solves this without using scan, let me post it :)

[2020-01-06 06:38] emcastillo commented on #2905
There is a problem with the synchronization and data races.

[2020-01-06 06:50] anaruse commented on #2904
One possible solution is to use `cutensorContraction`, a tensor contraction routine in cuTENSOR, instead of `matmul` as a backend for cupy.einsum.

    N = 10000000

    A = cp.zeros(N)
    B = cp.zeros(N)
    C = cp.empty(N)

    print("elementwise operations")
    for i in range(5):
        cp.cuda.Stream.null.synchronize()
        t1 = time.time()
        C[:] = A[:] * B[:]
        cp.cuda.Stre

[2020-01-06 07:03] anaruse commented on #2904
import cupy as cp
    from cupy import cutensor
    import time

    N1, N2, N3 = 20, 100000, 16

    a = cp.zeros((N1, N2, N3))
    b = cp.zeros(N2)
    c = cp.empty((N1, N2, N3))

    print("Elementwise operations")
    for i in range(5):
        cp.cuda.Stream.null.synchronize()
        t1 = time.time()
        c[:, :, :] = a * b[None, :, None]
        cp.cuda.Stream.null.synchronize()

[2020-01-06 07:05] anaruse commented on #2904
import cupy as cp
    from cupy import cutensor
    import time

    N1, N2, N3, N4 = 20, 100000, 16, 30

    print("Einsum")
    print(N2 * N1 * N3 * N4 * 1e-12)
    a = cp.zeros((N2, N1, N3))
    b = cp.zeros((N2, N3, N4))
    c = cp.empty((N1, N3, N4))
    for i in range(5):
        cp.cuda.Stream.null.synchronize()
        t1 = time.time()
        c[:,:,:] = cp.einsum('CAB, CBD->ABD', a, b)

[2020-01-06 08:35] niboshi commented on #2863
Sorry, what I wrote above (including the title) was not exactly correct.

In order to define a function `cupy.sort`, whose NumPy's counterpart is `numpy.sort`, there are unnecessary objects defined within CuPy:
* `cupy.sorting`
* `cupy.sorting.sort`
* `cupy.sorting.sort.sort`

There are no such intermediate objects in NumPy and they are not meant to be used by users, so I think they should be inac

[2020-01-06 10:54] niboshi opened #2908 "Incorrect logic to check explicit size argument in ElementwiseKernel"
Version: current master (0af45a409d002ff8a413f83df1b4df5e6d12792f)

### Code
[code]

A causes an error: `ValueError: Specified 'size' can be used only if all of the ndarray are 'raw'.`,
while B doesn't.
I think B should cause an error as well.

Relevant code: https://github.com/cupy/cupy/blob/0af45a409d002ff8a413f83df1b4df5e6d12792f/cupy/core/_kernel.pyx#L343

[2020-01-06 12:15] shinaoka commented on #2904
Thank you for your data. Impressive improvement!
Using cuTensor seems to be the right direction.

[2020-01-06 18:45] quasiben opened #2911 "Error with _ufunc_config.config"
When dispatching using CuPy from Dask (multithreaded python) there is a failure due to `_ufunc_config.config`
* Conditions (you can just paste the output of `python -c 'import cupy; cupy.show_config()'`)

[code]
* Code to reproduce
[code]
* Error messages, stack traces, or logs
<details>
<summary>Traceback</summary>

[code]
</details>

Rather than using `threading.local()` here
https://github.com/

[2020-01-07 03:17] anaruse commented on #2569
The issue was reproduced here as well. It seems the issue happens when
* Pascal generation GPU is used,
* Inverse (complex-to-real) FFT is performed,
* Size of array in last transform axis is two, and
* CUDA version is 10.1 update 2 or 10.2.

[2020-01-07 05:20] anaruse commented on #2569
https://github.com/cupy/cupy/blob/f06f509167957240d17924965238cb0901b700ab/tests/cupy_tests/fft_tests/test_fft.py#L631-L633

Now, the test above uses a randomly created array as an input to `irfftn`. Would it be OK to use an output of `rfftn` instead as the input to `irfftn`?

[2020-01-07 05:22] anaruse commented on #2569
Re-opened. Sorry, I closed this issue by mistake ..

[2020-01-07 07:58] #2902 closed

[2020-01-07 07:58] niboshi commented on #2900
Sounds good to follow it!

[2020-01-07 11:12] kmaehashi commented on #2568
Ideas:

1. Use `dlopen` (or `ctypes`) to dynamically look for exported symbols (instead of linking it at build time)
    * Pros
        * Users can run any NCCL version without rebuilding CuPy
    * Cons
        * Need to completely rewrite existing wrappers
        * Code will likely to become hard-to-maintain
2. Use `cupy_*` prefix for internal symbols
    * Pros
        * Users can run newer NC

[2020-01-07 12:01] daniel1v opened #2916 "Windows: module 'numpy' has no attribute 'complex256'"
In file: [cupy/cupyx/scipy/ndimage/filters.py] (https://github.com/cupy/cupy/blob/master/cupyx/scipy/ndimage/filters.py)

Line 83:  ` if input.dtype in (numpy.complex64, numpy.complex128, numpy.complex256):`

There is a check for numpy.complex256. On Windows there is no numpy.complex256, so this line leads to the following error:

module 'numpy' has no attribute 'complex256'

a simple solution cou

[2020-01-07 13:49] rushabh-v commented on #2863
Would just renaming the `cupy/sorting/sort.py` to _sort.py and importing * from _sort.py in `cupy/sorting/__init__.py` do it?

[2020-01-08 02:28] anaruse commented on #2569
This issue will be fixed in a future CUDA release.

[2020-01-08 05:27] #2916 closed

[2020-01-08 07:08] asi1024 opened #2926 "Use cuTENSOR in reduction routines"
For the performance, `_AbstractReductionKernel` should use cuTENSOR by default if `cupy.cuda.cutensor_enabled` is `True`.

[2020-01-08 07:17] leofang commented on #2926
Does cuTensor outperforms CUB reduction?

[2020-01-08 07:47] emcastillo commented on #2926
Some numbers here would be cool

[2020-01-08 09:12] asi1024 commented on #2926
I compared the performance between CUB and cuTENSOR.
benchmark script: https://gist.github.com/asi1024/ee62c50fd1254acb0e9431473862a014
Result:
[code]
cuTENSOR is faster in batch reduction, and CUB is faster in full reduction.

[2020-01-08 09:45] #2908 closed

[2020-01-08 09:52] toslunar commented on #2908
#2909 also fixed the following
[code]

It returns `[1. 1.]`, while it raised the ValueError before the PR.

[2020-01-08 11:58] leofang commented on #2926
@asi1024 you need to apply #2921 for a fair test. Currently CUB in the master branch is broken 😥

[2020-01-09 02:19] niboshi commented on #2908
@toslunar Thank you for pointing out. I'll add a test.

[2020-01-09 02:40] niboshi commented on #2908
#2931

[2020-01-09 03:43] emcastillo commented on #2926
After applying #2921 cub is faster in all cases

[code]

[2020-01-09 03:51] emcastillo commented on #2926
A graph with the results for GPU time in logarithmic scales
![CubCuTensorReductionBenchmark_time](https://user-images.githubusercontent.com/15824382/72036615-b2ac8280-32de-11ea-8caa-88500d9187f1.png)

[2020-01-09 04:30] kmaehashi commented on #2762
I think we can't define which of PyTorch/CuPy is higher as they don't depend on each other. They're both tensor libraries.

Ideas:

1. Create an interface in CuPy (e.g., `cupyx.utils.use_torch_allocator()`)
  * Pros
      * Can provide the feature in minimum cost (only a few lines of code addition)
  * Cons
      * Dependency from CuPy to PyTorch. (this can be solved by making it an optional depen

[2020-01-09 04:58] leofang commented on #2926
@emcastillo Thanks for testing. If the performance of CUB and cuTENSOR is close, CUB should be preferred. I have two machines on CUDA 9.2 and 10.0, and none of them could be used to test @asi1024‘s script, because cuTENSOR 1.0 only supports CUDA 10.1+...

[2020-01-09 05:17] niboshi commented on #2762
I agree in that CuPy and PyTorch should not depend on each other.
So I think options 1. 2., and 4. should be avoided.

Another library (option 3.) is not necessary either.

My suggestion is to make PyTorch expose it's bare allocators and wrap them with `cupy.cuda.memory.CFunctionAllocator`, just as done with ChainerX.

https://github.com/chainer/chainer/blob/53521cbfd7827c613396f6afcba04ca2362a612

[2020-01-09 07:10] asi1024 commented on #2926
I re-run my benchmark script, but cuTENSOR is still faster in some cases.
[code]
@emcastillo Could you show me your benchmark script?

[2020-01-09 07:30] emcastillo commented on #2926
With your script I get that cutensor is only faster with axis=1

[code]

[2020-01-09 08:23] emcastillo commented on #2926
If using python 3.7.3 from anaconda, cpu times for cutensor are bigger while pyenv 3.7.3 yields same results as @asi1024

[2020-01-09 08:30] #2911 closed

[2020-01-09 08:30] niboshi commented on #2911
@quasiben
Thank you for reporting!

[2020-01-09 08:32] niboshi commented on #2911
FYI backport PR to v7 is here: #2937

[2020-01-09 10:56] asi1024 commented on #2926
I created PR #2939. In the current temporary implementation, `cupy.sum` uses cuTENSOR only when `cutensor_enabled` is `True` and `cub_enabled` is `False`.

[2020-01-09 17:11] leofang opened #2945 "Use Cython `cimport` to statically access NumPy's dtypes?"
There are many places in CuPy's Cython codebase where NumPy is imported at runtime just to access the `dtype` information. But this information is statically available from Cython, so instead of, say, doing
[code]
we can equivalently do
[code]
so that the `dytpe`s can be determined at compile time.

Is there any reason CuPy chose not to do so? AFAIK, Cython's exposure of NumPy stubs has been stabl

[2020-01-09 19:51] leofang commented on #2926
btw, I forgot to add that it would not be surprising if cuTENSOR is faster for `axis=0` or `1`, since CUB is not used for these two cases. It’d be nice if we could enable cuTENSOR for non-contiguous reductions like these.

[2020-01-10 05:26] niboshi opened #2946 "Remove cupyx.allow_synchronize?"
`cupyx.allow_synchronize` (#2808) was introduced originally for both unit tests and users who want to notice device synchronization in their own code.

Application in uint tests was dissmissed (#2893) because much more tests were synchronous than I had expected.

Now I doubt the usefulness of this feature for users as well.
It's fundamentally impossible to eliminate false positives and/or false ne

[2020-01-11 01:02] borissheikman opened #2950 "CUDA_PATH and duplicate "bin""
Hi! This is my first time posting here. Please excuse me if I missed something :)

I am receiving the following error when I try "import cupy"

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\204018120\AppData\Local\Programs\Python\Python38\lib\site-packages\cupy\__init__.py", line 14, in <module>
    _environment._setup_win32_dll_directory()  # NOQA
  Fil

[2020-01-11 09:14] takagi commented on #2159
I made a PR to fix the `cupy.copyto` issue. As for `cupy.dot`, the H2D copy is triggered by initializing CUBLAS. With the fact it is fairly tiny, ~1us or so, I suppose it is not an issue to address.

[2020-01-11 17:01] ksangeek commented on #2667
Hi @kmaehashi I had missed finding this issue when I did the work for PR https://github.com/cupy/cupy/pull/2910. Could you please kindly advise if that work is in the right direction. Thank you!

[2020-01-13 08:23] lanzithinking commented on #2497
Any recent plan to add support for this function? This is indeed important for large models. Would love to see it in CuPy. BTW, I searched for other packages like pyCUDA, PyTorch but did not find any.

[2020-01-13 08:27] lanzithinking commented on #2663
Would love to see partial eigensolver scipy.sparse.linalg.eigs (https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.linalg.eigs.html)

[2020-01-13 16:52] borissheikman commented on #2950
Anyone?

[2020-01-14 04:29] kmaehashi commented on #2568
Discussed these ideas in the dev team, and concluded that the idea 2 sounds a reasonable solution.
Does anyone interested in working on this issue?

cc/ @pentschev  @jekbradbury @anaruse

[2020-01-14 06:20] kmaehashi commented on #2950
`cupy-cuda101` is for CUDA 10.1 and does not run with CUDA 10.2.

[2020-01-14 06:35] leofang commented on #2568
I can do that next week if no one has time for this.

[2020-01-14 06:40] takagi commented on #2159
I profiled the `cupy.dot` reproduction code above with nvprof and here is the screenshot viewed on nvvp. The highlighted small yellow bars are the H2D copy @jeng1220 reported and the green long bars on right are `sgemm` that actually computes dot production.

This H2D copy seems to be called by CUBLAS library in its initialization, `cublasCreate`. As CuPy lazily initializes CUBLAS when it uses CUB

[2020-01-14 06:40] takagi commented on #2159
@nboshi Would you take a look at https://github.com/cupy/cupy/issues/2159#issuecomment-574027347 ?

[2020-01-14 07:31] kmaehashi commented on #2945
Will `dtype == numpy.int64_t` in Cython code work? (where `dtype` is a user-specified dtype object e.g. `numpy.int64`)

[2020-01-14 11:32] niboshi commented on #2159
@takagi
Thanks.
If the synchronization only occurs once at the first `dot`, we can ignore it.
The situation is similar to other functions that trigger kernel compilation on the fly (loading a CUDA module incurs synchronization too.).

[2020-01-14 11:35] niboshi commented on #2159
Closing, as `cupy.copyto` has been fixed in #2942 .
@jeng1220 @takagi Thanks!

[2020-01-14 11:35] #2159 closed

[2020-01-15 00:14] shinaoka commented on #2904
Thank you for the fix.
I tried to test the new code but got some error.
It may be due to some mistake in my environment setting but have not figured what's wrong (cutensor is not well documented yet...)

I installed 04d85b422 using pip as follows.

[code]

[pip_out.txt](https://github.com/cupy/cupy/files/4062348/pip_out.txt)

Then, I go the following error.
[code]

What should I check to figure wh

[2020-01-15 02:07] anaruse commented on #2904
That seems because K80 is not supported by cuTensor...

[2020-01-15 02:09] anaruse commented on #2904
I will prepare another PR to improve performance of "element-wise" cases w/o cuTensor.

[2020-01-15 20:25] borissheikman commented on #2950
Thanks for the reply, @kmaehashi! :)

I installed CUDA 10.1 on my machine alongside 10.2. Now I have both versions.

After installing 10.1 and updating my CUDA_PATH environment variable I no longer see the same error. Everything is fine. For some reason I thought CUDA 10.2 would be backwards compatible but it appears cupy is locked to a specific version of the CUDA toolkit.

I'm very happy to have

[2020-01-15 20:26] borissheikman commented on #2950
Quick question : are there any plans to update cupy so it works with CUDA 10.2? Would there be any additional performance or stability benefit?

[2020-01-15 20:34] pentschev opened #2967 "Rename `cupy.conj` to `cupy.conjugate`, add new `cupy.conj` alias"
According to NumPy documentation, [`np.conj` is an alias for `np.conjugate`](https://docs.scipy.org/doc/numpy/reference/generated/numpy.conj.html). However, CuPy implements [`cupy.conj`](https://docs-cupy.chainer.org/en/stable/reference/generated/cupy.conj.html) but not `cupy.conjugate`. Given that in NumPy the implementation is `np.conjugate`, I suggest renaming the current implementation to `cup

[2020-01-16 14:55] takagi commented on #2130
This PR can be closed as #2249 solved it.

[2020-01-16 14:55] #2130 closed

[2020-01-16 22:00] thomcom opened #2970 "Columnar matrix slice doesn't work properly with ravel"
When creating a view into a 2d array using `[:, n:]` notation, the resulting view doesn't work properly with `ravel` or functions that depend on it.

[code]

[code]

As you can see, `b[0, 0]` still works as expected, but the array produced by `ravel` is a copy. This is not the case for the array produced with a row-wise slice:

[code]

[code]

This affects me because I'm trying to fill out a tridi

[2020-01-16 22:17] shwina opened #2971 "ModuleNotFoundError with cupy 7.1.0 installed from conda-forge"
After installing cupy 7.1.0 from conda-forge, I get the following error, which is mitigated by downgrading to 7.0.0:

[code]

Thanks!

[2020-01-16 22:20] jakirkham commented on #2971
Which Python and CUDA versions are you using?

[2020-01-16 22:26] shwina commented on #2971
Python: 3.7.6
CUDA: 10.0

[2020-01-16 22:33] jakirkham commented on #2971
It appears there is [no `cupy.core._reduction` in v7.1.0]( https://github.com/cupy/cupy/tree/v7.1.0/cupy/core ). That was added in PR ( https://github.com/cupy/cupy/pull/2785 ), which only appears to be in `master`. Looks like backport PR ( https://github.com/cupy/cupy/pull/2848 ) caused the issue.

[2020-01-16 22:35] jakirkham commented on #2971
@emcastillo @grlee77, any thoughts on how we should address this?

[2020-01-16 23:06] jakirkham commented on #2971
@shwina, do you see this with CuPy 6.7.0 as well?

[2020-01-16 23:56] leofang commented on #2971
Please set `cp.cuda.cub_enabled=False` for the time being.

@kmaehashi @emcastillo We really need to get #2584 and #2598 merged asap...CUB bugs just get unnoticed by  CI once again...

[2020-01-17 00:06] jakirkham commented on #2971
I don't know if this is all that is needed or if there is more work needed, but submitted PR ( https://github.com/cupy/cupy/pull/2972 ), which fixes the `ModuleNotFoundError`.

[2020-01-17 00:09] jakirkham commented on #2971
That workaround works for me. 😄

[2020-01-17 00:39] grlee77 commented on #2971
Yes, I don't think there is any use of CUB in 6.x, so that branch should be okay.

[2020-01-17 09:53] #2864 closed

[2020-01-17 17:37] berceanu commented on #2845
You're right, the driver was not running in persistence mode. That is now fixed, and nvidia-smi starts very quickly. Unfortunately the main problem still persists.

[2020-01-17 18:10] leofang commented on #2589
Since PyTorch v1.4.0 is out, shall we close this issue?

[2020-01-17 18:19] awthomp commented on #2589
Yep. I'll close the issue. Thanks to everyone for your help!

[2020-01-17 18:19] #2589 closed

[2020-01-18 00:12] jakirkham commented on #2971
FYI we patched this in the conda-forge package. ( https://github.com/conda-forge/cupy-feedstock/pull/32 )

[2020-01-18 05:09] jakirkham opened #2976 "Numba Enhancement Proposal (NBEP) 7: External Memory Management Plugins"
Raising here to solicit feedback on a proposal for External Memory Management support in [Numba]( https://numba.pydata.org ) (also called NBEP 7). Discussion is occurring in [this repo]( https://github.com/gmarkall/nbep-7 ). Please take a look and raise issues/PRs as you see fit. Thanks in advance for your feedback!

cc @gmarkall (for awareness)

[2020-01-18 22:01] trzy opened #2977 "Installation error: Visual C++ 14.1 required, but v19.24 is installed"
I'm trying to install CuPy on my Windows machine and it complains about Visual C++ 14.1 being required. I've installed the VisualC++ command line build tools and am using Visual Studio Community 2019. I run the x64 developer console (equivalent to executing vcvars64.bat to set the environment).

CuPy is still unhappy. Here is the tail of the output along with the output of me running 'cl' on the c

[2020-01-19 03:44] leofang commented on #2976
I'm not affiliated with PFN, so it's definitely not my call 😅 But as an external contributor interested in interoperability I have a few questions:
1. For CuPy users, passing CuPy arrays to Numba's `@cuda.jit` kernels via `__cuda_array_interface__` works just fine, so what's the motivation (or advantage) for CuPy core devs to consider this proposal?

(In my daily work, I never had to use Numba's d

[2020-01-20 07:39] toslunar commented on #2967
`cupy.abs` is an alias for `cupy.absolute`.  I'll make a PR to fix the issue.

[2020-01-20 09:38] toslunar commented on #2977
https://en.wikipedia.org/wiki/Microsoft_Visual_C%2B%2B#Internal_version_numbering says

[code]

[2020-01-20 16:59] pentschev commented on #2967
Thanks @toslunar for working on this!

[2020-01-20 18:23] shwina commented on #2971
This issue is resolved for me; please feel free to close it. Thanks everyone!

[2020-01-20 19:50] leofang commented on #2971
It'd be nice to have a hot-fix release v7.1.1 to address this, even though CUB is not enabled in the PyPI wheels yet.

[2020-01-21 03:06] emcastillo commented on #2845
Can you try to set the `CUDA_PATH` environment var and reinstall cupy? cuda seems to be correctly working but maybe cupy is not detecting it somehow

[2020-01-21 04:14] kmaehashi commented on #2950
Yes, CuPy wheels are built for each CUDA version. I'm working on for CUDA 10.2 support in the next release.

[2020-01-21 04:14] #2950 closed

[2020-01-21 04:57] kmaehashi commented on #2971
Thanks for reporting, we're planning v7.1.1 hotfix release tomorrow.
https://github.com/cupy/cupy/pull/2986

[2020-01-21 04:58] kmaehashi commented on #2971
Sorry for the delay in these PRs. I will merge by the v7.2.0 release.

[2020-01-21 06:13] jakirkham commented on #2971
Thanks all for the help! 😄

[2020-01-21 08:24] takagi commented on #2970
Thanks for your report. We've got that the issue is not the way of `cupy.ndarray.ravel` but `cupy.fill_diagonal` uses `ravel` in its implementation as opposed to `numpy.fill_diagonal` that uses `numpy.ndarray.flat`.

The value of `numpy.ndarray.flat` is a `numpy.flatiter` instance. It is supposed to act as Python's  built-in iterator object and the concept is essentially sequential, so providing t

[2020-01-21 09:37] toslunar opened #2991 "Support NumPy 1.18"
- non-compatible changes
  - [x] #2852 [`np.can_cast(np.uint64, np.timedelta64, casting='safe')` is now `False`](https://numpy.org/devdocs/release/1.18.0-notes.html#np-can-cast-np-uint64-np-timedelta64-casting-safe-is-now-false)
  - [x] #2883 error message in `numpy.testing`
  - [x] #2974 `isscalar(num)` -> `isscalar(element)`
  - [x] #2975 `step` returned by `linspace(..., retstep=True)`
- [expir

[2020-01-21 20:33] jakirkham commented on #2976
Thanks for all of the feedback @leofang! 😄

Well from the RAPIDS perspective, users may choose to allocate arrays any number of ways. Given this, we want to make sure that we can back those allocations with the same allocator regardless of whether users chose to do this through CuPy, Numba, or possibly other things. Wasn't sure whether CuPy developers would want similar functionality. So figured w

[2020-01-21 22:03] gmarkall commented on #2976
Many thanks for looking at the proposal and providing some really helpful feedback - @jakirkham's answers address the questions similarly to my line of thinking - I'd just like to add a couple of points:

The CUDA context is an instance of `numba.cuda.cudadrv.Context` - this is an object that provides access to various bits of functionality in the current context, and is documented at: http://numb

[2020-01-22 03:10] niboshi opened #2993 "Drop Python 3.5 support"
Related: #2900

[NEP 29](https://numpy.org/neps/nep-0029-deprecation_policy.html) specifies Python drop plan as well. We should drop Python 3.5 according to it.
Thank you @leofang for pointing out! (https://github.com/cupy/cupy/pull/2938#issuecomment-576883982)

[2020-01-22 04:12] leofang commented on #2993
Thanks! I asked this because I wondered if we should
1. merge #2766 first, backport it to v7, and then drop Python 3.5 in v8, or
2. drop 3.5 directly in #2766

Perhaps 1 is easier and cleaner?

[2020-01-22 08:16] kmaehashi commented on #2971
I've released the v7.1.1 hotfix.
https://github.com/cupy/cupy/releases/tag/v7.1.1

[2020-01-22 08:16] #2971 closed

[2020-01-22 08:23] kmaehashi commented on #2977
Please use pre-built wheels as suggested in the installation guide, unless you have specific reasons to build from source.
https://docs-cupy.chainer.org/en/latest/install.html#install-cupy

FYI, Visual C++ version required to build modules depends on Python version.
https://wiki.python.org/moin/WindowsCompilers#Which_Microsoft_Visual_C.2B-.2B-_compiler_to_use_with_a_specific_Python_version_.3F

[2020-01-22 08:23] #2977 closed

[2020-01-22 10:31] kmaehashi commented on #2634
For record: Using `gcc-7` instead of `gcc` (v5.4.0) by specifying `--compiler-bindir gcc-7` to `nvcc` (`export NVCC="ccache nvcc --compiler-bindir gcc-7"`) solved the issue on Ubuntu 16.04.

cc/ @anaruse

[2020-01-22 14:50] leofang commented on #2634
FYI, with gcc6+ from conda this is what I usually do: `export NVCC='nvcc -ccbin /path/to/conda/environment/bin/x86_64-conda_cos6-linux-gnu-gcc'`.

@kmaehashi @anaruse

[2020-01-22 15:25] leofang commented on #2971
Thank you, @kmaehashi!

[2020-01-22 15:54] leofang commented on #2993
btw, the CI needs to stop testing PY35.

[2020-01-22 16:15] leofang commented on #2976
Thank you, @jakirkham and @gmarkall, for your detailed replies! I still have a few questions on the API design and the future asynchronous extension, but they are irrelevant in the cupy scope and I will move the discussion to your issue tracker.

[2020-01-23 03:31] kmaehashi commented on #2993
I think this decision is a bit early as the default Python in Ubuntu 16.04 LTS is Python 3.5.
Unlike NumPy, using older versions of CuPy is not reasonable for some users as (1) CuPy is actively developed, (2) we're not providing support for the latest CUDA in older versions (e.g., if we drop Python 3.5 in v8, Ubuntu 16 (Py 3.5) users who need future CUDA versions need to build v7 (which is no long

[2020-01-23 03:31] kmaehashi opened #2994 "Remove Python 2 support in code"
- [x] Eliminate `six`
- [x] Eliminate `__future__` imports
- Eliminate py2-specific fixes, e.g.
- [x]  `_tempdir`,  #3003
- [x]  `cupy.util.collcetions_abc`,
- [x] Py2-only route (grep with  `sys.version_info`)) #3004

[2020-01-23 10:43] niboshi commented on #2904
#2960 has been merged. I think this issue can be closed.

[2020-01-23 10:43] #2904 closed

[2020-01-23 10:56] niboshi commented on #2994
`six` and `cupy.util.collections_abc` have been removed in #2980.

[2020-01-23 16:56] leofang commented on #2993
Well, that's a fair consideration, given that Ubuntu 16.04 is still supported by NVIDIA as of CUDA 10.2.

However, I think Python users are kinda forced to gradually move away from Python 3.5 because of NEP 29. Even if CuPy supports it, other libraries likely do not, and I think it's best to just follow the trend.

For users who really have to stay on Python 3.5, there are a number of options like

[2020-01-26 11:57] himkt commented on #896
@kmaehashi
This seems to be resolved in 22e41b22b628e2a4abb695fec407eae305d859d1.

[2020-01-27 00:36] jakirkham opened #2999 "Implement cupy.require"
Much as there is a [`numpy.require`]( https://docs.scipy.org/doc/numpy-1.17.0/reference/generated/numpy.require.html ), it would be useful to have a `cupy.require` for enforcing certain requirements are met by the array returned.

[2020-01-27 19:42] leofang commented on #2743
This is an update from upstream: two conclusions were reached in scipy/scipy#10302:
1. A keyword-only argument `plan` is added to `scipy.fft`. This is done in scipy/scipy#11408 (to appear in SciPy v1.5.0) and ongoing for CuPy in #2998.
2. The `scipy.fftpack` module is effectively "frozen", so no API changes will be made there, and thus we do not need to worry about incompatibility between `scipy.f

[2020-01-28 05:27] emcastillo commented on #2762
BTW, I found this in pytorch code when looking in-depth

https://github.com/pytorch/pytorch/blob/master/aten/src/THC/THCThrustAllocator.cuh

This is to allow Cub to get memory from pytorch.
It seems easy to add a similar interface that could export the actual allocator to pybind and then hook it to cupy as @niboshi said above.

[2020-01-28 06:34] emcastillo commented on #2762
https://github.com/pytorch/pytorch/blob/d9115b533aef0fc37d323c8c52b9c74a7807fa2b/c10/core/Allocator.h#L127-L170

[2020-01-28 07:04] emcastillo commented on #2970
I think that creating a new type of `Indexer` could work

[2020-01-28 08:39] takagi commented on #2970
I suppose that, as far as making `fill_diagonal` work, 1D basic slicing can be done with making use of the existing `CIndexer`.

https://github.com/cupy/cupy/blob/27e64d24394f06df57d146443ec8a8311599bee3/cupy/indexing/insert.py#L112

The idea is something like:

[code]
where `ind` is an indexer for the supplied ndarray `a`, and `start`, `stop` and `step` are those of the slicing we want to get in

[2020-01-28 14:44] leofang commented on #2945
Thanks, @kmaehashi. At first glance it's not possible, but there might be some performant solutions. I'll benchmark and report.

[2020-01-28 17:35] leofang opened #3006 "Update installation guide for conda-forge"
@jakirkham: Does this part still make sense for installing and running cupy from conda-forge?

https://github.com/cupy/cupy/blob/0876ef72c01c16ed4906a110eb87c88975da28c9/docs/source/install.rst#L327-L341

[2020-01-28 17:52] jakirkham commented on #3006
Nope it doesn't. We should probably update this. Happy to discuss how we do that 🙂

[2020-01-28 23:48] jakirkham opened #3007 "Implementing `__bytes__` on `ndarray`s"
It would be useful to have an implementation of `__bytes__` for `ndarray` analogous to NumPy's. Ideally this would avoid an intermediate copy to a NumPy array (by using things like `cuMemcpyDtoH`).

[2020-01-29 09:25] emcastillo commented on #2970
Seems a good approach.

[2020-01-29 10:34] gjy1992 opened #3008 "MemoryPool().free_all_bytes() doesn't change the value of total_bytes()"
* Conditions
  - OS/Platform: Window 10
  - CuPy Version          : 7.1.1
  - CUDA Root             : C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.0
  - CUDA Build Version    : 10000
  - CUDA Driver Version   : 10020
  - CUDA Runtime Version  : 10000
  - cuBLAS Version        : 10000
  - cuFFT Version         : 10000
  - cuRAND Version        : 10000
  - cuSOLVER Version      : (10, 0, 0

[2020-01-30 19:46] daxiongshu opened #3013 "[Bug] Mask assignment throws an error when CUPY_EXPERIMENTAL_SLICE_COPY=1"
An error occurs when setting CUPY_EXPERIMENTAL_SLICE_COPY = 1

  - CuPy version: 6.6.0
  - OS/Platform: Ubuntu 16.04.6 LTS
  - CUDA version: 10.0

* Code to reproduce
[code]
* Error messages, stack traces, or logs
[code]

[2020-01-30 19:50] daxiongshu commented on #3013
@pentschev Thanks!

[2020-01-31 15:11] hawkinsp commented on #2616
I also noticed that CuPy does not respect the `readonly` flag for `__cuda_array_interface__`.

For example, using a copy of jax and jaxlib with GPU support built at github head with CuPy 7.1.1.
[code]

"Laundering" the array via CuPy has dropped the readonly flag.

[2020-01-31 17:44] jakirkham commented on #2616
That's true. Short term it would be good to just error if a read-only array is provided via `__cuda_array_interface__`.

[2020-01-31 17:53] hawkinsp commented on #2616
My specific use case is JAX -> CuPy export, and JAX arrays are immutable. I guess I could lie and declare them mutable, and leave it up to the user to deal with the consequences.

I note that PyTorch doesn't handle readonly arrays either:
https://github.com/pytorch/pytorch/issues/32868

[2020-02-01 02:06] coderforlife opened #3016 "CuPy crashes on anything that just isn't memory allocation"
**Conditions**

[code]
Running on Fedora 30

---------------

Built and installed CuPy in a virtual environment with:
[code]
Then ran the following code from the tutorial:
[code]
Crashes with:
[code]

I used valgrind to get the stack trace since that error simply states an assert in stl::vector<> failed. A few more levels of the stack trace reveal:
[code]

So it is in the `createProgram()` Cython

[2020-02-01 07:21] coderforlife opened #3017 "cupy.take() does not function correctly when indices are unsigned integers or negative"
[code]

**Code to reproduce**
[code]
This should result in an array with the value `1` in it (since the original `a` was only ones) however this gets `0` or other random values instead. Seems to be treated it as the value -106 instead of 150 allowing one to read data outside of the array (also note that apparently negative indices are also allowed and also grab garbage data).

[2020-02-01 22:23] AlexanderKozhevin commented on #2781
@emcastillo Hey, so if we can't use cupy arrays in OpenCV,
can we convert cupy results to numpy?

Im my case, I'm calling cp.dstack. But I'm getting an error.

[code]
[code]

[2020-02-03 03:06] emcastillo commented on #3016
Thanks a lot for the extense debugging.
I Just pushed a fix in #3020, Could you try if it works?
Thanks again

[2020-02-03 08:47] #3016 closed

[2020-02-04 13:16] gauthamzz opened #3027 "linalg.norm won't take lists in cupy"
Version

[code]

* Code to reproduce

[code]
[code]

Both are expected to behave the same, i suppose.

[2020-02-04 14:01] grlee77 commented on #3027
This is an intentional design decision for CuPy. This is explained for ufuncs at he link below, but tends to apply in general across the library.
https://docs-cupy.chainer.org/en/stable/reference/difference.html#universal-functions-only-work-with-cupy-array-or-scalar

I believe the reason is to avoid unexpectedly slow performance due to host/device data transfers.

[2020-02-04 15:27] leofang commented on #2616
Neither does Numba handle readonly arrays. I think supporting read-only device arrays across all participating libraries is just too hard. This requires significant infrastructure changes in every library, if this request wasn't taken into consideration in the original design as in JAX. If I were asked, I would have suggested removing this flag from the `__cuda_array_interface__` protocol in the v

[2020-02-04 15:29] leofang commented on #2616
cc: @gmarkall @sklam @stuartarchibald for awareness

[2020-02-04 16:14] jakirkham commented on #2616
At least in the example above, wouldn't it be sufficient to add a check in `__setitem__` and error (regardless of the selection) if it is read-only?

[2020-02-04 22:48] coderforlife commented on #3016
Sorry for the delay, busy week, will test on Friday or the weekend.

[2020-02-05 04:19] niboshi opened #3029 "TestRawGridSync does not pass in my environment"
### Conditions
* CuPy version: current master (82040653c6cb810cd0c7730480c38a8250f01fc0)
* OS/Platform:
[code]

* `cupy.show_config()`
[code]

### Problem description
[code]

[2020-02-05 06:29] cjnolet commented on #2655
The PR is ready to go, if someone wouldn’t mind giving it a final review.

[2020-02-05 07:56] #2743 closed

[2020-02-05 08:58] #2967 closed

[2020-02-05 20:04] grlee77 opened #3033 "bug: cannot apply pre-planned n-dimensional FFTs to Fortran-ordered views"
If `cupyx.scipy.fftpack.get_fft_plan` is used to create a plan from a Fortran-ordered array and this plan is later applied to a Fortran-ordered **view**, the result will either fail with an unexpected shape or potentially give incorrect results.

This is due to an internal copy of the view that does not respected contiguity (PR forthcoming).

The issue does not apply to 1D transforms, only to thos

[2020-02-05 20:13] leofang commented on #3033
I feel like we didn't test enough F-order arrays in CuPy's FFT tests...

[2020-02-05 20:24] grlee77 commented on #3033
There are some, but I don't think there were any where the Fortran-ordered data was a view as opposed to an array. That is now remedied in #3034

I think there is also a more general issue that the tests of plan attributes in `_exec_fftn` only considers the dtype and shape, but ordering/strides info should probably also be validated. I think that may require storing additional information in the `

[2020-02-05 23:05] grlee77 opened #3035 "subtle difference in behavior of cupy.result_type vs numpy.result_type"
`cupy.result_type` seems to handle zero-dimensional arrays differently than numpy.

[code]

If the 0-dimensional array is replaced by a scalar then the result matches numpy
[code]

** Conditions:**

CuPy Version          : 7.0.0
CUDA Root             : /usr/local/cuda
CUDA Build Version    : 10010
CUDA Driver Version   : 10010
CUDA Runtime Version  : 10010
cuBLAS Version        : 10201
cuFFT Versi

[2020-02-06 06:21] asi1024 opened #3038 "`cupy.cutensor.reduction` returns wrong value for max(-a) operation"
`cupy.cutensor.reduction` returns wrong value for max(-a) operation.

reproduction code:
[code]

output:
[code]

[2020-02-06 07:44] #2885 closed

[2020-02-06 09:46] #2991 closed

[2020-02-06 12:52] kmaehashi commented on #2993
Discussed in the team and decided to continue Py35 support, as we have no immediate need to drop it. We may revise this decision when the situation changes.

(It seems there're more Python 3.5 users than 3.8 users at least for now... https://pypistats.org/packages/cupy)

[2020-02-06 14:25] grlee77 commented on #3035
Closing, as this is expected behavior. See https://github.com/cupy/cupy/pull/3036#issuecomment-582833024

[2020-02-06 14:25] #3035 closed

[2020-02-06 16:28] leofang commented on #2993
Thanks for the update and the link (it's handy!), @kmaehashi. I only have one comment:

That's expected. You should compare 3.5 users to those on 3.6 and 3.7. The former is significantly lower. So, the other way of looking at this is that by dropping PY35 support we can force these users to update, which is something they need to do anyway to use other projects from the NumPy ecosystem.

[2020-02-07 02:35] emcastillo commented on #3029
I think it may be related to this `'-gencode=arch=compute_35,code=sm_35'`

[2020-02-07 08:01] #692 closed

[2020-02-07 21:25] leofang opened #3053 "Got ValueError when `ord` in `cupy.linalg.norm()` is 2 or -2"
Reproducer:
[code]
`ord=2` returns the largest singular value and `-2` the smallest.

[2020-02-10 03:39] asi1024 commented on #2153
This PR is once resolved in #2168 but reverted in #2197 because the tests failed due to a bug in cuDNN.

[2020-02-10 12:34] tirkarthi opened #3059 "time.clock was removed in Python 3.8"
https://github.com/python/cpython/pull/13270 . Given that the project is Python 3 only it will be better to use the alternatives. There is https://github.com/cupy/cupy/issues/2599 for Python 3.8 but not sure why it didn't error out.

https://github.com/cupy/cupy/blob/8d923719ced31fdff4a42702d395ec87a7e98045/cupy/random/generator.py#L681

[2020-02-10 20:47] cjnolet opened #3061 "cupy.sparse.MatDescriptor is not pickleable"
I am encountering a segfault when freeing a CuPy sparse `csr_matrix` which was computed from a Dask array. I have an intuition that Dask might not be the cause of this problem. From a simple inspection of properties like `__cuda_array_interface__` and the allocator on the underlying index/data arrays, I don't see any obvious indications of a double free.

I am also able to successfully pickle and

[2020-02-10 23:29] cjnolet commented on #3061
I believe I just figured out why this is happening:

[code]

[2020-02-10 23:46] cjnolet commented on #3061
We should make this pickleable (eg. create a new mat descriptor each time, just like when a new sparse array is created).

[2020-02-11 03:37] cjnolet commented on #3061
Update: I was able to fix this on my end using `copyreg`, though I think it would be worthwhile to fix this in CuPy as well.

[code]

[2020-02-11 17:55] carterbox opened #3062 "cupy.linalg.{svd, pinv} should support broadcasting"
Problem
-----------
The NumPy implementation of [pinv](https://docs.scipy.org/doc/numpy/reference/generated/numpy.linalg.pinv.html) supports broadcasting, but the CuPy implementation does not.

Conditions
--------------
[code]
Reproduce
--------------
[code]
[code]
Solution
-----------
Change CuPy implementation to allow broadcasting on N+2 dimensional arrays. This may also require updating `cupy.

[2020-02-11 21:07] carterbox commented on #1615
This may have been resolved when #2581 was resolved.

[2020-02-12 02:23] takagi commented on #3008
Thanks for the reporting. I can exactly reproduce the issue on my local. I'll look into it to find what happens.

[2020-02-12 02:23] niboshi opened #3063 "Missing copyright notice in random implementation"
Current random generator implementation (#1356) borrowed the code from numpy (https://github.com/cupy/cupy/pull/1177#issuecomment-390850953) and was based on "random kit 1.3", but the required copyright notice is missing.

We need the same copyright notice as found in https://github.com/numpy/numpy/blob/v1.15.0/numpy/random/mtrand/randomkit.c.

[2020-02-12 02:32] takagi commented on #3013
Thanks for the reporting. I reproduced the issue, let me check its detail.

[2020-02-12 03:43] emcastillo opened #3064 "pfnCI issues"
Fails when using pytest+xdist
Fails on installation tests with "module install not found"

[2020-02-12 17:35] carterbox commented on #3062
Broadcasting has been enabled for some `linalg` functions since [`numpy=1.8`](https://numpy.org/doc/1.18/reference/routines.linalg.html#module-numpy.linalg)

[2020-02-12 17:42] carterbox commented on #3062
This problem is being addressed in #2337

[2020-02-13 01:58] takagi commented on #3017
Thanks for the reporting. I reproduced the issue and will look into its detail.

[2020-02-13 03:30] takagi commented on #3008
It seems that #2113 introduced `SingleDeviceMemoryPool._total_bytes` to eagerly compute total bytes in order to check if the memory allocation limit is reached effeiciently, while it is not properly decremented when allocated memory is released.

[2020-02-13 21:51] benjha opened #3075 "Configuration missing for cupy.cuda.cub extension"
Hi CuPy team,

I am compiling CuPy for ppc64le, using
[code]
After installing CUB in CONDA_PREFIX  path, module configurations looked ok:

<details><summary> Output </summary>
<p>

[code]
</p>
</details>

Nevertheless, when reaching  cupy.cuda.cub extension compilation, I got the next error:

[code]
I suspect, the path to ```complex.cuh``` and other cupy's headers should be  set for cupy.cuda.cub

[2020-02-13 22:07] leofang commented on #3075
Can’t think of what changed in v7 that leads to this. Looks like a symptom that the env var `CUB_PATH` is not set? But I don’t understand why the cub module would be built in such a case...

Another thing: could you try building 7.1.1? On conda-forge we were able to build it successfully.

[2020-02-13 22:26] grlee77 commented on #3075
The problem seems to be in missing folders in the "include directories" listed in your build log:
[code]

As @leofang mentioned, the environment variable `CUB_PATH` must be set to the location of CUB on your system. For example, on an Ubuntu machine, I set
`export CUB_PATH=/home/lee8rx/Downloads/cub-1.8.0`
prior to building the package.

There is an open PR to bundle CUB with CuPy so the user does

[2020-02-13 22:34] grlee77 commented on #3075
@leofang: We should probably add `CUB_PATH` to the list here so it gets printed under the `Environment Variables` section in the build log
https://github.com/cupy/cupy/blob/49531dad3a3c34f66de9439542bc028035bd4e64/cupy_setup_build.py#L342-L344

Although, given that it seems we are likely going to bundle CUB as in #2584, then it may not be worth adding it now?

[2020-02-13 23:01] benjha commented on #3075
Thank you all

Setting CUB_PATH properly worked on 7.1.1 as suggested.

Will be nice to add a reference to CUB_PATH in the documentation:

https://docs-cupy.chainer.org/en/stable/reference/environment.html

[2020-02-14 05:00] kmaehashi opened #3076 "CUDA 8.0 build fails on Windows"
`master` branch fails to build with Visual Studio 2017 (MSVC 14.16.27023) with CUDA 8.0:

[code]

This does not happen with CUDA 9.0+.

[2020-02-14 07:23] leofang commented on #3075
I still feel there's something weird in @benjha's environment. If I recall correctly, without setting `CUB_PATH` the `cub` module would simply not be built due to this:
https://github.com/cupy/cupy/blob/bb3205ceb85996328e0c95a7bec385430b38c454/cupy_setup_build.py#L214-L215
which is to say the CUB header is not in the search path and so skip. This is the current status quo for releasing wheels.

I

[2020-02-14 19:48] benjha commented on #3075
Yes, Summit env. is unique and some handling is needed to make the compilation process work.

But the case @leofang is referring also happened to me, i.e.  after CuPy not finding CUB, it disabled the extension and the compilation went ahead.

The error I reported happened when installing CUB in CONDA_PREFIX (not CUB_PATH), in this case the module configuration worked but not the compilation.

[2020-02-15 11:59] niteya-shah commented on #2999
Hello, I would like to work on this Issue.

[2020-02-16 03:20] leofang commented on #3075
Yes this is exactly what’s expected.

I don’t understand what you meant by this, @benjha. CUB is a header-only library and you don’t have to do any installation. Perhaps you were saying CONDA_PREFIX is somewhere your compiler would look up for headers?

[2020-02-16 03:25] leofang opened #3078 "Cannot build cupy.cuda.cub from PyPI source"
See the error we encountered in conda-forge for v7.2.0 when trying to switch from GitHub tarball to PyPI’s: https://github.com/conda-forge/cupy-feedstock/pull/37#issuecomment-586145030. There we did specify `CUB_PATH` to make CUB visible to pip. The reason for the error is that both `cupy/cuda/cub.cpp` and `cupy/cuda/cupy_cub.cu` are absent in the PyPI source.

[2020-02-16 03:48] leofang opened #3079 "`overwrite_x=True` in cupyx.scipy.fft* doesn't do in-place transform for contiguous views"
Reproducer:
[code]
This behavior is not expected, since the FFT of a contiguous view should (and can) be done in-place. (BTW, it doesn't matter whether a precomputed plan is used or not.) The underlying reason for the unexpected behavior is, curiously, the same for #3033:

This behavior is also against what we suggested in the doc (in a loose sense):
https://github.com/cupy/cupy/blob/016e4ce34723d

[2020-02-16 03:51] leofang commented on #3033
Gregory, I wonder if it makes more sense to do this in #3034. The views being ignored also caused in-place transforms fail, see #3079.

[2020-02-16 08:17] takagi commented on #3017
I’ve found that the issue is not because the index to take is interpreted as `int8` but the type of `index_range` in the take kernel is specified to `uint8` as well as that of `indeces`, which can not represent 256 that is the size of `a` and, causes taking a value somewhere unexpected.

https://github.com/cupy/cupy/blob/bb3205ceb85996328e0c95a7bec385430b38c454/cupy/core/_routines_indexing.pyx#L36

[2020-02-17 10:42] #2900 closed

[2020-02-17 13:10] #2446 closed

[2020-02-17 17:27] benjha commented on #3075
@leofang  I copied CUB files into the directory set by CONDA_PREFIX so the compiler  could find them.

[2020-02-17 23:11] grlee77 commented on #3033
It seems like the issue in #3079 is less severe as it doesn't result in incorrect results. However, it should be fixed to improve performance in that use case.  I can try to take a look at this sometime this week and see if there is a better solution that will solve both issues. I am fine with etiher doing that within #3034 itself or as a follow-up.

[2020-02-17 23:50] leofang commented on #3033
Thanks, Gregory 🙏 Let me know if you don’t have time to look into it and I can try myself. (I am trying adding R2C and C2R to PlanNd btw.) My guess for the fix is to copy only when we have a non contiguous view.

[2020-02-18 00:13] grlee77 commented on #3033
Thanks for looking into adding R2C and C2R cases. If you want to give it a try along with that work, it would be great! I think for the purposes of the PlanNd class, we probably just need to store the input/output strides as an attribute to complement the existing shape attribute.

[2020-02-18 03:51] #3029 closed

[2020-02-18 04:38] leofang commented on #3075
Ah, so it's what I guessed. I believe what you encountered should be considered a bug: When CUB headers can be found in search path but `CUB_PATH` is not set, the build would fail.

[2020-02-18 05:57] takagi commented on #3013
When CUPY_EXMERIMENTAL_SLICE_COPY is enabled, a comparison ufunc is invoked between a ndarray and a slicing object in the following line, causing the type error above:

https://github.com/cupy/cupy/blob/9da978ba0b4fa0605d4755fa00968a7fefe8075f/cupy/core/core.pyx#L1239-L1240

[2020-02-18 06:11] #1703 closed

[2020-02-18 06:19] leofang commented on #2450
Thanks to everyone @emcastillo @kmaehashi @niboshi @asi1024 @sjperkins @grlee77 for helps and comments! It's been a long journey and finally we have all enhancements added.

[2020-02-18 06:19] #2450 closed

[2020-02-18 07:50] #3027 closed

[2020-02-18 07:56] kmaehashi commented on #3079
cc @toslunar

[2020-02-18 08:09] toslunar commented on #3062
#2337 implements efficient batched SVD of **small** matrices.  The first support could be done by a trivial loop (in Python or in Cython).

[2020-02-18 10:09] arktrin opened #3091 "There is no CuPy in PyPI that support CUDA 10.2"
As it said in README.md and also in [official docs](https://docs-cupy.chainer.org/en/stable/install.html), I can install CuPy that support CUDA 10.2 just by using pip (`pip install cupy-cuda102`). But there is no such package in PyPI:
[code]
I know that a related [issue](https://github.com/cupy/cupy/issues/2667) already exist, but I just want to mention wrong info in docs.

[2020-02-18 23:36] jakirkham opened #3092 "Printing result from `.max()` errors"
Ran the following Python script using CuPy 7.2.0 and got an error. Note the `print` is what causes the error.

[code]

Exception:

[code]

Additional exception (during cleanup):

[code]

If it is a bug report, please include the following information:

* Conditions (you can just paste the output of `python -c 'import cupy; cupy.show_config()'`)
  - CuPy version: 7.2.0
  - OS/Platform: Ubuntu 16.04

[2020-02-18 23:38] jakirkham commented on #3092
cc @JohnZed

[2020-02-18 23:40] JohnZed commented on #3092
@jakirkham note that if I build from source, I cannot repro this. It happens when I use the conda-forge conda package though.

[2020-02-18 23:53] jakirkham commented on #3092
Can you please share how you built it from source?

[2020-02-19 00:08] JohnZed commented on #3092
[code]

Numpy 1.18.1
Ubuntu 16.04 running on a Quadro P6000

[2020-02-19 00:29] JohnZed commented on #3092
I'd also say that this has to be a packaging incompatibility, because the brokenness is so extensive that no unit tests would pass with this issue in place.

[2020-02-19 00:39] leofang commented on #3092
1. Could you set `cupy.cuda.cub_enabled = False` and see if the error persists?
2. What is your `cudatoolkit` version (the one installed by conda, not from the system if any)

[2020-02-19 00:40] leofang commented on #3092
3. Could you try other reduction routines (sum, min, etc)?

[2020-02-19 00:44] JohnZed commented on #3092
Setting `cupy.cuda.cub_enabled = False` removes the issue!
Other reductions have the same behavior as max - failing on the conda build if cub_enabled == True but passing on the conda build if cub_enabled == False, while working on the from-source build.

CUDA toolkit here is 10.0, but a colleague with CUDA 10.2 has seen apparently the same issue.

[2020-02-19 00:46] leofang commented on #3092
What is the CUDA driver version installed on your system (outside the Fonda’s control)? You can copy and paste the output from nvidia-smi.

[2020-02-19 00:48] JohnZed commented on #3092
Driver 440.33.01

[2020-02-19 00:51] leofang commented on #3092
Could you uninstall CuPy from your conda env, do `conda install -c conda-forge cupy cudatoolkit=10.2`, and test again?

[2020-02-19 00:56] JohnZed commented on #3092
With that reinstall with cudatoolkit=10.2, the same issue occurs (crash when printing after reduction)

[2020-02-19 01:47] leofang commented on #3092
Thanks, John! I’ll look into this later tonight.

[2020-02-19 02:37] emcastillo commented on #3091
Wheel packages for CUDA 10.2 (cupy-cuda102) are currently unavailable on PyPI. Packages will be published after getting approval of the file size limit increase.

[2020-02-19 02:42] niboshi commented on #3059
This is not relevant to this issue, but `try... except NotImplementedError` should only enclose `os.urandom`.

https://github.com/cupy/cupy/blob/8d923719ced31fdff4a42702d395ec87a7e98045/cupy/random/generator.py#L677-L681

[2020-02-19 02:49] #3008 closed

[2020-02-19 04:04] leofang commented on #3079
In #3033 we are discussing if it makes sense to address both issues in the same PR.

[2020-02-19 06:23] toslunar commented on #3079
For performance, in-place transform has to be done if a certain condition meets.  The `overwrite_x` feature is not responsible to tell users if the condition meets.

New features that are not in NumPy or SciPy would go somewhere under `cupyx` (but not under `cupyx.scipy`).  FYI, cuFFT is available in CuPy only from `cupy.cuda.cufft`, while cuDNN is available in two wrappers `cupy.cuda.cudnn` (thin

[2020-02-19 07:55] leofang commented on #3092
I can reproduce this with `conda install python=3.7 cupy=7.2.0 cudatoolkit=9.2`. Downgrading from 7.2.0 to 7.1.1 makes the error go away. I will try building from source tomorrow (it's 2:54am local time...)

@JohnZed For your information:

For now I am not sure. It's because the CUB module is not tested in CuPy's CIs. So, it could be either the v7 branch was contaminated between 7.1.1 and 7.2.0, o

[2020-02-19 13:53] #3091 closed

[2020-02-20 02:24] noahstier opened #3095 "Out of bounds array access when using broadcast arrays"
When I compile my kernel that contains a loop over an input array, the compiled PTX contains hard-coded byte offsets from one element in the array to the next. As a result if I pass in an array whose stride is not equal to the size of the data type, the hardcoded offsets are wrong, and it looks like it results in out of bounds array access.

I believe the solution would be to specialize compilatio

[2020-02-20 08:06] asi1024 opened #3097 "`cupy.min` returns wrong result when CUB is enabled"
`cupy.min` returns a wrong value when CUB is enabled for float16 inputs.

Reproducer:
[code]

Result:
[code]

[2020-02-20 08:19] leofang commented on #3097
I think this line should return `b` instead?
https://github.com/cupy/cupy/blob/25b68333154c5aa59750fb6a83ef12f7dc0552f7/cupy/cuda/cupy_cub.cu#L204

[2020-02-20 13:39] asi1024 commented on #3097
@leofang I made a fix. Thanks for your help!

[2020-02-20 16:29] leofang commented on #3097
Thanks, @asi1024 🙂

[2020-02-20 17:16] niteya-shah commented on #1281
Hello, I would like to on work on logaddexp for complex numbers.

[2020-02-20 21:51] leofang commented on #1936
See #3102.

[2020-02-20 23:25] Harshan01 commented on #2224
I hope the issue is still open. I have made an initial PR for `compress`. #3103
I would be happy to receive suggestions on improving it.

[2020-02-20 23:34] jakirkham commented on #2224
Yep, it's still open. Thanks for giving this a go Harshan 🙂

[2020-02-21 02:29] #3097 closed

[2020-02-21 07:23] #2042 closed

[2020-02-21 14:26] kmaehashi commented on #3091
Published `cupy-cuda102`.

[2020-02-21 14:33] tvercaut commented on #2345
I faced the same issue. My current workaround for cupy is to flatten and then reshape as illustrated in this (probably naive) snippet:
[code]

Note that as per #2844, I was interested in faster image resampling but it turns out the performance I achieve is limited in comparison to opencv (cpu) and pytorch as illustrated in the following figures from running it in a GPU session on google colab:
[co

[2020-02-21 16:52] leofang commented on #3092
@jakirkham @JohnZed Sorry for my silence. Didn't have the expected bandwidth until today...I compiled from source and confirmed that something has changed between v7.1.1 and v7.2.0. This is not just a packaging bug in cupy-feedstock. However, by inspecting the diff I can't find any thing suspicious that would lead to a memory corruption.

@kmaehashi @emcastillo Could you help investigate?

[2020-02-21 16:59] leofang commented on #3092
Proposed to disable the CUB support and rebuild the package on cupy-feedstock: conda-forge/cupy-feedstock#38.

[2020-02-21 17:21] jakirkham commented on #3092
@JohnZed, when you built this locally, did you build with CUB support? If not, could you please try that as well? We're curious to know if that is the issue or if it is something else 🙂

[2020-02-21 17:23] jakirkham opened #3108 "Include CUB info in show_config"
It would be useful to include info about the CUB build in `cupy.show_config()`. In particular was it enabled and what version/commit were used if so.

[2020-02-21 17:34] leofang commented on #3079
Thanks @toslunar for comments. Not sure why you brought up new features, but in `scipy.fftpack` it does perform an in-place transform for contiguous views. (It's easy to check.) So, this is definitely a bug (for both performance and compatibility).

I suggested a patch in https://github.com/cupy/cupy/pull/3034/files#r382710841, PTAL.

[2020-02-21 18:27] Harshan01 commented on #2223
Hi, is the issue still open? I would like to work on `extract`, if it is open.

[2020-02-21 18:41] JohnZed commented on #3092
I did not build with cub. Also, when I disabled cub in the conda build, things started working again. I'll be able to try a no-cub build on Monday, but unfortunately I don't think I'll get a chance by this afternoon.

[2020-02-21 18:50] jakirkham commented on #2223
Yeah, that would be great if you could 🙂

[2020-02-21 19:03] leofang commented on #3092
@JohnZed What you should try is to build CuPy with CUB support. This can be done by pointing the env var `CUB_PATH` to the CUB source. When you set `cupy.cuda.cub_enabled=False` you simply fall back to a  "no-CUB build", so there's no need to do this.

[2020-02-21 19:07] leofang commented on #3092
...that being said, I am 100% sure @JohnZed would just reproduce what I saw in https://github.com/cupy/cupy/issues/3092#issuecomment-589738668.

@jakirkham I think it's best to consider conda-forge/cupy-feedstock#38 and disable CUB support for now. We really don't have the resource to chase after CUB bugs in conda-forge...

[2020-02-21 20:15] jakirkham commented on #3092
Do the Python wheels include CUB?

[2020-02-21 20:42] leofang commented on #3092
No.

[2020-02-21 21:25] leofang commented on #3108
I thought about this too, but it doesn't seem possible to fetch the CUB version because there's none from the source...

[2020-02-21 22:37] Harshan01 commented on #2223
I have made a PR for `extract`. #3109
The details of the implementation are mentioned in the PR.
I would be happy to receive suggestions on improving it.

[2020-02-21 23:53] jakirkham commented on #2223
Awesome, thanks Harshan! 😀

[2020-02-21 23:54] jakirkham commented on #3108
Interesting. So they don’t define this in a `#define` somewhere?

[2020-02-21 23:57] jakirkham commented on #3092
Ah ok. Didn’t expect that. Sounds like CUB is the issue then (or something related to it)

[2020-02-22 00:34] leofang commented on #3108
Didn’t find it. Only git tags AFAIK...I’ll take a look how PyTorch handles this issue later.

[2020-02-22 01:18] jakirkham commented on #3108
No worries. Happy to poke around this as well. Just figured it might be handy when debugging issues 🙂

[2020-02-22 02:08] jakirkham opened #3110 "Converting sparse matrix errors"
Am seeing the following error when trying to convert a `csc_matrix` to a `coo_matrix`. Though also see some variation of this when trying to go to a `csr_matrix` from a `csc_matrix` and other similar conversions.

* Conditions (you can just paste the output of `python -c 'import cupy; cupy.show_config()'`)

[code]

* Code to reproduce

[code]

* Error messages, stack traces, or logs

[code]

[2020-02-22 02:23] leofang commented on #3110
Let me guess: try setting `cub_enabled=False`?

[2020-02-22 02:27] jakirkham commented on #3110
I could have sworn I tried that already. Sorry. Yeah you are right another CUB issue.

[2020-02-22 02:32] leofang commented on #3110
Note `max()` is called prior to the rich comp. At that time the memory is already corrupted...Same bug as in #3092.

[2020-02-22 02:39] jakirkham commented on #3110
Thanks for spotting that 🙂 Yeah let's close. Sorry for the noise

[2020-02-22 02:40] leofang commented on #3110
No I think you should open it, John. It shows how widely impactful the CUB module can be, and how critical it is to get it bundled and tested.

[2020-02-22 02:43] jakirkham commented on #3110
Sure if it is helpful to have open. No objections. Reopening...

Thanks Leo 🙂

[2020-02-22 02:47] coderforlife opened #3111 "Implemention of `cupyx.scipy.ndimage.filters`"
I have implemented nearly all of `cupyx.scipy.ndimage.filters` matching `scipy.ndimage.filters` exactly. However, before I finish it I would like to confirm that I am developing it correctly. I have the file currently in a gist: https://gist.github.com/coderforlife/d953303da4bb7d8d28e49a568cb107b2

This works towards https://github.com/cupy/cupy/issues/2099. One of their requests was one of the mi

[2020-02-22 03:31] leofang commented on #3110
Confirmed this is fixed in the updated conda package (conda-forge/cupy-feedstock#39).

[2020-02-22 03:32] leofang commented on #3092
Confirmed this is fixed on conda-forge (we just pushed conda-forge/cupy-feedstock#39).

[2020-02-22 03:34] leofang commented on #3108
PyTorch takes effectively the same approach as in CuPy: if the CUB headers are found, it uses them. Otherwise, it uses CUB from submodule. John, perhaps it's time for you to poke NVIDIA people? 😉

(BTW, they've stopped updating CUB for quite a while...I am a bit concerned...)

[2020-02-22 04:46] jakirkham commented on #3110
Thanks Leo! 😄

[2020-02-22 16:03] coderforlife opened #3112 "Support `ndarray` methods in fused functions"
It seems odd that the following is supported

[code]

but the following isn't

[code]

It seems that to add this support the class `_FusionVarArray` could have a `__getattr__` method that can map ndarray method names to the appropriate fusion functions (such as `sum(...)` getting mapped to `fusion._call_reduction(_math.sum_auto_dtype, self, ...)`).

[2020-02-23 22:07] beckernick opened #3114 "[FEA] Implement cupy.argwhere"
A CuPy equivalent of numpy.argwhere would be a nice addition to the library. This has been mentioned in #2783 , but it's likely worth breaking out into a separate issue for tracking purposes.

[2020-02-23 22:09] beckernick commented on #3114
@suryadwar if you're still interested, you may be able to implement this feature by combining `cupy.tranpose` and `cupy.nonzero`. Depending on the performance, that might be enough.

[2020-02-23 22:40] surajp92 opened #3115 "'csc_matrix' object does not support item assignment"
I am using sparse matrices using CuPy. If I define the csc_matrix using scipy, I can assign the matrix after its definition. But, I am not able to do it with CuPy. Below is my code:

[code]
I get 1.0, 5.0 as the output. If I try to do same thing in CuPy I get an error.
[code]
I get 1.0 as th eoutput and then the error: 'csc_matrix' object does not support item assignment.

Am I doing something wro

[2020-02-24 00:42] coderforlife opened #3116 "Support raw input arrays in `ReductionKernel`"
It would be nice for `ReductionKernel` to support raw input arrays, for example, I was trying to make the following reduction kernel:

[code]

However any attempt to call the kernel results in a "Loop size is undecided" error.

[2020-02-24 03:34] coderforlife commented on #3111
I have updated the code fixing some issues including adding all documentation. I also added a partially working `generic_filter()` and a 'working' `generic_filter1d()` however it turns out that in Scipy the 1d version doesn't behave like any of the other 1d versions so it needs to be updated to be inconsistent...

`generic_filter()` as written now supports 'functions' that are `ReductionKernels`,

[2020-02-24 06:07] leofang commented on #3092
Starting from v7.1.0 and building CuPy [along the history](https://github.com/cupy/cupy/compare/v7.1.0...v7.2.0), I was able to pinpoint the offending commit that leads to `cudaErrorIllegalAddress` is e2cce91 (from the backport PR #3000), but I haven't figured out why.

[2020-02-24 06:36] leofang commented on #3092
It seems the CUB function signatures in v7 and master are different....

[2020-02-24 07:27] jakirkham commented on #3114
This may be even easier than that. `argwhere` is basically the single array version of `nonzero`. I'd guess that the answer already is available before we transform it into a `tuple` of 1-D arrays. In fact [this line]( https://github.com/cupy/cupy/blob/b17bdb472f4cd5f7d59ffdc7e99be0fb0cee5378/cupy/core/_routines_indexing.pyx#L76 ) suggests as much.

[2020-02-24 15:33] leofang commented on #2616
Hi John, sorry I dropped the ball. Indeed, for the simple case here, it might be easy to fix. But aren't this kind of fixes applicable on a case-by-case basis?

AFAIK, in CuPy they have at least a few big categories to be considered: ufuncs / elementwise kernels, reduction kernels, raw kernels, and direct interaction with low-level CUDA APIs. As @kmaehashi pointed out earlier, the first two catego

[2020-02-24 16:02] beckernick commented on #3114
As usual, thanks for finding a potentially cleaner approach to a problem @jakirkham ! 😄

[2020-02-25 06:36] emcastillo opened #3119 "Support `scipy.ndimage.label`"
Per request:

https://docs.scipy.org/doc/scipy/reference/generated/scipy.ndimage.label.html

@anaruse

[2020-02-25 10:24] #3063 closed

[2020-02-25 11:15] Harshan01 commented on #2224
The PR is merged. I think this issue can be safely closed.

[2020-02-25 11:18] jakirkham commented on #2224
Thanks @Harshan01! 😀

[2020-02-25 11:19] #2224 closed

[2020-02-25 17:16] leofang commented on #3108
I think for the time being we can just use the git tag (currently we're using v1.8.0) as the source of version string.

[2020-02-25 17:30] YashBhartia00 commented on #2674
Hello, is this issue still open? I would like to work on it.

[2020-02-25 17:32] YashBhartia00 commented on #2674
I would like to work on this issue. Thank you!

[2020-02-25 17:32] YashBhartia00 commented on #2674
I would like to work on this issue. Thank you!

[2020-02-25 19:37] jakirkham commented on #2674
That would be great! Please do 🙂

[2020-02-25 20:28] grlee77 commented on #3111
Thanks for working on this @coderforlife!

I had also done a similar thing in January of this year, although I did not attempt `generic_filter` or `generic_filter1d` and hadn't posted the code yet. I will try to take a look at this version as well as make the code I have worked on available over the next week. Most likely we can collaborate on getting these into CuPy proper.

I had implemented tes

[2020-02-25 21:59] Harshan01 commented on #3007
Could you please elaborate more on the issue? I couldn't find any implementation of `__bytes__` for NumPy `ndarray`.

[2020-02-26 07:38] portfoliocreator opened #3125 "implementing array_equal() for CuPy"
I was trying to implement array_equal() for Cupy and was thinking along these lines

[code]

Should I move forward with this ? I would be grateful if someone could guide me.

[2020-02-26 12:43] asi1024 commented on #2223
Merged #3109.

[2020-02-26 12:43] #2223 closed

[2020-02-26 15:44] Skielex commented on #3111
Interesting work!

I've recently implemented ```gaussian_filter``` and ```gaussian_filter1d``` on top of ```cupyx.scipy.ndimage.filters.correlate```, based on the SciPy implementation. As I have no experience writing CUDA code it's just Python. My functions produce results comparable to SciPy, but are much faster with a proper GPU. The code is available here if you want to have look:
https://githu

[2020-02-26 16:02] coderforlife commented on #3111
It is fixed now. I actually discovered that bug yesterday just hadn't uploaded my solution. If the image had an even number of dimensions it would return the last off-numbered dimension result I believe. Now I am getting `np.allclose()` to pass.

For the other issue about speed, this is related to my question about making the internal kernels more flexible or more often compiled. My code makes the

[2020-02-26 16:42] Skielex commented on #3111
I found small bug in line [312](https://gist.github.com/coderforlife/d953303da4bb7d8d28e49a568cb107b2#file-filters-py-L302).

[code]
should be
[code]
otherwise it'll throw an exception when calling with ```order``` > 0

[2020-02-26 22:30] Skielex commented on #3111
@coderforlife I found another issue in the ```_gaussian_kernel1d``` function. If ```order``` > 0, the weights are calculated wrong, as the value of ```x``` is incorrect.

Is there any reason not just to copy the ```_gaussian_kernel1d``` function directly from SciPy? I can see you opted for in-place ops, which I understand, but I don't think it makes a difference given the relatively small size of

[2020-02-27 00:04] benjha opened #3127 "About unified memory in Cupy"
Hi CuPy team,

Is there any documentation describing which CuPy functions supports  unified memory ?

So far I've tested two examples. The first one is a dot product between large vectors, which worked for me:

[code]
and the second, is a simple SVD test:
[code]

which fails with the following error:

[code]

We are doing  benchmarking on Power9 to know the behavior of CuPy for datasets bigger tha

[2020-02-27 04:09] rushabh-v commented on #3059
I would like to make this change.

will be raising a PR soon.

[2020-02-27 05:39] rushabh-v commented on #3119
I would like to implement this.

Will be raising a PR soon.

[2020-02-27 05:50] toslunar commented on #1281
See https://github.com/cupy/cupy/pull/3113#issuecomment-591779449.

`logaddexp` does not support complex numbers.
[code]

[2020-02-27 05:50] #1281 closed

[2020-02-27 06:54] #2970 closed

[2020-02-27 08:47] rushabh-v commented on #3119
Do I need to implement https://github.com/scipy/scipy/blob/e7d5dd4a77a2c330a467fde773e267d5cbb90f13/scipy/ndimage/src/_ni_label.pyx#L204 here or I should directly use `scipy.ndimage.ni_label._label`? @emcastillo

[2020-02-27 12:32] rushabh-v commented on #3053
I would like to tackle this.

Will be opening a PR soon!

[2020-02-28 02:36] ZHAIXINGZHAIYUE opened #3131 "FP16 sparse matrix support?"
Doesn't support FP16 sparse matrix? Thanks

[2020-02-28 03:43] emcastillo commented on #3119
You have to re-implement it using cuda kernels and/or cupy arrays.

[2020-02-28 07:44] #3059 closed

[2020-02-28 15:52] rushabh-v opened #3133 "`Edit on GitHub` link in API reference is not working"
Hyperlink of the `edit on Github` button on the top right corner of this page https://docs-cupy.chainer.org/en/stable/reference/generated/cupy.ndarray.html#cupy.ndarray.nonzero seems to be broken.

right now it is linked to https://github.com/cupy/cupy/blob/107c7d2899fa34af8ea3a80f79edaf950709b764/docs/source/reference/generated/cupy.ndarray.rst

[2020-02-28 18:23] Harshan01 commented on #2305
I hope this issue is still open. I have made an implementation of `cupy.median` #3134 . I would appreciate any suggestions to improve it.

[2020-02-28 18:28] jakirkham commented on #2305
Yep, [that's right]( https://github.com/cupy/cupy/blob/e032b27b79a76003f85d91364d122904a15990a7/cupy/statistics/meanvar.py#L8 ). Thanks for all of your work on CuPy, Harshan 😄

[2020-02-28 18:56] Harshan01 commented on #2305
Thanks for your suggestion. I have moved `median` from `statistics.order` to `statistics.meanvar`.

[2020-02-29 02:27] Dahlia-Chehata commented on #2663
I have opened PR for cupy.append #3136

[2020-03-02 01:02] jakirkham commented on #3119
Agree this would be a nice feature to have 😄

cc @jni @GenevieveBuckley

[2020-03-02 01:04] jakirkham commented on #3114
Happy to help 🙂

Looks like there is now a PR ( https://github.com/cupy/cupy/pull/3135 ) 😉

[2020-03-02 01:07] jakirkham commented on #3111
This is great! Thanks for driving this work forward @coderforlife and everyone for chipping in 😄

Would it make sense to move this work to a PR for further discussion, refinement, and eventually integration? 😉

[2020-03-02 01:31] jakirkham commented on #3007
I think they are just calling `.tobytes(...)`. Maybe we can do the same 🙂

[code]

Though agree it's not easy to figure out how they are hooking this in. Maybe raise an issue upstream if you are interested in more details about what is happening 😉 (would be interested to hear as well 🙂)

[2020-03-02 06:55] Govan111 opened #3142 "Help, problems in cupy.asnumpy() or cupy.get()。When in first loop, time2 is only 4.3ms.But in next loops，time2 reachs 41+ms.I want time2 to stays under 5ms. Does anybody know how to solve this?"
- CuPy version =6.0.0
  - OS/Platform=CentOS
  - CUDA version=10.1
* Code to reproduce
[code]

*The result of running the above program
time1: 0.04357028007507324,        time2: 0.004300832748413086
time1: 0.00022912025451660156,  time2: 0.04258894920349121
time1: 0.0002181529998779297,    time2: 0.04140281677246094
time1: 0.00023508071899414062, time2: 0.04133772850036621
time1: 0.000217199325561

[2020-03-02 07:14] #3013 closed

[2020-03-02 12:26] #3053 closed

[2020-03-02 16:35] grlee77 commented on #3111
To ease review, a potential first step PR from the code proposed by @coderforlife would be to integrate the refactored CUDA kernels for convolution/correlation in place of those currently in CuPy (i.e. a PR focusing on using your refactored `_get_nd_kernel` with the functions already in `cupy.ndimage.filters`).

I tried your kernels on Friday and did find that they are substantially faster (by abo

[2020-03-02 18:24] leofang commented on #2742
Update: #2644 is merged, but currently the "NumPy-in, NumPy-out" feature is removed. We should revisit this in the near future. I still think it is a necessary feature for performance reasons.

[2020-03-02 18:38] leofang commented on #2742
One more thing:

I think I was wrong about the unified memory. From [the cuFFT doc](https://docs.nvidia.com/cuda/cufft/index.html#accessing-cufft):

It seems data managed by the unified memory system can be used, and moreover host data pointer can be passed to cuFFT routines. But we will need to do some performance benchmarks to determine the best strategy. It is also unclear if multi-GPU cuFFT su

[2020-03-03 02:08] jakirkham opened #3144 "Configurable kernel_cache directory"
It would be nice to make the `kernel_cache` directory location configurable. This is handy in situations where the user's home directory might live on NFS (very slow for IO), when a container is used (might lack permissions for the home directory), etc. In these cases the user could set another location with an environment variable.

[2020-03-03 02:11] leofang commented on #3144
Doesn’t `CUPY_CACHE_DIR` work?
https://docs-cupy.chainer.org/en/stable/reference/environment.html

[2020-03-03 02:16] jakirkham commented on #3144
Oops 😬 Only a failure to read it seem 😞 Thanks Leo! 😄

[2020-03-03 02:16] #3144 closed

[2020-03-03 02:18] leofang commented on #3144
No problem, John! If it doesn’t work we’ll need to fix it. We also need to set this in our HPC environments.

[2020-03-03 04:06] emcastillo commented on #3142
Measuring times without synchronizing the device can lead to weird results as the ones you are seeing.

Inserting `cupy.cuda.Stream.null.synchronize()` in the right places yields the correct results
Before:
[code]

After:
[code]

Code
[code]

[2020-03-03 04:17] leofang commented on #2742
Rel: #1429

[2020-03-03 04:39] Govan111 commented on #3142
👏Thanks for helping me out！

[2020-03-03 04:45] #3142 closed

[2020-03-03 05:53] emcastillo commented on #3133
These ones are generated by sphinx, so there are no actual sources in the repo for them to refer to.
Most of the routines documentation happens to be so, another example:
https://docs-cupy.chainer.org/en/stable/reference/generated/cupy.vdot.html#cupy.vdot

[2020-03-03 05:55] emcastillo commented on #3133
Related:
https://github.com/readthedocs/readthedocs.org/issues/4671

[2020-03-03 11:09] asi1024 commented on #3095
This is expected behavior. The primitive float data type in C does not consider NumPy's strides.

[2020-03-03 11:09] #3095 closed

[2020-03-03 11:15] niteya-shah commented on #3112
Hello,
Can I work on this?

[2020-03-03 11:55] asi1024 commented on #3112
So massive changes are planned in #2734. So I don't recommend working on this before this PR is merged.

[2020-03-03 21:14] pentschev commented on #3013
Awesome, thanks for working on this @takagi ! Would you be able to test if this solves your issue @daxiongshu ?

[2020-03-03 22:27] jakirkham commented on #3092
It looks like `cdef ndarray y` was dropped in that commit. Could that be it?

[2020-03-03 23:26] ziyaointl commented on #1299
I tried this on both the latest release of cupy 8.0.0.a1 on cuda 10.2 and cupy 7.2 on cuda 10.2, and neither of the results seem to be correct. Simple example:
[code]
[code]

[2020-03-04 01:24] emcastillo commented on #3125
Hello, thanks for being interested in contributing to CuPy!.

1st is that `asarray` checks are not needed, since cupy functions accepts only cupy arrays. https://docs-cupy.chainer.org/en/stable/reference/difference.html#universal-functions-only-work-with-cupy-array-or-scalar

2nd is that this function currently synchronizes the device when you do `return bool(...)`
just doing a `return (a1==a2).al

[2020-03-04 02:52] jakirkham commented on #3144
As you mention setting this on HPC, I'm curious what you choose for this. Do you use node local scratch or something visible to multiple nodes (like an NFS mounted directory)?

[2020-03-04 03:59] emcastillo commented on #3127
This looks like an error in cuSOLVER due to using too large arrays.
The function that fails does not get any memory pointer, just the size of the matrix to compute the size of the auxiliary buffer.

Seems related or a duplicate of #2351

[2020-03-04 04:01] leofang opened #3151 "compatibility issue of `erfinv` and `erfcinv`"
For `erfinv`, the valid domain is [-1, 1], and at the boundary -1 and +1 the values are -Inf and +Inf, respectively. But outside the boundary, the values are NaN in SciPy: see [here](https://github.com/scipy/scipy/blob/59347ae8b86bcc92c339efe213128f64ab6df98c/scipy/special/cephes/ndtri.c#L146-L149) (the `ndtri` function is the underlying workhorse).

Reproducer:
[code]

Reproducer 2:
[code]

I am

[2020-03-04 04:36] emcastillo commented on #3007
Sorry, as I commented on the PR we try not to add functions to the core array that are not present in NumPy if they are not strictly necessary to try to keep compatibility as high as possible.

Since `tobytes` does exactly this. Implementing `__bytes__` is not needed at the current stage.
Sorry and thanks for the effort.

[2020-03-04 04:45] jakirkham commented on #3007
I'm not sure I understand. NumPy does implement this as [shown above]( https://github.com/cupy/cupy/issues/3007#issuecomment-593180427 ). What am I missing here? 🤔

Well the values of `__bytes__` is that I can call `bytes(...)` on a wide variety of objects (not just NumPy-like arrays) and it just works. IOW it works very nicely with duck-typing. 🙂

[2020-03-04 04:47] emcastillo commented on #3007
Sorry, it is my mistake

[2020-03-04 05:09] leofang commented on #3144
For us it depends on the MPI pool size. If it's not too large, then my preference is NFS to maximize reusability (and a bit easier to set up). If using many nodes, then local scratch may be necessary (NFS is super slow and one of ours is particularly unstable 😞).

But, this is just a minor concern to me, as our bottleneck is usually something else (like `@numba.cuda.jit` or HDF5 I/O). So usually w

[2020-03-04 05:14] jakirkham commented on #3007
No worries. Thanks for checking 🙂

Honestly I'm still not sure (even after having read some of the C code). It's a great question. Probably it has been hooked into the C-level somehow? Asking upstream to see if they can shed some light on it ( https://github.com/numpy/numpy/issues/15698 ). 😉

[2020-03-04 05:19] leofang commented on #3007
Thanks, John. I'm also confused. Parsed the NumPy C code and found nothing.

This is just chatting: sometimes I wonder if the mailing list can be abandoned when a project is hosted on GitHub or somewhere else...It's much easier to search and link.

[2020-03-04 05:22] Harshan01 commented on #3007
I observed that their implementation of `tobytes` is `PyArray_BYTES`, but I couldn't find any mention of `PyObject_Bytes` for `ndarray`, for hooking into Python.

[2020-03-04 05:42] jakirkham commented on #3007
Yeah what implements `tobytes` at the C-level is actually [`PyArray_ToString`]( https://docs.scipy.org/doc/numpy/reference/c-api.array.html#c.PyArray_ToString ), which gets [wrapped here]( https://github.com/numpy/numpy/blob/e682fc21b20a58f5665a78fdd7d9785320a03ab7/numpy/core/src/multiarray/methods.c#L566 ). This is then [hooked into the methods as `tobytes`]( https://github.com/numpy/numpy/blob/e

[2020-03-04 05:49] jakirkham commented on #3144
Thanks for the info! 😄 Yeah NFS is tricky. 😞

I guess Numba has [caching too]( http://numba.pydata.org/numba-doc/latest/user/jit.html#cache ). Have you experimented with that at all? 😉

What are the slow parts of HDF5 you are running into? 🙂

Yeah that's an interesting point. I guess it is somewhat a function of the underlying filesystem.

Suppose if we got really interested in this, we could imag

[2020-03-04 05:58] Harshan01 commented on #3007
Though, `bytes(a)` works, I don't think it is supported by numpy officially, because `bytes` for an empty numpy array works mysteriously.
`

b'\x00'

b''

b'\x90gd\x1b\x19V\x00\x00'

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
MemoryError
`

[2020-03-04 06:00] leofang commented on #3092
@jakirkham You have keen eyes! I verified this missing `cdef` is the cause. Running tests locally to ensure no other errors happen. (CI is not yet set up to test CUB.) Would you like to create a PR targeting v7?

But I don't fully understand what's wrong, though. Is it because `ndarray` is `cimport`'ed instead of being `import`'ed, so Cython couldn't recognize/deduce the type of `y`? Sounds weird.

[2020-03-04 06:02] Harshan01 commented on #3007
Or it could be a bug, so an issue could be raised upstream.

[2020-03-04 06:05] jakirkham commented on #3007
Yeah that seems like a bug to me. Would expect to get `b''` in all cases.

[2020-03-04 06:09] jakirkham commented on #3007
It seems `bytes` handles `memoryview`s similarly to `tobytes`.

[code]

[2020-03-04 06:13] Harshan01 commented on #3007
This does solve some of the mystery. But I am still confused as to what implementation is to be used for `cupy`.

[2020-03-04 06:14] jakirkham commented on #3007
Maybe `bytes(self.get())` (where `self` is the `ndarray`)? This aligns most closely to what NumPy is doing as it uses NumPy's behavior exactly.

[2020-03-04 06:18] Harshan01 commented on #3007
This could be possibly done. Then, the documentation for `tobytes` needs to be altered to include a warning message that for some cases, it could differ from `__bytes__`

[2020-03-04 06:19] jakirkham commented on #3007
When you have a chance, it would be good to capture some of these edge cases in that NumPy issue as a comment. I think the NumPy developers will find this interesting 🙂

[2020-03-04 06:22] jakirkham commented on #3092
That's what my doctors tell me 😂 Sure 🙂

Honestly it's a wild guess. So it could be totally unrelated 😅

[2020-03-04 06:29] jakirkham commented on #3092
PR ( https://github.com/cupy/cupy/pull/3152 ) adds the type back.

Were you able to get CUB to work with `master`?

[2020-03-04 13:51] benjha commented on #3127
@pentschev  @jakirkham

[2020-03-04 15:05] leofang commented on #3092
Oh yes, CUB on master always works. It's just that features and bug fixes are not always backported, so often the backport PRs break things.

[2020-03-04 19:03] Harshan01 commented on #3007
I think this is a bug on Numpy's part (see comment on numpy/numpy#15698). The `bytes` differs with `tobytes` only for empty shape tuple with `int` dtype.

[2020-03-04 19:04] leofang commented on #3144
@jakirkham:

Not for `@numba.cuda.jit`. For the CPU jit (`@numba.jit`) it's pretty sophisticated and mature now: you can do either caching or ahead-of-time (AOT) compiling (via `pycc`). None of these exists for CUDA kernels so far...

I've wanted AOT for CUDA for a while (numba/numba#4389) but I don't think it's on the Numba team's priority list...

Many MPI processes reading the same HDF5 file. D

[2020-03-04 20:05] jakirkham commented on #3007
Thanks for collecting and sharing all of those details with them, Harshan. 😄 Let's see what they say 😉

[2020-03-04 21:16] jakirkham commented on #3092
Ah ok. Yeah I think between that and your testing it looks like PR ( https://github.com/cupy/cupy/pull/3152 ) does indeed fix it then. Glad we are getting some confirmation here. Thanks for doing all of that legwork 😄

[2020-03-04 23:03] pentschev commented on #3127
This seems similar to https://github.com/cupy/cupy/issues/2351. @anaruse do you think this could be in fact the same issue? Note that here @benjha is using managed memory, so I expected memory would not blow up.

[2020-03-05 02:45] ziyaointl opened #3154 "Cupy function doesn't utilize pinned memory inside stream"
* Conditions
    CuPy Version          : 7.2.0
    CUDA Root             : /usr/common/software/cuda/10.1.243
    CUDA Build Version    : 10010
    CUDA Driver Version   : 10020
    CUDA Runtime Version  : 10010
    cuBLAS Version        : 10202
    cuFFT Version         : 10102
    cuRAND Version        : 10102
    cuSOLVER Version      : (10, 3, 0)
    cuSPARSE Version      : 10301
    NVRTC Ver

[2020-03-05 03:46] emcastillo commented on #3154
I am not pretty sure here, but the issue might be cuSOLVER doing data transfers?
CuPy has a pinned memory pool used for its data transfers. But we can't guarantee what happens inside libraries.

[2020-03-05 03:58] emcastillo commented on #3151
Can you submit a PR?
Thanks!

[2020-03-05 04:20] leofang commented on #3154
Looks like those data transfers are made outside of CuPy (likely in cuSPARSE or cuSOLVER). IIUC almost all CuPy internal kernels are prefixed with `cupy_`, but I don't see any in those transfers.

[2020-03-05 11:37] anaruse commented on #3127
Seems this is because input matrix is bit too large so that it requires work buffer with more than 2G elements causing overflow in [cusolverDnDgesvd_bufferSize](https://docs.nvidia.com/cuda/cusolver/index.html#cuds-lt-t-gt-gesvd)...

![image](https://user-images.githubusercontent.com/20274068/75977031-e262ba00-5f1e-11ea-8a85-9fba0d7a8302.png)

Maybe, size_t should be used as data type for `lwork`.

[2020-03-05 11:46] anaruse commented on #3127
Situation might be better in CUDA 10.2 since it should requires smaller work buffer compared with CUDA 10.1. But seems another issue happens in cusolverDnDgesvd called after cusolverDnDgesvd_bufferSize...

[code]

[2020-03-05 15:21] leofang commented on #3092
Weird...#3152 is merged but it didn't automatically close this issue?

[2020-03-05 15:22] leofang commented on #3110
#3152 is merged but it didn't automatically close this issue?

[2020-03-05 16:45] jakirkham commented on #3092
I think automatic closing only works for the default branch. So `master` in our case.

[2020-03-05 16:47] #3110 closed

[2020-03-05 16:47] #3092 closed

[2020-03-05 17:02] leofang commented on #3092
Ah, didn't know about this. Thanks!

[2020-03-05 20:39] jakirkham commented on #3061
Added PR ( https://github.com/cupy/cupy/pull/3157 ) to provide `MatDescriptor` a `__reduce__` method, which should fix this.

[2020-03-05 21:01] jakirkham opened #3158 "Constructing CuPy dia_matrix from SciPy dia_matrix fails"
Following the docs regarding [converting SciPy sparse matrices to CuPy sparse matrices]( https://docs-cupy.chainer.org/en/stable/reference/sparse.html#conversion-to-from-scipy-sparse-matrices ). While it works in other cases, it appears this doesn't work with `dia_matrix`.

[code]

If it is a bug report, please include the following information:

* Conditions (you can just paste the output of `pyt

[2020-03-05 23:58] jakirkham commented on #3127
Thanks Akira! Very insightful as always 😄

A somewhat recent discussion came up in regards to `int` usage in CUB and the conclusion was register pressure makes `size_t` unreasonable ( https://github.com/NVlabs/cub/issues/129 ). Is that the same issue here? If so, it would be interesting to get `unsigned` for `m` and `n` at least.

So if users want to scale beyond this, I guess they should use some

[2020-03-06 00:34] jakirkham commented on #3144
Thanks for pointing out that issue! Was not aware this discussion was already happening 😄

Yeah that makes sense. Have you looked into distributed stores (like [Zarr]( https://github.com/zarr-developers/zarr-python ) 😉)?

This is a really good point. I don't think we have this particular issue, but it is good to be aware of. Are you familiar with tools for distributing environments to nodes (like

[2020-03-06 03:17] leofang opened #3163 "Lack of coverage over single-precision functions from CUDA Math API"
I just realized this when working on #3159. For almost all ufuncs in CuPy (there do exist exceptions), whenever a function from CUDA Math API is called, we always choose the double precision version (without the `f` suffix in the function name). See, for example, https://github.com/cupy/cupy/blob/3d7706315b98121635c23b342eb9312ac237aa40/cupy/core/_routines_math.pyx#L869-L873
So, for single-precisi

[2020-03-06 03:38] jakirkham commented on #3111
cc @jni @GenevieveBuckley (for general awareness 😉)

[2020-03-06 03:40] leofang commented on #3127
Not sure if this counts as your "out-of-core" solution, but I think [cuSOLVER has multi-GPU routines](https://docs.nvidia.com/cuda/cusolver/index.html#introduction). Unlike multi-GPU cuFFT, though, this is not yet supported in CuPy. An ongoing discussion is in #2742.

[2020-03-06 03:51] jakirkham commented on #3127
Good point! Thanks Leo 😄

Yeah I would call that multi-core. Normally I think of out-of-core as a solution where not everything can fit in memory (admittedly that is not exactly the limitation here).

Agree multi-core solutions are worth exploring as well 🙂

[2020-03-06 09:08] grlee77 commented on #2345
I think this issue can be closed (the bug was fixed by #2813).

The separate issue of poor performance reported by @tvercaut should be resolved by #3166.

[2020-03-06 14:57] larsgeb opened #3169 "Feature request: Add scipy.sparse.linalg.factorized (`lu_factor` and `lu_solve`) equivalent to cupyx"
In repeated solving of large sparse linear systems, it is usually faster to factorize matrix A using LU decomposition (with full or partial pivoting) and solve the reduced system. This feature is already available for dense matrices, added in this PR: https://github.com/cupy/cupy/pull/2051.

This feature request would be related to these earlier feature requests: https://github.com/cupy/cupy/issue

[2020-03-06 16:56] benjha commented on #3127
Thank you all for your comments and feedback.

Good to know it is not a problem directly related to how CuPy's uses unified memory.

@emcastillo @anaruse @leofang We are testing/benchmarking CuPy and NV Rapids with large memory allocations in Summit supercomputer using its production environment. Our ultimate goal is to offer scalable CPU and GPU based analytics to our users.

[2020-03-06 17:40] leofang commented on #3127
@benjha Awesome! I know @nlaanait @dxm447 @jqyin are also doing some work using CuPy on Summit. Please do keep us posted for your benchmarks! 🙂

[2020-03-06 19:05] jakirkham commented on #3154
Can you please retest with CUDA 10.2? IIUC there were some performance improvements in cuSOLVER.

[2020-03-06 20:13] ziyaointl commented on #3154
@jakirkham Looks like Cuda 10.2 shows a similar behaviro compared to 10.1
* Conditions
CuPy Version          : 8.0.0a1
CUDA Root             : /usr/common/software/cuda/10.2.89
CUDA Build Version    : 10020
CUDA Driver Version   : 10020
CUDA Runtime Version  : 10020
cuBLAS Version        : 10202
cuFFT Version         : 10102
cuRAND Version        : 10102
cuSOLVER Version      : (10, 3, 0)
cuSPARSE

[2020-03-06 20:16] jakirkham commented on #3154
How is the overall runtime though?

[2020-03-06 20:32] jakirkham commented on #3154
Also it appears that the cuSOLVER and cuSPARSE versions are the same in both cases. Any ideas why that is happening? 🙂

[2020-03-06 20:40] ziyaointl commented on #3154
@jakirkham The CUDA 10.1 version took 10.7s, while the CUDA 10.2 version took 7.0s. However, the parts where the GPU is busy running kernels seem to stay the same.

I am using the software packages compiled by NERSC, so maybe they are using the same cuSOLVER and cuSPARSE versions for both CUDA versions? If there are newer versions of cuSOLVER and cuSPARSE, I can open a ticket asking NERSC to updat

[2020-03-06 21:27] jakirkham commented on #3154
Ok good to see that performance improvement at least.

Not sure that's needed yet.

Am talking to get some more insight into what is going on here.

[2020-03-06 21:40] jakirkham commented on #3154
What sort of GPU is this running on @ziyaointl? 🙂

[2020-03-06 21:53] ziyaointl commented on #3154
@jakirkham V100 with 16GB of memory
A more detailed description about the configuration can be found here: https://docs-dev.nersc.gov/cgpu/hardware/

[2020-03-06 22:06] jakirkham commented on #3154
Could you please provide a bit of context on how the DtoH and HtoD transfers are affecting your workflow? IOW what sorts of things are you hoping to accomplish by eliminating them that you can't otherwise accomplish now?

[2020-03-06 22:16] ziyaointl commented on #3154
@jakirkham Functionality-wise `eigh` does what we want it to do - calculate eigenvalues and eigenvectors. We'll use the output only on the GPU, so it would be great if either memory transfers do not happen at all or they happen more quickly (which can possibly be achieved by pinned memory). `eigh` takes 50% of wall time in our procedure, so any performance improvements would be very welcome.

[2020-03-07 03:45] leofang commented on #3144
As a follow-up of this `kernel_cache` discussion, in #3164 I made an attempt for fully in-memory cache. It seems with that we could avoid disk I/O entirely in CuPy?!

I haven't tried Zarr and conda-pack. I heard of Zarr for quite some time, and my main question is how performant it is, compared to HDF5, in an HPC environment in which multiple MPI processes can simultaneously read / write / read-an

[2020-03-07 04:06] jakirkham opened #3170 "Supporting datetime and timedelta in CuPy"
When working with data that has timestamps, timesteps, measures of latency, events, etc., it is useful to have types that correspond to these. In NumPy this is solved with [datetime and timedelta types]( https://docs.scipy.org/doc/numpy/reference/arrays.datetime.html ). It would be useful to have equivalent support in CuPy.

[2020-03-07 04:12] leofang commented on #3170
You must be desperately needing this feature, John? 🤣 Dup: #2622

[2020-03-07 04:17] jakirkham commented on #3170
Thanks Leo! 😂 I searched and didn't find. Closing...

[2020-03-07 04:17] #3170 closed

[2020-03-07 04:20] leofang commented on #3170
Hahaha I didn't either. Ended up searching your id instead...

[2020-03-07 17:44] drcdr opened #3173 "map_reduce.py example: AttributeError: 'NoneType' object has no attribute 'eventDestroy'"
When running examples/streams/map_reduce.py, I get the following:
[code]

**_Conditions:_**
CuPy Version          : 7.2.0
CUDA Root             : C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.0
CUDA Build Version    : 10010
CUDA Driver Version   : 10010
CUDA Runtime Version  : 10010
cuBLAS Version        : 10200
cuFFT Version         : 10010
cuRAND Version        : 10010
cuSOLVER Version

[2020-03-07 20:30] drcdr opened #3174 "Cupy streams are not supporting concurrent GPU operation (cp.linalg.svd)"
**_Issue_**
Cupy streams are not supporting concurrent GPU operation, for cp.linalg.svd.  (This is my first time using Cupy, to try and do concurrent SVDs on the GPU with a stack of matrices.)

Copying @mrocklin and @seibert as they seem to have spent a lot of time with similar issues.

**_Related Links_**
For background on this, see:

- #1695: How to get concurrency from cupy Streams. (Closed wit

[2020-03-08 17:25] leofang commented on #3173
Could you try building the master branch? I think this is fixed recently in #2809 but was not included in v7.2.0 yet.

[2020-03-08 17:26] leofang commented on #3173
Hmmm, it *is* included in v7...see #2811. @emcastillo Any idea?

[2020-03-08 22:58] noahstier commented on #3095
Of course. But cupy could support ndarray strides, either at compile time by not hardcoding the (potentially incorrect) strides, or at kernel launch time by 1) raising an error if the array strides don't match the expected, hard-coded ones, or 2) making a copy of the array so that the strides do match.

This might be enough of a corner case that it's not worth fixing, but it wasn't the behavior I

[2020-03-09 01:37] emcastillo commented on #3173
`Event` did not had the fix applied ...

[2020-03-09 03:56] leofang commented on #2768
As far as I can tell, these attributes are never used in the codebase. How about just removing them entirely so as to suppress the deprecation warning? We're gonna remove them when they are removed from CUDA anyway.

[2020-03-09 10:11] #3114 closed

[2020-03-09 15:02] leofang commented on #3173
I feel awkward about this...It's like we're playing whac-a-mole but never hit the mole (the shutdown bug)...😞

[2020-03-09 15:23] leofang commented on #3173
Chatted with a few colleagues and it seems we're not alone. h5py had similar shutdown issues (see e.g., https://github.com/h5py/h5py/issues/534). I was told they resolved by holding a hard reference to the needed module/function, but for the moment I can't find the PR/code snippet that does this. Will ask if needed.

Another ref:
https://docs.python.org/3/library/weakref.html#comparing-finalizers-

[2020-03-09 16:52] leofang commented on #3163
I did some tests and realized that for `float`/`double` this makes no difference, because CUDA provides overloaded versions for inputs with different precisions, see:
https://docs.nvidia.com/cuda/cuda-math-api/group__CUDA__MATH.html#group__CUDA__MATH
But, I am not so sure about `complex float`/`complex double`. Looking into this now...

[2020-03-09 17:03] leofang commented on #3163
Looks like the same overloading for complex inputs is done in the Thrust headers! I think we are good. Closing this issue, and sorry for the noise 😅

[2020-03-09 17:03] #3163 closed

[2020-03-09 17:08] rushabh-v commented on #3125
are you interested in opening a PR? @portfoliocreator
Otherwise, I would be fine doing it. :D

[2020-03-09 17:49] portfoliocreator commented on #3125
@rushabh-v Yes , sure go ahead.

[2020-03-10 01:34] cjnolet opened #3178 "Sparse arrays do not support all of Scipy's slicing options"
I encountered this behavior in the most recent (CuPy 8.0.0 at the time of writing this) branch when attempting to call `dask.array.from_array()` with a `csr_matrix`. It appears that Dask is attempting to do some slicing that is supported in Scipy's `csr_matrix` but is not supported by CuPy.

The following is a reproducible example:

[code]

Here's the same code using Scipy:

[code]

When using a C

[2020-03-10 07:22] emcastillo commented on #3154
As this is related to CUDA libraries more than CuPy, we will close this issue.

[2020-03-10 07:22] #3154 closed

[2020-03-10 09:10] #3158 closed

[2020-03-10 10:51] anaruse commented on #3127
FYI, respose from cuSolver team.

[code]

[2020-03-10 13:12] coderforlife commented on #3016
Confirmed that this works (sorry for delay).

[2020-03-10 13:15] coderforlife commented on #3111
I will work on the PR now. I was on vacation over the last week.

[2020-03-10 13:45] grlee77 commented on #3111
Sounds good to me, but it would be nice if any core devs here could provide guidance on whether they agree with the general approach in your gist. Having separate 1d/nd cases seems reasonable to me, however if it is possible to just use nd for everything without substantial overhead that would probably ease maintenance.

You may also want to take a look at #3179 which was just recently opened and

[2020-03-10 15:08] leofang commented on #3174
I was testing this yesterday but got distracted, so I have not completed my tests 😅

For now I have a few general remarks:
1. CuPy is providing the correct stream behavior: from nvvp you can see that there're `N` streams, and the work is done on different streams.
2. Whether or not kernels can be  run concurrently is a completely different story: It depends on the workload, the underlying hardware

[2020-03-10 15:40] leofang commented on #2905
Update: just did a quick test against the master (with #2907 and #2919 included)
[code]
So CUB is indeed providing the best performance, but the new scan kernels are also much performant. (This  test is done on a different machine from the one I used when  opening this issue, though.)

I think this issue can be closed now.

cc: @emcastillo

[2020-03-10 15:40] #2905 closed

[2020-03-10 15:43] leofang commented on #2945
Unfortunately I am losing my interest in doing this 😅 Might revisit later, but the take-away is that there are too many places in the codebase relying on determining the dtype in runtime. Even if I could come up with a static solution, it won't be easy to throughly fix them.

[2020-03-10 15:43] #2945 closed

[2020-03-10 15:48] leofang commented on #2519
I am closing this meta-issue, as most of the listed tasks are completed except for the source-tree bundling (#2584) and the tests (#2598). Thanks to everyone for making all these improvements! It's been a not-so-short, perhaps a bit bumpy journey since @anaruse added the initial support. 🙂

[2020-03-10 15:48] #2519 closed

[2020-03-10 16:15] leofang commented on #3174
Oh, one more thing: preferably we wanna do batched SVD for better performance, especially for your use case. But I don't know what's the current status of #2337...

[2020-03-10 17:15] #3173 closed

[2020-03-10 17:17] leofang commented on #2762
Would this issue be closed by #3126?

[2020-03-10 18:32] jakirkham commented on #3154
Yeah that makes sense. Thanks @emcastillo. We will find another forum for this.

cc @anaruse (for awareness)

[2020-03-10 23:10] coderforlife commented on #3111
The 1D and ND are actually fairly different beasts. One applies along an axis and the other doesn't.

I am close to submitting. I found two bugs in my code causing failures that I have now fixed (I added origins instead of subtracting and didn't handle 0-sized dimensions exactly like scipy). I am doing some speed tests on some final changes and then submitting the PR.

[2020-03-10 23:16] jakirkham commented on #3111
FWIW would check against the latest SciPy release. Recall there were a few bugs they fixed. Some of which relate to these edge cases (like 0-sized).

[2020-03-11 00:53] coderforlife commented on #3111
@Skilex I was attempting to optimize _gaussian_kernel1d() to work as fast with cupy as it did with numpy, and thus trying to use in-place everywhere, but yeah, it could just be Scipy's function.

The (non) speed difference is definitely interesting. I will look into that more.

At the moment my goal is to get a PR with convolve, correlate, convolve1d, and correlate1d including tests. I have the cu

[2020-03-11 01:41] drcdr commented on #3174
Thanks for looking into this, @leofang.  I'd seen #2588 later, and then had some quirk reproducing it, but now I have done it OK.  BTW, I'm using TitanXp.

I've now tried N x svd(A<sub>MM</sub>) and N x cp.matmul(A<sub>MM</sub>, A<sub>MM</sub>), for M in [8, 32, 256, 1024, 4096].  In NVVP, I'm seeing for these cases that the matmul is always in some sort of concurrency (maybe 2x or 4x) but the SVD

[2020-03-11 03:02] #3061 closed

[2020-03-11 03:16] leofang commented on #2946
+1 for removing sync detect stuff. Currently we rely on (incomplete) knowledge of the CUDA APIs for the (a-)sync behaviors, but for CUDA libraries (cuFFT, cuSOLVER, whatever) we have absolutely no idea in general, unless someone from NVIDIA is willing to sit down with us and mark all public APIs one by one.

[2020-03-11 03:19] anaruse commented on #3174
The reason why you don't see any kernel concurrent execution in this case is probably that kernel launch by CPU is longer than kernel execution on GPU.

In cuSolver, more specifically `cusolverDn<t>gesvd`, lots of kernels are to be launched and executed to compute the SVD. When a matrix size is not large, most kernels in `cusolverDn<t>gesvd` can finish its execution in less than 10 usec on modern

[2020-03-11 04:48] jakirkham commented on #2655
I think this issue can be closed now (as the PR is merged). Is that right @cjnolet? 🙂

[2020-03-11 04:53] drcdr commented on #3174
OK, thanks.  But, see the image above; do you think the kernel launch by the CPU is more than 116 ms (in the 16 x 1024x1024 case)?  I was starting to think that the problem might be way too many threads being launched, based on the answer [here](https://stackoverflow.com/questions/36658324/concurrency-of-cufft-streams), as well as the large amount of stuff in the nvvp trace

```A 128x128 FFT to a

[2020-03-11 06:24] asi1024 commented on #3144
Most of CuPy routines call `cuda.compile_with_cache` at most once with the same parameters. For example, `cupy.ufunc` caches the kernels in memory [here](https://github.com/cupy/cupy/blob/master/cupy/core/_kernel.pyx#L570).
How about just avoiding disk access without supporting in-memory cache in `compile_with_cache`?

[2020-03-11 06:29] anaruse commented on #3174
Thank you for benchmarking `cusolverDnSgesvdaStridedBatched` so quickly, though the result of the 64 x 256x256 case is bit disappointing...  Anyway, I will work on it later.

I run your repro on Quadro GV100 and CUDA 10.2.  It took about 1.04 sec to compute the 16 x 1024x1024 case and number of kernels launched for this compute was neally 200K. Given each kernel needs 4 usec to launch, total kerne

[2020-03-11 13:26] mnicely opened #3185 "Allow C++ Templating Functionality"
Would it be possible to allow C++ Templating functionality to raw kernels?

Rationale:
Instead of having multiple functions based on input type, there would be one templated global function.

[2020-03-11 14:05] mnicely opened #3186 "Expected behavior when pass float64 to a CuPy raw kernel with float * input."
CuPy Version          : 7.2.0
CUDA Root             : /usr/local/cuda
CUDA Build Version    : 10020
CUDA Driver Version   : 10020
CUDA Runtime Version  : 10020
cuBLAS Version        : 10202
cuFFT Version         : 10102
cuRAND Version        : 10102
cuSOLVER Version      : (10, 3, 0)
cuSPARSE Version      : 10301
NVRTC Version         : (10, 2)
cuDNN Build Version   : 7605
cuDNN Version         :

[2020-03-11 14:13] leofang commented on #3185
Unfortunately this is not possible despite how easy it seems. The reason is C++ name mangling. When specializing a template function, its name gets mangled (note that the template specialization can't be done with the `extern "C"` linkage to avoid name mangling), so you can't retrieve the function via `cuModuleGetFunction` (the actual CUDA API used in `RawKernel` and `RawModule`). The name just ge

[2020-03-11 14:15] leofang commented on #3186
numpy.float32 / cupy.float32 -> float in C/C++
numpy.float64 / cupy.float64 -> double in C/C++

[2020-03-11 14:17] leofang commented on #3185
Example:
[code]
Error:
[code]

[2020-03-11 14:20] mnicely commented on #3185
Okay, I expected as much. I sounds like if want multiple types, I'll need multiple kernels...

[2020-03-11 14:28] mnicely commented on #3186
To clarify, are you saying that we should see automatic argument promotion and demotion?

[2020-03-11 14:33] leofang commented on #3186
There's no type promotion or demotion whatsoever. When using RawKernel or RawModule there's a one-to-one type mapping between NumPy/CuPy dtypes and C/C++ intrinsic types.

[2020-03-11 14:35] mnicely commented on #3186
Got it!

[2020-03-11 14:35] #3186 closed

[2020-03-11 14:36] mnicely commented on #3185
What is rationale for `extern C` ? Would an improvement to `cuModuleGetFunction` alleviate the issue?

[2020-03-11 14:45] leofang commented on #3185
`extern "C"`: https://stackoverflow.com/questions/1041866/what-is-the-effect-of-extern-c-in-c

`cuModuleGetFunction` is a CUDA driver API. There's nothing we can do to it.

If you want to make your life *much* harder, you can always write a dispatcher that can live with the C linkage, but internally calls any C++ specializations you want. This is more or less how CuPy interfaces with some C++ temp

[2020-03-11 16:47] leofang commented on #3144
@asi1024 Yeah I noticed that too...Looks like most compiled kernels are memoized in one place or another, except for
1. the ufunc kernels: https://github.com/cupy/cupy/blob/7f8614930eaeadc8384cb3c257d668df6a0b3f1c/cupy/core/_kernel.pyx#L798-L800
2. RawKernel/RawModule

Should I add another PR to address this?

Also, for #3164, if we don't add an in-memory cache, we'll assume that when `compile_wit

[2020-03-11 17:55] rushabh-v opened #3188 "add documentation for building a development env on google colab"
In my opinion, some people might not be able to contribute to CuPy because of not having an NVIDIA GPU. But they might not know that we can build a development env on google colab(As I did [here](https://github.com/cupy/cupy/pull/3130#issuecomment-592973250)).
[code]
And then we can test the code and do benchmarks there.
And as I did above, by cloning it directly on google drive we don't need to c

[2020-03-11 18:20] leofang commented on #3174
Thanks Akira for the insights and @drcdr for quick testing! As I mentioned earlier I also saw many tiny kernels launched in the nvvp timeline, but I didn't realize it took so much CPU time! Shouldn't this be considered as a critical deficiency, if not a bug, of the cuSOLVER library?

[2020-03-11 19:01] asi1024 commented on #3144
1. `_kernel._get_ufunc_kernel` is assumed to be called from `ufunc._get_ufunc_kernel` and cached to self._kernel_memo`. (See [here](https://github.com/cupy/cupy/blob/v8.0.0a1/cupy/core/_kernel.pyx#L1054)).
2. `RawKernel` caches the kernel to `self._kernel` in `RawKernel.kernel` property method is called. (See [here](https://github.com/cupy/cupy/blob/v8.0.0a1/cupy/core/raw.pyx#L77)).