[2021-02-05 02:42] #3169 closed

[2021-02-05 03:21] leofang commented on #4591
FWIW, when determining the performance of `getCUBIN()` it's best to set `CUDA_CACHE_DISABLE=1`. For fair comparison, it's important to always force JIT compiling PTX instead of fetching from cache. It is expected to benefit fresh kernels.

[2021-02-05 04:13] leofang commented on #4618
Hi @mfoglio Could you give a short reproducer for the errors you saw? I tried to follow your description but I don't see anything wrong:
[code]

Sorry I wasn't being clear. `cuCtxGetCurrent` is a [CUDA Driver API](https://docs.nvidia.com/cuda/cuda-driver-api/group__CUDA__CTX.html#group__CUDA__CTX_1g8f13165846b73750693640fb3e8380d0). Looks like CuPy has a wrapper for it (see the above snippet), but

[2021-02-05 04:27] #4259 closed

[2021-02-05 04:52] leofang commented on #4618
Sorry, I take this part back. I wasn't thinking clearly: If you already have the Primary Context made current (by the Runtime API), you don't have to push/pop it. It should just work:
[code]
Note that in the end you don't do `ctx.pop()` to clean up -- as I mentioned the Runtime API does it for you.

[2021-02-05 05:24] #4475 closed

[2021-02-05 08:13] kmaehashi opened #4629 "Bump CuPy requirement to `fastrlock>=0.5`"
So that we can remove this warnings filter: https://github.com/cupy/cupy/blob/a2fe3fb37c5c77daf05f71a996e08b840d5d4de9/cupy/__init__.py#L16-L19
which was to workaround  fastrlock 0.4 issue (related: #2476, #2476).

[2021-02-05 15:04] TK-21st opened #4635 ""invalid filename" error in Ubuntu 20.04"
* Conditions
[code]

* Code to reproduce
[code]

* Error messages, stack traces, or logs

Note that this does not break the functionality of CuPy but not sure what is causing the issue.

[code]

[2021-02-05 15:43] leofang commented on #4635
This is an NVRTC issue that only happens on CUDA 11.2. This is fixed in #4538, which is included in the upcoming CuPy v8.5.0.

[2021-02-05 16:31] TK-21st commented on #4635
Thank you for the prompt reply!

Closing as answered.

[2021-02-05 16:31] #4635 closed

[2021-02-05 21:07] asi1024 commented on #4621
#4625 is the last PR for this task.

[2021-02-05 23:42] eghbalhosseini commented on #4443
Hi,
I have tested pip install cupy-cuda111 with cuda11.2  and got the following error :
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/cupy/__init__.py", line 20, in <module>
    from cupy import core  # NOQA
  File "/usr/local/lib/python3.7/site-packages/cupy/core/__init__.py", line 1, in <module>
    from cupy.core import core  # NOQA
ImportError: libcublas.so.

[2021-02-06 14:35] #4621 closed

[2021-02-08 07:38] shartoo commented on #1910
Please check your package version matches the cuda version.For example,there maybe a cupy-cuda90(python package) with cuda9.0(cuda driver),and a cupy-cuda100 and cuda10.0.

[2021-02-08 15:42] takagi commented on #4577
- [ ] Update `chainer-test` https://github.com/chainer/chainer-test/pull/633
- [ ] Update library installer tool https://github.com/cupy/cupy/pull/4636
- [ ] Update wheel distribution https://github.com/cupy/cupy-release-tools/pull/65
- [ ] Update document https://github.com/cupy/cupy/pull/4643

[2021-02-08 20:20] ax3l opened #4644 "Creating a cupy device array from GPU Pointer"
Hi,

we develop a GPU-accelerated C++ code with Python bindings called [WarpX](https://github.com/ECP-WarpX/WarpX).

If we are compiling for CPU, we currently expose our memory for user-side manipulation as numpy arrays, adopting the existing, C++-side managed memory directly via `numpy.frombuffer` [[code]](https://github.com/ECP-WarpX/WarpX/blob/1f8ab0e625f27e9201b0da9dcfbab52c30112089/Python/pyw

[2021-02-08 21:38] leofang commented on #4644
There's a `UnownedMemory` class that can wrap a foreign device pointer and create a CuPy array on top of it, if it's what you're asking for. Check it out how CuPy talks to other libraries through the [CUDA Array Interface](https://numba.readthedocs.io/en/latest/cuda/cuda_array_interface.html):
https://github.com/cupy/cupy/blob/a5b24f91d4d77fa03e6a4dd2ac954ff9a04e21f4/cupy/core/core.pyx#L2478-L2514

[2021-02-08 23:41] benfred commented on #2824
Fwiw - this problem also means that we get incorrect results from passing a cupy array to np.random.shuffle:

[code]

numpy .random.shuffle internally is just swapping elements: https://github.com/numpy/numpy/blob/9f12028b9453c17b72b26355fd503e512af96a5d/numpy/random/_generator.pyx#L4455-L4458 which triggers this issue

[2021-02-09 00:06] jakirkham commented on #2824
Yeah Ben I believe that was the underlying use case that motivated this issue

Also NumPy issue ( https://github.com/numpy/numpy/issues/15123 ) is tracking dispatching on array type in `numpy.random` functions

[2021-02-09 07:16] #4609 closed

[2021-02-09 07:17] kmaehashi commented on #4610
https://cython.readthedocs.io/en/latest/src/userguide/migrating_to_cy30.html

[2021-02-09 07:24] kmaehashi commented on #4132
I started to publish ROCm 4.0 test results for the latest matser branch commit, every 1 hour (note that the full unit test takes 4 hours):
https://github.com/kmaehashi/cupy-rocm-ci-report/commits/gh-pages
(It seems there’s a breaking change for ROCm between commit 1f6f9ebe1  and f1bda44e1 ...)

I've asked @takagi to work on resolving test failures.

[2021-02-09 07:32] leofang commented on #4132
[code]
@kmaehashi @takagi It's likely we forgot to disable testing PTDS (#4322) on HIP. We hit the same segfault before.

[2021-02-09 18:00] leofang commented on #4132
I sent #4651 to fix PTDS.

[2021-02-10 12:29] TakuNishiumi opened #4655 "By switching device altenately accelerate calculations?"
This is not a bug. I would like to ask a question.
I tested below codes and
I found that by switching device alternately accelerated calculation.
Do you know the reason?

[code]

## define function

[code]

## GPU0 => GPU1 => GPU0 => ...

[code]

    CPU times: user 17.9 s, sys: 212 ms, total: 18.1 s
    Wall time: 18.1 s

## GPU0 only

[code]

    CPU times: user 22.1 s, sys: 5.53 s, total: 27.7

[2021-02-10 15:00] emcastillo commented on #4655
You are splitting your workload into two GPUs while the work amount remains constant.

See that you are doing the same amount of iterations with one and two devices, so it is expected to take more time with only one gpu. Work is enqueued and control flow returns to the cpu immediately. Calculations are being done in the background while you are enqueuing the next task.

Also, you are synchronizing

[2021-02-10 15:16] leofang commented on #4132
Looks like we are back to the game after merging #4651 🙂
https://github.com/kmaehashi/cupy-rocm-ci-report/commit/989f57fb33a2ed8b36d2a54d59cee45cdd233810

[2021-02-10 15:52] TakuNishiumi commented on #4655
Dear @emcastillo,

Thank you for your comment!

I predicted that time of GPU0=GPU1=GPU0&GPU1 is same because python has GIL. So I was surprised.
Anyway, we can speed up such calculations if we use alternately multiple GPUs, because the calculation worked in background.
Is this correct?

[2021-02-10 21:21] jakirkham commented on #4601
@leofang is this just a question of installing 7zip on CI or is there more to it than that?

[2021-02-10 22:02] leofang commented on #4601
No, it's about how to automate things for users. So for cuDNN, CuPy provides a convenient script so that users can install the wheel from PyPI (which has the cuDNN support built, but does not contain cuDNN itself as the wheel would be oversized) and then run
[code]
and the script would install cuDNN to CuPy's cache dir so that it can be found and linked at runtime. This works on both Linux and Win

[2021-02-11 17:32] outofculture commented on #4443
@eghbalhosseini you currently must [compile cupy from source](https://docs.cupy.dev/en/stable/install.html#installing-cupy-from-source) to have 11.2 support; the e.g. cupy-cuda111 wheel has the library version compiled in.

[2021-02-11 18:09] sk1p opened #4660 "Catch incompatible CUDA version"
CuPy version: 8.4
Platform: Debian Linux
CUDA: 11.2
Installed from source (`pip install cupy`)

It would be very nice if cupy could throw a clear (or more clear) error message if the installed CUDA version doesn't work with the selected GPU, or had an API to check compatibility. For example, I have an old K2000 in my desktop PC, for which support was dropped in CUDA 11.1, and this code:

[code]

T

[2021-02-11 19:26] leofang commented on #4660
For the last `AttributeError`, it was caused by a combo of two bugs we recently found, one is fixed in #4594 but another is still ongoing (#4597). It turns out to be a sdist issue, so for the time being to actually "build from source" you should clone from GitHub; `pip install cupy` is currently not a good idea.

[2021-02-12 04:33] emcastillo commented on #4655
Yes, you are correct. Computations are done asynchronously.

[2021-02-12 04:33] #4655 closed

[2021-02-12 07:10] springer13 commented on #4601
@leofang we're planing to replace the .exe with .zip to resolve this issue. I'll update this thread once the .zip file is available.

[2021-02-12 12:30] sk1p commented on #4660
Okay, thanks for letting me know. Should I retry the original issue with the current development version?

[2021-02-12 17:01] TakuNishiumi commented on #4655
Thank you!

[2021-02-13 18:38] danielcjacobs opened #4663 "pip install problem: Could not find a version that satisfies the requirement cupy-cuda102"
I'm having the exact same error as received in [#2490](https://github.com/cupy/cupy/issues/2490).

System details:

- OS: Ubuntu 18.04.5
- Python: 3.6.9
- Pip: 21.0.1
- CUDA: 10.2

Running the command `python3 -m pip install cupy-cuda102` fails. Am I missing a package or something?

Here is the log:
[code]

[2021-02-13 20:49] grlee77 opened #4665 "Feature request: support matrix RHS for cupyx.scipy.sparse.linalg.spsolve"
`scipy.sparse.linalg.spsolve` supports the case where the right-hand side (RHS), `b` is a matrix. Can we also support that case in CuPy?

It looks like this function uses the [cuSOLVER csrlsvqr methods](https://docs.nvidia.com/cuda/cusolver/index.html#cusolver-lt-t-gt-csrlsvqr) which only look like they support vector `b`. In that case, should we just add a loop over the other axis if a matrix `b`

[2021-02-13 21:24] leofang commented on #3755
@jakirkham Can this be closed now since #4322 is merged?

[2021-02-13 21:26] leofang commented on #4601
That'd be great, thanks @springer13!

[2021-02-13 23:02] ax3l commented on #4644
Thank you for the advice, this looks great and is exactly what we were looking for.

We will then implement the CUDA Array Interface (v3) through pybind11 in AMReX and downstream codes.

I read in the docs that there is no convention on the C-side yet, I wonder if it makes sense to follow one for general pybind11 helpers. Here is how they look for the array interface / buffer protocol: [Py](https:

[2021-02-14 00:29] #3755 closed

[2021-02-14 04:12] leofang commented on #4665
Yeah looks like the API of [`cusolverSpXcsrqrBatched()`](https://docs.nvidia.com/cuda/cusolver/index.html#cusolver-lt-t-gt-csrqrbatched) has a nonideal design. In a few batched solvers like `potrf`/`potrs`, the input is a pointer to pointer instead of a plain pointer, so in that case the flexibility is enough to meet our need here, as we could just repeat the pointer to `csrValA` for `batchSize` t

[2021-02-14 05:07] leofang commented on #4484
Only fails on ROCm 4.0.0 + MI100:
[code]
According to the ongoing discussion in https://github.com/cupy/cupy/pull/4653 there might be something odd with those MI*** cards.

[2021-02-14 08:48] #4607 closed

[2021-02-14 22:38] grlee77 opened #4666 "cupyx.scipy.sparse.linalg.spsolve give incorrect result if RHS is non-contiguous"
I think `spsolve` needs to enforce that the right hand side vector, `b` is contiguous. I came across an incorrect result when running a program where the second input to `spsolve` was specified as `B[:, 0]` which is non-contiguous when B is C-contiguous. If instead, I made a copy (`B[:, 0].copy()`) the result was as expected. Based on this, I suspect `spsolve` needs a contiguous input, but does no

[2021-02-16 04:15] kmaehashi commented on #4443
@takagi Could you please work on this?

[2021-02-16 04:21] kmaehashi commented on #4663
Could you run `python3 -m pip -V`, `python3 -m pip install -vvv cupy-cuda102` and `python3 -c "import sys; print(sys.abiflags)"` and paste the output?
(The final command should print `m` as we only provide wheels for `m` ABI)

[2021-02-16 04:59] leofang commented on #4443
btw CUDA 11.2.1 is out...

[2021-02-16 05:56] #4629 closed

[2021-02-16 06:20] kmaehashi opened #4670 "Support SciPy 1.6"
- [x] CI
- [x] Docs

[2021-02-16 09:29] #4613 closed

[2021-02-16 14:29] emcastillo opened #4673 "Flaky test `manipulation_tests.test_basic.TestBasic.test_copyto_multigpu`"
[code]

https://jenkins.preferred.jp/job/chainer/job/cupy_pr/3016/TEST=cupy-py3-cub,label=mn1-p100/testReport/junit/tests.cupy_tests.manipulation_tests.test_basic/TestBasic/test_copyto_multigpu/

[2021-02-16 18:02] leofang commented on #4618
It's in `Stream.ptr`, so you can either provide the handle to the stream that you created
[code]
or use CuPy's current stream
[code]

[2021-02-17 03:35] danielcjacobs commented on #4663
[code]

[2021-02-17 06:18] leofang opened #4676 "Is a pool of cuBLAS handles required for stream parallelism?"
I was looking into some cuBLAS/cuSOLVER stuff, and I noticed cuBLAS has a different requirement for stream parallelism from other CUDA libraries:

https://docs.nvidia.com/cuda/cublas/index.html#cublasApi_reproducibility

https://docs.nvidia.com/cuda/cublas/index.html#parallelism-with-streams

But this scheme doesn't seem compatible with CuPy's current implementation. Specifically, we always call `

[2021-02-17 06:34] #4412 closed

[2021-02-17 06:54] kmaehashi commented on #4673
Other cases:
https://jenkins.preferred.jp/job/chainer/job/cupy_pr/TEST=cupy-py3-cub,label=mn1-p100/3005/testReport/
https://jenkins.preferred.jp/job/chainer/job/daily_master_cupy-shuffled/449/ID=14,label=mn1-p100/testReport/junit/tests.cupy_tests.manipulation_tests.test_basic/TestBasic/test_copyto_multigpu/

[2021-02-17 07:50] springer13 commented on #4601
The .zip file should be available for download now. Please let us know if this resolved your problem. Thanks

[2021-02-17 15:48] leofang commented on #4601
Fantastic, @springer13! I confirm the link works. We should be able to start from here.

[2021-02-17 23:36] mfoglio commented on #4582
Why can I specify the stream when downloading an array from the GPU `cp_array.get(stream=cp.stream.Stream())` but not when uploading it `cp.array(np_array)`? Is there a performance reason for this?

[2021-02-18 02:25] kmaehashi commented on #3891
v9.0.0b3 release date updated from 2020-02-25 to 2020-02-26 due to scheduling reasons.

[2021-02-18 09:25] #4601 closed

[2021-02-18 10:15] #4546 closed

[2021-02-18 11:23] #3470 closed

[2021-02-18 13:23] leofang commented on #3062
Batched SVD is in. pinv is the next.

[2021-02-19 02:22] kmaehashi commented on #4673
This test failures shows a similar behavior, although this is not a multi-gpu test.
https://jenkins.preferred.jp/job/chainer/job/cupy_pr/3044/TEST=cupy-py3,label=mn1-p100/testReport/junit/tests.cupy_tests.cuda_tests.test_texture/TestCUDAarray_param_25_%7Bdimensions=(67,%200,%200),%20dtype=int8,%20n_channels=1,%20stream=True,%20xp='cupy'%7D/test_array_gen_cpy/

[2021-02-19 03:07] kmaehashi commented on #4663
Thanks for the logs! Are you on x86_64 platform? We currently only offer wheels for x86_64 systems.
If you are on x86_64, could you run the following command to see the supported tags?

[code]

[2021-02-19 03:42] danielcjacobs commented on #4663
Oh, that's probably the issue, I'm using the Jetson Nano, which I believe is ARM.

[2021-02-19 04:11] leofang opened #4684 "Batched SVD test failures"
Two kinds of failures after #4628 was in:
1. Compiler error: Some CI configurations do not run on C++11 natively, so they complain about `--std=c++11` not set, ex:
[code]
https://jenkins.preferred.jp/job/chainer/job/daily_master_cupy-shuffled/456/ID=2,label=mn1-p100/consolev

2. Random loop-based SVD error: In https://github.com/cupy/cupy/pull/4628#issuecomment-780308263 I thought it's due to a kn

[2021-02-19 04:26] kmaehashi commented on #4663
I see, I think we should have documented it 😃

Yes, it should work. You can use `CUPY_NVCC_GENERATE_CODE` environment variable (https://github.com/rapidsai/cusignal/issues/304#issuecomment-758014463) to reduce build time.

[2021-02-19 04:30] leofang commented on #4663
Perhaps it's worth keeping track in #3196.

[2021-02-19 04:33] leofang commented on #4684
@anaruse Could there be a race condition when reusing cuSOLVER's handle and buffer space in a loop?

[2021-02-19 04:53] leofang commented on #4132
@kmaehashi The ROCm CI hasn't been active for most of the day, is this expected?
https://github.com/kmaehashi/cupy-rocm-ci-report/tree/gh-pages

[2021-02-19 05:01] leofang commented on #4673
Could it be something wrong with the random numbers?

[2021-02-19 05:57] kmaehashi commented on #4673
As for `test_copyto_multigpu `, I think random numbers are not related, as it just tries to copy `arange` result between devices.

[2021-02-19 06:02] danielcjacobs commented on #2178
Does this mean I can't use CuPy with python 2 at all?

[2021-02-19 06:05] kmaehashi commented on #2178
@danielcjacobs  The last version supporting Python 2.7 is CuPy v6.7.0. https://docs.cupy.dev/en/v6.7.0/install.html

[2021-02-19 06:10] danielcjacobs commented on #2178
[This page](https://pypi.org/project/cupy/6.7.0/) seems to indicate that CuPy v6.7.0 isn't compatible with CUDA 10.2.

Does this mean I can't use CuPy for CUDA 10.2 with Python 2? (i.e. I either need to use Python 3 or CUDA 10.1)

[2021-02-19 06:25] leofang commented on #1615
@kmaehashi This can be closed.

[2021-02-19 06:25] #1615 closed

[2021-02-19 06:30] kmaehashi commented on #2178
Basically, yes. You can try building from source instead of using binary wheels, but we haven't tested that configuration because CuPy v6.7.0 is released before CUDA 10.2.

[2021-02-19 06:37] kmaehashi commented on #4132
The CI script has died with `srun: error: Node failure on xxx-xxx2-09`... modified the script to respawn when node failed, and restarted.

[2021-02-19 06:41] leofang commented on #4132
Cool, thanks. Maybe it was due to allocation timeout?

[2021-02-19 06:55] kmaehashi commented on #4132
The CI script is on the login node, and I'm `srun`ing for every test run, so I guess it's unlikely.
https://github.com/kmaehashi/cupy-rocm-ci-report/blob/master/tools/daemon.sh

[2021-02-19 15:43] leofang commented on #4132
I see, I thought it's run on the compute node interactively.

[2021-02-19 22:11] safreita1 opened #4692 "Feature Request: Add support to find smallest magnitude eigenvalues in eigsh"
Hi,

Thanks for all the work on this great library!

I'm wondering if there are any plans to add support for finding the smallest eigenvalues using the eigsh function (similar to the Scipy function: https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.linalg.eigsh.html)?

Being able to calculate the smallest eigenvalues is quite important for a range of analysis using the Laplacian ma

[2021-02-20 04:38] outofculture opened #4693 "Indexing with multidimensional boolean array and a number errors"
### Short description

Combining a multidimensional boolean array with other indexing causes an IndexError.

### Code to reproduce
[code]

### Expected behavior
Assign a bunch of zeros in the 4th elements of all innermost arrays whose 1st element is less than -1. The code above works when using numpy.

### Real behavior
The following error:
[code]

### Conditions
[code]

### Additional context
Ind

[2021-02-20 11:07] leofang commented on #3822
@kmaehashi @emcastillo So I looked into this today and found it's accidentally fixed upstream (NVIDIA/cub#249), see https://github.com/NVIDIA/cub/pull/196#issuecomment-782293149. But, the fix won't land in CUDA 11.3, meaning all CUDA 11.x users are impacted.

Given that Thrust and CUB are coupled tighter since CUDA 11.0, I propose two solutions:
1. Use CuPy's older CUB bundle
2. Apply upstream pat

[2021-02-20 19:14] danielcjacobs commented on #4663
Thanks for the helpful info! Closing this issue as the answer is:

[2021-02-20 19:14] #4663 closed

[2021-02-20 22:10] leofang commented on #4692
Looks like the support for `which='SM'/'SA'` has been in upstream for quite a long time. Doesn't seem to be very difficult to support.

[2021-02-21 05:14] safreita1 commented on #4692
That's great to hear! I'm hoping to use it to accelerate some graph algorithms in a library I'm developing: https://github.com/safreita1/TIGER

[2021-02-21 13:22] fathia-ghribi opened #4696 "RuntimeError: CUDA environment is not correctly set up"
when i run this code from lda2vec  in google colab `https://github.com/cemoody/lda2vec/blob/master/examples/hacker_news/lda2vec/lda2vec_run.py`
i'm getting this error:
RuntimeError: CUDA environment is not correctly set up
(see https://github.com/chainer/chainer#installation).No module named 'cupy.util'
how to fix this probleme ??

[2021-02-21 21:32] leofang commented on #4692
Hi @safreita1 I skimmed over the code. If you're interested in putting up a PR, it should be fairly straightforward: The part handling `SM`/`SA` is done on CPU, so it's just straight NumPy. Looks to me here are the only two place to change:
https://github.com/cupy/cupy/blob/880918c978dc6f8eb91585764e2501b1ca2bea89/cupyx/scipy/sparse/linalg/_eigen.py#L61-L63
https://github.com/cupy/cupy/blob/880918

[2021-02-22 05:58] #4684 closed

[2021-02-22 13:33] kmaehashi opened #4704 "CUDA 11.2 Wheel Packages for Linux"
**Edit (2021-03-23)**: We've uploaded `cupy-cuda112` for Linux. You can simply install it by:

[code]

The following workaround (`-f` option) is no longer needed.

-----

[`cupy-cuda112` package on PyPI](https://pypi.org/project/cupy-cuda112/) is currently only available for Windows. We are going to publish Linux wheels once we get approval from the PyPI team (https://github.com/pypa/pypi-support/

[2021-02-22 16:26] kmaehashi commented on #3631
Closed via https://github.com/chainer/chainer-test/pull/629

[2021-02-22 16:26] #3631 closed

[2021-02-22 16:26] kmaehashi commented on #3643
Closed via https://github.com/chainer/chainer-test/pull/598/files

[2021-02-22 16:26] #3643 closed

[2021-02-22 18:11] leofang commented on #4148
Closed by #4630.

[2021-02-22 18:11] #4148 closed

[2021-02-23 04:28] takagi commented on #4577
After #4700 is merged, we can close this issue.

[2021-02-23 04:51] kmaehashi commented on #1431
Use of cuRAND device API introduced in new Generator API, so I guess this can be closed?

For record,

This is no longer true thanks to Jitify, but we use `nvcc` to build code using cuRAND during installation for HIP compatibility

[2021-02-23 09:20] #4593 closed

[2021-02-23 14:46] takagi commented on #4670
- [ ] Update chainer-test to test against the version.
- [ ] Update documentation
  - [ ] Update Requirements section in [Installtion Guide](https://docs.cupy.dev/en/latest/install.html). The baseline version must be updated in the development branch.
  - [ ] Backport. Do not update the baseline version in backport.
- [ ] Update CuPy codebase (if needed) and backport.

[2021-02-23 18:02] leofang commented on #4610
Some module-level `cpdef` variables will need to be fixed for supporting Cython 3. I checked with an upstream developer that there is no good way to support `cpdef` variables at the module level (cython/cython#3959).
[code]
These warnings will be turned to errors in Cython 3 (https://github.com/cython/cython/pull/3963).

[2021-02-23 19:13] kmaehashi opened #4718 "Support parallel build for nvcc in CUDA 11.2 to make CuPy build faster"
https://developer.nvidia.com/blog/boosting-productivity-and-performance-with-the-nvidia-cuda-11-2-c-compiler/

[2021-02-23 19:22] kmaehashi opened #4719 "Automatically infer HCC_AMDGPU_TARGET"
- build: Support `CUPY_NVCC_GENERATE_CODE=current` equivalent in ROCm to set `HCC_AMDGPU_TARGET` automatically
- runtime: Automatically infer `HCC_AMDGPU_TARGET` (this environment variable is only needed for hipcc case?)

[2021-02-23 20:39] leofang commented on #4719
I suspect we need it at runtime. There was a time I forgot to set it with a fresh local build, but CuPy still ran fine:
https://github.com/cupy/cupy/blob/6a663512ee888c49ef6542fd065a6046fa9e9353/cupy/cuda/compiler.py#L761-L767

[2021-02-23 20:41] leofang commented on #4719
It should be readily testable by running `test_raw.p` without the env var set. Both `hiprtc` and `hipcc` got tested.

[2021-02-23 21:27] leofang commented on #4719
I just did a quick test locally. It seems if only building for local use, as mentioned in the above linked comment `hipcc` can also infer `HCC_AMDGPU_TARGET` correctly. I confirmed this by removing the `cub` and `thrust` modules, unset both `HCC_AMDGPU_TARGET` and `__HIP_PLATFORM_HCC__`, and rebuild. After that, we can examine the binary by ROCm's built-in tool (similar to `cuobjdump` on CUDA):
[c

[2021-02-24 02:08] #4597 closed

[2021-02-24 03:04] #4478 closed

[2021-02-24 03:55] takagi commented on #4577
I close this issue as the PRs above are all merged.

[2021-02-24 03:55] #4577 closed

[2021-02-24 04:14] leofang commented on #4719
OK I tested this locally without setting `HCC_AMDGPU_TARGET` and `__HIP_PLATFORM_HCC__`. By removing the checks for `HCC_AMDGPU_TARGET` in `cupy/cuda/compiler.py` all checks passed on ROCm 3.5.0. Let me know if you think it's ok to remove them and I will send a PR.

[2021-02-24 04:23] leofang opened #4727 "`pip install` completely ignores existing source builds and installed dependencies"
I suspect this has to do with #4619.

I am on the latest master, and now every time I call `pip install -v -e .` two things happens:
1. These packages keeps being reinstalled despite I already have them in my env: setuptools, wheel, Cython, fastrlock
2. All modules are re-cythonized and recompiled from scratch, despite they've been built and nothing has changed

I will try to build in a fresh env

[2021-02-24 04:52] leofang commented on #4727
Still no luck. But, I should have also mentioned that I am (as always) building and developing CuPy in Conda, so by a fresh env I meant a fresh Conda env, which makes me wonder if PEP 517 is incompatible with Conda and I think the answer is yes: https://github.com/conda/conda/issues/9133

[2021-02-24 04:55] leofang commented on #4727
@jakirkham Is my theory correct that `pyproject.toml` would be in conflict with Conda in some way?

[2021-02-24 05:05] leofang commented on #4727
OK removing `pyproject.toml` resolves both issues, so at least we know a workaround.

@kmaehashi I am not sure if there's still time for changes before the release, but I think it's better to not stick to PEP 517. I wanna note that Conda is the recommended way to run Python packages on Summit and NERSC afaik, and I know at least for the latter [they recommend users to build CuPy in a fresh Conda e

[2021-02-24 05:12] leofang commented on #4727
I am almost certain this is due to bad interaction between PEP-517 compliance and Conda. I set up the system Python in the NVIDIA's devel docker, and everything runs fine.

[2021-02-24 05:18] jakirkham commented on #4727
Would try adding `--no-deps` to `pip` to keep from installing dependencies

[2021-02-24 05:19] leofang commented on #4727
@jakirkham That would only address the first issue unfortunately, not the second. See https://github.com/conda/conda-build/issues/3919 and https://github.com/conda-forge/cvxpy-feedstock/pull/31. Removing `pyproject.toml` was the patch applied there.

[2021-02-24 05:24] leofang commented on #4727
It's also suggested in Conda-Forge's chat: https://gitter.im/conda-forge/conda-forge.github.io?at=5ec2ffb22f83c139ef8cca73

[2021-02-24 05:25] jakirkham commented on #4727
There's a bunch of things conda-build does to configure pip. May be worth [trying these]( https://github.com/conda/conda-build/blob/8f1b3517fd0c816ec78b6dadf4a912b849ecd58a/conda_build/build.py#L2574 ). In particular I think `PIP_NO_BUILD_ISOLATION` may be relevant, but the others may be relevant as well

[2021-02-24 05:28] leofang commented on #4727
RIght, but my argument is to both users and developers this is an unexpected regression. `pip install -v -e .` (or without `-e`) is always the advice we give (by "we" I mean on CuPy's own doc, as well as HPC-related events that I participated).

[2021-02-24 05:29] jakirkham commented on #4727
Sure I have no strong feelings about the resolution am just trying to supply info 🙂

[2021-02-24 05:30] leofang commented on #4727
Ah, yes, indeed I didn't know Conda-Build took care of this. Thanks for pointers John!

[2021-02-24 05:31] jakirkham commented on #4727
Ofc happy to help 😄

Am curious if NumPy has similar issues with installs given they are using [`pyproject.toml`]( https://github.com/numpy/numpy/blob/9437402f1d60778cd723e6119044ef0510ef17c0/pyproject.toml#L1 ). Or is there something they are doing that we may be missing? (Not that we need to figure that out now if we need to get a fix in. Just another idea worth exploring)

[2021-02-24 05:37] leofang commented on #4727
Looking into it now.

[2021-02-24 05:48] leofang commented on #4727
I don't see what magic the numpy and scipy feedstocks have employed, but I tested it locally and adding `--no-deps` doesn't even solve the first issue. It still pulls down the said dependencies.

[2021-02-24 05:50] kmaehashi commented on #4727
I skimmed the pip code, seems pip always install requirements from `pyproject.toml`
https://github.com/pypa/pip/blob/baaf66f70d84cf3367d5b43fec16762ca9703810/src/pip/_internal/distributions/sdist.py#L61-L64
although requirements from `setup_requires` are installed only when it is missing in the current environment:
https://github.com/pypa/pip/blob/baaf66f70d84cf3367d5b43fec16762ca9703810/src/pip/_

[2021-02-24 06:11] leofang commented on #4727
I think @jakirkham is right on this. Once this is set, regardless of whether other `PIP_NO_*` env vars or `--no-deps` etc flags are set or not, `pip` falls back to the old behavior and all is good too. This is likely why numpy/scipy feedstocks are happy.

In fact, I think setting it is equivalent to removing `pyproject.toml`:

https://pip.pypa.io/en/stable/reference/pip_wheel/?highlight=PIP_NO_BUI

[2021-02-24 06:15] jakirkham commented on #4727
Thanks for checking Leo. It's good to have the confirmed 🙂

[2021-02-24 06:17] leofang commented on #4727
Thanks for your insight, John! I couldn't possibly figure this out myself...

[2021-02-24 06:21] leofang commented on #4727
tl;dr: Workarounds for falling back to the old behavior (prior to #4619):
- remove `pyproject.toml` manually and then run `pip install -v .` as usual
- set `PIP_NO_BUILD_ISOLATION=False` (note the inverted logic) and then run `pip install -v .` as usual
- `pip install -v --no-build-isolation .`

All are equivalent.

[2021-02-24 06:55] #4095 closed

[2021-02-24 07:18] Kris-Susu opened #4729 "b"
Thank you for using and contributing to CuPy!

If your issue is a **request for support in using CuPy**, please post it on [Stack Overflow](https://stackoverflow.com/questions/tagged/cupy) or Google Groups ([en](https://groups.google.com/forum/#!forum/cupy) / [ja](https://groups.google.com/forum/#!forum/cupy-ja)).
Developer team members are monitoring questions on these channels.

If it is a bug r

[2021-02-24 08:36] #4729 closed

[2021-02-24 09:02] kmaehashi commented on #4727
I think it's ok to remove `pyproject.toml` for the next release.

I don't fully understand the point here, I think the impact to users is very limited (they need to install Cython/fastrlock even if they already have it in their environment when installing from sdsit) so I think this is a regression for developers (increased rebuild time).

[2021-02-24 09:23] toslunar commented on #1431
Yes!

[2021-02-24 09:23] #1431 closed

[2021-02-24 15:09] leofang commented on #4727
Yeah I wasn't clear on this, sorry. For developers (like myself 😅) it's definitely a regression indeed.

So for users, I am not sure about installing from sdist. In a pyenv-like or system Python env, if installing from source I don't see the dependencies being reinstalled.

What could potentially be a bigger problem is again in a Conda env. It's best to not mess up with dependencies managed by Con

[2021-02-25 02:43] emcastillo opened #4746 "Find a way to cleanly support fft callbacks"
Comment: https://github.com/cupy/cupy/pull/4734#issuecomment-785392652

[2021-02-25 03:09] kmaehashi commented on #4746
Besides that tests needs to be changed to ignore callback_cache directory.

[2021-02-25 03:25] #4727 closed

[2021-02-25 04:29] leofang commented on #4435
`gesvd` seems to be slow unfortunately, so `gesvdj` might worth a shot for a single matrix.

However, if you have a stack of matrices (which `pinv` supports, see the ongoing PR #4686) to solve, `gesvdj_batched` is limited to small matrices (m,n<=32), so we'll still hit this performance bottleneck. Currently the batched SVD (#4628) is based on `gesvdj_batched` for small matrices and falls back to a

[2021-02-25 05:39] kmaehashi opened #4749 "Some enum redeclared"
Build warning:

[code]

Enum values seems ok so it should be harmless.

[2021-02-25 05:40] kmaehashi commented on #3891
Filled a date for -v9.0.0rc1 and v9.0.0.

[2021-02-25 06:19] kmaehashi opened #4750 "Fail build if essential module cannot be built"
Currently, when CuPy failed to configure a module other than `cuda`, build succeeds without building the module.
If non-optional (essential) modules cannot be built, the build should fail with an error.

Optional modules are nccl, cudnn, nvtx
Non-optional modules are others e.g., random, thrust, cub, dlpack, ...

[2021-02-25 07:08] leofang commented on #4749
Likely another mistake of mine from #4556... 🤦🏻‍♂️

[2021-02-25 08:09] kmaehashi commented on #4696
Please use CuPy v7 for Chainer v7. https://github.com/chainer/chainer/issues/8601

[2021-02-25 08:09] #4696 closed

[2021-02-25 08:37] takagi commented on #4670
Now we can close this issue as the updating actions are all done and the CI has been passing against SciPy 1.6.

[2021-02-25 08:37] #4670 closed

[2021-02-25 09:05] kmaehashi commented on #4719
I skimmed hipcc code (it's written in perl 😅 ), it seems the output from `/opt/rocm/bin/rocm_agent_enumerator -t GPU` (which prints arch for each GPU installed) is used when `HCC_AMDGPU_TARGET` is unset. I'm curious how hiprtc would behave, though.

[2021-02-25 11:57] asi1024 opened #4755 "Deprecate `cupy.bool`, `cupy.int`, `cupy.float` and `cupy.complex`"
`numpy.bool`, `numpy.int`, `numpy.float` and `numpy.complex` were deprecated in NumPy 1.20.

[2021-02-25 15:21] leofang commented on #4719
Cool, thanks @kmaehashi. Pointer: https://github.com/ROCm-Developer-Tools/HIP/blob/2080cc113a2d767352b512b9d24c0620b6dee790/bin/hipcc#L717-L728

hipRTC first queries the current device, and then delegates the actual compilation to the ROCclr backend:
https://github.com/ROCm-Developer-Tools/HIP/blob/2080cc113a2d767352b512b9d24c0620b6dee790/rocclr/hip_rtc.cpp#L225
https://github.com/ROCm-Developer-T

[2021-02-26 01:48] kmaehashi opened #4756 "Need to skip fp16 sort/scan in v8 for CUDA 9.0"
https://jenkins.preferred.jp/job/chainer/job/daily_stable_cupy-shuffled/ID=12,label=mn1-p100/232/consoleFull

[2021-02-26 01:50] leofang commented on #4756
I thought CUDA 9.0 is dropped?

[2021-02-26 01:52] kmaehashi commented on #4756
It's dropped in v9. We still support CUDA 9.0 in v8.

[2021-02-26 01:53] leofang commented on #4756
ah yes, sorry!

[2021-02-26 08:50] kmaehashi opened #4765 "🚨 Do NOT use cupy-cuda112 package on PyPI"
### We have found a PyPI package named `cupy-cuda112` which was NOT uploaded by the CuPy project. Please do not install it.

We are contacting the PyPI team to address this issue: https://github.com/pypa/pypi-support/issues/923

[2021-02-26 11:38] kmaehashi commented on #4765
The issue has been resolved thanks to PyPI team.

[2021-02-26 11:38] #4765 closed

[2021-02-27 03:59] VisionaryMind opened #4767 "Initializing CuPy array ~30x slower than NumPy"
We are now running simple tests with CuPy to gauge its ability to replace our NumPy-based pipeline. Unfortunately, it appears that initializing an array takes at least 10x longer with CuPy than with Numpy.  For example:

$ python3.9 -m timeit 'import cupy; t = cupy.array([-2.48370488e-05, -4.60709998e-04,  3.10862320e-03,  1.00000000e+00])'
**1 loop, best of 5: 298 usec per loop**

$ python3.9 -m

[2021-02-27 14:58] albertomercurio opened #4768 "No matrix exponential function similar to "scipy.linalg.expm""
Hello,
i noticed it is not present the matrix exponential function, similar to "scipy.linalg.expm". It is present the cupy.exp function, which calculates the exponential of each matrix element, but there is no way to get the matrix exponential widely used in physics.

[code]

[2021-02-28 09:38] emcastillo commented on #4767
This is expected, array creation with CPU data is pretty heavy since you have to create the array first in the CPU and then transfer it to the GPU. This shortcoming is mostly due to the CUDA programming model and the GPU computing architecture than CuPy. There are a few optimization techniques to alleviate this such as using pinning memory and others but I doubt they will be helpful in your case.

[2021-03-01 05:42] leofang opened #4773 "[info] NumPy/SciPy new version pinning recommendation"
See:
- https://github.com/numpy/numpy/pull/18505
- scipy/scipy#12862

The most important takeaway is that NumPy/SciPy now recommend downstream distributions to pin the upper bound version if NumPy/Scipy are runtime dependencies. (The example is if the latest NumPy out there is 1.20, one should pin to `<1.23`; the notation used in the docs `<1.xx+3.0` is a bit confusing, see the clarification in ht

[2021-03-01 13:05] nizamov opened #4775 "Pinned memory leak"
Hi, there

seems that I have found some kind of a strange memory allocation bug. I am running Debian testing, which hast cuda 11.2 and cython 29.21. So I had to build cupy ("pip3 install cupy" - no errors reported except missing cudnn/cublas etc).

Now, the problem is that I wanted to benchmark memory transfer between host memory and device memory. In general, this is nothing more than measuring t

[2021-03-01 14:20] nizamov commented on #4775
I guess, that the reason is asynchronous memory transfer. Seems that CuPy allocates pinned memory, necessary for the transfer, and keeps it until the transfer over PCIe finishes. I see that memory occupation grows more than 3GB only if more than 7-8Gbytes/second bandwidth is required by test script. This is around the bandwidth that I get with Numba and roughly corresponds to the expected host-gpu

[2021-03-02 02:36] kmaehashi opened #4779 "Bump to cuDNN 8.1.1.33"

[2021-03-02 02:52] takagi commented on #4779
- [x] Update chainer-test to test version.
- [ ] Update the library installer.
  - [ ] Fix `cupyx/tools/install_library.py`.
  - [ ] Backport.
- [ ] Wheel distribution
  - [ ] Update cupy-release-tools.
- [ ] Documentation
  - [ ] Update Requirements section in [Installtion Guide](https://docs.cupy.dev/en/latest/install.html)
- [ ] Implement new features using the version, if any.

[2021-03-02 04:38] dwysocki commented on #4176
I assume this was omitted because it's not going to be well-suited to a GPU?  Either way, it should at least be possible to work around it if need be using array indexing instead, even if it's less efficient.

Is there any plan to implement this in CuPy anyway?

[2021-03-02 06:05] #3062 closed

[2021-03-02 07:27] toslunar commented on #4330
`linalg.pinv` is fixed in #4686.

[2021-03-02 07:33] kmaehashi commented on #4755
https://github.com/cupy/cupy/blob/57ef68c33a03ac68ddba149b20657c3668ae511c/cupy/__init__.py#L215

[2021-03-02 08:27] leofang commented on #3513
When working on #4778 I noticed one obstacle: In some index calculations we need `scatter_add` to handle `int64`, but it relies on CUDA's builtin `atomicAdd`, which does not have a `int64` specialization. Don't see an easy workaround ftm.

ref: https://github.com/cupy/cupy/pull/4778/commits/54227888221679ece62ec70273fcfdada281202d

[2021-03-02 08:33] kmaehashi opened #4787 "[Postmortem] `cupy-cuda112` Package Squatting Issue on PyPI"
tl;dr: An invalid `cupy-cuda112` package (versioned `v2.2.2`) was online from 2021-02-25 18:17 to 2021-02-26 11:09 (UTC). The package currently hosted on [PyPI](https://pypi.org/project/cupy-cuda112/) (versioned `v8.5.0` and  `v9.0.0b3`) and [GitHub Releases](https://github.com/cupy/cupy/releases) (#4704) are built by the CuPy team and are all safe.

----

**Date**:
2021-03-02

**Author**:
The CuP

[2021-03-02 08:40] #4443 closed

[2021-03-02 09:56] leofang commented on #4406
Motivation:
[code]

[2021-03-02 10:01] leofang commented on #4704
For Conda users:
[code]

[2021-03-02 10:05] leofang commented on #4704
(updated the instruction for the rc package)

[2021-03-02 10:43] leofang opened #4789 "Adopt Python Array API standard"
This is a meta-issue tracking the adoption of Python Array API standard:
- Intro: https://data-apis.org/blog/array_api_standard_release/
- API spec: https://data-apis.github.io/array-api/latest/
- NumPy NEP-47: https://github.com/numpy/numpy/pull/18456 (rendered in https://numpy.org/neps/nep-0047-array-api-standard.html)
- Array API repo: https://github.com/data-apis/array-api

In the Data API wee

[2021-03-02 14:32] kmaehashi commented on #4693
Thank you for the feedback! Currently CuPy does not have a full support for boolean masks:

https://docs.cupy.dev/en/stable/overview.html

But I agree that it's better to add support for your boolean + int case as it's likely to be used frequently.
We also have to add more docs on what's supported and what's not.

[2021-03-02 18:43] leofang commented on #4767
Just FYI, the way you timed it also includes the time on initializing a CUDA context, which is known slow. A proper timing involving GPUs should always do a few "warm-up" runs. `cupyx.time.repeat` does it for you:
[code]
It is still slow (for the reasons replied above; also, your test workload is too small), but not as crazy.

[2021-03-03 01:27] outofculture commented on #4693
Thanks for your work making cupy better! Yeah, I recognize that the general case is pretty challenging. I was hoping the work-around I described would point toward a possible implementation in this case. E.g. splice in an `:, ` to the indexing args for every ndim of the first arg. I'm not sure what other problems this might introduce, though.

[2021-03-03 07:22] #3246 closed

[2021-03-03 07:24] #2516 closed

[2021-03-03 07:24] #3531 closed

[2021-03-03 07:27] #4644 closed

[2021-03-03 07:32] #743 closed

[2021-03-03 07:32] #795 closed

[2021-03-03 07:34] #853 closed

[2021-03-03 07:37] kmaehashi commented on #4469
Thanks for the request! Closing as duplicate of #877.

[2021-03-03 07:37] #4469 closed

[2021-03-03 07:55] kmaehashi commented on #440
Closing as the issue looks out-dated. The errata has been released according to the bug tracker.

[2021-03-03 07:55] #440 closed

[2021-03-03 07:57] kmaehashi commented on #765
I'm sorry that we failed to respond :bow: As the issue seems out-dated, let me close this issue. Please feel free to reopen if needed. Thank you.

[2021-03-03 07:57] #765 closed

[2021-03-03 08:02] kmaehashi commented on #932
So far we don't have a plan to provide this as the equivalent feature is not in SciPy.
I guess you can use CHOLMOD for GPU support: https://scikit-sparse.readthedocs.io/en/latest/cholmod.html#module-sksparse.cholmod

[2021-03-03 08:02] #932 closed

[2021-03-03 08:03] kmaehashi commented on #994
Closing as CuPy does not expose an API to manually specifying threads/blocks except for Raw kernels.
https://docs.cupy.dev/en/stable/reference/generated/cupy.RawKernel.html?highlight=rawkernel

[2021-03-03 08:03] #994 closed

[2021-03-03 10:08] toslunar opened #4799 "Order of axes after advanced indexing"
In some cases, order of axes after advanced indexing differs betwen NumPy and CuPy.

[code]

The `Ellipsis` index is not always equivalent with some number of slices (`(slice(None),) * n`).  The NumPy doc says

in https://numpy.org/doc/stable/reference/arrays.indexing.html#combining-advanced-and-basic-indexing.

The function `internal.complete_slice_list` may not be a correct way to implement `Ell

[2021-03-03 18:03] leofang commented on #4644
Hi @ax3l, sorry I dropped the ball. So, yes, `__cuda_array_interface__` is a Python-only protocol. If you already support buffer protocol (at the C level) and you'd like to incorporate `__cuda_array_interface__`, we actually did this in mpi4py:
https://github.com/mpi4py/mpi4py/blob/28eb557182bed368701165f99788bd2497d59f42/src/mpi4py/MPI/asgpubuf.pxi#L59
So if you check the function `Py_GetCUDABuff

[2021-03-03 19:46] mfoglio opened #4807 "How to get GPU model"
Is there a way to retrieve the GPU model?

For instance, in pycuda the device has the `name` function: see https://documen.tician.de/pycuda/driver.html#pycuda.driver.Device.name

[2021-03-03 20:18] leofang commented on #4807
Off top of my head:
https://github.com/cupy/cupy/blob/50f22f04d8a98fa1c67131fe65bfc0b15c73a432/cupyx/_runtime.py#L240-L243
I suppose it is fairly straightforward to support `cupy.cuda.Device().name` similar to PyCUDA's API if there's a need.

[2021-03-03 20:22] leofang commented on #4582
AFAIK the `.get()` API was a legacy from Chainer. CuPy encourages the following usage to do async transfer on streams:
[code]

[2021-03-04 00:49] kmaehashi commented on #4582
As Leo commented we encourage setting a stream using the context manager. `cupy.array` does not provide `stream` argument because it is a counterpart of `numpy.array` so we don't want to change the signature.

[2021-03-04 01:06] #4749 closed

[2021-03-04 02:52] rlratzel commented on #4219
Apologies for the long delay in updating this.

We agree that adding cuGraph as a soft dependency is a good idea. We've taken a similar approach for interop with other third party libraries and it has worked well, using patterns [like this](https://github.com/rapidsai/cugraph/blob/79745021553f227b2ed8a5a3508ddb7bda939c54/python/cugraph/utilities/utils.py#L281).

Also, the approach you describe for

[2021-03-04 05:03] emcastillo commented on #4219
I think that if in the midterm cugraph is moving to the `cugraph.compat.cupy` style, it is better to start implementing the functions using such compatibility module :). Is there any ETA for these? If they won't be available in a reasonable time frame, I guess that going with the regular API is fine as long as the switch from one API to another is no much more complicated than changing the namespa

[2021-03-04 06:27] ashkspark commented on #4387
I am getting a similar error when my array becomes large. I am using RTX 8000 . Here is the error:

cupy/core/_routines_linalg.pyx in cupy.core._routines_linalg.tensordot_core()

cupy/core/_routines_linalg.pyx in cupy.core._routines_linalg.tensordot_core()

cupy/core/_routines_linalg.pyx in cupy.core._routines_linalg._integral_tensordot_core()

cupy/core/raw.pyx in cupy.core.raw.RawKernel.__call__

[2021-03-04 06:33] kmaehashi commented on #4219
Thanks for the update @rlratzel! Will CuPy support in regular APIs be deprecated (or dropped) after the corresponding `cugraph.compat.cupy` feature is implemented? In that case, my concern is that it may introduce complex version restrictions (e.g. CuPy v9 requires `0.19<=cuGraph<=0.20`, CuPy v10 requires `0.20<=cuGraph<=0.21`, etc.), which is not a good experience for users.

[2021-03-04 06:41] leofang commented on #3834
This test is disabled in #4588.

[2021-03-04 06:41] #3834 closed

[2021-03-04 06:42] leofang commented on #3675
Looks like this is done.

[2021-03-04 06:43] #3675 closed

[2021-03-04 09:56] #4755 closed

[2021-03-04 19:44] rlratzel commented on #4219
Thank you for the questions @emcastillo and @kmaehashi .

I agree that writing to APIs that may be deprecated in the future would be problematic.  We have a few options for this, but I think that using the new cugraph/cupy compat module would be best path forward.  Our estimate for an initial 0.19 nightly release of cugraph that has a cupy compat module with the `connected_components` API would be

[2021-03-05 01:52] #4383 closed

[2021-03-05 02:47] #4779 closed

[2021-03-05 03:06] takagi commented on #4750
Exhaustive list of MODULES in `cupy_setup_buid.py`:
- mandatory
  - cuda
  - cusolver
  - cutensor
  - cub
  - jitify
  - random
  - thrust
  - dlpack
- optional
  - nccl
  - cudnn
  - nvtx

[2021-03-05 06:27] cjnolet opened #4817 "Implement Cupy equivalent of numpy.degree2rad"
The k-nearest neighbors implementation in 0.19 is going to include Haversine as one of the distance options. We followed Scikit-learn's style of assuming the input has been normalized to radians and it would be useful to provide a simple convenience function for users to convert a matrix of degrees to radians on device.

[2021-03-05 06:49] leofang commented on #4817
There is already a `cupy.deg2rad`, following `numpy.deg2rad`: https://docs.cupy.dev/en/stable/reference/generated/cupy.deg2rad.html
Am I missing something?

[2021-03-05 09:59] takagi commented on #4673
I cannot reproduce this behavior on my local 😢

[2021-03-05 14:22] VisionaryMind commented on #4767
I have been going over multiple approaches to this problem. Given slowdowns in both initialization and small datasets (that don't saturate the GPU computing surface), I have consolidated the entire dataset into a single cuDF dataframe and then attempt to vectorize functions over its contents with CuPy.

First, a brief summary of what we are trying to do -- We process gigabyte / terrabyte pointclou

[2021-03-05 14:49] willemavjc opened #4821 "CuPy memory leak? (Outstanding consumption.)"
Hello.

I am wondering how is managed the memory through CuPy and if there could be an issue in the way it is handled.
Let me explain:

I was curious about CuPy and decided to compare it against NumPy via a very simple code that can be find below.
While it works like a charm on NumPy - so on CPU and standard RAM - it totally crashes with CuPy: `cupy.cuda.memory.OutOfMemoryError` is thrown.

[code]

[2021-03-05 16:57] leofang commented on #3344
This is done in #4138.

[2021-03-05 17:05] leofang commented on #2431
Relate: #4219.

[2021-03-05 17:49] leofang commented on #4132
@kmaehashi @takagi Looks like something went wrong recently. The number of CI errors went from 9X to 18X:
https://github.com/kmaehashi/cupy-rocm-ci-report/compare/ce51038..d66d2c55
Looks like sorting is broken.

[2021-03-05 18:19] leofang commented on #4132
This is the offending commit: https://github.com/cupy/cupy/commit/74c54b07a9d8a0f1c0130e6cfec989b3aa3ed867

[2021-03-05 18:20] allisonvacanti commented on #4383
@leofang Can you reduce the reproducer in https://github.com/cupy/cupy/issues/4383#issuecomment-748283782 to remove external deps and just use headers from the CUDA Toolkit?

[2021-03-05 18:39] leofang commented on #4383
@allisonvacanti Yes, from the godbolt test (https://godbolt.org/z/oKM7a4) that I posted above, the first 3 cupy headers can be safely removed (I cherry-picked a specialization so that they are not needed), and the two CUB headers can be replaced by either those from CUDA Toolkit or from "legacy" CUB (1.8.0, which godbolt also provides). Note that godbolt built it just fine using nvcc.

[2021-03-05 22:17] kkotyk opened #4825 "cupy.lib.stride_tricks.as_strided(...) not consistent with Numpy?"
Using strides causes memory allocations to balloon in size. It looks like as_strided() is not creating a view of the array the same way that Numpy does.

[code]
The output of this example shows:

[code]

So it appears that when using as_strided, Cupy using the original array as a base. Does anyone have a suggestion on how to deal with this?

[2021-03-05 23:45] allisonvacanti commented on #4383
@leofang Just to confirm -- You still see NVRTC fail with

[code]

after those changes?

[2021-03-06 05:05] emcastillo commented on #4821
Hi.
Unfortunately, that is not Host memory but GPU memory. Also, the GPU you use has only 2GB of available memory.
Your array is ~1GB, but there are intermediate memory allocations, the random generator state, and more stuff going on. Moreover, the use of the windows graphic server also consumes device RAM. I am afraid there is no other solution to this than to either use small arrays or a gpu wit

[2021-03-06 10:47] willemavjc commented on #4821
@emcastillo First, thanks for your reply. There is still things that are not clear to me though.

I was surprised too from the official specs but Windows states I have 4GB. The way I use to see the specs are: `Task Manager > GPU 1: NVIDIA Quadro P620`.

From there I can see the following:

1. `GPU dedicated memory: 4GB`
2. `GPU shared memory: 8GB`
3. `GPU memory: 12GB`

Is the way I'm getting thes

[2021-03-06 15:26] keckj opened #4828 "Ability to pass structured types by value as kernel parameters"
Currently, it is not possible to pass structures **by value** as kernel arguments. Only some fixed size numpy dtype arguments have been hardcoded yet in `cupy/cuda/function.pyx`. This implies that a cupy kernel launch only succeeds with numpy.generic arguments which are scalar types with itemsize 1, 2, 4, 8 or 16 bytes. This allows us to pass directly by value np.int8 up to np.complex128 numpy dat

[2021-03-07 17:43] keckj commented on #4828
This example is now running with PR #4829.

[2021-03-08 01:30] PyMarc2 commented on #2225
+1 really useful and intuitive feature.

[2021-03-08 03:32] kmaehashi commented on #4775
Thank you for the report! This is interesting, we have a guard for the case that pinned memory cannot be allocated for the transfer; it should fall back to sync mode if pinned memory cannot be allocated.
https://github.com/cupy/cupy/blob/2fd13b80ba108bcc12d102fd7fa9d5da0ced7eaf/cupy/core/core.pyx#L2375-L2388
Could you paste the `$ ulimit -a` output? If `locked-in-memory size`  is restricted, could

[2021-03-08 03:57] leofang commented on #4828
This is very nice capability indeed! I've skimmed over your PR #4829 btw (thanks for quickly putting together a nice work there), but this issue seems to be more appropriate for high-level discussions.

Just to supplement the 4kB thing: This refers to a dedicated constant memory of size 4kB for storing kernel parameters:
https://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#function-par

[2021-03-08 05:11] leofang commented on #4767
Hi @VisionaryMind Thank you for your detailed explanation! I think it's helpful for us to learn more how to help.

So on your `rotateclouds` function: It looks like the inputs `x`, `y`, `z`, and `pads` are 1D arrays of size 2400, and `rs` is a 2400-stack of 4\*4 matrices? And for each point `i` (total 2400) you need to take a dot product of `(x_i, y_i, z_i, pad_i)` with the associated 4\*4 matrix?

[2021-03-08 05:15] toslunar commented on #4511
`randint` has the same difference.

[code]

[2021-03-08 05:30] leofang commented on #4383
Yes @allisonvacanti, so this is precisely the test you're asking for:
https://github.com/cupy/cupy/blob/4e63310017851789a9a8787b8b11ffb62bcebe03/tests/cupy_tests/core_tests/test_raw.py#L1273-L1286
Previously (before I skipped it with `xfail`), it fails with the same error on Windows. The kernel there is just a very innocent one, with one CUB header included (which is not used at all) to test if Ji

[2021-03-08 05:45] emcastillo commented on #4821
For the `cupyx.time.repeat` you can take a look at this comment:
https://github.com/cupy/cupy/issues/4767#issuecomment-789127812

Randint is not currently very efficient due to curand limitations in the old random generator API.
If you install CuPy v9 you can use the new numpy random API where randint is much more memory efficient and faster.

https://docs.cupy.dev/en/latest/reference/random.html

[2021-03-08 06:53] leofang commented on #1532
Well, I was just thinking about this and decided to take a quick look. Turns out in this case when performing `b = np.array(a, dtype=cp.float32)` there's an internal copy causing the segfault:
[code]
Perhaps it's just me using the buffer protocol with NumPy incorrectly, but it also shows how unsafe it can be...

The good news is it seems Cython does most of the work for us. Taking the view is work

[2021-03-08 08:04] kmaehashi commented on #4219
We are planning a stable branch cut on 2021-03-25 (v9rc1 release: https://github.com/cupy/cupy/issues/3891), so ideally, introducing a new dependency to v9 should be done by that. However as `cupyx.scipy.sparse.csgraph` is a new/independent module, I think we can make an exception. Even that `cupyx.scipy.sparse.csgraph.connected_components` API should be marked experimental (or maybe undocumented?

[2021-03-08 08:07] kmaehashi opened #4831 "Introduce Type Annotations in CuPy APIs"
c.f. https://numpy.org/devdocs/reference/typing.html

[2021-03-08 08:50] nizamov commented on #4775
This is what "ulimit -a" shows on my PC running Debian 11 (testing at the moment). On two other PCs, running Ubuntu 20.04 and Debian 10 (stable), output is pretty much the same, excluding max locked memory - they have 65536.

[code]

After changing this limit to unlimited (and having checked that this was applied) I run the test script with the same result - memory allocation steadily grows until

[2021-03-08 09:42] nizamov commented on #4821
Judging that np.sum() gives the same value for a random array:  3814.697265625 for numpy and 3814.697265625 on cupy, I guess that you were operating on the same array - created in numpy, then transferred it to cupy. The script you posted seems to be not the script that failed, but rather the script that succeeded (reason for that is below).

I haven't looked exactly what is going on under the hood

[2021-03-08 11:55] keckj commented on #4828
I am not sure that your example with `void*` and `MemoryPointer` is 100% equivalent. If I understand this correctly you first need to allocate GPU memory with `cupy.cuda.memory.alloc`, wrap it in a `cupy.cuda.MemoryPointer`, find some way to initialize this memory on device side with a RawKernel or by raw host->device copy from some initialized host buffer with matching memory layout, change your

[2021-03-08 13:08] crusaderky opened #4834 "excessive memory usage in einsum"
cupy 8.5.0
numpy 1.19.4
Python 3.9
anaconda (conda-forge)
GeForce GTX 970

[code]
Output:
[code]
numpy performs the same operation with negligible peak memory usage.

[2021-03-08 13:18] crusaderky commented on #4834
The above is equivalent to:
[code]

[2021-03-08 15:56] kkraus14 commented on #4767
I'm keeping an eye on this, but seems like there aren't any questions related to cuDF as it's mainly just being used as a convenience storage mechanism here. One comment I will make is that cuDF stores data differently than Pandas does under the hood. CuDF is purely columnar, so each column is effectively a 1d array likely with its own memory allocation, whereas Pandas has the block manager under

[2021-03-08 16:17] rlratzel commented on #4219
Thanks @kmaehashi . I'm prioritizing the cupy `compat` module for `connected_components` and I think we'll have a nightly cugraph build with that feature before the 2021-03-25 date you mentioned.  I will update this issue with progress before then too.

You are correct though that a nightly release should not be considered stable, and that the cuGraph 0.19 release will be the next stable release c

[2021-03-08 16:31] kmaehashi commented on #4219
I'm thinking of the similar way as we do for scipy:

https://github.com/cupy/cupy/blob/9218c4118781e47f2163c2a8579b52afa1ffaaec/cupyx/scipy/sparse/compressed.py#L3-L7

So I guess no special handling is needed in cuGraph side.

[2021-03-08 17:14] cjnolet commented on #4817
Yeah, for some reason I missed

[2021-03-08 17:14] #4817 closed

[2021-03-08 17:59] allisonvacanti commented on #4383
Thanks @leofang -- I heard back over the weekend and the compiler folks are looking for a reproduction without any extra headers at all, including those from CUB.

Does this still happen if the empty macro is defined in the input source directly?

[2021-03-08 19:15] gletreut opened #4838 "einsum slow?"
I have started using CuPy recently. In my application, it seems that the function `einsum` has not a consistent execution speed. In the 1st example below, it is up to 5 times slower than the `tensordot` function (eg for M = 128 and 2048). In the second example below, it is slower than `dot` but as fast as `tensordot`. Am I doing a mistake in the usage of `einsum`?

My code:
[code]

My results:
[co

[2021-03-08 20:53] #4719 closed

[2021-03-09 00:04] crusaderky commented on #4834
Without looking at the cupy code, I would guess that cupy fully calculates and stores in memory the intermediate result w @ c (which is huge), whereas numpy immediately reduces to scalar for each i,j

[2021-03-09 00:44] #4309 closed

[2021-03-09 01:27] #4750 closed

[2021-03-09 03:39] leofang commented on #4821
The line
[code]
causes OOM error since N=10^9, meaning you are allocating an array (excluding all intermediate buffers etc) of size ~4GB (on Windows, the default of `randint()` is to use 32-bit int). Your GPU only has 4GB ram. If you did not set the memory allocator to use managed memory, there's no way for either CUDA or CuPy (which builds on top of CUDA) to do the smart memory management and spr

[2021-03-09 03:41] leofang commented on #4831
btw Array API (#4789) also requires typed APIs, but since it's contained in a standalone namespace, it's much easier to address that CuPy itself.

[2021-03-09 05:49] #3344 closed

[2021-03-09 05:59] leofang commented on #4383
According to the test @emcastillo and I did (https://github.com/cupy/cupy/pull/4771#issuecomment-790271807), no, which is why we were so puzzled. @emcastillo also tried hiding the empty macros in a header and include it, and we had no luck. Perhaps we need to hide it deeper to confuse the compiler...

[2021-03-09 06:06] emcastillo commented on #4838
You are not synchronizing the device when measuring the times, so you are only getting cpu time for some of your results.

This is your script in my environment

[code]

Modified to correctly measure time

[code]

Times are roughly the same

[2021-03-09 10:00] IvanYashchuk opened #4847 "syevjBatched from cuSOLVER sometimes doesn't work correctly"
I didn't find this issue being reported. I'd like to let CuPy team know that cuSOLVER's `syevjBatched` (`cupy.cusolver._syevj_batched`) contains a bug leading to wrong results for some inputs. Eigenvalues are just the diagonal of the matrix, that is not correct. Single matrix input `syevj` doesn't have this problem.

[code]

[code]

[2021-03-09 10:41] willemavjc commented on #4821
Thanks for the shortlink. Just read it. The remark made there does not apply in this context from my understanding: I am only measuring `cp.sum()` time operation and not the array initialization so that timing should be guaranteed to be fairly evaluated between numpy and cupy.

Hmm... This does not explain why NumPy is more efficient. Does your explanation implies that Numpy mapped a new random ge

[2021-03-09 11:02] crusaderky commented on #4834
@emcastillo first run:
[code]
Second execution of the jupyter notebook cell, without restarting the interpreter:
[code]

[2021-03-09 11:06] kmaehashi opened #4850 "Do not bundle cuDNN / NCCL for all wheel packages starting in CuPy v9"
We have been distributing binary packages (`cupy-cudaXXX`) via PyPI. However recently the size of GPU-related packages (including CuPy) is starting to cause a problem on PyPI (see [discussions on Python forum](https://discuss.python.org/t/what-to-do-about-gpus-and-the-built-distributions-that-support-them/7125)).

We take this problem seriously, and to help PyPI ecosystem healthy, we are planning

[2021-03-09 11:46] #4511 closed

[2021-03-09 14:05] #4243 closed

[2021-03-09 14:09] pentschev commented on #4850
As we discussed earlier today on our call, could we extend this effort to conda packages, effectively making cuDNN an optional install rather than a requirement?

[2021-03-09 14:28] emcastillo commented on #4821
Yes, it does apply. When you run a CuPy call, most of the time, the call returns immediately and the operation is done in the background in the GPU. So if you don't synchronize the device, you won't get the total time of the operation.
measuring only cupy.sum() without doing device synchronization is only measuring the `sum` kernel time launch.
CuPy does manage all this asynchronous stuff automati

[2021-03-09 14:29] emcastillo commented on #4834
In here
[code]
Does setting `optimize=True` help?

[2021-03-09 18:00] gletreut commented on #4838
Thank you for the clarifications. If I want to benchmark `einsum` from NumPy versus CuPy, should I use the `timeit` module for NumPy and your method for CuPy?

[2021-03-09 20:34] leofang commented on #4850
@pentschev This is totally doable (cc: @jakirkham). Do you mind opening up an issue in https://github.com/conda-forge/cupy-feedstock so we can track this need there?

[2021-03-09 20:41] leofang commented on #4850
Sorry, I spoke too fast. There is a tiny bit of work that needs to be done in CuPy, namely how to detect the absence of optional dependencies (cudnn/nccl/cutensor) and ask users to install them through Conda. We already have a mechanism to recommend doing `python -m cupyx.tools.install_library` as needed, so the best case scenario is we modify it to accommodate Conda.

[2021-03-09 20:58] leofang commented on #3872
This will be the last tests to fix after all other Windows fixes are in! 🙂

[2021-03-09 21:14] tarunn2799 opened #4855 "How do I resize an image tensor?"
Hey, I'm a beginner trying to get an idea of how to use cupy for ndimensional image processing.
I observed that I can use scipy transforms on my cupy array, as well as a small part of the docs that said I can also use opencv functions.

That part of the docs wasn't quite clear, and now I'm simply trying to resize an image along with the option to choose my appropriate interpolations, like PIL or c

[2021-03-09 21:35] leofang commented on #4821
@emcastillo's reply seems pretty clear at least to me, so I'll just add one more thing: This part of doc that you linked is recently restructured to become a tutorial, see https://docs.cupy.dev/en/latest/tutorial/memory.html. It was buried somewhere in the old version, but it was there.

Another thing I forgot to ask: You mentioned CuPy saturates 8GB CPU memory -- How did you monitor it? Almost al

[2021-03-09 21:40] jakirkham commented on #4850
So what happens when `nccl` is not present? It raises an error and asks the user to install?

[2021-03-10 02:33] emcastillo commented on #4838
For cpu times do
[code]
Instead :)

[2021-03-10 02:39] gletreut commented on #4838
Thanks!

[2021-03-10 02:43] emcastillo commented on #4807
This seems to be solved, so let's close it.

[2021-03-10 02:43] #4807 closed

[2021-03-10 02:47] kmaehashi commented on #4850
Currently, wheels use library metadata (in JSON) which is generated and bundled during the wheel build process.
https://github.com/cupy/cupy/blob/v9.0.0b3/cupy/_environment.py#L22-L48

Warnings are displayed using the metadata as follows:
https://github.com/cupy/cupy/blob/v9.0.0b3/cupy/cuda/cudnn.py#L9-L14
https://github.com/cupy/cupy/blob/v9.0.0b3/cupy/_environment.py#L330-L341

We can extend the

[2021-03-10 03:15] emcastillo commented on #4847
@anaruse might this be a cuda bug?

[2021-03-10 08:16] #944 closed

[2021-03-10 14:02] hyperfraise opened #4863 "Compile without modules to reduce memory footprint"
Hi.

I see that, in the latest version, minimum memory footprint is about 190MB.

Is there a way to remove some modules from compilation, like cudnn or nccl, in order to reduce this ?

I only need to do some very basic things with cupy. Barely more than resizing and reshaping. And I don't need it to be fast anyways.

Thank you in advance.

[2021-03-10 14:05] awthomp commented on #4476
Hi @thomasaarholt and @kmaehashi.

I've confirmed that cupy's roll can't take in a *cupy* array for the shift argument, but -- since `cp.roll` is leveraging numpy's broadcast function, this *will* work if you use a numpy array for the shift argument.

[code]

Unfortunately, Thomas's suggestion to change `numpy.broadcast` to `cupy.broadcast` doesn't work as the cupy broadcast object isn't iteratabl

[2021-03-10 14:59] leofang opened #4865 "Flaky test `tests.cupy_tests.cuda_tests.test_texture.TestCUDAarray`"
[code]
https://jenkins.preferred.jp/job/chainer/job/cupy_pr/3316/

I've seen a variety of different test parameter combinations, and I think the only parameter that matters is `xp='cupy'`, meaning we copy GPU arrays to texture memory.

[2021-03-10 15:56] thomasaarholt commented on #4476
That seems fine to me. I'd recommend adding a warning explaining what is happening (if a cupy array is passed) so its clear to users that the shift is being copied to the cpu.

[2021-03-10 16:28] leofang commented on #4865
btw I can't reproduce this locally.

[2021-03-10 17:55] leofang commented on #4850
We can just add the metadata to the conda recipe by hand, as I tried once (https://github.com/conda-forge/cupy-feedstock/pull/75), it's not difficult.

What could be potentially concerning is runtime version pinning. How restrictive is it if CuPy builds with library vX.Y, but later on Conda-Forge we release vX.Z (with Z > Y)? I suppose all optional CUDA libraries (cuDNN, NCCL, cuTENSOR) are stable

[2021-03-10 18:03] leofang commented on #4850
FYI the pinning is done here for cuDNN:
https://github.com/cupy/cupy/blob/aeea48208ed71af4ae0f70ff26a8df35a9bd08ce/cupyx/tools/install_library.py#L53-L81
cuTENSOR and NCCL are done in the same file, just scroll down a bit.

[2021-03-10 18:11] mfoglio opened #4866 "Cupy out of memory in multithreading applications"
I have an application that starts several threads. Each thread uses cupy. There seems to be some memory leakage but I cannot understand why.

I tried to set the memory limit as soon as I start the application:

[code]
However, when debugging, if I stop in one of the threads and run `cp.get_default_memory_pool().get_limit()` the memory limits seem 0.

I then used an environment variable `CUPY_GPU_M

[2021-03-10 18:48] mfoglio commented on #4866
Possibly related to this: https://stackoverflow.com/questions/63061699/memory-leak-in-python-for-loop-even-if-i-delete-all-variables-at-the-end-of-each

[2021-03-10 19:50] leofang commented on #4789
See numpy/numpy#18585.

[2021-03-11 00:00] jpivarski opened #4867 "Supporting nan_to_num's "nan", "posinf", and "neginf" arguments"
[cupy.nan_to_num](https://docs.cupy.dev/en/stable/reference/generated/cupy.nan_to_num.html) was implemented in #1391, but as a ufunc instead of a function that takes non-array arguments, as in NumPy. This means we can't pass the `nan`, `posinf`, or `neginf` arguments to it, as in [numpy.nan_to_num](https://docs.scipy.org/doc/numpy/reference/generated/numpy.nan_to_num.html).

My CuPy version is 8.5

[2021-03-11 02:59] povinsahu1909 commented on #4692
Can I work on this issue?

[2021-03-11 03:02] takagi commented on #4132
Newly got strange failures...

[code]
[code]

[code]

`1.875` is higher four bytes of double `1.0` interpreted as a (single) float so the first two elements seem to be occupied by `1.0` in double.

[2021-03-11 05:35] leofang commented on #4676
@anaruse Am I making sense on this? 🙂

[2021-03-11 05:41] kmaehashi opened #4869 "Improve interoperability docs"
https://docs.cupy.dev/en/latest/reference/interoperability.html

* Add PyTorch section
    * Move an example code from DLPack section
    * Add a link to memory pool sharing feature in pytorch-pfn-extras: https://github.com/pfnet/pytorch-pfn-extras/blob/master/docs/cuda.md.
    * Add an example of `cupy.asarray` and `torch.as_tensor` as PyTorch 1.3+ supports `__cuda_array_inferface__`
* Describe t

[2021-03-11 05:48] leofang commented on #4869
I'd also like to mention RMM as a alternative choice of memory allocator (cc: @jakirkham @kkraus14).

[2021-03-11 07:09] jakirkham commented on #4869
cc @harrism @jrhemstad

[2021-03-11 07:19] kmaehashi commented on #4850
I think there's no problem at API/ABI level. cuDNN won't remove old API in the same major version ([docs](https://docs.nvidia.com/deeplearning/cudnn/developer-guide/index.html#backward-compatibility)).
Only case I come up with is the regression like this: https://github.com/cupy/cupy/pull/4081

That being said, it seems other projects are pinning at vX.Y level (but not vX.Y.0 level)?
https://githu

[2021-03-11 08:25] povinsahu1909 commented on #4557
Hi @emcastillo, could you please guide me on how to add these non implemented distributions. As I got confused between Generators and RandomState.

[2021-03-11 08:34] emcastillo commented on #4557
Hi, thanks!
I will send a sample PR so you can get some guidance.

[2021-03-11 10:54] aligoglos opened #4872 "module 'cupy' has no attribute 'memoize'"
I've installed `cupy-cuda102 8.5.0 ` on python3.7 and windows 10 and want to run source code that use `@cupy.memoize(for_each_device=True)` but this error rise:

`AttributeError: module 'cupy' has no attribute 'memoize'`

[2021-03-11 15:46] leofang commented on #3625
I sent #4870 (still WIP) to address this need.

[2021-03-12 01:45] leofang commented on #4850
I am less certain about how Anaconda pins these dependencies, but on Conda-Forge we pin cuDNN at major version for CUDA 10.2+:
https://github.com/conda-forge/conda-forge-pinning-feedstock/blob/8d5c6323a0bad155e4b27e32e2a4200084097255/recipe/migrations/cuda111_112.yaml#L63-L68
https://github.com/conda-forge/cudnn-feedstock/blob/bf7a75bd9bf0bff8217f6b1371584bed9cf43a7d/recipe/meta.yaml#L36
Same appl

[2021-03-12 13:42] povinsahu1909 commented on #4692
While going through this issue I found that if `device.get_cusparse_handle()` is `None` then `eigsh` function ends up on a `value error`. I think the most probable reason for his behaviour is because of line 204, which is the multiplication of NumPy array and Cupy array.

https://github.com/cupy/cupy/blob/880918c978dc6f8eb91585764e2501b1ca2bea89/cupyx/scipy/sparse/linalg/_eigen.py#L200-L205

If I

[2021-03-12 15:59] povinsahu1909 commented on #4692
@leofang, I also want to bring to your notice that this function was not listed on the comparison list. And many functions was not listed there but were already implemented.

[2021-03-12 16:55] leofang commented on #4692
Absolutely 🙂 AFAIK no one is working on this.

I think line 204 is fine. Both `A` and `v` are CuPy arrays IIUC. Do we really need to worry about this part? What happens when you follow my suggestion https://github.com/cupy/cupy/issues/4692#issuecomment-782930397? I expected that to enable `SM`/`SA` only requires very small changes, as the workflow is largely identical.

It would be great if you ca

[2021-03-12 19:23] povinsahu1909 commented on #4692
There is no need to worry about this, as I overlooked it.

[2021-03-12 19:44] povinsahu1909 commented on #4692
I applied your suggestion and made some changes. Currently, tests fail for `SM` and were giving  `AssertionError` due to either array mismatch or due to value greater than the tolerance.

I added following lines
[code]
to
https://github.com/cupy/cupy/blob/880918c978dc6f8eb91585764e2501b1ca2bea89/cupyx/scipy/sparse/linalg/_eigen.py#L271-L278
Could you please guide me on how to pass the unit tests.

[2021-03-12 20:05] jakirkham opened #4874 "Using `-Xfatbin=-compress-all` for kernel compilation"
Not sure how relevant this is for how CuPy compiles things, but something we have been exploring in RAPIDS that may be of interest is building with `-Xfatbin=-compress-all`. In some cases this can make for quite dramatic reductions in compiled kernel sizes. For an example please see PR ( https://github.com/rapidsai/cudf/pull/7583 ). Again not sure if this is relevant for how CuPy is building thing

[2021-03-13 01:09] leofang opened #4875 "[BUG] NVRTC does not support <type_traits> out of box"
On the current master, this snippet
[code]
raises an exception:
[code]
This is a regression due to #3683 adding this line:
https://github.com/cupy/cupy/blob/fa21dd5d43ea93a48ccfa3bd796da101cf4c1c7c/cupy/core/include/cupy/carray.cuh#L4
NVRTC does not support most of the C++ std headers, which is why we need Jitify. I don't know how come all tests managed to pass so far...🤔

[2021-03-13 05:51] leofang commented on #4692
Could you post the full traceback here? It's not possible for me or most people to immediately see where an `AssertionError` could be raised from without more info.

Well, for this task a quick search is the best first step to start with. You can first take a look at what functions in the same module are documented (which you already did), then you can search the module name either using GitHub's

[2021-03-13 06:15] povinsahu1909 commented on #4511
I'll try to fix this inconsistency and check for more and try to fix them.

[2021-03-13 07:07] povinsahu1909 commented on #4692
When `return_eigenvectors=True` in testcase:
[code]
When `return_eigenvectors=False` in testcase:
[code]

[2021-03-13 07:46] leofang commented on #4692
OK I see what you meant. In this case, I would suggest to look at the `return_eigenvectors` description:

https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.linalg.eigsh.html

It also controls how return values are sorted, so it's likely that the patch you applied in https://github.com/cupy/cupy/issues/4692#issuecomment-797713190 is not sufficient to guarantee the sort order.

[2021-03-13 12:43] povinsahu1909 commented on #4692
In my case, only the second condition for 'SM' was not fulfilled, but then also test cases for `return_eignevectors=True` is failing

 If return_eigenvectors is True, eigenvalues are sorted by algebraic value.
If return_eigenvectors is False, eigenvalues are sorted by decreasing absolute value.

So I tried after modifying code by adding condition for second case, but still tests were unsuccessful

[2021-03-13 15:45] oliversmith6500 opened #4881 "cupy._default_memory_pool.total_bytes() suddenly returns -1"
Hi,

Using cupy 9.0.0b3.

Here's my scenario:

- allocating a large (1 billion bytes) cp.array at the beginning of my program, then deallocating it immediately. As a result, total_bytes() = 1000000000, and used_bytes() = 0. I do this so that cupy CUDA-allocates memory once for all, and then reuses that allocated memory.
- I then allocate an NdImage, then use cupy's NdImage.zoom(), then deallocate.

[2021-03-14 02:25] emcastillo commented on #4821
yes, but you can easily install it with `pip install cupy-cudaXXX==9.0.0b3`

[2021-03-14 02:28] emcastillo commented on #4866
Can you add a minimum reproducible example?
It is hard to track where the memory leak is happening without knowing the executed routines.

[2021-03-14 13:39] din14970 opened #4882 "map_coordinates does not seem to work with order unspecified"
I'm trying to use `cupyx.scipy.ndimage.map_coordinates` to convert images to polar coordinates. In the documentation it says the default `order` is 1 when left unspecified. I was trying to use this function for polar transforming images but kept getting 0 arrays returned. Only when I explicitly set `order=1` did it work:

Minimal example:

[code]
![image](https://user-images.githubusercontent.com/

[2021-03-14 13:59] willemavjc commented on #4821
It seems not:
[code]

Was able to build it from source though:
[code]

Should be testing it shortly.

[2021-03-14 15:01] willemavjc commented on #4821
Figured out the increasing memory consumption for NumPy: The new integer generator is giving `int64` by default while the old was giving `int` meaning `int32`.

Adding `dtype=np.int32` put things in order for NumPy.

For CuPy though, this did not help.

[2021-03-15 03:40] emcastillo commented on #4557
You can check https://github.com/cupy/cupy/pull/4885
for reference!

[2021-03-15 12:25] kmaehashi commented on #4874
Thanks for sharing this! I tried this in locally (my environment uses `export CUPY_NVCC_GENERATE_CODE=arch=compute_60,code=sm_60;arch=compute_70,code=sm_70;arch=compute_80,code=sm_80`) and measured `du -csh cupy cupyx cupy_backends`:

* with compression: 95MB
* without compression: 102MB

In CuPy it seems the effect is limited because `nvcc` is only used for a few modules (cub/thrust/random).

Mor

[2021-03-15 12:44] redradist opened #4891 "[Issue] cp.matmul slower than np.matmul ??"
I've faced with the issue that by some reason `cp.matmul` is slower than `np.matmul`

* Conditions (you can just paste the output of `python -c 'import cupy; cupy.show_config()'`)
[code]
* Code to reproduce:
[code]
Output measurements:
[code]

[2021-03-15 14:51] anaruse commented on #4891
Thanks for reporting the issue.

That is probably due to the low double precision performance of the GPU used. Could you try changing the sample code as shown below to measure the performance in single precision?

[code]

[2021-03-15 19:50] jakirkham opened #4892 "Adding `using_pinned_memory_allocator`"
Just as we have [`using_allocator`]( https://docs.cupy.dev/en/stable/reference/generated/cupy.cuda.using_allocator.html ) for device memory, it would be helpful to have a similar function for pinned memory. This way one could affect the pinned memory allocator used in a `with`-block of code

[2021-03-15 22:11] rlratzel commented on #4219
We have an update on the implementation plan for this:

It looks like RAPIDS 0.19 will only be supporting CuPy versions prior to v9, meaning there would be a conflict if CuPy 9 users attempted to install RAPIDS cuGraph 0.19 as originally proposed in this RFC.  Instead, we're proposing that CuPy use `libcugraph` (the C++ graph backend to cuGraph) to provide the graph analytics support for CuPy grap

[2021-03-16 16:18] redradist commented on #4891
@anaruse

Oh ... you are right, I've tested and now performance on GPU much better:
[code]

Is there a way to suggest user to use some type for performance ?
For example if I run some test function that will suggest to use some types:
[code]

[2021-03-16 19:53] jakirkham commented on #3378
cc @grlee77 (as this may be useful for speeding up convolutions in some cases)

[2021-03-16 22:16] arnaudvl opened #4896 "Slow sum/mean/max/... matrix operations compared to PyTorch"
`x.sum()` where `x` is an NxN matrix seems to be significantly slower than e.g. the PyTorch equivalent (87x slower for N=10,000). This behaviour is also observed for other reduce operations such as `.mean()` or `.max()` and gets worse as N grows.

* Conditions (you can just paste the output of `python -c 'import cupy; cupy.show_config()'`)

[code]
PyTorch Version: 1.8.0

* Code to reproduce

[code

[2021-03-17 02:53] emcastillo commented on #4896
Try using CUB or cuTENSOR with the `CUPY_ACCELERATORS` env var.

https://docs.cupy.dev/en/stable/reference/environment.html

[2021-03-17 05:57] kmaehashi commented on #4847
Thanks for the report! I could reproduce this with CUDA 11.2.

[2021-03-17 06:49] kmaehashi commented on #4863
Optional libraries like cuDNN and NCCL are not built if they're unavailable at build time. You can also consider using `CUPY_NVCC_GENERATE_CODE=current` option to reduce fatbin size by building CuPy for your GPU only.

[2021-03-17 06:49] bharatk-parallel commented on #2742
May I know what is the official support with latest cupy version for cuFFT Multi GPU?

Is it:
step 1: Copy dat ato gpu --> f_gpu = cp.asarray(f) # move the data to the current device
step 2: Set number of GPU --> cp.fft.config.use_multi_gpus = True cp.fft.config.set_cufft_gpus(8)
step 3 Call FFT --> fk_gpu =  cp.fft.rfftn(f_gpu)/(Nx*Ny*Nz)

Is this the right approach? The documentation says it is

[2021-03-17 06:50] kmaehashi commented on #4872
Could you try uninstalling all CuPy packages installed (check output from `pip list`), then reinstall `cupy-cuda102`?

[2021-03-17 06:54] kmaehashi commented on #4881
Hi, thanks for reporting. It would be great if you could share the code to reproduce the issue.
`total_bytes` is defined to return `size_t` which is unsigned, so `-1` is strange.
https://github.com/cupy/cupy/blob/v9.0.0b3/cupy/cuda/memory.pyx#L1444

If you are building from source, also try again with the wheel release.

[2021-03-17 06:58] kmaehashi commented on #4892
Just to make the scope of this issue clear: does the API intends to change the NumPy allocator (https://github.com/numpy/numpy/pull/17582), or just change how `numpy.ndarray` is allocated internally in CuPy?

[2021-03-17 07:22] jakirkham commented on #4892
Oh was just thinking this would be another way to change how [`alloc_pinned_memory`]( https://docs.cupy.dev/en/stable/reference/generated/cupy.cuda.alloc_pinned_memory.html ) behaves in CuPy

Yeah it will be interesting to see what that that NumPy API looks like when it is finalized. Right now it is just a C API AFAICT. Leo mentioned there would be some interest in using this from Python ( https:/

[2021-03-17 07:56] fcunilim commented on #4881
Thanks for your reply. It is very difficult to share the code, as the problem is buried deep in my code base.

I have slightly narrowed down the issue.

My main training loop is sometimes requesting more memory, so reallocation occurs. It does it twice. This is not a big issue in itself. I try to avoid this in general as TF does not always appreciate concurrent use of GPU memory.

The required mem

[2021-03-17 08:01] oliversmith6500 commented on #4881
(using the right account). Thanks for your reply. It is very difficult to share the code, as the problem is buried deep in my code base.

I have slightly narrowed down the issue.

My main training loop is sometimes requesting more memory, so reallocation occurs. It does it twice. This is not a big issue in itself. I try to avoid this in general as TF does not always appreciate concurrent use of GP

[2021-03-17 08:07] emcastillo opened #4897 "Use CUB by default"
It feels a bit weird that since cub is bundled in cupy and performs quite fast in the majority of cases, it is not the default choice for at least routines such as sum or mission-critical ones.

Are there any issues that prevent us from using CUB by default, at least in routines?

I was discussing offline with @kmaehashi and maybe reproducibility of results with cub is not ensured, but I am not fa

[2021-03-17 08:16] leofang commented on #4897
I don't remember in which issue/PR we decided to not make it default, but IIRC the concern was not about CUB's reproducibility, but about users code might not be perfectly reproducible after they upgrade CuPy if CuPy update the default backend.

AFAIK, CUB claims deterministic outcomes, so I wouldn't worry about it.

[2021-03-17 08:20] oliversmith6500 commented on #4881
- allocate large cupy array
- dispose of it. Total/used bytes: 1000000000/0

begin:
- create numpy array < 1000000000 in size in most cases
- check that cupy Total/used bytes is indeed 1000000000/0
- create cupy version of this array using cp.array
- call NdImage.zoom (this allocates more GPU memory)
- dispose of this data
- check that cupy Total/used bytes is indeed 1000000000/0 (*)

- TF trainin

[2021-03-17 08:32] leofang commented on #4897
But, be aware of https://github.com/cupy/cupy/issues/3822#issuecomment-782607637, and potential issues linked in #3723.

[2021-03-17 10:43] emcastillo commented on #4897
I think that we should select a series of routines where CUB is enabled by default.
Others could be left as experimental.

[2021-03-17 14:40] leofang commented on #4897
That's what I thought too. CUB reduction is definitely fine. I think it's probably safe to default everything except CUB SpMV.

[2021-03-17 16:10] leofang commented on #2742
Hi @bharatk-parallel, [I replied you on SO](https://stackoverflow.com/a/66676885/2344149), and copy my answer below so that this can be referenced by others in the future, as SO posts are not always persistent for some reason.

CuPy's multi-GPU FFT support currently has two kinds. One is with high-level `cupy.fft.{fft, ifft}` API, which requires the input array to reside on one of the participatin

[2021-03-17 20:54] viantirreau opened #4898 "UnboundLocalError on cuda/memory.pyx"
Hi!

I'm having an error when using a GPU from SpaCy, but originated in a cupy module.
The relevant (and repeatable) traceback is as follows:
[code]
I think the solution is pretty straightforward. In these lines
https://github.com/cupy/cupy/blob/2e95ed7e994b1db230501a69e8a323666164fb80/cupy/cuda/memory.pyx#L462-L480
the variable `ptr` is effectively undefined when the `stream` is not `None`.
I'm n

[2021-03-17 21:07] leofang commented on #4898
This doesn't make sense. `cupy.cuda.Stream` always has a `ptr` attribute. What  object did you pass to `stream` here? Could you show us a minimal reproducer?

[2021-03-17 21:13] viantirreau commented on #4898
Thanks for your fast response, @leofang
I'll try to build a minimal example from SpaCy's code

[2021-03-17 21:56] leofang commented on #4898
Thanks, that would be great. On a second thought, it's not AttributeError, so it might not be related to stream. Let me take a look.

[2021-03-17 22:01] leofang commented on #4898
btw which version of CuPy are you using?

[2021-03-17 22:04] mfoglio commented on #4866
I know. I am sorry, but I cannot provide the code due to IP and I am not being able to reproduce it with a smaller example. You can close the issue. As of now I have a code that worked: I am calling
[code]
when the memory usage exceeds a certain threshold. Also, I am calling it within a thread lock to avoid calling it twice at the same time from multiple threads (possibly that was the cause).
You

[2021-03-17 22:08] mfoglio opened #4899 "CUDA_ERROR_INVALID_HANDLE if activating the stream"
I am running two tensorRT engines and doing preprocessing using cupy.

A thread uploads numpy array to gpu using the following code:

[code]

The results of above function is then passed to another thread, an the array is merged:
[code]
On the second line I have the following error:

[code]

I don't have this error if I do not use the stream, but I am not sure why.

Is there a way I can check what

[2021-03-17 22:11] leofang commented on #4898
Sorry @viantirreau I spoke too fast. You are completely right. Exchanging L473 with L474 would do the job and was my intent in #4562. Thanks for spotting my oversight 😅 Would you like to send a PR?

[2021-03-17 22:27] viantirreau commented on #4898
Of course :)
I'll send it right away.
Just arrived home, I'm currently on v9.0.0b3

[2021-03-17 23:54] leofang commented on #4898
Thanks, @viantirreau!

[2021-03-18 00:01] leofang commented on #4898
And yes, I expect this bug to only appear in 9.0.0b2+. Thanks for confirming.

[2021-03-18 00:57] #3872 closed

[2021-03-18 02:52] kmaehashi opened #4902 "Documentation Issues"
- [ ] source link dead: https://docs.cupy.dev/en/stable/reference/generated/cupy.cuda.using_allocator.html
- [ ] some functions are undocumented (e.g. `cupy.conjugate`): https://docs.cupy.dev/en/stable/reference/comparison.html

[2021-03-18 05:27] toslunar opened #4903 "`out` arg of methods of `random.Generator` should be more strict"
At least, NumPy checks dtype and contiguity of `out`.

* Conditions (you can just paste the output of `python -c 'import cupy; cupy.show_config()'`)
  - CuPy version: master
* Code to reproduce

[code]

* Error messages, stack traces, or logs

[code]

[2021-03-18 06:20] leofang commented on #4902
It'd be nice to also document `cupyx.time.repeat` and mention it in, say, the tutorial, for how to perform a fair timing.

[2021-03-18 18:30] povinsahu1909 commented on #4557
Currently, I am trying to add poisson and binomial distribution. Should I wait until #4904 is merged?

[2021-03-18 19:45] mfoglio commented on #4899
It was probably a problem with contexts created by `import pycuda.autoinit`.

[2021-03-18 19:56] leofang commented on #4899
@mfoglio It's worth noting that CuPy's "current" streams are thread-local, in the sense that if you do
[code]
or
[code]
only the current thread sees the anticipated stream `s` and uses it for kernel launching, copying, etc.

Taking this as an example:
[code]
you can see the new thread does not get the stream you anticipated (pointer address 93917855534288).

[2021-03-18 23:56] emcastillo commented on #4557
neither poisson or binomial supports out kwarg so you don't need to wait
https://numpy.org/doc/stable/reference/random/generator.html

[2021-03-19 03:35] kmaehashi commented on #4219
Thank you for the update @rlratzel!

That makes sense as the RAPIDS 0.19 release is too close to v9 release date.

I discussed this in the dev team and we're a bit negative about this idea, as adding a dependency to a C/C++ library may incur more cost than it looks.
When will RAPIDS support CuPy v9?
I'm thinking of adding it to CuPy v10 (v10 branch will start next week) using cuGraph Python API as

[2021-03-19 04:48] emcastillo commented on #4557
Hi!, I changed a bit the way tests work in #4907 but you can just post your PRs now and I can take care of them later :)

[2021-03-19 05:50] leofang commented on #794
@kmaehashi this is fixed.

[2021-03-19 05:50] leofang commented on #4902
related: #3692

[2021-03-19 05:53] leofang commented on #4897
btw if we default to this, we fix #2750 for free, as CUB reduction is not strided. Though it's not a big deal.

We'll need to document whatever we decide (#3692).

[2021-03-19 06:07] #4903 closed

[2021-03-19 08:03] imPdhar commented on #4432
Hi, Is anyone working on this? If not, can somebody throw some light on this issue?

[2021-03-19 09:04] povinsahu1909 commented on #4557
I have made PR #4915 for an exponential distribution.

[2021-03-19 14:35] #794 closed

[2021-03-19 15:39] #4746 closed

[2021-03-19 20:52] chaithyagr commented on #2155
I just faced the exact same issue on COO sparse matrices.
H:

[code]

c on other hand is a full vector.

On CPU it takes 0.7-1 second, while on GPU it takes 76seconds..

[2021-03-20 03:12] takagi opened #4923 "Successive copy to the same device memory from a pinned memory takes no effect on AMD ROCm 4.0.0 + MI100"
On AMD ROCm 4.0.0 + MI100 GPU, I observed that successively copying data to the same device memory area from a pinned memory takes no effect. CuPy uses its memory pool facility to reuse a device memory area once allocated and sees this situation. Some tests on MI100 fail because of this. I'll also report this case to AMD folks.

[code]

Environment
[code]

Python reproducer
[code]

HIP reproducer

[2021-03-20 15:45] kmaehashi opened #4924 "Use `pathlib` instead of legacy `os.path.join` etc."
https://github.com/cupy/cupy/pull/4852#discussion_r597794826

[2021-03-20 16:06] kmaehashi opened #4925 "Making kernel_cache pluggable?"
Currently, CuPy provides file-based and on-memory kernel cache. I'm thinking of providing a pluggable API to manage caches to support more cache backends. One thing in my mind is Google Cloud Storage (GCS) based one so that we can use it in our CI.

c.f. sccache https://github.com/mozilla/sccache/, which is a ccache backed by shared storage like GCS.

I haven't looked into how sccache does this, m

[2021-03-20 16:20] kmaehashi commented on #4924
One thing we should be aware: some APIs lack support for `pathlib.Path` in earlier Python versions, e.g.
https://docs.python.org/3/library/shutil.html#shutil.unpack_archive

[2021-03-20 16:53] kmaehashi opened #4926 "Improve file-based kernel cache"
* Often `~/.cupy/kernel_cache` inode becomes very big. I think it's better to introduce a hierarchy e.g. using the first 2 chars from the cache key: `~/.cupy/ab/abXXXXXXXXX....cubin`.
* Avoid appending MD5 to a file. The reason this is introduced was to support Windows that needs special care to do atomic rename (https://github.com/cupy/cupy/pull/37/files).
  `os.replace` is in Python 3 so we can

[2021-03-21 01:01] leofang commented on #2155
Everyone, please try posting the code you use for timing so that we can reproduce and investigate.

[2021-03-21 02:29] leofang commented on #4926
I've been wondering about this. I would be interested in exploring solutions like periodically invalidating outdated caches (any update of CUDA or CuPy or CC versions could trigger this). We could also do it a bit aggressively, say purging caches older than a month. So far I've been cleaning this manually, and it would be great if there's a mechanism doing a better job than II do...😄

The hierarch

[2021-03-21 02:49] kmaehashi commented on #4926
How about adding this tool https://github.com/cupy/cupy/blob/master/.pfnci/trim_cupy_kernel_cache.py to `cupyx/tools`?

Also including a CuPy's major version ('8', '9', etc.) to filename may help managing caches.

[2021-03-21 04:44] kmaehashi commented on #4718
Implemented via #4908

[2021-03-21 04:44] #4718 closed

[2021-03-21 05:05] leofang commented on #3980
I think the first step IMHO is to add a new attribute to `cupy.cuda.Stream`, say `Stream.device`, that points to a `cupy.cuda.Device` object on which the stream is created. This would allow a quick lookup when the current stream needs to be retrieved from / stored to the thread-local storage.

[2021-03-21 05:10] leofang commented on #4926
Yeah, something like this would likely help. Do users need to run this manually? Is it cross platform (i.e. support Windows)?

[2021-03-21 06:09] kmaehashi commented on #4926
Yes, users need to manually run the tool. Once we have a hint tag in filename we can add some more convenient filters (e.g. purge all caches for non-current CUDA versions).
I'm not sure about running it automatically. If we do this for example at startup users may see it as "`import cupy` is extremely slow.
Maybe ading a warning to run the tool at shutdown if `os.stat('.cupy/kernel_cache').st_size

[2021-03-21 08:34] #4898 closed

[2021-03-21 09:06] povinsahu1909 commented on #4692
I tried solving the problem of adding the `SM` method, and I found that for `return_eigenvectors = True`, all the eigenvalues generated match with what is expected, but their corresponding eigenvectors don't. And thus causing the failure of tests.

And for `return_eigenvectors = False`, up to three iteration generated eigenvalue matches desired eigenvalue but after that due to tolerance test fails

[2021-03-21 16:00] kmaehashi commented on #4350
Implemented via #4351

[2021-03-21 16:00] #4350 closed

[2021-03-21 16:01] #3629 closed

[2021-03-21 16:05] kmaehashi commented on #3133
Closing as we migrated to `pydata_sphinx_theme`. `pydata_sphinx_theme` has the same issue (stub pages generated by Sphinx's `autosummary` links to invalid page), so we turned off this Edit link feature.

https://pydata-sphinx-theme.readthedocs.io/en/latest/user_guide/configuring.html#add-an-edit-this-page-button

[2021-03-21 16:05] #3133 closed

[2021-03-21 16:08] kmaehashi commented on #2863
Closing this as we're now managing this task in #3420.

[2021-03-21 16:08] #2863 closed

[2021-03-21 16:08] kmaehashi commented on #2762
Closing as we implemented this in a separate library.
https://github.com/pfnet/pytorch-pfn-extras/blob/master/docs/cuda.md

[2021-03-21 16:08] #2762 closed

[2021-03-21 16:12] kmaehashi commented on #2349
This feature was implemented in #4177 with a limited set of distributions. See also #4557.

[2021-03-21 16:12] #2349 closed

[2021-03-21 16:13] #2332 closed

[2021-03-21 16:14] #2218 closed

[2021-03-21 16:39] #1434 closed

[2021-03-21 16:40] kmaehashi commented on #1434
https://github.com/cupy/cupy/pull/3052

[2021-03-21 16:41] kmaehashi commented on #1394
Added via #1871

[2021-03-21 16:41] #1394 closed

[2021-03-21 16:44] kmaehashi commented on #1364
Fixed via #4619

[2021-03-21 16:44] #1364 closed

[2021-03-21 16:48] #896 closed

[2021-03-21 17:59] ameyachawla99 opened #4936 "Added the implementation of method "alen""
Hi , I am Ameya Chawla currently pursuing my B.Tech in Computer Science and Engineering .
I read about your organization in GSOC 2021 and looking forward to work with your organization .

Added the implementation of method "alen" in #4935
Please can you review my implementation and suggest any change to be made
as mentioned in the comparison document
https://docs.cupy.dev/en/stable/reference/compa

[2021-03-21 22:13] rlratzel commented on #4219
@kmaehashi , thank you for the update. I was hoping you could describe the costs you're thinking of if cupy were to integrate `libcugraph` instead of the `cugraph` Python package. Is it the additional cython bindings that might be needed, or perhaps the build environment changes, or something else?  I'm just asking since after we looked again at the cost of integrating the `cugraph` python API (as

[2021-03-22 05:24] #4875 closed

[2021-03-22 07:20] kmaehashi commented on #4936
Closing as discussed in #4935.

[2021-03-22 07:20] #4936 closed

[2021-03-22 09:53] #4850 closed

[2021-03-22 13:08] #4600 closed

[2021-03-22 17:09] leofang commented on #4673
Just a thought: fixing #3980 might fix this, as the "current stream" shouldn't be the same for all devices.

[2021-03-22 17:57] leofang commented on #4865
We need to do a stress test: Open two terminals locally, and run the following script simultaneously in each terminal:
[code]
Random failures will appear! It's important to have each run on a different stream to push the limit. I'll look into it further and see if I can come up with a proper fix.

[2021-03-22 17:58] leofang commented on #4865
(The test is done with the latest master branch, CUDA 11.0, RTX 2080 Ti with driver 450.57.)

[2021-03-22 19:27] leofang commented on #4673
Needs to do a stress test similar to what's done in https://github.com/cupy/cupy/issues/4865#issuecomment-804272731: Open two terminals locally, and run the following script simultaneously in each terminal:
[code]

[2021-03-22 19:37] leofang commented on #4673
Unlike #4946 which is relatively straightforward to fix, I think from the above reproducer that the work proposed in #3980 is definitely needed to make a proper fix, because it is not at all obvious in the failing test code
https://github.com/cupy/cupy/blob/d8e18f8c8ebb2e5f5f6147da5ea2fd2047274d24/tests/cupy_tests/manipulation_tests/test_basic.py#L82-L86
that one should expect a per-device stream

[2021-03-22 19:54] leofang commented on #4673
Even better reproducer to stress the need of a per-device current stream:
[code]
which leads to
[code]

[2021-03-22 20:18] jakirkham commented on #4219
FWIW I wrote up some thoughts on how to handle the dependency in conda-forge in issue ( https://github.com/conda-forge/cupy-feedstock/issues/112 )

[2021-03-23 02:14] SaugatBhattarai commented on #2070
Check this Doc. There was support issue with various cuda version:
https://docs.cupy.dev/en/stable/install.html?highlight=install#requirements

[2021-03-23 02:49] mfoglio commented on #4899
Thank you @leofang . I think it was probably an issue with pycuda's contexts.

Can you confirm the following cupy operations will be executed before the functions return? I am still having some other issues and I am not sure whether they might be related to these pieces of code.

[code]

[code]

Thanks

[2021-03-23 04:26] #4405 closed

[2021-03-23 07:32] #4865 closed

[2021-03-23 11:09] kmaehashi commented on #4704
We got approval so I uploaded Linux wheels. Description updated.

[2021-03-23 11:09] #4704 closed

[2021-03-23 21:57] RendersJens opened #4958 "Transpose and Hermitian adjoint are switched for LinearOperator"
Not sure if this is appropriate to post here, because this bug is also present in the original scipy code ([reported](https://github.com/scipy/scipy/issues/13734)), However, it is a bug in cupyx.scipy too. Here it is extra annoying because it blocks me from using `A.T @ x` where `x` is a Numpy array, because cp.conj then throws an error.

For some reason, the definition of Hermition adjoint and Tr

[2021-03-24 02:42] kmaehashi opened #4959 "Support ROCm 4.1"

[2021-03-24 05:26] kmaehashi opened #4960 "Keep build version somewhere else than `cupy.cuda`"
Currently build-time version of CUDA optional libs are recorded at each corresponding CuPy module e.g. `cupy_backends.cuda.libs.nccl.get_build_version() (NCCL_VERSION_CODE)`.
However users can't see that info if NCCL is unavailable because the module itself cannot be imported.
It's better to record build-time variables somewhere else than the module itself so that it can be used in `cupy.show_conf

[2021-03-24 07:03] leofang commented on #4959
related: https://github.com/cupy/cupy/pull/4961

[2021-03-24 07:26] leofang commented on #4673
I enabled per-device current streams locally (https://github.com/leofang/cupy/tree/per_device_stream), and `CUDA_ERROR_INVALID_HANDLE` from the above script is gone, but the actual multi-GPU copy tests still fail under the stress test. Not sure what I am missing...

[2021-03-24 07:41] kmaehashi opened #4964 "JIT Documentation"
* Abstract
* Basic design (AST-based parsing‚ etc.)
* List of API
* Usage
    * cupy.vectorize
    * @jit.rawkernel
    * jit.syncthreads
    * etc.
* Limitation

[2021-03-24 08:03] emcastillo commented on #4673
Maybe we need to synchronize both streams?

[2021-03-24 08:06] leofang commented on #4673
I thought about that too, but I tried this patch to establish a correct stream order and it still fails...
[code]

[2021-03-24 08:14] emcastillo commented on #4673
can we do the data copy the other way around?

[2021-03-24 08:23] leofang commented on #4673
We can, and I can give it a shot tomorrow, but I am not sure why it'd help. With my patches, we correctly call `cudaMemcpyAsync` on the source's current stream, so shouldn't everything be serialized on that?

[2021-03-24 10:42] #2993 closed

[2021-03-24 11:36] jogehl commented on #4768
This would be a great feature for exampling for solving high dimensional partial differential equations.

[2021-03-24 12:02] chaithyagr commented on #2155
I was trying to compare lsqr with spsolve, which was not a correct comparision. However, the recent `spsolve` is also equally bad:

[code]

We see the following times:
For CPU Float64 : 2.452335516611735
For GPU Float32 : 9.574527422587076
For GPU Float64 : 11.103930393854776

cupy Version: 9.0
Cuda version: 10.1
Nvidia driver version : 460
GPU : P6000

[2021-03-24 15:06] mfoglio commented on #4899
Thank you @leofang . The issue was caused by pycuda contexts. I was using cupy but an `import pycuda.autoinit` was initializing a contexts that leads to the crash.

[2021-03-24 15:06] #4899 closed

[2021-03-24 15:27] RendersJens commented on #4958
This seems to be a (strange) design choice of scipy, so I will close this issue here

[2021-03-24 15:27] #4958 closed

[2021-03-24 15:58] ChristopherMayes commented on #4266
The SciPy implementation is this C function:
https://github.com/scipy/scipy/blob/master/scipy/special/cephes/ellik.c

It's a modification of the old Cephes one to deal with negative parameter `m`.

[2021-03-24 17:41] #4256 closed

[2021-03-24 20:55] hhslepicka commented on #4266
@leofang could you give us a hand with this?
Instructions on where to start would already be great so we can give it a try.

[2021-03-24 21:10] leofang commented on #4266
I'd add code to `cupyx/scipy/special/_elliptic.py`. It seems the implementation can be wrapped either in a `core.create_ufunc()` object (see other files in that folder for how to use this internal API), a `cupy.ElementwiseKernel()` (see the [Tutorial](https://docs.cupy.dev/en/latest/tutorial/kernel.html) for how to write one if you don't know already; search the codebase, as we also use it frequen

[2021-03-24 21:39] leofang commented on #4266
(btw, my above reply was based on the possibility of a straightforward migration of that SciPy implementation from C to CUDA, but obviously it'd take some effort to verify and optimize.)

[2021-03-24 22:43] hhslepicka commented on #4266
Thank you @leofang we will keep you posted. 👍

[2021-03-25 00:23] emcastillo commented on #2155
There is a benchmark in #4392, at the end of the post you have to click to unwrap it. Can you run it in your environment?

[2021-03-25 00:29] RendersJens commented on #2155
Looking at the source code, it seems like cupy's lsqr is a completely different algorithm from that of scipy. Is it even iterative? and if so, how do I set the iter_lim and tolerances?

[2021-03-25 01:15] #2552 closed

[2021-03-25 01:17] emcastillo commented on #4549
Added support for GUFuncs and made matmul use it, this will be available in v9.0.0rc1 that is releasing today.

[2021-03-25 01:17] #4549 closed

[2021-03-25 02:15] #2141 closed

[2021-03-25 02:18] kmaehashi commented on #2136
Closing as Anaconda now provides CuPy v8.3.0. https://anaconda.org/anaconda/cupy

For Linux, we recommend using conda-forge channel as documented in:
https://docs.cupy.dev/en/latest/install.html#installing-cupy-from-conda-forge

[2021-03-25 02:18] #2136 closed

[2021-03-25 05:50] kmaehashi opened #4971 "👀 Looking for missing CUDA 11.0 / 11.1 wheels?"
### CuPy v9.0.0 / v9.1.0 / v9.2.0 Wheels for Linux & Windows

v9.0.0 / v9.1.0 / v9.2.0 wheels for CUDA 11.0 ([`cupy-cuda110`](https://pypi.org/project/cupy-cuda110/)) / 11.1 ([`cupy-cuda111`](https://pypi.org/project/cupy-cuda111/)) are not available on PyPI. Wheels can be downloaded from the Assets section of the [Release page](https://github.com/cupy/cupy/releases/).

[code]

### CuPy v8.6.0 Whe

[2021-03-25 06:46] leofang commented on #2136
For this week's release, we can try to build for Windows on Conda-Forge.

[2021-03-25 19:46] leofang commented on #4959
[code]

[2021-03-25 23:33] buckeye17 opened #4975 "Erratic histogram behavior"
I've been struggling with cupy.histogram() for more than 8 hours at this point.  My data resides in a `dask_cudf` dataframe.  When I use the following code, the results are as expected.
[code]

However, what I really want to do is prescribe the bin edges myself, and that's where the erratic behavior is seen.  When I modify my code as follows, it will sometimes return expected results and other tim

[2021-03-26 04:06] emcastillo commented on #4975
Could it be that the dask compute its happening in a different stream?

[2021-03-26 04:48] ameyachawla99 opened #4979 "GSOC 2021 Proposal"
Respected sir/madam

Hi , I am Ameya Chawla currently pursuing my B.Tech in Computer Science and Engineering .
I read about your organization in GSOC 2021 and looking forward to work with your organization .

I have also made a pull request "Implemented the Hyperbolic Sine Function for matrix #4944"

Please can you guide further how should start working .

Please can you share a sample template fo

[2021-03-26 06:57] emcastillo commented on #4979
Please join gitter and lets discuss it there.

https://gitter.im/cupy/community

[2021-03-26 06:57] #4979 closed

[2021-03-26 15:56] kmaehashi opened #4983 "`distutils` deprecation (Python 3.10 support)"
`distutils` is deprecating in Python 3.10 so we should get ready for it.
https://www.python.org/dev/peps/pep-0632/
https://github.com/scipy/scipy/issues/13615

Thanks @leofang for letting us know 😄

[2021-03-26 18:28] leofang opened #4984 "Windows build failure on CUDA 11.2"
This fails with CuPy v8.6.0 and likely v9.0.0rc1 as well: https://github.com/conda-forge/cupy-feedstock/pull/113#issuecomment-807202827
[code]
My theory is that on our Windows CI we use VS2015, but on Conda-Forge we use VS2017. According to the VS docs the C3615 error is only raised with VS2017, so we didn't catch it.

[2021-03-26 18:28] leofang commented on #4984
What I don't understand is why it only failed with CUDA 11.2.

[2021-03-26 18:50] kmaehashi commented on #4984
Maybe related: https://github.com/cupy/cupy/pull/4698 https://github.com/cupy/cupy/pull/4730

[2021-03-26 19:04] leofang commented on #4984
I thought #4735 fixed it...?

[2021-03-26 19:16] kmaehashi commented on #4984
I guess we should have used the value of `_MSVC_LANG ` to determine use of `constrexpr`, instead of just `_WIN32` flag...?
https://github.com/NVIDIA/thrust/blob/96a7e7b6bd99027c8450b11d02195a0209df6fa7/thrust/detail/config/cpp_dialect.h#L61-L69

[2021-03-26 19:30] leofang commented on #4828
Sorry for my late reply!

It is, from the perspective of having a pointer to a contiguous chunk of memory, so

up to here it is correct, with one catch that we don't care about the memory layout, as literally it's really just filing up the memory, and so

this is not needed. We really just need to pass a `void*`, and then cast it to whatever needed:
[code]

Yes, I think your ongoing PR #4829 opens

[2021-03-26 19:32] leofang commented on #4984
Yeah... see my earlier comment: https://github.com/cupy/cupy/pull/4713#issuecomment-784366574

[2021-03-26 19:56] leofang commented on #4960
Same for cub and jitify: In sdist the version look-up using git commits cannot be done, so it's best to burn their versions in somewhere.
https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=296118&view=logs&j=bb161906-9c9f-5a9b-90ad-afa0705db589&t=b06b688a-a4b8-5fb1-6917-07594fdabe28&l=439

[2021-03-26 20:40] leofang commented on #4975
cc: @jakirkham @pentschev as this involves Dask + CuPy

[2021-03-26 22:08] buckeye17 commented on #4975
@emcastillo @leofang Thanks for your consideration.  I've discovered the erratic behavior is actually caused by my various preprocessing pipelines.  When I can convert the datetime to an integer (required for the histogram), sometimes the integers are 1*10^15 and sometimes the integers are 1*10^18.  My predefined bin edges were only valid for one of these cases.  So the erratic behavior had nothin

[2021-03-26 22:08] #4975 closed

[2021-03-27 03:31] leofang opened #4986 "Batched QR solver"
This is for ~~both NumPy compatibility and also~~ the Python Array API standard (#4789, WIP proposal: data-apis/array-api#126).

Currently we have this check:
https://github.com/cupy/cupy/blob/07171d785422df01d2d0b41b41268c26d02d1331/cupy/linalg/_decomposition.py#L238-L240
so we can only support a 2D matrix, but we might be able to follow the approach of batched svd and pinv to support batched QR

[2021-03-27 04:02] leofang commented on #4986
Oops, read it too quickly: NumPy does not support it currently, so this is just for Array API.
[code]

[2021-03-27 08:49] keckj commented on #4828
I just meant that it is easier to introduce the underlying type of the global array directly in the arguments of the function, there is no need to define an additional pointer variable and to manually cast the input pointer later on. Or maybe I am missing something.

Yes you made me realize hat you can `cudaMemcpy` directly to the symbol if you know its size and obtain the pointer with `get_global

[2021-03-27 17:50] insertinterestingnamehere opened #4988 "asarray Ignores the Current Stream"
Right now, when copying from one GPU to another, cupy.asarray (and ndarray.copy) execute on the default stream even if some other stream is currently in use. This is because cudaMemcpy always runs on the default stream. This can cause synchronization issues if the next operation on the current stream executes on the copied data. This shows up in a larger app I'm helping with, but we haven't yet fo

[2021-03-28 21:28] leofang commented on #4988
I think we also need to fix #3980...

[2021-03-29 04:09] leofang commented on #4926
Sounds good to me, but now I am concerned with a multi-process environment like Dask or mpi4py. We might need a lock to do this...?

Right, I forgot, sorry 😅

[2021-03-29 04:14] leofang commented on #4591
If `getCUBIN()` is enabled by default, this problem would be avoided: https://stackoverflow.com/a/66788739/2344149

tl;dr: To keep the kernel cache valid (without recompiling), users not only have to keep `~/.cupy/kernel_cache` but also `~/.nv/ComputeCache`, because CuPy only gets and caches the PTXs from `getPTX()`.

[2021-03-29 04:15] leofang commented on #4926
btw it'd be nice to also distinguish from the hint tag whether it's ptx being cached or cubin (#4591).

[2021-03-29 04:49] leofang commented on #4290
Is it possible to prioritize for "raw cuda kernel code output"? Might be useful for early adopters 🙂

[2021-03-29 14:30] leofang opened #4997 "CuPy JIT failure in ROCm"
Reproducible on ROCm 3.5.0 and 4.0.0:
[code]
There are multiple problems:
1. hipRTC apparently does not recognize `-D`, so any macros remain undefined:
[code]
2. The headers `cupy/tuple.cuh` are not manually unrolled: they should be added to the `extra_sources` list in `cupy/_core/core.pyx`
3. `thrust::swap` implementation is not recognized: Actually I don't know how CUDA tests passed, because app

[2021-03-29 14:46] takagi commented on #4997
I overlooked the failure in `test_raw.py` when I checked the change of #4951...

[2021-03-29 15:14] takagi commented on #4997
hiprtc itself uses `-D` option?
https://github.com/ROCm-Developer-Tools/HIP/blob/main/rocclr/hip_rtc.cpp#L222-L223

[2021-03-29 15:23] povinsahu1909 commented on #4557
Can I take this issue for my GSoC project?

[2021-03-29 16:09] leofang commented on #4997
That's really strange. I can verify the macros they defined (`HIP_VERSION_MAJOR`, `HIP_VERSION_MINOR`) are valid, but not user-supplied ones.

[2021-03-29 17:00] leofang commented on #4997
@takagi I reported to upstream: https://github.com/ROCm-Developer-Tools/HIP/issues/2248

[2021-03-29 17:06] leofang commented on #4923
@takagi Could you verify this is fixed on ROCm 4.1.0?

[2021-03-29 17:53] jakirkham commented on #4975
Instead of computing the results from Dask-cuDF, it may be worth using `to_dask_array` to convert to a Dask Array (backed by CuPy) and then using `da.histogram` to perform the computation with Dask

[2021-03-30 03:54] PavelStishenko opened #5000 "Sparse SVD fails if matrix rank is lower than the requested number of singular values k"
* Conditions
CuPy Version                 : 9.0.0rc1
NumPy Version                : 1.20.1
SciPy Version                : 1.6.2
CUDA Build Version           : 11010
CUDA Driver Version          : 11020
CUDA Runtime Version         : 11010

* Code to reproduce
[code]

* Error messages, stack traces, or logs
[code]

The problem is probably in `svds()` code with `n_large` variable. Currently it is no

[2021-03-30 04:12] takagi commented on #4557
We want to have these distributions earlier than GSoC period, if possible, half of them before v9 release (Apr. 22)

[2021-03-30 04:23] takagi commented on #4997
I see...

[2021-03-30 05:32] PavelStishenko opened #5001 "Sparse eigsh works wrong on low-rank matrix"
* Conditions
CuPy Version : 9.0.0rc1
NumPy Version : 1.20.1
SciPy Version : 1.6.2
CUDA Build Version : 11010
CUDA Driver Version : 11020
CUDA Runtime Version : 11010

* Code to reproduce
[code]
* Error messages, stack traces, or logs
The last assert fails.
`eigsh` works fine with full-rank matrix, but gives completely wrong eigenvalues on low-rank (`a_trunc`) matrix.

This issue i similar to #5000

[2021-03-30 05:33] Mazay0 commented on #5000
There is a similar issue #5001 , but I think it is another bug, with similar test conditions

[2021-03-30 06:21] emcastillo commented on #4988
this seems to be the cause behind the flaky copy_to multigpu tests

[2021-03-30 09:10] takagi commented on #4923
Sure! Wait a moment...

[2021-03-30 09:55] leofang commented on #4997
I spoke too fast. These two macros have different values (I got (3, 5) for ROCm 3.5.0, not (9, 0) as indicated in the code), so actually it's set elsewhere and not working in the HIP codebase either...

[2021-03-30 10:28] leofang commented on #4923
Sorry, I meant to say I tested the C++ code with 4.1.0 + MI100 and it works fine 😅 but it's better to confirm

[2021-03-30 10:41] takagi commented on #4923
😅 Anyway, I also checked it works!

[2021-03-30 10:41] #4923 closed

[2021-03-30 15:19] leofang commented on #4988
I don't think #4673 is related to this. @takagi Could you run the stress tests (https://github.com/cupy/cupy/issues/4673#issuecomment-804335269, https://github.com/cupy/cupy/issues/4673#issuecomment-804350948) with your patch #5004?

[2021-03-30 16:10] IvanYashchuk commented on #4847
With https://github.com/cupy/cupy/pull/4628 `cupy.linalg.svd` uses `_syevj_batched` for batched matrices of size less than 32x32. So this bug propagates to `cupy.linalg.svd`.

[2021-03-30 18:33] leofang commented on #4923
Thanks, @takagi. I suspect this bug has to do with numerous weird failures we saw earlier (ex: https://github.com/cupy/cupy/pull/4653#issuecomment-778724972). Let me report to upstream and get their confirmation for the fix.

[2021-03-30 18:53] insertinterestingnamehere opened #5006 "cupy.cuda.Device()._device_stack is not thread-local"
We noticed mysterious device switching behavior in a multithreaded app we're developing and have traced it back to the device stack used to make cupy.cuda.Device a context manager not being thread local. The net effect of this is that a single cupy.cuda.Device object can't safely be used as a context manager in different threads. We can work around this downstream, but this seems like a potential

[2021-03-30 19:41] leofang commented on #4847
Ahhh...OK, thanks for reporting @IvanYashchuk. Let me take care of it.

[2021-03-30 19:57] leofang commented on #4847
@IvanYashchuk I think you misread it. In #4628 the new batched SVD calls `_gesvdj_batched` (for SVD), not `_syevj_batched` (for eigenvalues and eigenvectors). In fact, we purposely tested the small-size matrices like those you used to make sure it behaves correctly:
https://github.com/cupy/cupy/blob/ff4cdd6db5989d513b8cf47aba97a2542bf704a0/tests/cupy_tests/linalg_tests/test_decomposition.py#L250-L

[2021-03-30 20:32] leofang commented on #4847
No worries, it happens! 😄 Get some rest.

[2021-03-30 20:52] insertinterestingnamehere commented on #5006
I'm not sure I fully follow your point about matching the behavior of cudaSetDevice. Can you elaborate? The problem I'm seeing is that the context manager API built on top of cudaSetDevice breaks when multiple threads use the same Device object simultaneously.

More concretely, the issue we were seeing is something like this:
Thread A: enters device 1 from device 0
Thread B: enters device 1 from d

[2021-03-30 22:25] insertinterestingnamehere commented on #5006
I think a workaround downstream is to refer to devices based off of their ids and initialize a new cupy.cuda.Device object every time we want to use the context manager and just store device ids. Neither this solution nor the thread-local storage one suggested above has any significant performance impact.

[2021-03-31 07:54] #4896 closed

[2021-03-31 07:57] #4872 closed

[2021-03-31 07:57] #4863 closed

[2021-03-31 08:03] #4838 closed

[2021-03-31 08:37] hyperfraise commented on #4863
Please reopen.

I tried commenting lines in there and it didn't change the GPU memory size taken
https://github.com/cupy/cupy/blob/master/cupy_setup_build.py

I removed almost everything and it was still always the same size in memory.

[2021-03-31 08:38] hyperfraise commented on #4863
How to reduce the memory footprint ?

[2021-03-31 08:47] kmaehashi opened #5008 "Avoid creating handles in `cupy.show_config()` ?"
[code]

When monitoring the memory usage before and after the call,

[2021-03-31 09:42] hyperfraise commented on #4863
Thank you.

[2021-03-31 16:49] liuyuezhang opened #5010 "cupyx.scipy.signal.convolve2d: cannot open source file "utility""
Thank you for using and contributing to CuPy!

If your issue is a **request for support in using CuPy**, please post it on [Stack Overflow](https://stackoverflow.com/questions/tagged/cupy) or Google Groups ([en](https://groups.google.com/forum/#!forum/cupy) / [ja](https://groups.google.com/forum/#!forum/cupy-ja)).
Developer team members are monitoring questions on these channels.

If it is a bug r

[2021-04-01 02:16] #4984 closed

[2021-04-01 14:48] leofang commented on #4902
I don't remember where we discussed this (sorry!), but we should also document common ROCm/HIP pitfalls.

[2021-04-01 20:01] leofang commented on #5010
I don't immediately see what's going on, but you may consider updating to CuPy v8.6.0, available on both PyPI (`pip install`) and Conda-Forge (`conda install -c conda-forge`).

Note that CUDA 9.0 (which you use) will no longer be supported in CuPy v9.

[2021-04-02 04:55] leofang commented on #4290
btw it'd be great in the future to allow passing compiler options to `cupyx.jit.rawkernel`, similar to what's already possible with `RawKernel` and `RawModule`. I think there are real interests from performance analysis perspective (with `-use_fast_math`, `-lineinfo`, `-v -warn-spills`, etc, see https://github.com/cupy/cupy/issues/3185#issuecomment-649064011 for example).

[2021-04-02 11:12] asi1024 opened #5018 "CuPy JIT: Undesired type promotion to int64"
## Background

Typical case is as follows:

[code]

Following CUDA code is generated.

[code]

## Typing rule

Currently, `cupyx.jit.rawkernel` supports 2 kinds of typing rules: `'cuda'` mode and `'numpy'` mode. The difference of the typing rule is only the default dtype of integer and floating type (`'cuda'`: `int32` and `float32`, `'numpy'`: `int64` and `float64`).
In both typing rules, the resu

[2021-04-02 14:31] leofang commented on #5018
Sounds good to me to default to the `'cuda'` mode!

[2021-04-02 19:15] outofculture opened #5021 "nditer complains of missing WRITEBACKIFCOPY"
### Short description
When given a CuPy array, NumPy's `nditer` complains that writable arrays implement WRITEBACKIFCOPY.

### Code to reproduce
[code]

### Expected behavior

`np.nditer` should be able to create an iterator over a CuPy array.

### Real behavior

[code]

### Tested environment(s)

[code]

### Additional context

Weirdly, when `nditer` is passed a _NumPy_ array without the WRITEBAC

[2021-04-02 19:41] michaelmarty opened #5022 "Issues with consecutive 2D FFT runs on the same plan"
I have noticed a problem when CuPy 2D FFTs with the same plan are run consecutively. With certain shapes, they give different and incorrect results the second time. This seems to only happen when the longer dimension of the shape is odd, but I have not done an exhaustive scan. NumPy and SciPy FFT functions show the expected result, and the first run of CuPy always agrees with these. The second run

[2021-04-02 19:44] michaelmarty commented on #5022
A quick note: Inserting cp.fft.config.get_plan_cache().clear() between B1 and B2 will fix the issue, but it takes a hit in speed.

[2021-04-02 19:46] leofang commented on #5022
I cannot reproduce this on Linux with exactly the same setup (CuPy v8.6.0 + CUDA 11.2). Could you let us know 1. how is you CuPy installed, and 2. the output of `cupy.show_config()`?

[2021-04-02 19:49] leofang commented on #5022
Given that it cannot be reproduced on Linux and that a fresh plan works correctly, I feel something messed up in the internal plan data of cuFFT. Could you also post the output of `print(cp.fft.config.get_plan_cache())` right after your reproducer?

[2021-04-02 19:59] michaelmarty commented on #5022
Yeah, this is a strange bug. I installed it with pip install cupy. We've seen it on multiple computers but all Windows. Here's the printouts.

OS                           : Windows-10-10.0.19041-SP0
CuPy Version                 : 8.6.0
NumPy Version                : 1.19.1
SciPy Version                : 1.5.2
Cython Build Version         : 0.29.22
CUDA Root                    : C:\Program Files\N

[2021-04-02 20:05] leofang commented on #5022
Thanks, @michaelmarty. An alternative workaround for you is to disable the cuFFT plan cache right after import so that you don't reuse already-used plans. But like you said, there's an overhead because of repetitive plan generation (which was why we cache them).
[code]

[2021-04-02 20:13] leofang commented on #5022
Hi @mnicely Sorry to bug you. We got a report that seems to imply a bug in cuFFT on Windows (see above). When a D2Z ND plan is used the second time to launch the transform, the outcome messed up. The first run is correct.

The arguments that are passed to create a ND plan
https://github.com/cupy/cupy/blob/cc6b3e583071d668ed1f3fc6e3f305526f2c54dd/cupy/cuda/cufft.pyx#L732-L735
are `(shape=(151, 2229

[2021-04-02 20:22] leofang commented on #5022
@michaelmarty Just curious, what if you run it a few more times (with the cached plan)? Do you see B1 != B2 = B3 = B4 = ...?
[code]
I am curious if the bug is deterministic.

[2021-04-02 20:56] michaelmarty commented on #5022
It gives the same response for B2, B3, and B4:

(-174.93917882602588-1.0658141036401503e-13j) (-6.01654092402711-2.6645352591003757e-15j) (-6.01654092402711-2.6645352591003757e-15j) (-6.01654092402711-2.6645352591003757e-15j)

Another note to add, we get the same problems with the fft2 as the rfft2. The even number work around seems to fix it well enough, but I wanted to post it to see if we can g

[2021-04-02 22:08] outofculture commented on #5021
A colleague points out that `nditer` is an anti-optimization in CuPy; block-by-block iteration isn't what a GPU should be used for. This may be best addressed by just documenting the unimplemented feature, with a note on why it'd be a bad idea, and maybe a suggestion to write a custom kernel instead.

[2021-04-03 06:18] leofang commented on #4926
related? #1890

[2021-04-03 06:38] leofang commented on #3989
If we just wanna reuse the handles, we can simply recast. Doesn't seem to worth the effort now that we test hipBLAS extensively. Closing...

[2021-04-03 06:38] #3989 closed

[2021-04-03 06:44] leofang commented on #5022
@michaelmarty For `fft2`, what are the failing array shapes? Note that cuFFT have special cases for 2^a * 3^b * 5^c * 7^d, so could you try a few cases in which the shapes are odd numbers but consist of these primes only?

[2021-04-03 08:55] kmaehashi commented on #3196
FYI: NGC's L4T ML Docker container provides CuPy v8 by default 😃
https://ngc.nvidia.com/catalog/containers/nvidia:l4t-ml

[2021-04-03 12:01] mnicely commented on #5022
@leofang thanks for the ping. I’ll file a bug.

@michaelmarty can you create a small reproducer?

[2021-04-04 00:02] rafael-fuente opened #5024 "cupyx.scipy.sparse.linalg.eigsh yields wrong results"
* Conditions
  - CuPy version: 9.0.0b3
  - OS/Platform: Windows-10
  - CUDA version: 11010

* Code to reproduce
[code]

Out:
[code]

These aren't the correct eigenvalues. The ones computed using scipy are the correct:

[code]

Out: (correct eigenvalues)
[code]

One additional note:
Replacing;
`T =  diags([-2. , 1. , 1. ], [0,-1, 1] , shape=(N, N))
`
by
`T =  diags([2. , -1. , -1. ], [0,-1, 1] , sh

[2021-04-05 03:41] leofang opened #5026 "`cupyx.scipy.fft.{hfft, ihfft}` ignored the `overwrite_x` argument"
See https://github.com/cupy/cupy/pull/4996#discussion_r606606797. I don't immediately see a band-aid fix, so keep this documented until I (or someone else!) do.

[2021-04-05 03:52] leofang commented on #4692
Sorry for not getting back @povinsahu1909. I don't have time to look into this yet, but looks like `eigsh` might have a bug somewhere (#5001, #5024), not sure if it is also the root cause that you couldn't get it right...

[2021-04-05 04:42] UmashankarTriforce commented on #5026
I would like to work on this, as soon as #4996 is merged!

[2021-04-05 04:55] leofang commented on #5026
I think one way to do it is to not call their NumPy counterparts (ex: `cupy.fft._fft.hfft`) directly, but instead call the internal function `_fft` or `_fftn` so that we can pass `overwrite_x`.

[2021-04-05 05:03] UmashankarTriforce commented on #5026
Yes I think that will fix it. Otherwise performing a deep copy to the input array from the auxiliary array might also work, but that would mean using additional space for the auxiliary array.

[2021-04-05 05:54] kmaehashi commented on #4290
This is nice-to-have: it would be great if source Python code can be embedded as comment in generated CUDA code so that users can easily debug casting issues etc. with #5017 API.

[2021-04-05 06:00] leofang commented on #4902
@kmaehashi I'd like to have a new page added to "Tutorial", placed between "Basics of CuPy" and "User-Defined Kernels". I am thinking to call it "Advanced Tricks of Using CuPy", in which we cover (a) a number of topics that advanced users would appreciate and (b) a number of items in which we invested efforts and would like users to try and give us feedbacks. My current list is:
- [ ] How to use s

[2021-04-05 06:11] kmaehashi commented on #4902
Thanks Leo! These docs would definitely help users 😄
I feel however these topics are more than "Tutorial" things. (that's why I reverted this: #4857)
I'm thinking it's better to rename "Tutorial" to "User Guide" following NumPy's docs: https://numpy.org/devdocs/user/index.html
Then we can move topics like Interoperability, Memory Management, API Compatibility Policy, Difference between CuPy and Nu

[2021-04-05 06:13] kmaehashi commented on #4891
Thank you for the feedback! I understand that think is one of the common pitfalls when moving from NumPy to CuPy. Let us cover this topic in #1566.

[2021-04-05 06:13] #4891 closed

[2021-04-05 06:21] kmaehashi commented on #4219
Hi @rlratzel, sorry I dropped a ball here :bow:
One of our concerns introducing additional C++ dependencies was compiler compatibility issues like one we had with Thrust https://github.com/cupy/cupy/pull/5002/files. However we talked with Peter last week and understood that circular version dependencies are not possible to solve with my proposal, so I now think it's better to use libcugraph direct

[2021-04-05 06:30] leofang commented on #4219
@kmaehashi For the purpose of distributing on Conda-Forge (https://github.com/conda-forge/cupy-feedstock/issues/112), I'd like to know the plan on the main repo. We can discuss it either here or in #4940.

[2021-04-05 09:21] #3696 closed

[2021-04-05 09:38] kmaehashi opened #5031 "Removing experimental flag for `cupyx.time.repeat`"
We originally named `cupyx.time.repeat` as it is similar to `timeit.repeat`, but later we noticed that the semantics is slightly different between them. The latter measures the time taken to run given code for *number* times and repeat that measurement for *repeat* times. This is one of the reason why we marked it as experimental.

However, it is important to provide a stable API for benchmarking

[2021-04-05 09:57] kmaehashi commented on #4988
I asked @asi1024 to test @leofang's reproducer with this PR.

[2021-04-05 13:27] Mazay0 commented on #5024
Looks like the issue #5001

[2021-04-05 14:28] leofang commented on #5031
Do you mean you wanna rename the API? If so there's #2896. Just FYI 🙂

[2021-04-05 14:31] kmaehashi commented on #5031
Ah, ok, totally overlooked that issue 😅

[2021-04-05 14:31] #5031 closed

[2021-04-05 14:32] kmaehashi commented on #2896
#5031

[2021-04-05 16:57] leofang commented on #4975
Cool, thanks John for the tips!

[2021-04-05 17:09] leofang commented on #4902
Sounds good, @kmaehashi! If you send a restructuring PR for this I'll be able to build upon it. I can also send it if you like.

[2021-04-05 17:39] kmaehashi commented on #4673
CI does not have NVLink.

Thanks for the reproducer! However, I think this reproducer is not an appropriate for `test_copyto_multigpu` flaky issue. This code enqueues DtoH copy of `b` *after* destroying the stream used for `arange`, so D2H can happen before  `arange` kernel or P2P copy.
![Screen Shot 2021-04-06 at 2 35 30](https://user-images.githubusercontent.com/939877/113605186-422b1780-9681-11

[2021-04-05 17:42] leofang commented on #4673
Sorry, which reproducer did you refer to? 1 (https://github.com/cupy/cupy/issues/4673#issuecomment-804335269) or 2 (https://github.com/cupy/cupy/issues/4673#issuecomment-804350948)?

[2021-04-05 17:43] kmaehashi commented on #4673
The first one.

[2021-04-05 17:43] kmaehashi commented on #4673
For record: this is a regression in v8.0.0a1. https://github.com/cupy/cupy/pull/2942

[2021-04-05 17:52] kmaehashi commented on #4673
I think the second code is not a reproducer of this issue as well; launching a kernel using a stream that belongs to a different device will raise that error (although I understand that we need to manage stream per device 😃 )

[code]

[2021-04-05 17:58] leofang commented on #4673
hmmm, the 1st reproducer is taken from the failing test:
https://github.com/cupy/cupy/blob/10a3d9fda11ac90c283976a1bcd1d0e589fd922e/tests/cupy_tests/manipulation_tests/test_basic.py#L78-L87
Are you saying the extra line `s.use()` is not functioning correctly? But isn't the stream `s` put in the thread-local storage after `s.use()`? Could it be the destroyed stream is from the previous run? Maybe I

[2021-04-05 18:01] kmaehashi commented on #4673
`s` will be destroyed after returning from `test`, because `s.use()` will only keep weakref of `s` to thread-local storage.

[2021-04-05 18:05] leofang commented on #4673
Right I forgot it's a weakref.

[2021-04-05 18:14] leofang commented on #4673
OK I think you're right @kmaehashi. So we still need a reproducer...😞

[2021-04-05 18:22] leofang commented on #4673
I still feel the problem is in the lack of per-device current streams. When coping from device A to B, the copy stream must establish a stream order such that
1. the data is ready on A's current stream
2. the copy is performed on the copy stream
3. B's current stream waits for the copy stream (by stream wait event, as stream synchronization is not possible (copy stream is from source))

[2021-04-05 19:25] povinsahu1909 commented on #4692
I think that the major reason behind the error with 'SM' is due to the current algorithm used. Currently, we are using the Thick-Restart Lanczos method which did not produce solutions with the same accuracies for smallest eigenvalues.
Page 38 para 4 https://sdm.lbl.gov/~kewu/ps/trlan.ps

Whereas Scipy is using the Implicitly Restarted Lanczos Method (IRLM) with shift and invert spectral transforma

[2021-04-06 05:15] #2085 closed

[2021-04-06 05:15] #2750 closed

[2021-04-06 05:15] #3692 closed

[2021-04-06 06:06] emcastillo commented on #4673
btw,

I just found that increasing the arrange size, we don't need to run the script in two terminals at the same time

[code]

[code]

This means that device 1 is reading from device 0 before it finished creating the array

[2021-04-06 08:12] emcastillo commented on #4673
We were playing with this offline and found the following reproducer
[code]

We suspected that some test is calling a `stream.use()` and not cleaning it after. And bingo
https://github.com/cupy/cupy/blob/master/tests/cupy_tests/cuda_tests/test_stream.py#L133-L137

If we are correct, once this test fails with #5040 we are going to see the tpds stream being activated by default.

[2021-04-06 08:23] emcastillo commented on #4988
This was the reason behind #4673
We confirmed it :D

[2021-04-06 12:52] mnicely commented on #5022
I'm unable to reproduce the error on the following configuration

[code]

[2021-04-06 12:55] leofang commented on #5022
@mnicely Thanks, very strange. How did you install CuPy on this machine, pip or conda?

[2021-04-06 12:56] mnicely commented on #5022
Installed miniconda3, then `conda install cupy -y`

[2021-04-06 12:58] mnicely commented on #5022
Confirmed the issue is not with `numpy == 1.19.1`

Let me see if I can install CTK 11.1 with the older version of cuFFT

[2021-04-06 13:00] leofang commented on #5022
`conda install -c conda-forge cupy cudatoolkit=11.1` should do the job (op is on 11.1)

[2021-04-06 13:06] mnicely commented on #5022
Okay, I see the issue!
Looks like it's been fixed in cuFFT 10.4.01.

@michaelmarty please install CTK 11.2

[2021-04-06 13:46] leofang commented on #5022
Great, thanks for checking for us @mnicely! May I ask the impact scope of this bug? Is it Windows only? Is it specific to CUDA 11.1? If the scope is known we can advice users to avoid it and/or add warnings/tests for it.

[2021-04-06 14:09] mnicely commented on #5022
It is CTK 11.1 specific -- https://docs.nvidia.com/cuda/archive/11.2.0/cuda-toolkit-release-notes/index.html#cufft-resolved-issues

"Plans with primes larger than 127 in FFT size decomposition or FFT size being a prime number bigger than 4093 do not perform calculations on second and subsequent cufftExecute* calls. Regression was introduced in cuFFT 11.1"

[2021-04-06 14:34] leofang commented on #5022
Interesting...We didn't see this regression on Linux, did we?

[2021-04-06 14:46] mnicely commented on #5022
I just verified it exists on Linux w/ CTK 11.1

[2021-04-06 15:00] chowkamlee81 opened #5044 "AttributeError: module 'cupy' has no attribute 'util'"
Thank you for using and contributing to CuPy!

If your issue is a **request for support in using CuPy**, please post it on [Stack Overflow](https://stackoverflow.com/questions/tagged/cupy) or Google Groups ([en](https://groups.google.com/forum/#!forum/cupy) / [ja](https://groups.google.com/forum/#!forum/cupy-ja)).
Developer team members are monitoring questions on these channels.

If it is a bug r

[2021-04-06 15:04] leofang commented on #5044
Don't use `@cupy.util.memoize`, use `@cupy.memoize`. The formerly `cupy.util` module is considered private and is now renamed to `cupy._util` to reflect this intention.

[2021-04-06 15:11] leofang commented on #5022
Ah OK, I was thinking 11.2 (https://github.com/cupy/cupy/issues/5022#issuecomment-812683600) as it was mentioned in the original post. I will send a patch to disable plan cache on CUDA 11.1.

@michaelmarty Could you confirm when you filed this issue, you were on CUDA 11.1, not 11.2?

[2021-04-06 15:12] mnicely commented on #5022
According to https://github.com/cupy/cupy/issues/5022#issuecomment-812687873, it's 11.1 and cuFFT 10.3

[2021-04-06 15:14] leofang commented on #5022
Yes but in https://github.com/cupy/cupy/issues/5022#issue-849424119 it says 11.2 so I was testing this version.

[2021-04-06 15:19] mnicely commented on #5022
Because it's not the "actual" output from `cupy.show_config()`, I'm betting that's the CUDA Driver Version.
It's common to get that confused with build version, because 'nvidia-smi' displays the driver version.

Let's see what @michaelmarty replies.

[2021-04-06 15:24] leofang commented on #5022
Yeah I think that's possible...Thanks Matt!

[2021-04-06 15:30] michaelmarty commented on #5022
Correct, the original issue was CUDA 11.1. Upgrading to 11.2 fixed it. Thanks for tracking this down! Hopefully the fix should help others avoid going down this rabbit hole.

[2021-04-07 07:37] asi1024 opened #5049 "CuPy v10 Release Schedule"
Here is the current plan for CuPy v10 development.

## Highlights in CuPy v10

- Enhanced Multi-GPU Support
  - `cupyx.distributed`
  - Peer access support
- #4789
  - [Python array API standard](https://data-apis.org/array-api/latest/)
  - ref: https://github.com/numpy/numpy/pull/18585
  - https://github.com/cupy/cupy/pull/5698
- More cuTENSOR support
  - Implement element-wise operation using cu

[2021-04-07 10:01] #5018 closed

[2021-04-07 20:11] mfmullen opened #5055 "cupy.sparse.csr_matrix.multiply behaves differently than scipy.sparse.csr_matrix.multiply for ndim>2"
Per the title, I am trying to replicate the result from Scipy when multiplying a csr_matrix with an nD array, n>2, specifically where one dimension being multiplied is intentionally a singleton. In scipy, the nD array is broadcast in the singleton dimension for the multiply, whereas cupy throws a ValueError (shown below). The array sizes are larger in practice than in this minimal working example.

[2021-04-07 22:57] benjha opened #5056 "Timings with ROCm"
Hi CuPy team,

I am timing  some CuPy's math functions on MI100 GPU. From some of your examples  I noted you use some kind of device/stream synchronization just before calculating  the elapsed time of an operation.

Is this approach also applies for ROCm ?

As reference, this what I am doing

[code]

Thanks

[2021-04-08 01:47] emcastillo commented on #5056
Yes!, you can also check the `cupyx.time.repeat` function that does all for you and works in a similar fashion than `timeit`
https://github.com/cupy/cupy/blob/master/cupyx/time.py#L64-L113

[2021-04-08 03:29] Dontfall commented on #4486
hi, i encourter the same problem, can show your solutions?

[2021-04-08 14:06] leofang commented on #5056
It's documented here 🙂
https://docs.cupy.dev/en/latest/reference/generated/cupyx.time.repeat.html#cupyx.time.repeat

[2021-04-08 15:21] benjha commented on #5056
great, thank you @emcastillo and  @leofang

[2021-04-08 15:25] #4869 closed

[2021-04-08 15:39] #5056 closed

[2021-04-09 01:27] emcastillo commented on #5055
Sorry, I am not really familiar with all the sparse code and scipy so I may be wrong here.
When ndim > 2 this is just a batched product, am I right?

I am not sure whether cuSPARSE supports batched products or not but as a last resort we can just throw a for loop inside.

[2021-04-09 01:28] emcastillo commented on #5022
Let us close this :)

[2021-04-09 01:28] #5022 closed

[2021-04-09 04:34] leofang commented on #4431
Fixed by #5012.

[2021-04-09 04:34] #4431 closed

[2021-04-09 13:04] kmaehashi opened #5069 "CuPy memory pool does not support PTDS"
Currently, CuPy memory pool uses the stream pointer as a key of an arena dict.
https://github.com/cupy/cupy/blob/v9.0.0rc1/cupy/cuda/memory.pyx#L968-L970
However, when PTDS is enabled, the key will always become `2` despite that different streams are used in each thread, causing invalid reallocation across threads.

Maybe we should add some normalization to the key:
* ~When the current stream ptr

[2021-04-09 13:05] kmaehashi commented on #5069
cc/ @pentschev @leofang @emcastillo for awareness

[2021-04-09 13:32] kmaehashi commented on #5069
Reproducer (run with `CUPY_CUDA_PER_THREAD_DEFAULT_STREAM=1`):

[code]

[2021-04-09 14:18] leofang commented on #5069
Good catch, how did you notice this issue?

cc: @jakirkham for vis

[2021-04-09 14:26] pentschev commented on #5069
That's a good catch indeed! Also the solution proposal seems sensible to me.

[2021-04-09 14:38] mfmullen commented on #5055
Regarding the batched product, I believe you are correct. I am not even slightly familiar with cuSPARSE - hopefully someone who is sees this!

[2021-04-09 16:34] jakirkham opened #5070 "Setting CuPy array with `list` of values"
With NumPy, it is possible to set an array using a nested `list` of values

[code]

However doing the same with CuPy results in an error

[code]

If it is a bug report, please include the following information:

* Conditions (you can just paste the output of `python -c 'import cupy; cupy.show_config()'`)
  - CuPy version: 8.6.0
  - OS/Platform: Ubuntu 18.04
  - CUDA version: 11.2
  - cuDNN/NCCL ve

[2021-04-09 18:16] danlkv opened #5074 "WSL cuda 11.2: CUDARuntimeError: cudaErrorInvalidValue: invalid argument"
I installed cupy on WSL, and get a runtime error when trying to use cupy.

1. Kernel
[code]

2. Cupy
[code]

3. CUDA
[code]

I also verified my environment using pytorch, and it looks like it's working, `torch.cuda.is_available()` is `True`

[2021-04-09 18:24] leofang commented on #5074
This is interesting as this is the 1st time we receive a WSL report AFAIK 😄 I know cuSignal people have tested it on WSL so it should just work. May I ask how did you install CuPy?

[2021-04-09 18:43] danlkv commented on #5074
I just did `pip install cupy-cuda112`

[2021-04-09 18:47] leofang commented on #5074
And the CUDA on WSL is set up according NVIDIA's instruction, right?
https://docs.nvidia.com/cuda/wsl-user-guide/index.html

[2021-04-09 18:49] leofang commented on #5074
Do you get any error if you try to run some simple operations? For example
[code]

[2021-04-09 19:00] danlkv commented on #5074
Yes, I used that link to install cuda.

[code]

[2021-04-09 19:11] danlkv commented on #5074
In the cuSignal instractions you linked there's a comment  "See the CuPy Documentation for information on getting **Windows** wheels for other versions of CUDA." Does this mean they actually installed cupy into windows, not WSL? What I did is just `pip install` in the WSL terminal, not Windows/anaconda shell. I don't even have python on the Windows system.

[2021-04-09 19:27] leofang commented on #5074
Could you uninstall your CuPy (`pip uninstall cupy-cuda112`), and then install it directly from PyPI:
[code]
(I am assuming you're on Python 3.8, if not please choose an appropriate link [here](https://pypi.org/project/cupy-cuda112/#files).)

My best guess is `pip` mistakenly thinks you're on Linux so it installed the Linux wheel, but maybe WSL still needs a Win-based wheel (or vice versa).

[2021-04-09 19:59] danlkv commented on #5074
My understanding is that WSL *is* linux, but all calls are translated somehow to windows api. Yes, I'm on ptyhon 3.8, pip refuses to install the windows wheel.

[code]

[2021-04-09 20:06] leofang commented on #5074
Yeah I don't have better thoughts, sorry. Maybe someone from the core devs is knowledgeable in WSL...😅

[2021-04-09 20:10] leofang commented on #5074
Your environment can correctly run CUDA sample codes, right? ex: https://docs.nvidia.com/cuda/wsl-user-guide/index.html#unique_1014163249

[2021-04-09 20:13] leofang commented on #5074
Another question: Looks like CUDA 11.2 requires a newer driver:

The following software versions are supported with this preview release for WSL 2:
NVIDIA Driver for Windows 10: 465.42
Recommended WIP build: 21292

https://docs.nvidia.com/cuda/wsl-user-guide/index.html#changelog

Your driver is on 465.12.

[2021-04-09 21:51] danlkv commented on #5074
Yeah looks like the same error occurs when I try to run examples

[code]
I'll try to update the driver and get back with updates

[2021-04-09 22:59] danlkv commented on #5074
Installed driver version 470, and it works🎉 Thanks!

[2021-04-09 23:45] leofang commented on #5074
Awesome! Let us know how it goes with CUDA on WSL.

btw Are you using Conda, or just WSL's system Python? I am curious if our conda package also works on WSL or not...

[2021-04-10 01:20] danlkv commented on #5074
I'm using just bare-bones pip. I'm not a fan of conda or pyenv, I just try to have the latest-version-only environment.

[2021-04-10 01:50] danlkv opened #5075 "Performance measurements - `cp.matmul` slower than `torch.matmul`"
I just installed cupy and did some simple performance benchmarks for comparisons. I chose matrix multiplication since it's the simplest problem to start with.

I measure cupy time with a following code snipped:

[code]

I have similar script for measuring time in torch, based on this link: https://discuss.pytorch.org/t/how-to-measure-time-in-pytorch/26964
The above contextmanager is used in the fo

[2021-04-11 03:15] emcastillo commented on #5075
Your code looks correct to me,
It is strange since both cupy and torch uses the same cublas library for matrix multiplications.
I suspect that some of the kernels that are launched before the actual cublas in cupy might be slower than their counterparts in pytorch.
I will need to obtain traces of both executions to determine why this is happening.

[2021-04-11 04:21] danlkv commented on #5075
Let me know if you want me to run any additional tests. Meanwhile, I did tests for other datatypes, and it looks like cupy is faster for float64 and the same for both complex64 and complex128. So only for float32 cupy is slower. Full data: https://charts.mongodb.com/charts-project-0-logoj/public/dashboards/a2276780-242f-4915-8e43-9336374f2ef3

[2021-04-11 13:18] asi1024 commented on #4964
Resolved by #5012.

[2021-04-11 13:18] #4964 closed

[2021-04-12 05:51] #4988 closed

[2021-04-12 09:06] kmaehashi commented on #4988
It should be fixed via #5004.
Thanks @insertinterestingnamehere for reporting!

[2021-04-12 17:53] WoutervDijk opened #5080 "Additional CUDA libraries troubleshoot on Windows"
I am sorry for this basic question, but I read the docs and installed cupy via pip (I used wheel) and the latest version of CUDA. Everything works well, but I am not sure how to install the additional CUDA libraries (cuTENSOR, NCCL and cuDNN). The latter two, the nvidia CUDA installation said were installed as well. But they don't seem to be found by cupy (see below)? Furthermore, I downloaded cuT

[2021-04-12 18:09] insertinterestingnamehere commented on #4988
This is great! Thanks for your help!

[2021-04-13 03:36] emcastillo commented on #5080
Those libraries are used in compile time, you need to have them installed before compiling the cupy wheel in case you only did `pip install cupy`, and exposed them through the CPATH, LD_LIBRARY_PATH, [CUTENSOR_PATH](https://docs.cupy.dev/en/stable/reference/environment.html#for-installation) and other relevant env vars.

Alternatively, if you used a binary package such as `cupy-cuda112` you can us

[2021-04-13 03:37] emcastillo commented on #5075
If you could take some traces using the Nsight systems to see which kernels are consuming most of the time it would be great, but I am not sure if this works in WSL.
I will try to do it during this week. Thanks!

[2021-04-13 06:05] #5069 closed

[2021-04-13 06:12] #5044 closed

[2021-04-13 08:05] kmaehashi commented on #5080
In CuPy v8 wheels,
* (For wheels for CUDA 10.1 or later) cuDNN is not bundled as a wheel so you need to install it manually using the tool as commented by Emilio. `import cupy.cuda.cudnn` will show you the detailed command line.
* cuTENSOR build is disabled in wheels. You need to build from source instead of using a wheel. cuTENSOR support is enabled by default in CuPy v9+ wheels.

Also note that

[2021-04-13 08:19] takagi commented on #4988
I also checked the appearance of other `MemoryPointer` methods including `copy_{from,to}_*` and `memset`, and found any other part didn't have issues such that the current stream was ignored.

[2021-04-14 01:48] #4828 closed

[2021-04-14 01:48] #3359 closed

[2021-04-14 09:39] emcastillo commented on #5075
I just traced both matmuls and they take the same amount of time.

I run your script and saw the time discrepancies, however, these are gone if you create the cublas handler beforehand.
In the first iteration, in CuPy the cublas handler is created, and it takes a lot of time.
We defer this creation because the handler eats up a significant amount of GPU memory, while in pytorch all these handlers

[2021-04-14 10:01] kmaehashi commented on #5006
Thanks for reporting @insertinterestingnamehere, I think it makes sense to keep the device ID history in TLS as the device ID is set per-thread in CUDA.

[2021-04-14 20:22] leofang commented on #5075
If you use [`cupyx.time.repeat()`](https://docs.cupy.dev/en/latest/reference/generated/cupyx.time.repeat.html#cupyx.time.repeat) to do timing, it'd do the warmup runs for you and so the handle creation time will be correctly excluded.

[2021-04-14 20:23] leofang commented on #5074
This issue is resolved, right @danlkv?

[2021-04-14 21:14] danlkv commented on #5074
Oh, sure, yes

[2021-04-14 21:14] #5074 closed

[2021-04-15 06:18] kmaehashi commented on #4673
Issue resolved via #5004 (and #5042).

[2021-04-15 06:18] #4673 closed

[2021-04-15 13:57] danlkv commented on #5075
I re-run the benchmark with the `get_cublas_handle` called in function `get_matmul` for cupy. I also improved averaging: removed the largest and the smallest time of 7 runs before averaging time for each size/dtype/backend combination.

With this code I observe similar numbers as before: cupy gives 820GFLOPs vs torch ~1TFLOPs (updated full data in same link). `get_cublas_handle` takes 1 second onl

[2021-04-15 14:12] 1155159410 opened #5090 "ModuleNotFoundError when running .exe generated by pyinstaller"
I am using Pyinstaller to build a single _.exe_ file for my code with the command `pyinstaller -F main.py`.

But once I run the _.exe_ file, I got the below error message:
[code]

But when I run the code in PyCharm, it works well. Here are my conditions print with PyCharm with `cupy.show_config()`:
- OS                           : Windows-10-10.0.19041-SP0
- CuPy Version                 : 8.6.0
-

[2021-04-15 19:14] WoutervDijk commented on #5080
Thanks for your responses!
First, I have installed cudnn via the detailed command line. This did work. And the `np.cuda.cudnn.available` results in True (after I load it with `import cupy.cuda.cudnn`). However, if I try to run `python -c "import cupy; cupy.show_config()"` I get the following error:
`Could not load library cudnn_ops_infer64_8.dll. Error code 126
Please make sure cudnn_ops_infer64_8

[2021-04-16 01:03] rubendibattista commented on #3972
Ehi @mrkwjc, did you find a solution? I'm also interested in understanding how to make `cupy` work with subclassed `numpy.ndarrays` or how to refactor to allow to use both.

[2021-04-16 01:12] emcastillo commented on #5075
I have no idea of what could be going wrong here, I profiled with nsight and there are no other calls than the cublas one which is the same for both torch and cupy.

Can you run this and show us the results please?
Thanks!

[code]

[2021-04-16 02:59] kmaehashi commented on #5080
@WoutervDijk I could reproduce that on my Windows environment (not reproducible with Linux). It seems cuDNN v8 cannot be loaded on Windows via our wheel preloading system. I'll take care of this later.
I think you can workaround this issue by manually downloading & extracting cuDNN v8.1 from NVIDIA and add cuDNN's `bin` directory to the `PATH` environment variable.

[2021-04-16 08:27] kmaehashi commented on #5090
To package Cython-based library (not limited to CuPy) using pyinstaller, you need to manually create a spec file and add all modules to [hidden imports](https://pyinstaller.readthedocs.io/en/stable/feature-notes.html#cython-support).  You may also want to package `package_data`s. https://github.com/cupy/cupy/blob/v9.0.0rc1/setup.py#L92-L105

See also #2140 and #1262.

[2021-04-16 12:16] 1155159410 commented on #5090
Thanks for your quick responses!

I added `'cupy_backends.cuda.stream'` to _hiddenimports_ in the spec file, it does change. But I still got an error message that another module `'cupy.core._carray'` not found.

After that, I add all the modules and package I found from these links you provided me:
[https://github.com/cupy/cupy/blob/v9.0.0rc1/setup.py#L92-L105](url)
[https://github.com/cupy/cupy/i

[2021-04-16 18:04] danlkv commented on #5075
There's a syntax error in print statements, I just closed last parenthesis, and ` module 'cupy.core' has no attribute '_matmul'` so I changed it to `cupy.core.matmul`. Here's the file I used: https://github.com/danlkv/QTensor/blob/merged_ix/scratchpad/bench/matmul/gpu_minimal.py

Output
[code]

It's also fortunate that GTC conf has a talk about nsight today, so I also ran `nsys profile python gpu_

[2021-04-16 21:59] insertinterestingnamehere opened #5092 "Per-Thread Default Stream Not Working"
The per-thread default stream environment variable is currently unusable. Running something simple like:
[code]
results in the error:
[code]

This is on Ubuntu 18.04 with Python 3.8, cupy 8.6.0, and cuda 11.2 obtained via conda-forge.

[2021-04-17 01:32] emcastillo commented on #5092
Can you try this with v9.0.0rc1?

[2021-04-17 01:34] emcastillo commented on #5075
Can you try cupy 9.0.0rc1?

These are my measurements with an nvidia P100

[code]

[2021-04-17 05:42] danlkv commented on #5075
Here are the measurements for 9.0.0rc1
[code]
I also noticed that sometimes FLOPs match for matrices smaller than around 3000x3000. But that was not the case in my test week ago.

[2021-04-17 05:47] leofang commented on #5075
I got a matching outcome similar to @emcastillo's observation on Linux + CuPy 8.6.0 + PyTorch 1.8.1 + CUDA 11.2 + GTX 2080 Ti. At this point I start wondering if it's something due to WSL (which @danlkv is on).

[2021-04-17 07:28] leofang commented on #5092
I cannot reproduce the error with exactly the same env. Any chance you're doing this in the source directory?

[2021-04-17 12:20] insertinterestingnamehere commented on #5092
Thanks for the suggestions! I just confirmed that this is fixed in master (that or I'm getting a bad binary?). When I build master from source this works now. Closing.

[2021-04-17 12:20] #5092 closed

[2021-04-17 23:37] leofang commented on #5092
I think it's simply because your test env is somehow scrambled. It works even in v8.6.0 as I said. You may want to create a fresh env and redo the test.

[2021-04-18 05:20] leofang commented on #4902
Ongoing in #5093. I don't think I have time to cover everything I wanted to add before the v9 code frozen, but it's a start...

[2021-04-18 11:35] 1155159410 commented on #5090
After days of trying, I finally solve the problem. Although I'm not sure if this is the best way, here below is part of my code in the pyinstaller's _.spec_ file, which can make cupy works in portable .exe:
[code]
and
[code]

Hope this can help those who have the same problem as mine. :smile:
(I know it is a little dumb to exclude the duplicate files one by one. Thus, if there is a better way, ple

[2021-04-18 11:35] #5090 closed

[2021-04-18 14:00] leofang commented on #1566
Now that CuPy has its own JIT compiler, I don't think this is that important anymore 🙂

[2021-04-19 00:48] emcastillo commented on #5075
In the nsight trace both funcs call the same cublas routine, so this is puzzling.
however i saw a very small d2d transfer at the end of the multiplication in CuPy that was not happening in pytorch. Maybe that transfer is growing too large in wsl?

I would like to see @danlkv trace, but right now I have no clue.

[2021-04-19 00:52] danlkv commented on #5075
@emcastillo I uploaded a trace ( https://github.com/danlkv/QTensor/blob/merged_ix/scratchpad/bench/matmul/report1.qdrep), is this the one you want to see, or I should do something else?

[2021-04-19 02:42] kmaehashi opened #5095 "Support CUDA 11.3"
## [Tasks](https://github.com/cupy/cupy/wiki/Actions-Needed-for-Dependency-Update)

- [x] Read [CUDA Release Notes](https://docs.nvidia.com/cuda/cuda-toolkit-release-notes/index.html).
- [x] Update CUDA driver in Linux (Jenkins) / Windows (FlexCI) test infrastructure (ask @kmaehashi). -> ongoing
- [x] Update chainer-test to test the CUDA version. https://github.com/chainer/chainer-test/pull/658
-

[2021-04-19 05:15] leofang commented on #5095
I think we hard-wired `CUDA_VERSION` in a few places (say `driver.get_build_version()`). We may need to verify if building on CUDA 11.2 and running on 11.3 is OK (I guess so).

[2021-04-19 06:35] #3625 closed

[2021-04-19 06:48] #4997 closed

[2021-04-19 07:11] emcastillo commented on #5075
I opened the trace with nsight but I don't see any cuda kernel call on it, I wonder if its due to my driver version being old.
(I can't currently update it).

[2021-04-19 11:08] kmaehashi commented on #5095
If we support APIs added in CUDA 11.3 in CuPy code base, CuPy wheel for CUDA 11.2 will contain a stub signature (null implementation) of such APIs. But that will cause signature conflict (between null implementation and real implementation in CUDA) if the wheel is installed under CUDA 11.3 environment. So... what can we do?

* Release a wheel for each CUDA version as we have been doing
* Do not ad

[2021-04-19 16:20] kmaehashi opened #5105 "Support NCCL 2.9.6"
## [Tasks](https://github.com/cupy/cupy/wiki/Actions-Needed-for-Dependency-Update)

- [x] Read Release Notes ([cuTENSOR](https://docs.nvidia.com/cuda/cutensor/index.html#changelog) / [cuDNN](https://docs.google.com/document/d/1NA1fg-Lqub44dIaArvBdKhrmw4VSYYCmP2cvd8O648k/edit#) / [NCCL](https://docs.nvidia.com/deeplearning/sdk/nccl-release-notes/index.html)).
- [ ] Update chainer-test to test versi

[2021-04-19 16:22] kmaehashi commented on #5095
cuDNN for CUDA 11.3 is not available yet: https://developer.nvidia.com/rdp/cudnn-download
cuTENSOR does not care about minor version: `CUDA 11.x` https://developer.nvidia.com/cutensor/downloads
NCCL: https://github.com/cupy/cupy/issues/5105

[2021-04-19 16:37] kmaehashi commented on #5092
We recently observed this error message when running CuPy on CUDA 11.3 with an outdated CUDA driver version. If you encounter this issue again please report with the `cupy.show_config()` output.

[2021-04-20 06:06] kmaehashi opened #5110 "Several modules and classes are missing in comparison table"
* modules: `numpy.polynomials.*`, `scipy.signal`, `scipy.stats`
* classes e.g. `numpy.vectorize`
* objects, e.g. `numpy.s_`

[2021-04-20 07:13] kmaehashi opened #5111 "Rename `scipy.ndimage.sum` to `scipy.ndimage.sum_labels`"
SciPy 1.6.0 changed the API: https://github.com/scipy/scipy/pull/12242

[2021-04-20 07:26] kmaehashi opened #5112 "Document cupyx.scipy.sparse.csgraph APIs"

[2021-04-20 09:22] #5080 closed

[2021-04-20 14:21] kmaehashi commented on #5080
@WoutervDijk The upcoming v9 release will contain the fix for cuDNN failures. Thanks again for reporting!

[2021-04-20 17:09] PyMarc2 opened #5117 "cp.stack((x, y, z), axis=-1), Error with axis = -1"
[code]
This error is important because the dev might not always be aware of the size of what's passed in the stack function. Here's the code to reproduce the error:
[code]

Produces the following error:
[code]

[2021-04-21 04:25] kmaehashi opened #5120 "[RFC] [v10] Dropping Support for CUDA 9.2 & NCCL 2.4"
In CuPy v10, we are thinking of dropping support for CUDA 9.2 and NCCL 2.4. Please leave a comment if you have any concerns.

This does not affect CuPy v9.x releases.

[2021-04-21 05:45] leofang commented on #5075
@danlkv We were looking at your profile offline but we could not find any GPU trace, which is odd. I have my driver up-to-date. Could you check the output of `nsys --version` matches `/usr/local/cuda-11.2/nsight-systems-2020.4.3/bin/nsys --version`? On Linux there's a `nsight-systems...` folder in the CUDA path, not sure if it's also the case for WSL.

[2021-04-21 06:26] danlkv commented on #5075
There's no `nsight-systems...` folder in the `cuda-11.2`, but there's a `nsys` binary in the `bin` dir.

Here are the versions:
[code]

[2021-04-21 06:31] emcastillo commented on #5075
for the record
[code]

[2021-04-21 06:37] leofang commented on #5075
I also got the same nsys version.

@danlkv please try opening up `nsys-ui`, load your profiling data via Files -> Open, and see if there's GPU trace. Take a screenshot for us if possible. It could be that the nsys outputs are not portable...

[2021-04-21 07:11] danlkv commented on #5075
I can't run `nsys-ui`, since WSL doesn't have X server (or at least I don't have one set up). But what I did is installed nsight on the Windows host and opened the file from WSL. And it doesn't look like there's any GPU displayed there either... But when I run the code the GPU is clearly working, both `nvidia-smi` and windows task manager show load and the fan makes noises.

From Help>About

Versi

[2021-04-21 07:15] danlkv commented on #5075
There are a lot of switches for `nsys profile`. Maybe I should use some of those? What I did was just `nsys profile python bench.py`

[2021-04-21 07:16] leofang commented on #5075
Thanks for confirming! It is also what we saw too. But on Linux nsys works just fine (I can post a screenshot if needed). I could try poking a few nvidia folks. Let's see...

This is also what I did.

[2021-04-21 09:21] kmaehashi opened #5124 "`test_memory.py` sometimes hangs in CI"
Sometimes `test_memory.py` hangs in CI. We observed this 4 times in this week.

https://jenkins.preferred.jp/job/chainer/job/cupy_pr/3602/TEST=cupy-py36,label=mn1-p100/console
https://jenkins.preferred.jp/job/chainer/job/cupy_pr/3610/TEST=cupy-py36,label=mn1-p100/console
https://jenkins.preferred.jp/job/chainer/job/cupy_pr/3608/TEST=cupy-py36,label=mn1-p100/console

The cause is not sure but my gu

[2021-04-21 10:08] kmaehashi commented on #5124
I noticed that tests are not setting the current device after launching a thread. I'll send a fix.
https://developer.nvidia.com/blog/cuda-pro-tip-always-set-current-device-avoid-multithreading-bugs/

[2021-04-21 10:44] kmaehashi commented on #4557
@emcastillo Could you update the list to the latest status?

[2021-04-22 16:23] sevagh opened #5134 "Using fft/ifft with large ndarray + managed allocator leads to "illegal memory access was encountered""
Hello. I'm trying to apply the `cupyx.scipy.fft.fft/ifft` routines to very large ndarrays. Here is the output of `cupy.print_config()`:
[code]
My first problem was that a large ndarray (bigger than available GPU memory) could not be copied to my device (RTX 2070S) due to exceeding the available memory (which is expected/unsurprising). On Gitter, @leofang mentioned I could try using managed memory

[2021-04-22 16:33] leofang commented on #5134
Thanks for the detailed report, @sevagh! Forgot to ask: How did you install CuPy?

[2021-04-22 16:36] sevagh commented on #5134
I ran `pip install cupy-cuda112` from my Python 3.8 virtualenv. CUDA 11.2 is installed on my Fedora computer through the Negativo17 `fedora-nvidia` repository.

[2021-04-22 17:57] sevagh commented on #5134
Another interesting thing is that by using the FFTPlanNd directly, we can avoid ifft2 errors, but still get the same illegal access when copying the array back to the host:
[code]

[2021-04-23 05:08] kmaehashi opened #5135 "Support cuDNN 8.2"
## [Tasks](https://github.com/cupy/cupy/wiki/Actions-Needed-for-Dependency-Update)

- [x] Read Release Notes ([cuTENSOR](https://docs.nvidia.com/cuda/cutensor/index.html#changelog) / [cuDNN](https://docs.google.com/document/d/1NA1fg-Lqub44dIaArvBdKhrmw4VSYYCmP2cvd8O648k/edit#) / [NCCL](https://docs.nvidia.com/deeplearning/sdk/nccl-release-notes/index.html)).
- [x] Update chainer-test to test versi

[2021-04-23 07:44] leofang opened #5136 "Support cuSPARSELt v0.1.0"
See https://github.com/conda-forge/cusparselt-feedstock/pull/9.

Changes:
- It's CUDA 11.2+ only
- Cross-platform (linux64, arm, windows)

[2021-04-23 07:56] leofang commented on #5136
May be related to #5050?

[2021-04-23 08:45] takagi opened #5138 "ROCm wrongly works with the pinned memory for a specific access pattern"
Rel #4923.

We are facing some weird testing failures with ROCm 4.0.1 (on MI50) as described in the [ROCm limitations](https://docs.cupy.dev/en/stable/install.html#limitations). Among them, I've confirmed that the failures of `__getitem__`, `ix_`, `broadcast` and `einsum` are going away if I make CuPy's pinned memory pool disabled.

I tried to make a similar situation in HIP and have successfully

[2021-04-23 08:45] takagi commented on #5138
I'll also report this to HIP repo.

[2021-04-23 08:53] leofang commented on #5138
cc: @amathews-amd for vis

[2021-04-23 14:49] amathews-amd commented on #5138
Thanks for the reproducer. I tried it out. However, I could not replicate issue on MI100 on ROCm 4.0.1, 4.1.0, 4.1.1.

I will check internally with the team.

[2021-04-23 22:27] takagi commented on #5138
Thanks for trying it out. As you couldn't replicate it in your environment, there may be something wrong with the setup of the nodes of AMD Accelerator Cloud we use. I'll contact its administrator about this.

[2021-04-24 06:21] sevagh commented on #5134
I tried some more things with cuda-memcheck:
[code]
I tried compiling cupy with `CUPY_CUDA_COMPILE_WITH_DEBUG=1` (which should add lineinfo and debug info) but I couldn't get more information than the above.

[2021-04-24 22:46] sevagh commented on #5134
Last thing I'll guess is that the cufft plan is too large to coexist with the large array being streamed by the managed malloc.

[2021-04-26 06:26] #3891 closed

[2021-04-26 06:30] takagi commented on #4358
Let me close this now because nVidia is going to provide their Python API.
https://developer.nvidia.com/blog/unifying-the-cuda-python-ecosystem/

[2021-04-26 07:14] toslunar commented on #5001
The current implementation uses the Lanczos algorithm.

https://github.com/cupy/cupy/blob/c98064928c8242d0c6a07e2c714e6c811f684a4e/cupyx/scipy/sparse/linalg/_eigen.py#L133-L141
(`_lanczos_fast` has the same algorithm but it runs faster.)

Without additional treatments, the Lanczos algorithm suffers a precision issue when the chain of Krylov subspaces stops within `i_end` steps, (i.e. when `beta[i]

[2021-04-26 07:18] takagi commented on #5135
- [ ]Update chainer-test
- [ ]Update library installer tool
- [ ]Update wheel distribution
- [ ]Update document

[2021-04-26 11:51] #5006 closed

[2021-04-26 16:59] kmaehashi opened #5142 "Mention PTDS in ROCm Limitation"

[2021-04-26 17:31] kmaehashi opened #5143 "Stream stack does not take care of garbage-collected Stream (i.e. weakref is None)"
[code]

This fails when exiting `s3` context:

[code]

[2021-04-27 03:40] kmaehashi opened #5145 "Stream destructor must take care of PTDS"
Destructor does not take care of PTDS. This is an edge case. Only users creating their own `Stream(ptds=True)` instead of using singleton (`Stream.ptds`) are affected.

https://github.com/cupy/cupy/blob/v9.0.0/cupy/cuda/stream.pyx#L345-L353

[code]

[2021-04-27 04:38] emcastillo commented on #5143
Related https://github.com/cupy/cupy/pull/4337

[2021-04-27 04:47] takagi commented on #5135
Now that `cupy-release-tools` uses the library installer to install cuDNN on Windows, https://github.com/cupy/cupy-release-tools/pull/79, we don't need to update it here.

[2021-04-27 04:48] kmaehashi commented on #5135
Right! Could you update the wiki?

[2021-04-27 04:51] takagi commented on #5135
Done!

[2021-04-27 06:15] takagi commented on #5135
No API changes except for newly supported SWISH activation.
https://docs.nvidia.com/deeplearning/cudnn/api/index.html#release-820

[2021-04-27 07:06] takagi commented on #5136
I `diff`ed v0.1.0 header against v0.0.1:
- `cusparseLtMatDescriptorDestroy` is added
- `CUSPARSE_COMPUTE_TF32` and `CUSPARSE_COMPUTE_TF32_FAST` are added to `cusparseComputeType `
- `cusparseMatmulDescriptorInit` is added
- cusparseLtSpMMAPrune2 is added
- cusparseLtSpMMAPruneCheck2 is added
- cusparseLtSpMMACompressedSize2 is added
- cusparseLtSpMMACompress2 is added

[2021-04-27 07:55] takagi commented on #5136
Seems `cusparseMatmulDescriptorInit ` is doubly declared in v0.1.0 header...

[2021-04-27 11:20] #5124 closed

[2021-04-27 15:37] leofang commented on #5136
cc: @mnicely

[2021-04-27 15:50] mnicely commented on #5136
Thanks @leofang, we'll look into it

[2021-04-28 07:48] kmaehashi commented on #1175
Closing as the discussion is ongoing in #3513.

[2021-04-28 07:48] #1175 closed

[2021-04-28 11:59] kmaehashi opened #5163 "Stream semantics difference between CUDA/HIP"
https://github.com/cupy/cupy/pull/5091#issuecomment-821946143
I think this needs to be documented in CuPy as users are almost impossible to know what's happening.
We may need to consider providing some remedies for this (e.g., wait until `hipStreamQuery` succeeds before destroying a stream when in HIP).

[2021-04-28 17:17] kmaehashi opened #5165 "Support cuTENSOR 1.3"
## [Tasks](https://github.com/cupy/cupy/wiki/Actions-Needed-for-Dependency-Update)

- [x] Read Release Notes ([cuTENSOR](https://docs.nvidia.com/cuda/cutensor/index.html#changelog) / [cuDNN](https://docs.google.com/document/d/1NA1fg-Lqub44dIaArvBdKhrmw4VSYYCmP2cvd8O648k/edit#) / [NCCL](https://docs.nvidia.com/deeplearning/sdk/nccl-release-notes/index.html)).
- [x] Update chainer-test to test versi

[2021-04-29 04:37] leofang commented on #5163
@amathews-amd Could you confirm `hipStreamDestroy()` has a different semantics when it's on AMD GPUs?

[2021-04-29 05:47] leofang commented on #5136
Cool, glad to know @mnicely!

[2021-04-29 09:21] #5142 closed

[2021-04-29 18:49] amathews-amd commented on #5163
I found that this might be the case. See
https://github.com/ROCmSoftwarePlatform/rocBLAS/pull/1171

Paging @ekuznetsov139

[2021-04-30 04:12] takagi commented on #4882
Sorry for the very late response. Would you try the latest CuPy v9.0.0 that was released last week? Where the higher value for `order` is supported, and its default value is now `3` to align that of SciPy.

[2021-04-30 04:57] takagi commented on #4666
Thanks, and sorry for the very late response. It should definitely handle the non-contiguous RHS properly. I'm going to post a fix soon.

[2021-04-30 16:28] grlee77 commented on #4882
It is fixed in 9.0 and was okay in 7.x, but it looks like this is indeed a bug in all 8.x releases.

For 8.x, there should have been a simple check near the top of `map_coordinates` like:
[code]

[2021-04-30 16:32] grlee77 commented on #4882
The CUDA kernel generation code at https://github.com/cupy/cupy/blob/ec025b345611cb5cbe1451e00f63478d9ee99a02/cupyx/scipy/ndimage/_interp_kernels.py#L242 only checks `order == 0` and `order == 1`, so if order=None gets passed to this function then the Elementwise kernel basically does nothing!

I think at this point there are no more releases planned in the 8.x series, though?

[2021-04-30 20:00] rlratzel commented on #4219
Update: [this](https://github.com/conda-forge/cupy-feedstock/pull/126) was recently merged, and I just installed CuPy v9.0.0 + `libcugraph` -- both from conda-forge -- and verified the new `cupyx.scipy.sparse.csgraph.connected_components()` API works using [this script](https://gist.github.com/rlratzel/161b3d5d5386311ee5f76bf780d38137).

[2021-05-01 02:54] rlratzel commented on #4219
Given the comment above, I'll close this issue now.  If further discussion is required this can be re-opened or a new issue can be created.  Thanks to all who worked on this!

[2021-05-02 05:40] leofang commented on #5134
@sevagh Sorry for my long silence. It originally appeared to be a cuFFT bug to me, but I cannot reproduce the cuda-memcheck error that you saw, which is odd. Below I am documenting what's seen on my side (CuPy 9.0, CUDA 11.2, RTX 2080 Ti):
|    | [Python code](https://github.com/cupy/cupy/issues/5134#issue-865150552) | C code (see below)
| --- | --------- | -----
| `CUDA_ERROR_ILLEGAL_ADDRESS` see

[2021-05-03 01:19] EtienneDesticourt opened #5170 "Wrong documentation for matmul"
Hi,

The documentation for the [matmul](https://docs.cupy.dev/en/v9.0.0/reference/generated/cupy.matmul.html) function is broken since v9.

It should read "Returns the matrix product for two arrays..." like in [v8](https://docs.cupy.dev/en/v8.6.0/reference/generated/cupy.matmul.html), but instead it shows the documentation for the[ _GUFunc class](https://github.com/cupy/cupy/blob/4469fae998df33c72

[2021-05-03 03:27] leofang commented on #5165
According to the release note cuTENSOR 1.3 is binary incompatible with 1.2.x, so I suppose this support cannot be backported to v9?

xref: https://github.com/conda-forge/cutensor-feedstock/issues/11

[2021-05-03 04:09] leofang commented on #5095
Sorry @kmaehashi for dropping the ball 😅 My own preference would  be to release a wheel for each CUDA as it makes our life simpler.

But, I just came across the new [device entry point access](https://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#driver-entry-point-access) added since 11.3. I am still digesting it as I do not understand how to use it properly, but I feel it might provid

[2021-05-03 18:08] leofang commented on #4892
The NEP for custom NumPy allocators (numpy/numpy#18805) is merged as a draft. I think it's good to be able to use this new capability, but it requires
1. A newer NumPy release that contains this capability
2. Accessing the NumPy C API which is never done in CuPy so far

I think one viable path is to `dlopen` NumPy's shared library and get the function pointers. This way if the NumPy version is old

[2021-05-03 19:40] leofang commented on #3980
This idea is fundamentally incompatible with the `Stream.null` and `Stream.ptds` singleton objects, as they meant to work for *all* devices. Also, for `ExternalStream` it's too hard to retrieve the associated device (`cuStreamGetCtx` -> `cuCtxSetCurrent` -> `cuCtxGetDevice` -> ...). Probably not worth bookkeeping.

[2021-05-05 18:34] sevagh commented on #5134
My system memory is 32GB. Maybe I had a typo in the numpy dimensions of my first example, but it was only using around 12-15 GB system memory.

I just tested your cuda code above, but adapted the dimension to be a bit smaller to fit my 32GB system memory: `int dimy = 750 * 500;`
Results are good:
[code]

[2021-05-05 20:58] leofang commented on #5095
FYI: Using driver from 11.2 and runtime from 11.3 is not going to work:
[code]
Error 1:
[code]
Error 2:
[code]

[2021-05-06 00:03] leofang commented on #5134
@sevagh so what's the array shape you used in Python that led to the memory corruption error? The fact that we run the C code fine seems to suggest something is wrong in CuPy.

[2021-05-06 04:54] emcastillo commented on #5163
Show a warning if there is work left before destroying? (by @kmaehashi )

[2021-05-06 05:40] kmaehashi commented on #2946
I'd like to remove this in v10.

[2021-05-06 05:46] kmaehashi commented on #5163
Thanks @amathews-amd! Understood that the semantics difference is by design.

Ideas what I came up with to mitigate the gap between CUDA/HIP:
1. Documentation
2. Call `hipStreamQuery` before calling `hipStreamDestroy` and show warning if the work is in progress
3. Call `hipStreamSynchronize` before calling `hipStreamDestroy`

I talked offline with other dev members and the idea 1 & 2 sounds reason

[2021-05-06 10:54] viclafargue opened #5175 "CSC matrix constructor bug"
There seems to be a bug in the CSC matrix constructor since CuPy 9.0 . The `data` attribute is different from the one produced by Scipy. On my machine, the bug seems to be triggered with a 2D matrix with the first dimension being >= 129. This works even when no zero is present. Also, I noticed that for unknown reason, the `nnz` value is printed.

Reproducer :
[code]

Error messages, stack traces :

[2021-05-06 13:47] leofang commented on #5175
@viclafargue A few issues:
1. `cp.allclose(a.data, b.data)` is not the correct way to compare two sparse matrices, as you also need to compare the matrix indices. In fact, in this example if you sort the `data` attribute first and then compare, the results agree.
2. The better way to make comparison is to do `cp.allclose(a.todense(), b.todense())`. In SciPy 1.5.x this would guarantee to be `True`.

[2021-05-06 14:05] leofang opened #5176 "`DeprecationWarning` is not raised when accessing `cupy.sparse`"
On the current master:
[code]
However, according to here a `DeprecationWarning` should be raised when accessing any functions under the `cupy.sparse` namespace:
https://github.com/cupy/cupy/blob/fca64c8e7c185a3220e30f6ced98d98957f3b1f9/cupy/sparse/__init__.py#L13-L18

[code]

[2021-05-06 14:07] leofang commented on #5175
btw the `cupy.sparse` namespace is deprecated, and you should use `cupyx.scipy.sparse` instead. For some reason the warning was not printed (#5176).

[2021-05-06 14:14] sevagh commented on #5134
It's still the original shape. How did you calculate that it takes 48GB host memory?

Here's the same minimal bug reproduction I pasted in the original report. When I run the IFFT on the host, it works fine:
[code]
![mem-use](https://user-images.githubusercontent.com/8574092/117313274-be1ca900-ae53-11eb-892c-cfea429ff2b1.png)
My computer ends up using 26GB out of 32 when running a host-side ifft (

[2021-05-06 14:26] leofang commented on #5134
See my C code. So I forgot that initially your array was of dtype `float64`. My C code initialized with a `complex128` array. If everything were placed on host memory first (including those on managed memory, which can be migrated between host and device), then it takes
- original input: 16 GB (of dtype `complex128`) or 8 GB (of dtype `float64`)
- internal copy for FFT input: 16 GB of dtype `compl

[2021-05-06 14:28] leofang commented on #5134
@sevagh What happens if you use the same dimension matching the Python reproducer (i.e. those from my C code)?

[2021-05-06 14:40] viclafargue commented on #5175
Thanks @leofang. I thought there was a problem in the way the sparse matrix was encoded. After a closer look, it indeed looks like since version 9.0 it's just made differently from Scipy but still in a valid way. This was causing an issue in my code when trying to edit the sparse matrix from the `data` attribute as I expected a similar behavior to the one of Scipy. Since, the problem isn't to be f

[2021-05-06 14:40] #5175 closed

[2021-05-06 14:43] leofang commented on #5175
Normally CuPy would follow closely with NumPy/SciPy whenever possible. However, in this case it looks more like a SciPy bug to me, and I'd suggest you to open an issue upstream. I don't think we want to clone upstream bugs just to be 100% compatible 😅

[2021-05-06 14:48] sevagh commented on #5134
Python code with complex128 using scipy host-side FFT, works OK:
[code]
My system memory gets almost maxed and swap starts increasing (as expected), but it still succeeds (I guess scipy fft does some manipulation to avoid going OOM).

If I run your original CUDA code with the original dimensons:
[code]
With CUDA memcheck:
[code]
Aborted (core dumped)
[code]

[2021-05-06 14:55] leofang commented on #5134
Thanks for testing @sevagh. Could you try commenting out the line `cudaMemcpy` and rerun the CUDA code?

[2021-05-06 15:01] sevagh commented on #5134
[code]

[2021-05-06 15:22] leofang commented on #5134
Interesting....

[2021-05-06 15:33] sevagh commented on #5134
For what it's worth, I was able to work around the original issue by using smaller ndarrays (mono-channel audio instead of 2-channel), and not using the managed malloc. Instead, I play around with and clear the cupy FFT cache regularly:
[code]
It looks like the plan cache can grow surprisingly large if we try to do FFTs on different and huge ndarrays.

[2021-05-06 15:39] leofang commented on #5134
@sevagh On the plan cache: yes, if your input arrays from `items_to_process` have all kinds of different shapes, it'd generate a plan for each input, and the plan cache would not help at all. I assume the "growing" of plan cache referred to the increasing usage of device memory, which is a correct observation as each plan has its own workarea allocated, and in the worst case (non-prime length inpu

[2021-05-06 15:44] sevagh commented on #5134
Yeah I removed too much info - the processing is very repetitive, such that the cache is desired and useful (it does ~30 FFT + IFFT of the same size) per different music track.

However, I run the analysis in the outer for loop for multiple diverse music tracks, so after each track it's necessary to clear the previous cache (or else run out of GPU memory).

[2021-05-07 02:29] kmaehashi commented on #5176
`DeprecationWarning` is not audible by default.
https://docs.python.org/3/library/exceptions.html#DeprecationWarning

[code]

[2021-05-07 11:29] thomasaarholt opened #5179 "conda install cupy installs wrong toolkit version with CUDA 11.0 on Windows"
`conda create --name cutest cupy` installs toolkit version 11.2 when I have CUDA 11.0 installed. This raises the error below.
`conda create --name cutest2 cupy cudatoolkit=11.0` works fine.

Ideally, conda would check which `cudatoolkit` version should be installed. Is this currently possible?
If not - would it be possible to check that the versions match on `import cupy`, and then raise a more us

[2021-05-07 13:12] amathews-amd commented on #5163
@leofang @kmaehashi Opened an internal ticket (SWDEV-285318) to recheck design of  hipStreamDestroy.

[2021-05-07 13:14] kmaehashi commented on #5163
Thank you @amathews-amd! I believe aligned behavior would be really helpful for other projects too.

[2021-05-07 13:22] #4666 closed

[2021-05-07 13:46] leofang commented on #5179
Hi @thomasaarholt Could you post the output of `conda list` for the failing environment?

Also, generally for the Conda-Forge installations and dependency issues it's preferably to open an issue in the corresponding feedstock (CuPy: https://github.com/conda-forge/cupy-feedstock), as the people behind the conda packaging and the main project may not be the same. (In CuPy's case it's the same, but i

[2021-05-07 13:47] leofang commented on #5176
Oh...OK, I was under the wrong impression that it's shown by default. Thanks @kmaehashi!

[2021-05-09 12:43] Mazay0 commented on #5001
@toslunar,, @anaruse, @takagi,  please, take a look at this PR draft: #5183
I have adopted approach from SciPy SVDS for detection of too small beta's.
Сonstructive criticism is encouraged.

[2021-05-10 04:34] kmaehashi opened #5184 "Support Sphinx 4.0.0"

[2021-05-11 04:21] kmaehashi commented on #4897
I think `atomicAdd` is used in CUB ops which does not have reproducibility.

[2021-05-12 02:47] kmaehashi opened #5190 "Add cuGraph support in CI to test `cupyx.scipy.sparse.csgraph`"

[2021-05-12 06:28] takagi commented on #5165
No API addition/removal nor its signature change.

[code]

[2021-05-12 08:40] kmaehashi opened #5193 "Prepare a tutorial on Google Colab"
As CuPy is pre-installed on Google Colab I'd like to have a Google Colab notebook so that users interested in CuPy can quickly try a tutorial.

[2021-05-12 09:13] asi1024 opened #5194 "Use workspace for performance of reduction operations"
Idea:
[code]

Result (CUDA 11.2, NVIDIA A100):
[code]

TODO: more benchmarks for various shapes and contiguity of inputs.

[2021-05-12 15:28] leofang commented on #5194
Wow. Why does preallocating a workspace make such a huge difference?

[2021-05-12 20:47] amathews-amd commented on #5163
Hi @kmaehashi ,

The ROCclr team mentioned that the documentation might be out of date, and for all cases (except some corner cases), hipStreamDestroy will wait on work inflight. I tried to create a reproducer from your code to show the issue, but it looks like hipStreamDestroy on host thread is blocked till the queue is done.

Could you take a look at the reproducer below, and check if it matches

[2021-05-13 01:24] kmaehashi opened #5195 "Support NCCL 2.9.8"
## [Tasks](https://github.com/cupy/cupy/wiki/Actions-Needed-for-Dependency-Update)

- [x] Read Release Notes ([cuTENSOR](https://docs.nvidia.com/cuda/cutensor/index.html#changelog) / [cuDNN](https://docs.google.com/document/d/1NA1fg-Lqub44dIaArvBdKhrmw4VSYYCmP2cvd8O648k/edit#) / [NCCL](https://docs.nvidia.com/deeplearning/sdk/nccl-release-notes/index.html)).
- [x] Update chainer-test to test versi

[2021-05-13 03:59] kmaehashi commented on #5163
Thank you @amathews-amd! I tried the reproducer (changed `#define ITERATIONS 1` to `#define ITERATIONS 2`) in my local environment and it shows FAILED on the second iteration, using ROCm 4.2.0.

[code]

[rocminfo.txt](https://github.com/cupy/cupy/files/6470281/rocminfo.txt)

[2021-05-13 04:03] amathews-amd commented on #5163
Sorry, there is a bug in my code.

You need to move
`
for( size_t i = 0; i < N ; i++ )
        {
                A_h[i] = 0;
        }
`

inside the
`
        for(int iter = 0; iter< ITERATIONS; iter++) {
`
loop.

[2021-05-13 04:07] kmaehashi commented on #5163
Ah ok, the FAIL disappeared now.

@takagi Do you remember whether the original test failures were flaky, or always reproducible?

[2021-05-13 04:34] takagi commented on #5163
Yes. It was always reproducible (with longer enough busy-wait).

[2021-05-13 04:36] kmaehashi commented on #5194
Maybe we can use Optuna to tune workspace size etc.

[2021-05-13 21:28] amathews-amd commented on #5163
The ROCclr team is moving ahead with documentation update on design that the runtime wont destroy work in flight.

Please let us know if you find anything to the contrary, and we can open a new ticket.

[2021-05-13 22:11] amathews-amd commented on #5163
@kmaehashi @takagi , by any chance, is this multithreaded, such that the thread that calls hipStreamDestroy() is being killed, when the work in queue is not yet completed ? Could you also run your original test that failed to root-cause the issue ?

[2021-05-14 02:12] takagi commented on #5163
No, the case I faced was single threaded. I will run the test again shortly with ROCm 4.2.0.

[2021-05-14 02:34] takagi commented on #4882
Glad to hear it!

[2021-05-14 08:40] #5184 closed

[2021-05-14 09:46] asi1024 commented on #5194
@leofang For input of ndarray of shape `(n, m)`, current CuPy's naive reduction operation `cupy.sum(x, axis=1)` uses at most `n` (= the length of elementwise-axis) blocks. So only 1 block is used for the full-reduction operation.
The `fast_sum` function in my sample program splits the operation into 2 kernel calls and avoids full-reduction kernel.

[2021-05-14 15:09] leofang commented on #5143
Since #4337 is closed and the focus is shifted to #5172, where I am refactoring the stream stack, it may be a good idea for me to fix this issue at the same time.

[2021-05-14 15:14] MaximilianHoffmann opened #5199 "Normal behaviour or memory leak in fourier_shift?"
While using the fourier shift I was observing the following behaviour and I cannot find a way to clear the residual memory.
As far as I see it, I am cleaning everything I have access to, right?
[code]

[code]

[code]

[2021-05-14 15:57] leofang commented on #5199
Hi @MaximilianHoffmann, this is expected behavior I think. A FFT plan cache was added since CuPy v8. It's meant to help reduce the cost of plan creation by reusing them. So if you do
[code]
You will see at least 1 plan is cached with your reproducer, and each plan takes some memory as workspace.

To turn off the cache completely (and to clear the cache), you can simply call
[code]
You'll see the m

[2021-05-14 16:23] leofang commented on #5143
In this case, after leaving the `s3`'s context, since `s2` is deleted the current stream will fall back to `null`, but we are still in `s1` 's context. Is this expected behavior?

[2021-05-14 18:02] MaximilianHoffmann commented on #5199
[code]
Thanks! Cool, I guess, I'll definitely profit from the cache in the original code, so this "fixes" it for me. I didn't read through the cache part of the fft documentation, it's somewhat my fault. Thank you for the help!

[2021-05-14 23:47] leofang commented on #5143
I think this line is problematic:
https://github.com/cupy/cupy/blob/97acfcdd7293ea5f06083b95d4d14947366542f3/cupy/cuda/stream.pyx#L34
It assumes the weakref is alive, which is incompatible with weakref. If this assumptions is needed (which I think is the case), we shouldn't use weakref at all.

I traced back to e9aaa3c from #306, which added the weakref usage, but the commit message made little se

[2021-05-15 05:35] kmaehashi commented on #5143
Yes, we need to rewind the stream stack until we find an alive one. If everything is dead we should fallback to the default stream.

[2021-05-17 02:55] 834799106 opened #5202 "cupy.cuda.compiler.CompileException: /tmp/tmpiatufk20/d1a46dada092a1d26c70ca560727a5db_2.cubin.cu(56): catastrophic error: cannot open source file "cuda_runtime.h""
OS                           : Linux-3.10.107-1-tlinux2_kvm_guest-0052-x86_64-with-glibc2.10
CuPy Version                 : 9.0.0
NumPy Version                : 1.20.1
SciPy Version                : 1.6.3
Cython Build Version         : 0.29.22
Cython Runtime Version       : None
CUDA Root                    : /data/home/v_lifengmei/cuda-10.2
CUDA Build Version           : 10020
CUDA Driver Version

[2021-05-17 02:56] takagi commented on #5195
The release note says NCCL 2.9.8 supports CUDA 10.1, but I can not find the link for CUDA 10.1 binary.

[2021-05-17 05:12] kmaehashi commented on #5202
This seems like an issue with your CUDA installation. Do you have `include/cuda_runtime.h` under your CUDA root (`/data/home/v_lifengmei/cuda-10.2`)?

[2021-05-17 05:18] 834799106 commented on #5202
yes i have checked include/cuda_runtime.h under /data/home/v_lifengmei/cuda-10.2

[2021-05-17 06:20] kmaehashi commented on #5202
Could you share the code to reprocue this?

[2021-05-17 06:29] 834799106 commented on #5202
https://github.com/sniklaus/3d-ken-burns
i can run it from colab but not my computer

[2021-05-17 06:47] leofang commented on #5143
Ah...OK so this is what you meant for #4337. Let me think about it. I feel it might be possible to just peek at the latest stream in the stack.

[2021-05-17 06:49] leofang commented on #5195
Just FYI. On Conda-Forge we build NCCL from source (since it's available on GitHub) for CUDA 9.2 - 11.2. So far no one came to complain, so I assume it still works as of NCCL 2.9.x 😄

[2021-05-17 12:47] 834799106 commented on #5202
Traceback (most recent call last):
  File "/data/home/v_lifengmei/anaconda3/envs/ken/lib/python3.8/site-packages/cupy/cuda/compiler.py", line 623, in compile
    nvrtc.compileProgram(self.ptr, options)
  File "cupy_backends/cuda/libs/nvrtc.pyx", line 133, in cupy_backends.cuda.libs.nvrtc.compileProgram
  File "cupy_backends/cuda/libs/nvrtc.pyx", line 145, in cupy_backends.cuda.libs.nvrtc.compilePr

[2021-05-17 17:45] leofang commented on #5143
OK I don't think this is feasible, as it means when calling `stream.use()` we also need to push the current stream to the stack, which has no way to be popped correctly and is inconsistent with the current behavior.

[2021-05-17 19:38] leofang commented on #5143
I was being silly. To enable this we just need to push the current steam to the stack as well.

[2021-05-18 04:35] kmaehashi opened #5204 "Need to check compute capability before using cutensor"
Currently `cupy.einsum` uses cuTENSOR, but cuTENSOR code path should only be used for CC 6.0+.

https://docs.nvidia.com/cuda/cutensor/index.html#support
https://docs.nvidia.com/cuda/cutensor/release_notes.html#cutensor-v1-0-1

[2021-05-18 07:08] takagi commented on #5163
Hmm... the original test https://github.com/cupy/cupy/pull/5091 still fails with ROCm 4.2.0. I also checked the code you showed at https://github.com/cupy/cupy/issues/5163#issuecomment-840086050  and it passed on the same environment. It is supposed that I have something to investigate further...

[2021-05-18 08:10] anaruse commented on #5204
Thank you for pointing this out!  It is true that compute capability is not checked in cuTENSOR related code.
Some functions in cuSolver have compute capability restriction, so we check the compute capability before calling those functions (as shown below). I would like to add a code to `cupy/cutensor.pyx` to check compute capability in a similar way. What would you think about this?

https://gith

[2021-05-18 08:33] thomasaarholt commented on #5179
Alright! I've posted conda-forge/cupy-feedstock#128 :)

[2021-05-18 08:33] #5179 closed

[2021-05-18 08:35] kmaehashi commented on #5204
Thanks! Checking restrictions in `cupy/cutensor.pyx` and calling `check_availability ` from `cupy.einsum` sounds reasonable.

By the way, I noticed that `@_util.memoize()` should be `@_util.memoize(for_each_device=True)` for these function 😅

[2021-05-18 19:18] leofang commented on #5194
Ah, thanks @asi1024. I misread the code. OK so you're saying converting to a two-stage reduction helps. It's actually what's done in `_cub_two_pass_launch` too! 😄 There the workspace size is fixed, but the block size etc can be tuned by Optuna.

I am wondering if there's a way to do non-contiguous reduction in two passes with some performance boost (even by 50% faster is good enough). It'd be grea

[2021-05-18 20:04] miraodasilva opened #5208 "Compilation Error"
- CuPy version: 8.0.0
- OS/Platform: Ubuntu
- CUDA version: 10.2
- cuDNN/NCCL version:  7.6.5.32/ 2.9.8.1

I am running code from the following recently popular [repository](https://github.com/d-li14/involution), and I am getting the following error:

[code]
I was wondering if this issue is due to my installation or due to an issue with this specific code (I can import cupy and initialize an array