[2019-03-31 05:31] bhavinthaker commented on #2002
What is the expected date/release by which Nvidia Tesla T4 support will be added?

[2019-04-01 00:39] #1109 closed

[2019-04-01 03:02] jakirkham commented on #2045
PR ( https://github.com/cupy/cupy/pull/2053 ) has been merged. I think this can now be closed.

[2019-04-01 03:06] kmaehashi commented on #2002
@bhavinthaker It is planned to be included to the release in this month. Note that current versions of  `cupy-cuda100` should run on T4 (but it uses `compute_70`).

[2019-04-01 05:24] kmaehashi commented on #2045
I locally confirmed the above script does not reproduce the issue any more with the latest master branch.
@jakirkham Thanks for the heads-up!

[2019-04-01 05:24] #2045 closed

[2019-04-01 05:34] kmaehashi commented on #2110
@jjhelmus Thank you for your support!

[2019-04-01 06:52] kmaehashi commented on #2110
Closing as I confirmed that the issue has resolved.

[2019-04-02 03:57] #2002 closed

[2019-04-03 05:24] toslunar opened #2125 "A test of `roll` is failing"
`TestRoll.test_roll_invalid_axis_type` is failing.

Cause:
`python -c 'import numpy; numpy.roll(numpy.arange(6).reshape(2, 3), 1, axis="0")'` with `numpy==1.12.1` raises a different class of exceptions.

Python 3
[code]

Python 2
[code]

[2019-04-03 15:44] leofang commented on #2118
Just to add a bit more background: without the proposed solution (#2120) we are unable to request full shared memory that newer devices can provide (in my case it's 96 KB=98304 bytes):
[code]

[2019-04-03 20:59] pentschev opened #2128 "Sliced arrays don't get updated __cuda_array_interface__ pointer"
Consider the following example:

[code]

this will print:

[code]

This is due to the `__cuda_array_interface__` data pointer always pointing to the base address of the memory block, therefore, Numba will always start computation from the base of memory block as well, which should have an adjusted offset.

[2019-04-04 01:51] liwt31 opened #2130 "TypeError when NEP18 is enabled"
When calling type related functions borrowed from numpy such as `cp.result_type` or `cp.can_cast` and NEP18 is enabled, a type error will be raised.

* Conditions
[code]
* Code to reproduce
[code]
* Error messages, stack traces, or logs
[code]
* Further info
The following lines lead to the error:
https://github.com/cupy/cupy/blob/6ee8db22af9e9ba41b84a3e16fc5ebde1c3c4ff8/cupy/core/core.pyx#L1257-L1

[2019-04-04 09:38] pentschev commented on #2128
The fix in #2129 is now merged.

[2019-04-04 09:39] #2128 closed

[2019-04-04 11:53] liwt31 commented on #2130
I've read through the discussions in #2029 and it seems that an easy solution isn't coming any time soon. I'll simply leave the issue here for future reference.

[2019-04-04 12:29] asyd opened #2135 "Linux build 5.4.0 is missing"
Hi,

I want to install cupy-cuda92==5.4.0 (which is an explicit dependency from `spacy[cuda92]`) but I notice there is no linux build available on pypi.

https://pypi.org/simple/cupy-cuda92/

Only

* cupy_cuda92-5.4.0-cp36-cp36m-win_amd64.whl
* cupy_cuda92-5.4.0-cp37-cp37m-win_amd64.whl

Are available for 5.4.0

Are there some particular reasons?

Thanks

[2019-04-04 18:42] kmaehashi commented on #2135
We are currently unable to upload wheels for CUDA 9.2 and 10.1 due to the file size limitation of PyPI, and contacting with PyPA team to resolve the issue. (https://github.com/pypa/warehouse/issues/5665)

https://github.com/cupy/cupy/releases/tag/v5.4.0

v5.4.0 / v6.0.0rc1 wheels for CUDA 8.0/9.0/9.1/10.0 are already released on PyPI.
Sorry for the inconvenience.

[2019-04-04 21:12] asyd commented on #2135
Thanks for you reply!

[2019-04-05 10:03] t184256 opened #2136 "Windows version in conda lags behind, still at 4.1.0"
Not sure if this is a right place to report, but the Windows cupy version at conda is seriously lagging behind at 4.1.0 and other means of installing it are extremely inconvenient in comparison.

Is it related to: https://github.com/cupy/cupy/issues/2135#issuecomment-480016360?

[2019-04-05 12:04] fiarabbit commented on #2136
@t184256 It may relate to the fact that `cupy` does not (at least officially) support Mircrosoft Windows (https://docs-cupy.chainer.org/en/stable/install.html#recommended-environments).

[2019-04-05 12:29] t184256 commented on #2136
I'm well aware of that fact, and I'm not demanding support or anything. I'm actually 1) wondering what's the blocker for having another unsupported build shipped with conda and how severe it is and 2) expressing the demand in a conveniently trackable formfor both the user's and the devs. Sorry if that's an inappropriate form of doing this.

[2019-04-05 14:59] Europium-152 opened #2137 "Cannot install cupy on win10"
Hi! I'm running into some problems trying to install cupy on windows.

When I try the `pip install cupy-cuda101`, I get:

[code]
When I try `pip install cupy`, I get:
[code]

*Note*: The environment variable CFLAGS was manually set by me to the directory of the missing .h files, but it did not solve the problem (it showed "none" before I set it).

I'm on Windows 10, using Python 3.7.3. I have inst

[2019-04-05 20:42] kmaehashi commented on #2137
Could you try `pip install cupy-cuda101 ` after updating `pip` and `setuptools` as suggested by Installation Guide? https://docs-cupy.chainer.org/en/stable/install.html#requirements

If the problem still occurs, could you paste the output of `pip -V`, `python -V` and `python -c 'import sys; print(sys.abiflags)'`?

[2019-04-06 02:34] fredguth commented on #2070
the linked page shows cuda 10.1 as an option, so does the installation where it says there is a wheel ...
pip install cupy-cuda101

[2019-04-06 19:05] kmaehashi commented on #2135
Just released CUDA 9.2 and 10.1 wheels.

[2019-04-06 19:05] #2135 closed

[2019-04-06 19:06] kmaehashi commented on #2136
This is not related to #2135.
CuPy packages on Anaconda is maintained by Anaconda team, not by us. I'll contact them to update the package.

[2019-04-08 21:12] TanishSharrma opened #2138 "CuPy not accepting list data types for operations"
For any function on a list(array) data type, Cupy gives an error unless the array has been defined as a cupy.array(). In, numpy however, the list data type is accepted regardless of it being passed as numpy.array() or not.

a = [10,15]
b = cupy.log(a)

This won't work in Cupy but will work in Numpy. a = cupy.array([10,15]) would work.
TypeError: Unsupported type <class 'list'>
This could cause pro

[2019-04-09 03:16] TanishSharrma commented on #2137
"Microsoft Visual C++ 14.0 is required. Get it with "Microsoft Visual C++ Build Tools": https://visualstudio.microsoft.com/downloads/"

Try installing the C++ Build Tools if you haven't already. That worked for me.

[2019-04-09 05:31] TakuNishiumi commented on #2070
It seems cupy started to support cuda 10.1.
Please try to below command.
I could install !!

[code]

[2019-04-09 21:09] fredguth commented on #2070
Worked for me.

[2019-04-11 00:20] txuh opened #2140 "complex.cuh not found when running exe generated by pyinstaller"
I am using Pyinstaller to build a stand alone exe for my PYQT5 GUI with cupy computations. I created a spec file to specify the added data, pathes and hiddenimports. My program are fully working under Python complier.

The exe are successfully built. The GUI window can be opened with running the generated exe. However, there was error message when running the software (I have push button at GUI fo

[2019-04-11 01:44] txuh commented on #2138
Convert a to numpy liked cupy array first; then compute the log.

a=cupy.asarray(a)
b=cupy.log(a)

[2019-04-11 01:53] tomstewart89 opened #2141 "Missing curly brackets in Raw Kernel doc"
First off thanks for a great library! It's made it really easy to optimise some numpy code I've been working on.

Anyway, there's two small errors in the docs for `cupy.RawKernel` ([these ones](https://github.com/cupy/cupy/blob/4a80efe88bb66e48896240f268b2b5e6178ea394/docs/source/tutorial/kernel.rst#raw-kernels)) that should be a pretty easy fix:

* change `cp.RawKernel` to `cupy.RawKernel`
* add

[2019-04-11 02:06] TanishSharrma commented on #2138
@txuh What I mean is that in numpy, functions can be executed on lists without defining the list as numpy.array(), however in cupy, an error arises if the array is not defined as cupy.array() : "TypeError: Unsupported type <class 'list'>".
Example :
a = [10,15]
b = numpy.log(a)
c = cupy.log(a)

The numpy part of the code (b) would work but the cupy part (c) won't and since we are trying to incorpo

[2019-04-11 15:04] takagi opened #2143 "Use `ReductionKernel` in k-means example"
The k-mean example uses `ElementwiseKernel` as an example of a custom kernel, but its algorithm is essentially reduction rather than mapping. It would be better to use `ReductionKernel` in the k-means example and to provide another example that uses `ElementwiseKernel`.

[2019-04-11 17:46] leofang commented on #2138
Related: #594

In #1947, the decision was made that we always pass the arguments to `cupy.asanyarray` internally before the actual computation so that lists can be used, see https://github.com/cupy/cupy/blob/83aec55e8c10c6fcbbe2edb48e3d21c9cfb92e86/cupy/logic/comparison.py#L94-L95 While this is in line with how `numpy.allclose` was implemented, I am not sure whether this practice is good. From the

[2019-04-11 17:49] leofang commented on #1669
Closing this issue since the main requests were implemented. Issues listed in https://github.com/cupy/cupy/issues/1669#issuecomment-454488982 should be opened as separate ones.

[2019-04-11 17:49] #1669 closed

[2019-04-12 06:02] grafi-tt commented on #2070
The exactly same error happened on my machine. I tried with `cupy=6.0.0rc1` on pip, v6.0.0rc1 tarbell and the current master (83aec55).

When I removed `_GLIBCXX_USE_CXX11_ABI` fix, CuPy is built fine, though I don't understand why this fix works.

 I'm using Gentoo Linux. Glibc version is 2.28. I tried with GCC 8.4.0 and GCC 7.3.0, and the result is the same.

[code]

@takagi Could you try the pa

[2019-04-12 06:06] grafi-tt commented on #2070
Error

[code]

[2019-04-12 10:59] Europium-152 commented on #2137
Sorry for the late answer and thank you for the feedback. I had two issues that I hadn't realized. I first tried with python2 which didn't work, then I realized I had to do it in python 3, but by mistake, I installed the 32-bit version (that's when I got the message I posted above). When I finally changed to python 3 64-bit everything worked great. And yes visual studio is required.

[2019-04-12 11:56] leomao commented on #2070
I can verify that removing `_GLIBCXX_USE_CXX11_ABI` override fixed the issue as stated by @grafi-tt .

[2019-04-12 17:18] #2138 closed

[2019-04-13 06:46] #2137 closed

[2019-04-17 02:07] Hakuyume opened #2148 "trying import cupy twice causes cython error"
When I tried `import cupy` twice, it raises cython-related errors. The error changes according to the veriosn of `cython`.

The following steps can reproduce the error.

1. Put `Dockerfile` and `check.py` into an empty directory.
[code]
[code]

2. Run `docker build`.
[code]
[code]

[2019-04-17 04:21] gwtnb opened #2149 "Include argument type names to kernel names"
CuPy uses simple names for kernels (e.g. `cupy_add`), but these names do not tell types of their arguments as following output of nvvp.

![image](https://user-images.githubusercontent.com/4025819/56260697-2be1c500-6113-11e9-9f24-cf7af82f1320.png)

It seems inconvenient because the user cannot interpret what type is actually used from the output of nvvp.

[2019-04-17 05:46] kmaehashi commented on #2148
Renamed the issue title.
Currently we require `except Exception` to catch CuPy import failure, but it is better if we can always raise `ImportError`.

[2019-04-17 06:14] #1295 closed

[2019-04-17 08:09] samacoba opened #2153 "Tensor Core is not used on the Turing GPU"
The compute capability is 7.5 on the Turing GPU.
However, in the following Tensordot and Convolution code, the compute capability only supports 7.0.
So it seems that Tensor Core is not used on Turing GPU.

* Tensordot

https://github.com/cupy/cupy/blob/ba75ec09e33bd1b2aad4c564ed78389ceb09e0d2/cupy/core/core.pyx#L2288-L2290

* Convolution

https://github.com/cupy/cupy/blob/690997a6159ee84c0f6b41ae6

[2019-04-17 08:20] kmaehashi commented on #2153
Thank you for pointing out this issue.

[2019-04-18 06:45] Heermosi opened #2155 "cupyx.scipy.sparse.linalg.lsqr far slower than cpu implementation"
CuPy Version          : 5.4.0
CUDA Root             : /usr/local/cuda
CUDA Build Version    : 9010
CUDA Driver Version   : 10010
CUDA Runtime Version  : 9010
cuDNN Build Version   : 7102
cuDNN Version         : 7005
NCCL Build Version    : 2115
NCCL Runtime Version  : (unknown)

Display Card: 1080Ti

* Code to reproduce

    cuH = cupyx.scipy.sparse.csr_matrix(H).astype(np.float32)
    cuc = cupy.

[2019-04-18 06:46] Heermosi commented on #2155
the m x n is 216 x 288
damn the editor

[2019-04-18 14:06] Bartzi opened #2157 "ImportError: cannot import name 'core' from 'cupy.core'"
I'm experiencing problems when installing the latest version of cupy on two of my arch linux boxes.

I cloned the code from the repository and added the fix for GCC8.2, as suggested in #2147.
When trying to install `cupy ` with `pip install .` cupy compiles without any error, but if I run `python -c 'import cupy'` I get the following error:

[code]
I do not experience this problem, when installing

[2019-04-19 14:27] jeng1220 opened #2159 "[BUG] Incorrect behavior of asynchronous D2D copy"
`cupy.copyto` misses to apply user specified stream.
Please see following mini repro.

* Conditions
  - CuPy 5.4.0 and 6.0.0rc1
  - Ubuntu 16.04
  - CUDA 10.1
* Code to reproduce
[code]
* Error messages, stack traces, or logs
[nvvp log](https://drive.google.com/file/d/1cc2bkKVTBk60pQVXW0log7BsLK6-RFY2/view?usp=sharing)

[2019-04-19 15:52] jeng1220 commented on #2159
Hi,
I just found another issue, which was very similar above one.
* Conditions
CuPy 5.4.0 and 6.0.0rc1
Ubuntu 16.04
CUDA 10.1

* Code to reproduce
[code]
* Error messages, stack traces, or logs
[nvvp log 2](https://drive.google.com/file/d/1fF9pNglpDjHbvAMWVMg9J4JMQjfqDkfp/view?usp=sharing)

[2019-04-20 09:49] #2070 closed

[2019-04-22 05:52] #1246 closed

[2019-04-23 09:02] kmaehashi commented on #2130
Currently NumPy team is working on fixing this issue: https://github.com/cupy/cupy/issues/2029
We will continue to check how it goes.

[2019-04-23 11:37] kmaehashi commented on #2157
This is an expected behavior for Python Extension (i.e. non pure-python) modules (like CuPy and NumPy). You cannot import CuPy at the root directory of the source tree unless you use `pip install -e`.

[2019-04-23 11:37] #2157 closed

[2019-04-23 11:39] kmaehashi commented on #2155
I'd like to try reproducing this issue.
Could you share the full code (that generates `H` and `c`)?

[2019-04-23 11:44] kmaehashi commented on #2141
Thanks for raising an issue.

`cp` is used as an abbreviation of cupy in the whole documentation.
https://docs-cupy.chainer.org/en/latest/tutorial/basic.html#basics-of-cupy-ndarray

So I think it's rather better to replace `cupy` with `cp`.

In this example code, curly bracket is not needed as `extern "C"` only qualifies the single function `my_add`.

[2019-04-23 11:45] Bartzi commented on #2157
Thank you for the clarification!
Could you provide a link to the relevant documentation? I must have missed it while looking for the cause of the problem.

[2019-04-23 11:48] kmaehashi commented on #2140
CuPy refers to the header files under `cupy/core/include` at runtime to compile CUDA kernels.
I guess `hiddenimports` does not work as it is not a Python module. Refer to the comment below:
https://github.com/cupy/cupy/issues/1262#issuecomment-391316488

[2019-04-23 22:42] thomascent commented on #2141
Ugh you're right, sorry my C++ is really rusty these days. And sure, numpy uses `np` throughout its docs so using `cp` here makes sense.

[2019-04-23 22:51] tomstewart89 commented on #2141
Ugh you're right, sorry my C++ is really rusty these days. And sure, numpy uses np throughout its docs so using cp here makes sense.

[2019-04-24 01:51] grafi-tt commented on #2157
@Bartzi You can import cupy on other directories. You cannot import cupy at the source directory because Python searches the source tree and fails to find compiled modules.

I'm not sure whether there is some documentation.

[2019-04-24 08:33] Bartzi commented on #2157
Omg, I'm not always the smartest :sweat_smile: thanks for the clarification! And sorry for bothering you with this...

[2019-04-24 14:05] cjekel commented on #1273
I'd be happy to contribute a ```cupy.linalg.lstsq```. I have on my desk a version which uses QR decomposition to solve a least squares problem. Perhaps I could also investigate a SVD version.

Looking at [numpy.linalg.lstsq](https://docs.scipy.org/doc/numpy/reference/generated/numpy.linalg.lstsq.html), it doesn't make sense to include the optional parameter ```rcond``` since this isn't used in cup

[2019-04-24 23:46] maedoc opened #2162 "FFT integer is required"
Thank you for using and contributing to CuPy!

If your issue is a **request for support in using CuPy**, please post it on [Stack Overflow](https://stackoverflow.com/questions/tagged/cupy) or Google Groups ([en](https://groups.google.com/forum/#!forum/cupy) / [ja](https://groups.google.com/forum/#!forum/cupy-ja)).
Developer team members are monitoring questions on these channels.

If it is a bug r

[2019-04-24 23:47] maedoc commented on #2162
I also broke a debugger at the `plan.fft(a, out, direction)` call, and verified the types are cupy arrays for a & out, and a -1 for direction `<type 'int'>`

[2019-04-25 03:49] grlee77 commented on #2162
Are you sure about this? It doesn't look like `a` would be a CuPy array based on your code above.

If you change from:
[code]
to
[code]
it should work. There is no implicit conversion of numpy arrays to cupy arrays within `cupy.fft.fft`.

I agree that the displayed `TypeError` is not the most intuitive, though (it is due to differences in the type of the `data` attribute of Cupy vs. NumPy arrays).

[2019-04-25 07:02] maedoc commented on #2162
Ah I see. Sorry for the noise, I was short on sleep when trying this.  In hindsight I should have rtfm.  Thanks for the kind reply!

[2019-04-25 07:02] #2162 closed

[2019-04-25 08:26] #2143 closed

[2019-04-25 08:40] hvy opened #2163 "CUDARuntimeError printing empty split"
`CUDARuntimeError` printing empty split with out-of-bounds indices.

Code to reproduce follows.
[code]

[code]

[2019-04-25 17:24] liangs91 opened #2164 "cp.where() failed on complex matrices"
I tried to use cp.where() on complex matrices, which seems not supported yet. Here is a snippet of the code
[code]
the error message looks like
[code]

[2019-04-26 01:35] beam2d commented on #2149
Type information has been added for ufunc kernels via #2151. The kernel name is now rendered like `cupy_add__float16_float32_float32` (for adding float16/float32 arrays).

[2019-04-30 07:09] we-taper opened #2166 "CUBLAS_STATUS_EXECUTION_FAILED when running cupy.outer for the first time."
The `cupy.outer` functions raises `cupy.cuda.cublas.CUBLASError: CUBLAS_STATUS_EXECUTION_FAILED` when called the first time. For example:
[code]
Outputs:
[code]
Related information:

* Conditions (the output of `python -c 'import cupy; cupy.show_config()'`)
[code]

[2019-05-04 14:55] primejava opened #2170 "how to install it by pip install cupy-cuda90 --user"
due to i have no server privilege，i must use “--user” to install cupy，but an error occurred。
i can sure cuda and cudnn is in its path。
when i try ：
CFLAGS=/usr/local/cuda/include LDFLAGS=/usr/local/cuda/lib64 CUDA_PATH=/usr/local/cuda pip install cupy --user

it is also dont work。
I have no idea anymore. thank you
-------------------------------
 Modules:
      cuda      : No
        -> Include fi

[2019-05-06 22:14] crcrpar commented on #2070
I encountered this error during installing cupy 6.0.0rc1 on Ubuntu 18.04 with CUDA 10.1 & cuDNN 7.5 via `CHAINER_BUILD_CHAINERX=1 CHAINERX_BUILD_CUDA=1 pip install cupy==6.0.0rc1`.

The details are in https://github.com/crcrpar/dev-chainer/issues/3.

[2019-05-07 06:42] takagi commented on #2070
I suppose that it's because the change of #2147 is not included in 6.0.0rc1. Would you confirm it with the master?

[2019-05-07 08:31] niboshi commented on #2107
Closing as per the comment above.

[2019-05-07 08:31] #2107 closed

[2019-05-07 08:31] kmaehashi commented on #2114
Closing as the question of the author has been answered.

[2019-05-07 08:31] #2114 closed

[2019-05-07 08:32] kmaehashi commented on #2115
Could you tell us why you need `_mat_ptrs` in your usecase?

[2019-05-07 08:43] xptree commented on #2115
Thanks for your reply. The main reason is that I want to use APIs such as `sgemmBatched` and I need `_mat_ptrs` to prepare the input arguments. A more detailed usecase is that I want to compute `A*B.transpose` in pytorch, but I have to write something like:
[code]
I believe that the explicit transpose is not necessary, because `sgemmBatched` supports this operator,

[2019-05-07 10:27] kmaehashi commented on #2164
@liangs91 Thanks for reporting an issue. Do you have any interest in making a PR for this case?

[2019-05-07 10:33] kmaehashi commented on #2170
Please try removing cuDNN path from your `LD_LIBRARY_PATH` to use cuDNN bundled with the wheel distribution.

[2019-05-07 10:45] kmaehashi commented on #2166
Thanks for reporting an issue.
However I could not reproduce the error with your code using:
[code]

Could you try:
* using `cupy-cuda90` wheel instead of `cupy`?
* updating to the latest CuPy v5.4.0?

[2019-05-07 10:55] kmaehashi commented on #2115
Thanks for the quick response! Now I understood your usecase. As for your first question,

We don't have plan to publicize this internal details. Note that `cublas.sgemmBatched` itself is not public (documented in our API reference)... although we don't have any plan to change it drastically.
For now, you can copy the following code in your code (and remove `cdef ...` to make it work in pure-Pytho

[2019-05-07 11:59] denfromufa opened #2173 "Support POWER8/POWER9"
It appears numpy already supports ppc64 architecture via Travis CI:

https://github.com/numpy/numpy/pull/12709

[2019-05-07 12:02] denfromufa commented on #2173
Also scipy is working on powerpc support:

https://github.com/scipy/scipy/pull/9684

[2019-05-07 16:31] crcrpar commented on #2070
Ah, thanks. I'll give it a shot.

[2019-05-08 15:32] we-taper commented on #2166
I am a bit discouraged in this since my packages are managed by `conda` and,
* I guess `conda` should already automatically selected `cupy-cuda90`?
* the latest in `conda` is still `5.1.0`.

But I will try this once `conda`'s version is updated.

[2019-05-08 22:57] AntoineDujardin commented on #2164
I had the same issue. Adding `'?FF->F', '?DD->D'` in the `ops` of the `_where_ufunc` in `cupy/sorting/search.py` solved the problem in my case (CUDA 9.2).
I guess I could make a PR, but wouldn't that be overkill?

[2019-05-09 11:14] kmaehashi commented on #2164
@AntoineDujardin Thanks! It would be great if you can make a PR.
You may also need to remove `no_complex=True` from `where` tests defined in `cupy_tests/sorting_tests/test_search.py`.

[2019-05-09 19:45] AntoineDujardin commented on #2164
Done

[2019-05-10 06:25] asi1024 commented on #2164
Merged #2175.

[2019-05-10 06:25] #2164 closed

[2019-05-12 01:54] slate0 opened #2177 "Installation Guide Update re:"We now provide wheels of development releases for Windows.""
In the referenced issue, it looks like binary wheels are now provided for Windows.
Would it be ok to put this information on the installation page?
https://docs-cupy.chainer.org/en/stable/install.html

I am struggling to get cupy going on Windows and this might have helped save me lots of time.

Thank you!

We now provide wheels of development releases for Windows.
Try `pip install cupy-cuda92` et

[2019-05-12 02:15] slate0 opened #2178 "Document if Impossible to use CuPy with Python 2.7 in Windows"
I have spent a long time trying to get CuPy working with Python 2.7 in Windows.
It seems that experienced people have determined that this is impossible.

Is there a good place to document this information?

Thank you!

Yeap, that seems to be the issue with `pip install cupy`, since the first error messages return error status 2 at Visual C++ for Python's cl.exe (see my attached log in the OP).

V

[2019-05-12 14:30] avimanyu786 opened #2179 "CuPy for HIP vs ClPy for OpenCL for Radeon VII"
Hello,

I've been recently trying to run my existing CuPy code (that currently runs on an NVIDIA Titan X (Maxwell) GPU on another new system with an AMD Radeon VII GPU for the same project. On the NVIDIA based system, I was successfully able to install CuPy within a Conda env with Pip.

For the new AMD based system, so far I have followed the instructions as specified at PR #1094 and have been try

[2019-05-12 22:49] leofang commented on #952
+1. I don't think Mac is supported anymore:

[code]
and there's no wheel supporting Mac:
[code]

[2019-05-12 22:51] leofang commented on #1225
Me neither...See https://github.com/cupy/cupy/issues/952#issuecomment-491635935.

[2019-05-13 02:33] yanlongbinluck opened #2180 "cupy.arange() error"
I have installed cupy by cupy-cuda100
why cupy.array([1,2,3]) is work , but cupy.arange([10]) does not work on my machine?
![image](https://user-images.githubusercontent.com/35165028/57592669-7f0c3380-756a-11e9-9aef-411b3cfa68db.png)

[2019-05-13 05:05] hameerabbasi opened #2181 "Build error on Arch Linux/CUDA 10.1"
* Conditions (you can just paste the output of `python -c 'import cupy; cupy.show_config()'`)
  - CuPy version: 5.4.0
  - OS/Platform: Antergos
  - CUDA version: 10.1.105-2
  - cuDNN/NCCL version: 7.5.1.10-1/None
* Code to reproduce
  `python3 -m pip install cupy`
* Error messages, stack traces, or logs

<details>
 <summary>Build log</summary>

[code]

</details>

[2019-05-13 09:53] kmaehashi opened #2183 "Support CentOS 8"
RHEL 8 has been released and we should prepare for it.

[2019-05-13 10:01] kmaehashi commented on #2180
Please refer to the FAQ section.
https://docs-cupy.chainer.org/en/latest/install.html#cupy-always-raises-cupy-cuda-compiler-compileexception

[2019-05-14 04:43] kmaehashi commented on #952
* `CUDA_PATH=/Developer/NVIDIA/CUDA-9.2` should be `export CUDA_PATH=/Developer/NVIDIA/CUDA-9.2`.
* Could you confirm that all header files (`['cublas_v2.h', 'cuda.h', 'cuda_profiler_api.h', 'cuda_runtime.h', 'cufft.h', 'curand.h', 'cusparse.h', 'nvrtc.h']`) are installed under `/Developer/NVIDIA/CUDA-9.2/include`?

[2019-05-14 06:33] takagi commented on #2181
Would you try the pre-built binary for CuPy v5.4: `python3 -m pip install cupy-cuda101`?

This would be the same issue with #2070, fixed in #2147. The fix is included in v6.0.0 that will be scheduled to release this Thursday, so please wait the release or try the latest master if you need to install CuPy from its source.

[2019-05-14 08:47] kmaehashi commented on #2173
Thank you for raising an issue. Unfortunately Travis does not support GPU, so we cannot run tests on it; currently we use Travis only to verify that it can be compiled. To declare that CuPy supports POWER architecture, we need some CI infrastructure to run full CuPy unit tests.
Do you have specific use-case to use CuPy on POWER?

[2019-05-14 14:10] denfromufa commented on #2173
Actually my use case just cancelled, because cupy only supports limited subset of zoom method from scipy.ndimage.
I had issues with compiling cupy in PowerAI, but this resolved by switching to default compilers.

[2019-05-14 14:10] #2173 closed

[2019-05-14 22:09] leofang commented on #952
Dear @kmaehashi, Thanks for the heads up. Sorry I copied the wrong output, which was from an earlier test. The correct ones are pasted below, and I did already confirm both points you raised prior to my last post.

Check headers exist:
[code]

Install from source:
[code]

Install wheel:
[code]

[2019-05-15 06:38] KShutter opened #2188 "Nothing works, with error: CUDADriverError: CUDA_ERROR_INVALID_PTX: a PTX JIT compilation failed"
I installed CuPy into a new machine of mine. I did install using `pip install cupy-cuda91 `, since my CUDA version is 9.1. However, whenever I try to use anything form CuPy, I get an error message saying "CUDADriverError: CUDA_ERROR_INVALID_PTX: a PTX JIT compilation failed".

Below I give details.

* Conditions (from `python -c 'import cupy; cupy.show_config()'`):

* Code to reproduce (obviously,

[2019-05-15 07:28] kmaehashi commented on #2188
Could you try specifying `CUDA_PATH` and `LD_LIBRARY_PATH`?
https://docs-cupy.chainer.org/en/latest/install.html#cupy-always-raises-cupy-cuda-compiler-compileexception

[2019-05-15 08:55] hvy opened #2189 "Inaccurate integer power"
Power (`cupy.power` and `cupy.ndarray.__pow__`) is inaccurate/loses significance for integers since inputs are cast to `double`, and then passed to `pow`. https://github.com/cupy/cupy/blob/master/cupy/core/_routines_math.pyx#L412

This is by the way addressed in ChainerX as follows
https://github.com/chainer/chainer/pull/6496/files#diff-fc57f97e4c49fc3aa1e97d8209904a20R81

#### Code to reproduce

[2019-05-15 11:43] xichuang opened #2193 "cupy.linalg.qr() of complex matrix gives wrong answer"
cupy.linalg.qr() works well for real matrix but returns wrong result for complex ones.

[code]

In addition, both q and r are different from that of numpy.linalg.qr() for the same matrix.

* Conditions
  - CuPy version: 5.4.0
  - OS/Platform: linux
  - CUDA version: 10.0.130
  - cuDNN/NCCL version (if applicable): 7.3.1

[2019-05-16 15:19] avimanyu786 commented on #2179
I upgraded to ROCm 2.4 today and now am not getting any errors for CuPy on HIP when I execute the line `import cupy` :D !!! When I try to display the current device, it shows as `<CUDA Device 0>`.

[code]
The above now gives the following output:

[code]

Excited to explore more!

[2019-05-17 04:19] #1273 closed

[2019-05-17 07:47] #2125 closed

[2019-05-17 22:50] primejava commented on #2170
@kmaehashi thanks

[2019-05-17 22:50] #2170 closed

[2019-05-19 11:22] gwtnb opened #2202 "Add cuDNN attention"
Add support of
- [ ] cudnnMultiHeadAttnForward
- [ ] cudnnMultiHeadAttnBackwardData
- [ ] cudnnMultiHeadAttnBackwardWeights

[2019-05-19 12:57] gwtnb commented on #2202
There are a list of attention functions on the cuDNN 7.5.0 release note. https://docs.nvidia.com/deeplearning/sdk/cudnn-release-notes/rel_750.html

[2019-05-19 14:07] crcrpar commented on #2202
I tried to support those functions but still in progress ([branch's comparison to cupy:master](https://github.com/cupy/cupy/compare/master...crcrpar:feature/attention) because I have no idea about the design of cupy/cudnn.pyx functions whom used by Chainer directly.

[2019-05-20 16:26] leofang commented on #2128
@pentschev thank you for fixing this! We also ran into this bug recently and I'm glad someone was ahead of us!

[2019-05-21 04:31] kmaehashi commented on #2193
Current implementation of `cupy.linalg.qr` does not support complex, but it fails to emit error when complex array is given. It seems it's easy to support complex in `qr` as cusolver already supports it.

[2019-05-21 09:00] kmaehashi commented on #2202
Related to https://github.com/chainer/chainer/pull/7066.

Currently this module is undocumented and thus have no explicit policy regarding implementation (basically it should conceal cudnn specific states and descriptors). Do you have any specific concerns?

[2019-05-21 11:57] crcrpar commented on #2202
I have difficulty in understanding the cuDNN API documentations and I am
concerned about whether there is a limitation of shapes of query, key, and
value vectors.

On Tue, May 21, 2019 at 18:00 Kenichi Maehashi <notifications@github.com>
wrote:

[2019-05-21 23:49] p3732 opened #2205 "cp.mean over flat array returns array (unlike np.mean)"
Hi there!
I found that using `cp.mean()` as a drop-in replacement for `np.mean()` does not always work, since for calculating the mean of the flattened array (not specifing the `axis` parameter), cupy returns an array while numpy returns a single float value. Not sure if this is intentional, but I did not find any previously opened issues on this.

Code snippet:

[code]

CuPy version 5.1.0, Python

[2019-05-22 04:01] beam2d opened #2206 "`array_split` splits the array incorrectly"
When feeding the number of sections to `array_split`, it sometimes splits the input differently from NumPy. In some cases, it even produces an invalid split (e.g. with negative length output).

[code]

I checked it with the current master branch.

[2019-05-23 03:50] #409 closed

[2019-05-23 08:05] #2189 closed

[2019-05-23 09:52] #593 closed

[2019-05-23 16:53] egoolish opened #2212 "Proper way of handling scalar (np) v. 0-dimensional array (cp)"
It's talked about in the documentation how CuPy returns 0-dimentional cupy.ndarrays rather than scalars, as in
[code]
whereas
[code]
and thus calling
[code]
A workaround is to explicitly cast the array:
[code]
but I'm just curious if this is killing performance by forcing the GPU to sync with the CPU. Does there exist a protocol for handling this type of scenario (which also happens with reduction

[2019-05-23 18:22] egoolish opened #2213 "Hasattr returns True for attributes in 0-dimensional arrays"
Behavior is somewhat expected, although counter-intuitive and unlike NumPy's. Elements of a cp.array are also cp.arrays rather than scalars, and thus hasattr returns true for attributes such as len. However, of course, calling len on an element throws an error.
MWE:
[code]
[code]
[code]

[2019-05-24 10:13] #2206 closed

[2019-05-27 04:57] Piyush-555 opened #2216 "Add cupy.nanargmin and cupy.nanargmax"
I am interested in adding `cupy.nanargmin` and `cupy.nanargmax`. They will not be fully equivalent to numpy ones because, currently `cupy.array` does not support `subok=True`.

[2019-05-27 09:10] gwtnb opened #2218 "Write a document or a comment about cupy_cudnn.h"
Current [`cupy_cudnn.h`](https://github.com/cupy/cupy/blob/cbd9c30db2eff89f8d102684085779d75a7e6f5f/cupy/cuda/cupy_cudnn.h) is difficult to understand for developers who are not familiar with CuPy internals. The sources of difficulties may be:

- The purposes of `cupy_cudnn.h` are not written.
- `cupy_cudnn.h` has multiple purposes (i.e. building on readthedocs and supporting multiple version of c

[2019-05-27 21:39] jha929 commented on #1657
Hi, has the compile method been implemented now?

[2019-05-28 04:12] leofang commented on #1657
It's in #1889 but is not merged to master yet.

[2019-05-28 09:51] harshalchaudhari35 commented on #2216
I have ran into the same requirement of nanargmin and nanargmax in cupy. I had to port from numpy without the subok parameter and conditional check for _object in _replace_nan() function. I would be interested to add further into this

[2019-05-28 11:03] kmaehashi commented on #2216
@harshalchaudhari35 It would be great if you can make a PR for this!

[2019-05-28 11:07] harshalchaudhari35 commented on #2216
@kmaehashi Sure will do

[2019-05-28 11:24] kmaehashi commented on #2212
[code]

`cp.array` will accept array of CuPy arrays in the next release (v7.0.0b1, #2081). In this case array concatenation will run on GPU.

[2019-05-28 11:32] kmaehashi commented on #2213
By design of CuPy, it does not perform memory transfer between GPU/CPU automatically. Please refer to https://docs-cupy.chainer.org/en/latest/reference/difference.html#zero-dimensional-array for details.

This behavior is the same as NumPy's 0-dim array.

[2019-05-28 11:33] kmaehashi commented on #2205
Thanks for raising an issue! This behavior is by design of CuPy. Please refer to this docs for more details:
https://docs-cupy.chainer.org/en/latest/reference/difference.html#zero-dimensional-array

[2019-05-28 12:06] kmaehashi commented on #2202
It seems error code list of `cudnnSetAttnDescriptor` contains some restrictions regarding parameters. If you have some doubt, we can ask it to NVIDIA guys.

[2019-05-28 12:16] p3732 commented on #2205
Ah yes, I thought something like this would be the case, but did not suspect to find it under that FAQ entry. Thanks for the explanation! Hopefully this issue will be found by other people wondering about this.

[2019-05-28 12:16] #2205 closed

[2019-05-28 16:43] niboshi opened #2221 "Error message from `cupy.repeat` is misleading"
Version: current master cbd9c30db2eff89f8d102684085779d75a7e6f5f
See also: https://stackoverflow.com/questions/56344478/valueerror-the-truth-value-of-an-array-with-more-than-one-element-is-ambiguous

[code]
[code]

The error message could be improved.
As seemingly this issue is *repeated* (#1918), we might include the reason behind prohibiting `cupy.ndarray` in the error message.

### Some more de

[2019-05-28 21:34] harshalchaudhari35 commented on #2216
Apologies for the messy PR earlier. Initial checks have passed now. Please review the PR.

[2019-05-30 12:05] hanqing1 commented on #2100
when I Input y = cupy.arange(10),I have the same question as that descripted above.please told me what did you do to deal with the question?Thank you!

[2019-05-30 15:26] jakirkham opened #2223 "Add CuPy extract"
Would be useful to have an [`extract`]( https://docs.scipy.org/doc/numpy/reference/generated/numpy.extract.html#numpy.extract ) implementation for CuPy arrays.

[2019-05-30 15:28] jakirkham opened #2224 "Add CuPy compress"
Would be useful to have an [`compress`]( https://docs.scipy.org/doc/numpy/reference/generated/numpy.compress.html#numpy.compress ) implementation for CuPy arrays.

[2019-05-30 15:50] jakirkham opened #2225 "Masked array analogue for CuPy"
It's very useful in a variety of contexts to have an N-D array of data with some values marked as problematic or missing. This can be useful in applications as wide ranging as imaging, remote sensing, business analytics, etc. In NumPy, this would be the [Masked Array]( https://docs.scipy.org/doc/numpy/reference/maskedarray.html ). Though other libraries like Pandas also [handle missing values with

[2019-05-30 18:33] jchutrue opened #2226 "Slow program execution from device to host transfer"
I'm testing a simple inner product with cupy. When I copy the output to host memory, the actual data transfer rate is what I expect, but the total execution time of that code block is orders of magnitude higher. So I'd like to know whether this is a real issue or something expected. Thanks!

[code]
Output:
[code]
Conditions:
[code]

[2019-05-31 04:41] hanqing1 commented on #2100
@

@ling-pan @fiarabbit

[2019-05-31 05:43] coolabhishek opened #2227 "cupy.cuda.memory.OutOfMemoryError:"
Thank you for using and contributing to CuPy!

If your issue is a **request for support in using CuPy**, please post it on [Stack Overflow](https://stackoverflow.com/questions/tagged/cupy) or Google Groups ([en](https://groups.google.com/forum/#!forum/cupy) / [ja](https://groups.google.com/forum/#!forum/cupy-ja)).
Developer team members are monitoring questions on these channels.

If it is a bug r

[2019-05-31 09:46] fiarabbit commented on #2100
@hanqing1 Would you please raise another issue with your runtime information, because NVRTC error stuff usually densely relates to the runtime environment. Please note the output of `cupyx.get_runtime_info()`.

[2019-05-31 16:08] jakirkham commented on #2225
For reference, `__cuda_array_interface__` may be extended to handle masks as well. ( https://github.com/numba/numba/issues/4130 )

[2019-05-31 18:14] Danhyal-Masood opened #2228 "specify gcc binary"
Is there a a flag in order to specify a specific gcc version to use? as I have multiple on my system.

[2019-06-02 00:31] liwt31 opened #2230 "TypeError comparing complex type and float type in `is_close`-like functions"
* Conditions
[code]
* Code to reproduce
[code]
* Error messages, stack traces, or logs
[code]
Apparently similar functions like `allclose` have the same behavior.

I know it's logically not sound to compare complex value and float value directly, but **in `numpy` no error will be raised in such cases.**

Thanks!

[2019-06-02 03:12] fiarabbit commented on #2228
If you use unix-based system, you can specify which compiler to be used by changing the alternative of `cc` command.
https://docs.python.org/3/distutils/apiref.html#module-distutils.unixccompiler

[2019-06-03 05:08] leofang commented on #2230
Duplicate of #1946. Please update your CuPy version to 6.0.0. This has been resolved in PR #1947.

[2019-06-03 05:43] liwt31 commented on #2230
Updating solves the issue. Thanks!

[2019-06-03 05:43] #2230 closed

[2019-06-03 15:03] jha929 opened #2236 "Cannot convert cupy ndarry to numpy ndarray"
* Problem Description
Hi, I have a diagonal of a cupy ndarry, and am trying to convert the type of the diagonal to numpy array. However, it throws a catastrophic error, specified below. Any help will be appreciated.

* Conditions
CuPy Version          : 5.1.0
CUDA Root             : /usr/local/cuda
CUDA Build Version    : 10000
CUDA Driver Version   : 10000
CUDA Runtime Version  : 10000
cuDNN Buil

[2019-06-03 15:11] harshalchaudhari35 commented on #2236
Just replicated your code. It's working on cupy version 6.0 with cuda 10.1

[2019-06-03 15:19] jha929 commented on #2236
Hi, thanks for your comment it really helps.

Ermm, I cannot update cupy for some reason..
In fact, every time I try to update cupy with "pip install -U cupy", it shows the output below.
[code]
and never proceed further.

Will there be any workaround?

[2019-06-03 15:23] harshalchaudhari35 commented on #2236
Not sure why its not downloading from the there, but you could download the tar.gz file from here https://pypi.org/project/cupy/#files and using ```pip install path-to-tar.gz/filename.tar.gz``` install it from the tar.gz file

[2019-06-03 15:37] jha929 commented on #2236
Thanks for the help.

I tried to install cupy from local but had no luck.
"pip install cupy-6.0.0.tar.gz" gives the following output then never proceed again.
[code]

In fact, I solved the installation problem by
[code]

Anyway, I appreciate your help, I will close the issue as it has been resolved.

[2019-06-03 15:37] #2236 closed

[2019-06-03 21:08] deltadu opened #2237 "Allow RandomState.permutation() to accept cupy.ndarray as input"
Can you please allow RandomState.permutation() accept cupy.ndarray as input

* Code to reproduce
import cupy as cp
rng = cp.random.generator.RandomState(seed=0)
rng.permutation(cp.array([1, 2, 3]))

* Error messages, stack traces, or logs
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/rapids/notebooks/k.py", line 1174, in split
    for train, test in self._iter_i

[2019-06-03 21:26] ssoulhi opened #2238 "module 'cupy' has no attribute 'corrcoef'"
AttributeError                            Traceback (most recent call last)
<ipython-input-88-dac9d0384586> in <module>
----> 1 ccp = cp.corrcoef(df_n_cp)

AttributeError: module 'cupy' has no attribute 'corrcoef'

where type(df_n_cp) is cupy.core.core.ndarray

My environment is:

CuPy Version          : 4.1.0
CUDA Root             : /usr/local/cuda
CUDA Build Version    : 9000
CUDA Driver Version

[2019-06-03 21:36] harshalchaudhari35 commented on #2238
Try updating the CuPy version? It's working on CuPy 6.0 and Cuda 10.1

[2019-06-04 08:55] beam2d commented on #2225
Hi, thanks for sending a feature request. I understand that NumPy's masked array looks useful to transparently represent arrays with missing values, but I'm concerning if introducing it will make CuPy's code base further complicated. Since I have not seen any real-world examples using it, I would like to know if there is a big usage of this feature.

[2019-06-04 11:09] niboshi opened #2241 ""total" memory in OOM error message is confusing"
What "total" memory mentioned in the error message means is ambiguous.

[code]

I'd imagine it would be either the total available memory in the system, or the total size of memory allocated so far.
Actually it's neither: the total size of memory that *would be* allocated if the allocation suceeded.

[2019-06-04 20:06] RemiLehe commented on #2104
As mentioned [here](https://github.com/cupy/cupy/issues/2104), the above question on the representation of size-0 arrays does have an impact on interoperability between `numba` and `cupy`: currently, passing a size-0 `cupy` array to a `numba` GPU kernel will result in a raised exception.

[2019-06-05 16:39] cgohlke opened #2243 "cupy-6.0.0 fails to import on Python 3.8.0b1 for Windows"
Just a heads-up: using CuPy 6.0.0 built from source with Cython-0.29.10 and CUDA 10.1 on Python 3.8.0b1, Windows 10, cupy fails to import (at least on my system, traceback below). This is due to a [change of the DLL resolution](https://docs.python.org/3.8/whatsnew/3.8.html#bpo-36085-whatsnew) on that platform. A quick workaround if `CUDA_PATH` is defined:

[code]

[code]

[2019-06-05 19:47] cjnolet opened #2244 "NcclCommunicator to expose function for getting the underlying ncclComm_t"
I've been looking at your `nccl.pyx` wrapper for possible use inside RAPIDS cuML.

It would be great if we could initialize the `ncclComm_t` object in Python using your wrapper and then pass the `ncclComm_t` object down to C++ for native processing, as necessary.

[2019-06-07 08:51] #2241 closed

[2019-06-08 13:19] tiago939 opened #2247 "Weird timing in matrix multiplication and tensor cores"
Hello,
I got a RTX 2070 and have been testing matrix multiplications too see how the performance improves. This is what I got:
![image](https://user-images.githubusercontent.com/20017064/59147710-4169c180-89d5-11e9-9e2c-2f2c16e2e60a.png)

(by  cuda I mean without tensor cores)
As you can see, sometimes the tensor cores are faster, mostly not. Another thing to notice is that with cuda sgemm, larger

[2019-06-08 15:53] casperdcl opened #2248 "floating point errors"
Odd discrepancies for simple maths without overflow potential where there shouldn't really be disagreement

[code]
[code]
[code]

[2019-06-08 21:26] tiago939 commented on #2247
I've solved the issue, for anyone interested, there are a couple of things going on here:

1) If your loop creates new matrices, make sure to create and destroy handles as well;
2) Use gemmEx instead of SgemmEx (the first one does better);
3) You only will have gains if you do the same operation many times (c large in the code above).

[2019-06-08 21:26] #2247 closed

[2019-06-11 08:05] kmaehashi commented on #2227
This error is caused because the memory is insufficient. Try changing the batchsize.

For Chainer-related questions, please use StackOverflow with `chainer` tag.

[2019-06-11 08:05] #2227 closed

[2019-06-11 09:02] kmaehashi commented on #2244
I think that feature is reasonable. Could you make a PR?
Please be aware that `cupy.cuda.nccl` module may not be available if user builds CuPy from source (`pip install cupy`) without installing NCCL. (CuPy wheels like `pip install cupy-cuda101` always come with NCCL.)

[2019-06-11 09:05] kmaehashi commented on #2226
@jchutrue This is because `Total device to host time` includes time to perform `xp.dot`, whereas `Device to host time` only measures the time of memory copy. CUDA operations are basically asynchronous (`xp.dot` launches the kernel and returns immedeately).

[2019-06-11 10:10] kmaehashi commented on #2248
In CuPy v7.0.0a1, `**` operator calls `pow` function. https://github.com/cupy/cupy/blob/v7.0.0a1/cupy/core/_routines_math.pyx#L403-L417

Due to the limitation of CUDA, computations results on the device may include error. Error bounds for each function are documented in the following page:
https://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#standard-functions

We will change `**` to a

[2019-06-11 18:51] jakirkham commented on #2099
Would be curious if you have thoughts on this, @anaruse?

[2019-06-11 22:19] jchutrue commented on #2226
@kmaehashi Ahh, I see. I don't think I was measuring the time properly then. What's the correct way to wait until the kernel completes, and only then start timing so that I can measure the ```z = zp.get()``` memory copy accurately?

[2019-06-12 05:23] kmaehashi commented on #2226
@jchutrue In this code `xp.dot` runs on null (default) stream. You can use `cp.cuda.Stream.null.synchronize()` right after `xp.dot` to synchronize host/device (i.e. wait until `xp.dot` completes).

[2019-06-12 05:23] #2226 closed

[2019-06-12 08:46] toslunar opened #2251 "Unify tests for `cupy.random` and `cupy.random.RandomState`"
`cupy.random` and `cupy.random.RandomState` should have almost the same interface.  Tests for them could be unified.

See #2250.

[2019-06-14 02:09] #2237 closed

[2019-06-16 20:16] jbeard4 opened #2258 "`cupy.cross` function not available"
I noticed that function `numpy.cross`, which implements cross product for 2D and 3D vectors, is not available in cupy. Is this intentional? Would a numpy-quivalent implementation of cross product be a welcome contribution to cupy?

Let me know what you think. Thank you.

[2019-06-17 14:31] leofang opened #2259 "[BUG] `__cupy_array_interface__['strides']` is not compliant"
Bug report:
* Conditions (you can just paste the output of `python -c 'import cupy; cupy.show_config()'`)
[code]
* Code to reproduce
[code]
* Error messages, stack traces, or logs

When not `None`, `__cuda_array_interface__['strides']` should be a `tuple` instead of a `list` according to the [standard](http://numba.pydata.org/numba-doc/latest/cuda/cuda_array_interface.html):

The source of this bu

[2019-06-18 08:24] beam2d commented on #2258
There is no reason for the non-existence of `cupy.cross`. Contribution is always welcome!!

[2019-06-18 12:30] pnjun opened #2262 "Compilation error when kernel name is a C keyword"
Conditions:

CuPy Version          : 6.0.0
CUDA Root             : /usr/local/cuda
CUDA Build Version    : 10010
CUDA Driver Version   : 10010
CUDA Runtime Version  : 10010
cuDNN Build Version   : None
cuDNN Version         : None
NCCL Build Version    : None
NCCL Runtime Version  : None

Just playing with elementwise kernels and this happened:
[code]

Gives a compilation error, while this works a

[2019-06-22 19:45] leofang commented on #2104
Just trying to follow up: as I raised in numba/numba#4175, Numba's way of representing a 0-size array with `__cuda_array_interface__['data'][0] = None` is not complying with the standard they proposed, which requires an `int`. This should be considered a bug on the Numba side, not CuPy.

[2019-06-23 15:53] jbeard4 opened #2271 "Some cupy methods are 4-170x slower than numpy equivalents"
I am completing a proof of concept in which I am porting an existing codebase from numpy to cupy in order to compare performance. I have found that some cupy methods are much slower then their numpy equivalents, sometimes by a factor of up to 170x. Please see the attached screenshots, which compare the profile data captured using python's built-in cProfile module visualized in the utility kcachegr

[2019-06-23 23:12] cjnolet commented on #2244
Certainly, I will make a PR. Thank you.

[2019-06-24 10:08] #2259 closed

[2019-06-25 02:01] emcastillo commented on #2271
Hello and thank you for your feedback!

What are the size of your inputs?

If the input size is very small (a matrix of 128x128 for cupy.nonzero) CUDA overheads dominate.
However with a matrix of 16384x16384 cupy.nonzero is significantly faster than the numpy counterpart.

Try experimenting with different sizes :).

[2019-06-25 11:15] qwenger commented on #1703
Hi,

Thank you for developing CuPy.

I met the same problem as OP. My use case is a 2D kernel involving a bunch of matrix multiplication-like operations, among which some of those matrices are constant (they are typically roughly the size of a block).

Fortunately, I found a workaround to use constant memory in CuPy, using the internal/undocumented/... API:

`import ctypes

import numpy as np
impo

[2019-06-25 11:40] jakirkham opened #2274 "Adding Conda packages to conda-forge"
It would be great to have packages for [Conda]( https://docs.conda.io/en/latest/ ). While there are [packages maintained by Anaconda]( https://anaconda.org/anaconda/cupy ), it would be great to have some community maintained packages in [conda-forge]( https://conda-forge.org ). This would allow us to update things more directly and provide us the option to publish RCs to get the latest changes out

[2019-06-25 14:33] jakirkham commented on #2274
Have added PR ( https://github.com/conda-forge/staged-recipes/pull/8638 ) to get this started. It is still WIP.

[2019-06-25 23:16] jbeard4 commented on #2271
Thanks so much for sharing your insight on this, it helps a lot.

[2019-06-25 23:16] #2271 closed

[2019-06-26 06:32] take-cheeze opened #2276 "`around` result is different compared to numpy"
[code]
NumPy seems to round to even.

[2019-06-26 07:05] take-cheeze commented on #2276
Seems using `rint` will solve this

[2019-06-26 12:34] PovelikinRostislav commented on #2110
I met the same issue.
`conda install -c anaconda cupy` produces

during `import cupy`

The command installed `cudatoolkit-10.1.168` and `cupy-6.0.0`

[2019-06-26 12:38] PovelikinRostislav commented on #2110
`conda install cudatoolkit=9.0` helped me too.
thanks @we-taper

[2019-06-26 12:47] kmaehashi commented on #2110
@jjhelmus It seems the above error is happening again. Could you fix the dependency information?

[2019-06-26 15:08] jjhelmus commented on #2110
Please do not use the `anaconda` channel to install these (or any) packages.  The same packages are available with corrected dependencies via the `defaults` channel.

[2019-06-26 16:23] the-lay opened #2278 "CuPy texture support"
I have a framework built on top of PyCUDA, and I'm looking into CuPy as a potentially better option for the framework "backend".
I'm very happy with what I see, except for texture support. The framework's one of the most important features is fast rotation on GPU. We use textures (specifically 3D) and custom interpolation, and I was wondering, does CuPy support textures?
Ideally, is there an examp

[2019-06-27 09:12] PovelikinRostislav commented on #2110
@jjhelmus, could you explain why it 's not relevant to use `anaconda` channel for

?

Thanks in advance

[2019-06-27 14:16] jjhelmus commented on #2110
Packages from Anaconda, Inc are provided at repo.anaconda.com.  In conda these are available through the `defaults` channel.  Occasionally we find error in the dependency information in these packages and update them.

These packages are mirrored into the `anaconda` channel on Anaconda cloud, anaconda.org.  The packages in the `anaconda` channel are not updated with these corrections to the depend

[2019-06-27 20:10] sunshineatnoon commented on #1901
Hi, I met the same problem, my cuda version is 9.0, how did you solve this?

[2019-06-28 09:33] niboshi opened #2280 "List argument in reduction functions"
Related: #1206

https://github.com/chainer/chainer/blob/v7.0.0b1/chainer/optimizer_hooks/gradient_clipping.py#L21

[code]

If `cupy.sum` supports a list argument, this sum could be written as something like
[code]

which could save a single kernel (0 + first array).

[2019-06-28 19:18] galipremsagar opened #2281 "cupy TypeError while formatting cupy result to string"
* Conditions (you can just paste the output of `python -c 'import cupy; cupy.show_config()'`)
  CuPy Version          : 6.1.0
CUDA Root             : /usr/local/cuda
CUDA Build Version    : 10000
CUDA Driver Version   : 10010
CUDA Runtime Version  : 10000
cuDNN Build Version   : 7500
cuDNN Version         : 7500
NCCL Build Version    : 2402
NCCL Runtime Version  : 2402
* Code to reproduce:
cupy is

[2019-06-28 20:56] galipremsagar opened #2282 "cupy array not storing scalars as scalars like numpy"
cupy arrays are maintaining elements in it as `cupy.core.core.ndarray` itself. But ideally shouldn't they be scalar? The reason is I hit this issue where I'm trying to filter a cudf based on a value in cupy array and I get exception from cudf since it isn't a scalar value.

* Conditions (you can just paste the output of `python -c 'import cupy; cupy.show_config()'`)
  CuPy Version          : 6.1.0

[2019-06-29 02:39] crcrpar commented on #2281
How about cupy.sum(cupy.array([1,2])).item()` which is only available for ndarrays with only one element as a tentative workaround?

[2019-06-29 19:52] andravin commented on #2118
Closing due to lack of interest.

[2019-06-29 19:52] #2118 closed

[2019-07-01 04:58] wonghang opened #2283 "Add interface for cusparseCsrmvEx"
My original problem is here:
https://groups.google.com/forum/#!topic/cupy/63Vfyc00YH0

Because of the above issue, I want to add an interface to call the MERGE PATH SpMV algorithm in CUSPARSE.

The API is here:
https://docs.nvidia.com/cuda/cusparse/index.html#csrmvEx

Referring to the following slide:
http://images.nvidia.com/events/sc15/pdfs/sc15-Merge-Based-Parallel-Sparse-Matrix-Vector-Multipli

[2019-07-01 07:18] kmaehashi commented on #2110
@jjhelmus Thanks for the detailed explanation! I confirmed that the dependency information is correct in CuPy packages on the `default` channel; it instead raises an  `UnsatisfiableError` because `cupy` (and `nccl`) package for CUDA 10.1 is not yet available in anaconda.

`cudatoolkit` package provides `libcudart.so.10.0` (files listed below), as it is a part of CUDA Toolkit;  (NVIDIA driver provi

[2019-07-01 07:18] #2110 closed

[2019-07-01 11:57] kmaehashi commented on #1901
@sunshineatnoon Please check this: https://docs-cupy.chainer.org/en/latest/install.html#cupy-always-raises-cupy-cuda-compiler-compileexception

[2019-07-01 12:14] kmaehashi commented on #2281
This is (currently) the expected behavior (see https://docs-cupy.chainer.org/en/latest/reference/difference.html#reduction-methods for further descriptions). As @crcrpar suggested, you need to use `item()` to explicitly transfer the computation results from GPU to CPU:

[code]

[2019-07-01 12:24] kmaehashi commented on #2282
Could you check my comment in https://github.com/cupy/cupy/issues/2281#issuecomment-507239488?

[2019-07-01 14:42] galipremsagar commented on #2281
Cool, thanks. That helped.

[2019-07-01 14:42] galipremsagar commented on #2282
Yes, that helps as a workaround for this issue aswell.

[2019-07-02 06:01] pentschev commented on #2274
Thanks for the discussion on this topic today during the PFN-NVIDIA call.

Just to summarize it here, PFN is going to discuss this but are mostly willing to maintain CuPy's conda-forge package. For now, @jakirkham has sent an initial package recipe in https://github.com/conda-forge/staged-recipes/pull/8638 that may be used as an introductory recipe and CuPy could continue to maintain it afterwards

[2019-07-02 07:45] kmaehashi commented on #2274
@pentschev Thank you for summarizing the discussion!

@jakirkham
* Does conda-forge provides automated build infrastructure like DockerHub, or should we build and upload packages by ourselves for each release?
* Anaconda's main repo already hosts `cupy` package. Are there anything that we should take care of (e.g. conflicts between Anaconda's main repo and conda-forge repo)?

[2019-07-02 08:28] beam2d commented on #2278
We do not have any plan for introducing texture support to CuPy. We are interested in the interoperability with other libraries, though, and PyCUDA is not an exception. Again, we currently do not have any concrete plan for supporting PyCUDA interop support, but if there is a demand, we are willing to add support for it.

[2019-07-02 08:29] #2281 closed

[2019-07-02 08:29] #2282 closed

[2019-07-02 08:42] beam2d commented on #2283
As for the interface, if the added algorithm runs faster than the current implementation, it is better to just replace the current implementation of `dot` method for the matrix-vector product case instead of adding methods (matvec and rmatvec) not existing in scipy.sparse.

[2019-07-02 09:12] wonghang commented on #2283
Thank you for the reply. OK. Let me work it out and submit a PR.

`dot` implementation of `cupy.sparse.csr_matrix` and `cupy.sparse.csc_matrix`  are just calling `__mul__`

I want to emphasis that the merge path algorithm in cuSPARSE does not support transpose operation. As a result, csc_matrix will not benefit from the change.

For `matvec(.)` and `rmatvec(.)`, they are in https://docs.scipy.org/

[2019-07-02 12:15] beam2d commented on #2283
Thank you for the information of `matvec` and `rmatvec` in scipy.sparse; I did not notice that!

I do not think they are the right places to provide optimized implementations, though. How about using the merge path algorithm in `csr_matrix.__mul__` when the argument is a vector?

[2019-07-02 13:59] wonghang commented on #2283
Yes. I think it is better way. I am working on it. Wait for my PR.

[2019-07-02 19:45] jakirkham commented on #2274
Thank @pentschev for discussing this with PFN. Also thanks for the thoughtful questions, @kmaehashi. Have added some info below.

conda-forge provides infrastructure for each feedstock to manage the build and upload of packages from a clean, reproducible environment. This infrastructure is maintained by the core group in conda-forge and a few service providers (like Anaconda and Azure), which we w

[2019-07-03 19:13] leofang commented on #2278
As a (former) PyCUDA user, one nice thing for better interoperability is to ask @inducer to support [`__cuda_array_interface__`](http://numba.pydata.org/numba-doc/latest/cuda/cuda_array_interface.html). Then, adding support for texture and beyond might become a bit easier.

[2019-07-04 07:22] niboshi opened #2289 "`TestNpz.test_dump` test failure"
https://jenkins.preferred.jp/job/chainer/job/cupy_pr/161/TEST=cupy-py3,label=mn1-p100/console

[2019-07-04 11:28] #2283 closed

[2019-07-05 02:52] wonghang commented on #1703
I am a pycuda user and have my own CUDA kernel written in C code. If I want to port my code from pycuda to cupy, I will also need access to constant memory.

My use case is that I have a constant memory (storing some floating points) in my code to control the behavior of all kernels so that I don't need to pass the configuration to each kernel every time.

I tested and I think the code is just as

[2019-07-05 07:48] #2289 closed

[2019-07-06 10:38] Stephenfang51 commented on #952
Dear SIr

Did you solve the installation problem on Mac ?

Thank you ！

[2019-07-08 08:36] wonghang opened #2294 "Improve reduction performance by cudnnReduceTensor"
Would cupy team have any plan to use cuDNN for reduction (i.e. sum, prod, min, max, ...)
(related issue #2085)

I did it by myself ([compare](https://github.com/cupy/cupy/compare/master...wonghang:cudnn_reduction)) and added a method ``reduce_tensor`` in [cupy/cudnn.pyx](https://github.com/wonghang/cupy/blob/cudnn_reduction/cupy/cudnn.pyx) to do the job.

Here a simple benchmark on my machine:

[c

[2019-07-08 20:15] inducer commented on #2278
I'm not a CuPy user myself, but I would be happy to consider a patch implementing this.

[2019-07-09 07:55] beam2d commented on #2294
Thank you for the benchmark, it looks interesting. Actually, there is an on-going effort on improving the reduction performance #2090, which uses CUB. Could you also try this patch? I am interested in performance comparison.

[2019-07-09 09:13] wonghang commented on #2294
Here is the benchmark using #2090 CUB branch on my machine (I am using GeForce GTX TITAN Black)

[code]

sum/max/min performance looks better if we use CUB.

[2019-07-09 22:51] jakirkham commented on #2225
This comes up a lot when processing image data where some portion of the image may be deemed problematic and need to be filtered out. One example of this would be dealing with clouds and shadows in Landsat data. Here's a [nice short example]( https://www.earthdatascience.org/courses/earth-analytics-python/multispectral-remote-sensing-modis/cloud-masks-with-spectral-data-python/ ) for reference.

[2019-07-10 17:16] deltadu opened #2295 "Add nanmean() nanstd()"
It would be great if you can add functions like nanmean(), nanstd() and nanvar() like numpy

[2019-07-11 04:31] jakirkham commented on #2274
@kmaehashi, does that help answer your questions? Are there any other questions you have?

[2019-07-11 06:47] jakirkham commented on #1639
Some related discussion in issue ( https://github.com/cupy/cupy/issues/1639 ). Though this is thinking about the N-D `convolve` case (amongst other things).

[2019-07-11 17:15] hongjuny opened #2296 "compile_with_cache location change"
Got error at `cupy/cuda/compiler.py`, line 145, in compile_with_cache.
I guess the error has occurred because it attempted to access $HOME/.cupy, presumably it is a cache location.
Is there a way to change the location? Because, in the HPC system I am using, the $HOME is read-only...

Thank you very much!

[2019-07-11 21:05] #2177 closed

[2019-07-12 02:38] niboshi opened #2298 "nvcc absence warning could be removed"
On installing cupy from source, it is warned about absence of nvcc in `PATH`.
But it is actually not required both during installation and on runtime.
[code]
It's rather confusing for troubleshooting.

[2019-07-13 11:47] Piyush-555 commented on #2295
I would like to work on this issue.

[2019-07-15 23:45] kcghost opened #2301 "TypeError for OutOfMemoryError"
Seen while using chainer while multiprocessing and using the GPU:
[code]
Seems like it tried to raise an OutOfMemoryError but failed to do so.

[code]

[2019-07-16 01:59] #2298 closed

[2019-07-16 04:18] kmaehashi commented on #2274
@jakirkham Sorry for the late reply and thank you for the answer! We discussed in the team and agreed to publish `cupy` package on conda-forge (I'm assuming `nvcc` and `nccl` packages in the PR will be maintained by NVIDIA). Could you proceed to merge https://github.com/conda-forge/staged-recipes/pull/8638?

[2019-07-16 09:24] kmaehashi commented on #2295
We welcome contributions for these functions.

[2019-07-16 09:24] kmaehashi commented on #2296
You can use `CUPY_CACHE_DIR` environment variable to change the cache location.
https://docs-cupy.chainer.org/en/latest/reference/environment.html

[2019-07-16 09:24] #2296 closed

[2019-07-16 09:26] kmaehashi commented on #2301
Thanks for raising the issue! We recently received the similar report and looking into it. https://stackoverflow.com/questions/56753355/in-windows-envs-cupy-get-error-in-multithread-pool-if-gpu-already-used-even-if

* What platform are you on? (Ubuntu, Windows, etc)
* Did you installed CuPy using wheel (cupy-cudaXXX), or built from source? In the latter case, what is your Cython version?

[2019-07-16 13:33] kcghost commented on #2301
Ubuntu 18.04, installed using wheel (cupy-cuda101). NVIDIA GTX 1060 with 3GB memory. Like the stackoverflow issue, I am using 'spawn' launch method, though I think I saw the same error when using fork; I thought using spawn would help resolve it.

Output of `nvidia-smi`:
[code]
That is *not* while running the reproduction case, and therefore I just noticed that somehow some python processes stuck

[2019-07-16 17:59] leofang commented on #2225
FYI, the Numba folks recently revised the `__cuda_array_interface__` standard to v1 in order to support masked arrays, but even Numba itself has no plan (so far) for supporting masking. Ref: https://github.com/numba/numba/pull/4199

[2019-07-16 20:16] deltadu opened #2305 "Add cupy.median()"
Hi,
it would be great if cupy.median() could be added

[2019-07-18 02:13] anaruse opened #2313 "Inverse for Hermitian matrix"
What would you think about adding `cupyx.linalg.invh` as a fast routine computing inverse of Hermitian matrix?

It looks numpy does not have such a routine.
https://docs.scipy.org/doc/numpy/reference/routines.linalg.html

Scipy has `scipy.linalg.pinvh`, but it computes pseudo-inverse of Hermitian matrix, not "standard" inverse.
https://docs.scipy.org/doc/scipy/reference/linalg.html

[2019-07-19 06:42] kmaehashi commented on #2301
@kcghost Thanks for the information! I could reproduce the error; the root cause was that some exceptions defined in CuPy does not support pickle protocol and thus exceptions raised in a subprocess (which is pickled in the subprocess) fail to be un-pickled in the parent process.

[2019-07-19 18:48] harshalchaudhari35 commented on #2216
I suppose this should be closed now? @asi1024

[2019-07-20 03:24] #2216 closed

[2019-07-23 12:10] palmerss opened #2324 "Dynamic Parallelism"
I am interested in utilizing Dynamic Parallelism in my cupy projects.
[code]
Trying to launch the above  cuda code with the following commands

[code]

I get the error
[code]

[2019-07-24 17:21] beckernick opened #2331 "[Feature Request] Equivalent of numpy.isin"
As a user, I'd like to be able to quickly and easily do the equivalent of `numpy.isin` with cupy.

To quote the NumPy docs, "isin is an element-wise function version of the python keyword `in`. isin(a, b) is roughly equivalent to np.array([item in b for item in a]) if a and b are 1-D sequences."

The NumPy documentation can be found [here](https://docs.scipy.org/doc/numpy/reference/generated/numpy

[2019-07-24 20:21] deltadu opened #2332 "apply_along_axis"
Hi, could you please add the apply_along_axis() feature

[2019-07-25 04:58] niboshi opened #2334 "Overflow warning in CI"
https://jenkins.preferred.jp/job/chainer/job/cupy_pr/210/TEST=cupy-py3,label=mn1-p100/console
[code]

[2019-07-25 06:30] kmaehashi commented on #2324
ref: https://stackoverflow.com/questions/57152396/dynamic-parallelism-in-cupy

[2019-07-27 13:40] #1925 closed

[2019-07-27 14:29] okuta commented on #2179
Thank you for testing CuPy HIP branch #1094. It branch has many issues.
In now, using ClPy is a smart option.

I will continue to support ROCm. However, work is taking time because ROCm is not stable for CuPy.
CuPy uses internal interface of ROCm to support just in time compile.

[2019-07-27 17:58] leofang commented on #2179
@okuta are you able to comment perhaps briefly on the internal, technical differences between your branch and CIPy? I’m curious. In the future we might have a project running on AMD GPUs, so your comments could be very useful for potential contributors. Thanks.

[2019-07-27 19:04] soerendip commented on #1910
So, what is the correct way of installing it? I get the same error when using conda. And the cuda toolkit is already installed.

[2019-07-29 15:24] leofang commented on #2244
@cjnolet does this quick patch meet your need (diff'd against #2325)?
[code]

[2019-07-30 01:40] beam2d opened #2345 "`map_coordinates` does not handle coordinate arrays with more than two ranks"
(Originally reported at [this Stackoverflow post](https://stackoverflow.com/questions/57261136/cupy-map-coordinates-gives-out-shape-is-mismatched-error))

The Scipy counterpart accepts the `coordinates` array of shape `(input_ndim, output_dims...)` with multiple axes in `output_dims...`, while the current CuPy does not.

The direct cause is maybe [this weight initialization logic](https://github.c

[2019-07-30 07:33] kmaehashi opened #2348 "Fix link to `numpy.random.*` functions"
NumPy 1.17 removed docs for `numpy.random.*` and links from CuPy refernece are dead.

e.g. https://docs-cupy.chainer.org/en/latest/reference/generated/cupy.random.rand.html#cupy.random.rand

[2019-07-30 07:34] kmaehashi opened #2349 "Support new random number generator in NumPy 1.17"
https://docs.scipy.org/doc/numpy/release.html#new-features
https://docs.scipy.org/doc/numpy/reference/random/index.html#module-numpy.random

[2019-07-30 23:53] econtal opened #2351 "sgesvd_bufferSize int32 overflow with CUDA 10.1"
After upgrading from CUDA 9.0 to CUDA 10.1, I noticed I'm not able to compute svd on big matrices because of a int32 overflow in sgesvd_bufferSize here: https://github.com/cupy/cupy/blob/master/cupy/linalg/decomposition.py#L257
When bufferSize is just above `2**31 = 2147483648`, then `sgesvd_bufferSize` fails with `CUSOLVER_STATUS_INVALID_VALUE`, likely because of a wrong cast to negative values.

[2019-08-01 12:55] GenevieveBuckley opened #2354 "Cannot convert a list of cupy arrays into another cupy array"
I excepted that if you can do this:
[code]
or even this:
[code]
[code]
... then we should also be able to do this with cupy:
[code]
but this raises a ValueError. Is this expected or unwanted behaviour?

* Conditions (you can just paste the output of `python -c 'import cupy; cupy.show_config()'`)
CuPy Version          : 5.4.0
CUDA Root             : /usr/local/cuda
CUDA Build Version    : 10000
CUD

[2019-08-01 15:34] leofang opened #2356 "Possibility of making `cufft.Plan1d` and `cufft.PlanNd` be a context manager?"
This discussion begins in PR #2355, in which a new module `scipy.fft` is introduced to work with new upstream changes. It seems that it is impossible to deviate from the SciPy's backend API, see https://github.com/cupy/cupy/pull/2355#issuecomment-517325388:

@grlee77 @peterbell10 @asi1024 this makes me wonder whether we should turn cuFFT plans into a context manager for the long run to deal with s

[2019-08-01 16:06] leofang opened #2357 "Set the stream for cuFFT plans as late as possible"
This probably qualifies as a ***bug report*** for an edge case below.

Regardless whether it's `Plan1d` or `PlanNd`, currently the stream is set right after the cuFFT plan is created:
https://github.com/cupy/cupy/blob/dc62460c59eec5dbfca043a1ffcc5994dbfd298f/cupy/cuda/cufft.pyx#L83-L87
https://github.com/cupy/cupy/blob/dc62460c59eec5dbfca043a1ffcc5994dbfd298f/cupy/cuda/cufft.pyx#L204-L208
While th

[2019-08-01 16:12] peterbell10 commented on #2356
We were actually considering adding a `plan` argument before in scipy/scipy#10302 but the issue was closed after an internal plan cache was added to our backend. It may take some work to add this to SciPy's own backend but I think it would be worthwhile.

[2019-08-02 03:18] #2301 closed

[2019-08-02 14:27] leofang commented on #2356
Thanks for brining up the SciPy discussion, @peterbell10. Is it possible to just add `plan=None` in SciPy as a placeholder, and let backend providers like pyFFTW or CuPy to handle it? This would require only minimum code change everywhere.

[2019-08-02 16:31] quasiben opened #2359 "Sparse SVD Implementation"
My current understanding is that SVD/[TSVD](https://scikit-learn.org/stable/modules/generated/sklearn.decomposition.TruncatedSVD.html) may be available in cuSparse.  @jeaton32 is exploring adding more sparse functionality.  @davidsebfischer is interested in sparse GPU functionality as a user -- most of the data he works with is sparse and PCA is critical for operational is the single cell analysis

[2019-08-02 16:50] peterbell10 commented on #2356
The idea has been brought up before but it could be quite surprising to users that the plans don't do anything by default. I can always float the idea on the SciPy mailing list though.

[2019-08-02 19:55] davidsebfischer commented on #2359
Thanks for the issue, @quasiben! TSVD is great, it is the current default for sparse matrices in our workflows.

[2019-08-02 20:19] jamestwebber opened #2360 "Array indexing of sparse matrices"
After talking to @quasiben I've been looking into using CuPy as a shim to support sparse matrices in PyTorch (the current support is [not great](https://github.com/pytorch/pytorch/issues/9674)).

The gist is that I can fit a sparse matrix into GPU memory but not a dense one. So, the idea is to use a CuPy sparse matrix and a custom DataLoader: I should be able to quickly train a model by indexing i

[2019-08-04 12:44] grlee77 opened #2361 "FFT test failures due to bug in NumPy 1.17"
For current master (`7.0.0b2`), a handfull of cases in `cupy_tests/fft_tests/test_fft.py` fail due to numpy/numpy#14176. Changes on NumPy's end cause a `ZeroDivisonError` to be raised prior to encountering the expected `ValueError`. Most likely NumPy will fix this for 1.17.1, but we may want to just have those test cases also accept `ZeroDivisonError` as a workaround

example:
[code]

[2019-08-04 16:14] UmashankarTriforce commented on #2258
I'll work on this issue

[2019-08-05 04:53] leofang commented on #1436
#2303 resolved this

[2019-08-05 07:57] #2295 closed

[2019-08-06 02:27] #2228 closed

[2019-08-06 07:58] toslunar commented on #2351
@kmaehashi and I confirmed that `cupy.linalg.svd(cupy.random.randn(50000, 10), full_matrices=False)` runs with CUDA 9.0 but not with CUDA 10.0.

[2019-08-06 08:02] kmaehashi commented on #2354
This feature is implemented in #2081 (v7.0.0b1); please consider using the latest beta version.

[2019-08-06 08:02] #2354 closed

[2019-08-06 15:58] econtal commented on #2351
In my opinion the first issue is on CUDA's side, because the memory required to perform an SVD on tall matrices should be linear with respect to the input size, and here it is clearly quadratic. I posted about this in nvidia developer channel (https://devtalk.nvidia.com/default/topic/1057891/gpu-accelerated-libraries/cusolver-can-t-compute-svd-on-tall-matrices-with-cuda-10-1-buffersize-grows-quadr

[2019-08-06 23:09] GenevieveBuckley commented on #2354
Ok, thanks!

[2019-08-07 01:31] okuta commented on #2179
I updated #1094 for ROCm 2.6+.

[2019-08-07 02:58] lastephey opened #2365 "possible bug in cupyx sparse matrix transpose/multiplication"
Hello cupy(x) developers,

I would like to report what looks like a bug in the cupyx sparse matrix library. I am running on a Skylake cpu and a Tesla V100 gpu on a SUSE-ish Linux system. CuPy version: 6.0.0. CUDA version 10.1.168. I am running inside a conda environment which you can find in my requirements.txt file:

[requirements.txt](https://github.com/cupy/cupy/files/3474978/requirements.txt)

[2019-08-07 03:47] emcastillo commented on #2351
cusolverDnSgesvd_bufferSize was linear in cuda 9.0?
I guess that they changed the allocation algorithm and together with the `int` return type it blowed up.

[2019-08-07 04:54] econtal commented on #2351
Indeed, with previous version of CUDA `cusolverDnSgesvd_bufferSize` was strictly linear (actually `cusolver.sgesvd_bufferSize(handle, m, 1) == m+224`)

After doing more tests, I confirm the overflow is still here, but you would need tremendous matrices to reach it.

Here is on CUDA9.2 with the same function `test` as before:
[code]

This suggests the issue is not cupy at all, but a wrong logic in

[2019-08-07 11:39] UmashankarTriforce commented on #2331
I'll work on this

[2019-08-07 11:56] cc20002002 commented on #1912
No, It is not solve. I am using cupy with cuda 10.0
Run a code in spyder,
    t1=time.time()
    NN = x.size
    x = cp.asarray(x/h)
    y = cp.asarray(y)
    XX=cp.broadcast_to(x,(NN,NN))
    XXT=cp.broadcast_to(x.T,(NN,NN))
    xx = cp.absolute(XX-XXT)
    xx2 = cp.copy(xx)
    xx[xx2<1] = 70/81*(1-xx[xx<1]**3)**3
    xx[xx2>=1] = 0
    del xx2

    yy = y<=y.T

    kk = xx*cp.asarray(uniquexy[0

[2019-08-07 13:09] anaruse commented on #2351
Please wait for a while. This issue is being inquired to library team.

[2019-08-07 22:05] mnicely opened #2367 "Implement 'circular' or 'wrap' mode for cupy.pad"
I'm working on 2D convolution problem but need circular (wrap) padding. Would that be hard implement a wrap mode like numpy?

https://docs.scipy.org/doc/numpy/reference/generated/numpy.pad.html

[2019-08-07 22:42] grlee77 commented on #2367
This already exists via `cupy.pad` or am I misunderstanding what you are asking for?

[2019-08-07 22:43] grlee77 commented on #2367
Nevermind, I had forgotten I had implemented this locally, but never made a PR for it.

[2019-08-07 22:47] mnicely commented on #2367
From what I can tell, pad is able to do expand with constant values with ‘constant’, replication with ‘edge’, and reflection with ‘reflect’. I need wrap, sometimes considered ‘circular’. As an example, if I were to expand the right side by one column, it would be the same as the first column on the left side of the matrix. This is for cyclic convolution.

Get Outlook for iOS<https://aka.ms/o0ukef>

[2019-08-07 22:53] grlee77 commented on #2367
Here is a gist with an implementation of `pad` that I had been using locally. I never made a full set of tests or started a PR here for it, but it should work. It is nearly a 1:1 copy of numpy.pad from NumPy 1.17.
https://gist.github.com/grlee77/ea0c34f2b68cd376b4d1013b9cdcd06d

example (navigate to the folder containing `arraypad.py` from the gist above:
[code]
gives:
```array([2, 3, 4, 5, 0, 1,

[2019-08-08 01:21] anaruse commented on #2351
Thanks for your information again.
This issue is recognized by the library team now. This issue (requiring much more work space) seems to be a side effect of performance improvement in CUDA 10.1 from old version.

[2019-08-08 02:56] emcastillo commented on #2351
@anaruse  thanks a lot!
I guess that the library team will release a hot-fix for this :).

[2019-08-08 06:23] niboshi opened #2370 "Jenkins test failure"
https://jenkins.preferred.jp/job/chainer/job/cupy_pr/239/TEST=cupy-py3,label=mn1-p100/#showFailuresLink

- [x] DeprecationWarning
  - (#2394, v6: #2401)
  - (#2385, v6: #2395)
- [x] `tests.cupy_tests.core_tests.test_ndarray_elementwise_op.TestArrayElementwiseOp` (#2376, v6: #2378)
- ~`tests.cupy_tests.random_tests.test_generator.TestRandomSampleDistrib` (@niboshi)~
- [x] `tests.cupy_tests.random_t

[2019-08-08 06:40] niboshi commented on #2370
I confirmed `TestDistributionsPower` failure is only from NumPy 1.17, but `TestRandomSampleDistrib` could not be replicated. Perhaps it's just a stochastic error?
Indeed it's not in the failure list of this Jenkins build: https://jenkins.preferred.jp/job/chainer/job/cupy_pr/240/TEST=cupy-py3,label=mn1-p100/#showFailuresLink

[2019-08-08 06:42] IvanYashchuk opened #2371 "Incorrect behavior with empty arrays for `linalg.qr` and `linalg.svd`"
`qr` and `svd` routines raise `CUSOLVERError: CUSOLVER_STATUS_INVALID_VALUE` for zero-sized input arrays.
NumPy supports this kind of input for `qr`, `svd` since 1.16
https://github.com/numpy/numpy/blob/master/doc/release/1.16.0-notes.rst#linalglstsq-linalgqr-and-linalgsvd-now-work-with-empty-arrays
The problem is that when calling cuSOLVER routines leading dimension is passed as `input.shape[0]`

[2019-08-08 06:43] asi1024 commented on #2370
I confirmed `DeprecationWarning`s are only from NumPy 1.17.

[2019-08-08 06:46] niboshi opened #2373 "Stochastic failure in `TestRandomSampleDistrib`"
Separated from #2370

https://jenkins.preferred.jp/job/chainer/job/cupy_pr/239/TEST=cupy-py3,label=mn1-p100/testReport/junit/tests.cupy_tests.random_tests.test_generator/TestRandomSampleDistrib/test_random_sample_ks/

### Error Message
[code]

### Stacktrace

[code]

### Standard Output

[code]

[2019-08-08 11:01] kmaehashi commented on #2212
Feel free to reopen the issue if you need further discussions.

[2019-08-08 11:01] #2212 closed

[2019-08-08 12:35] niboshi opened #2379 "Fix exception type mismatch error in `TestArrayElementwiseOp`"
See https://github.com/cupy/cupy/pull/2376

This tentative workaround should be resolved.

[2019-08-09 01:25] #2361 closed

[2019-08-10 12:23] etetteh opened #2390 "I recently change an entire codebase from numpy to cupy only to get an error saying: cupy can not run on a singly GPU. Please is there a way to run a on a single GPU?"
Thank you for using and contributing to CuPy!

If your issue is a **request for support in using CuPy**, please post it on [Stack Overflow](https://stackoverflow.com/questions/tagged/cupy) or Google Groups ([en](https://groups.google.com/forum/#!forum/cupy) / [ja](https://groups.google.com/forum/#!forum/cupy-ja)).
Developer team members are monitoring questions on these channels.

If it is a bug r

[2019-08-10 12:35] UmashankarTriforce commented on #2390
Hey @etetteh
Can you tell us more about the code that's throwing this error?

[2019-08-12 05:40] jeng1220 commented on #1937
Yes, using new usage of `get(out)` API instead of old one can solve this issue. Close issue.

[2019-08-12 05:40] #1937 closed

[2019-08-12 05:44] jeng1220 commented on #1938
Yes, using new `get(out)` API can solve this issue. Close issue.

[2019-08-12 05:44] #1938 closed

[2019-08-12 06:32] cc20002002 opened #2392 "kernel smoothing"
Is CUPY keen to include a kernel smoothing conditional distribution estimation routine? If so I will create a Pull Request.

Kernel smoothing is a nonparametric way of estimating (conditional) density and distribution function given samples of data. The algorithm usually involves large matrix multiplication and hence very suitable to demonstrate CUPY's strength. I recently wrote such a routine, wh

[2019-08-13 08:16] Crissman commented on #2367
@grlee77 Yes, we're interested! Please do make a PR for this.

[2019-08-13 08:40] kmaehashi commented on #2392
Thank you for considering contribution!
As long as the interface is compatible with SciPy's one, we're happy to have that feature in CuPy.

[2019-08-13 14:24] leofang commented on #2118
This issue is addressed, see #2369.

[2019-08-13 18:50] grlee77 commented on #2367
@Crissman: Great, I have now opened a PR for this (#2399)

[2019-08-14 04:54] #2373 closed

[2019-08-14 17:30] #2356 closed

[2019-08-14 17:30] #2357 closed

[2019-08-15 03:38] #2370 closed

[2019-08-15 07:18] niboshi opened #2405 "Memory-aliased array and in-place operations lead to undeterministic results"
Code:

[code]

Result:
[code]

The result differs from time to time.

NumPy forbids such in-place operations.

[2019-08-15 09:56] asi1024 opened #2407 "Incorrect behavior of in-place operation between ndarrays share same memory space"
Incorrect behavior of in-place operation between ndarrays which
- share same memory space and
- have different strides.

Test code:
[code]
Output:
[code]

[2019-08-15 13:05] okuta commented on #2179
@leofang CuPy uses [ROCm](https://rocm-documentation.readthedocs.io/en/latest/index.html) to support AMD GPU. ClPy uses OpenCL to support AMD GPU and other devices.

The big difference is whether you can use C++ for kernel code.
ClPy applies a patch to convert C++ code to C because OpenCL does not support C++.

If user want to use AMD GPU, using ROCm is better IMO.
However, ClPy is useful when you

[2019-08-15 16:18] leofang commented on #2407
Looks like this is a different manifestation of the same problem #2405?

[2019-08-15 16:52] leofang commented on #2179
@okuta thank you very much for your enlightening comment! I knew CIPy says it's backed by OpenCL, but I always get confused between that and ROCm (for people growing up in a CUDA world like me, see [this link](https://rocm-documentation.readthedocs.io/en/latest/Programming_Guides/Programming-Guides.html#rocm-languages) for their relation 😄).

I agree taking the route of ROCm is better, at least in

[2019-08-15 18:18] econtal commented on #2365
I identified that the issues comes from `sum_duplicates()`, which is called to convert the sparse matrix to canonical format before `csrgemm` here: https://github.com/cupy/cupy/blob/master/cupyx/scipy/sparse/csr.py#L98

Indeed, by computing `sum_duplicates` of `A_trans_cpu` on CPU and then only copying the transposed matrix (in canonical format) to GPU, the `assert` is successful.

[2019-08-16 06:11] asi1024 commented on #2405
To resolve this issue, we should support `cupy.ndarray.flags.writeable`.

[2019-08-16 06:13] asi1024 commented on #2407
To resolve this issue, we need to support `cupy.shares_memory` or `cupy.may_share_memory` and copy inputs before the operation.

[2019-08-16 14:03] tinyalpha opened #2409 "import pytorch before cupy will make function 'sort' and 'argsort' not work properly"
Hi, I am developing my project using pytorch and cupy. I find that just import pytorch before cupy will cause segments error (when calling `sort` or `argsort` for float array). But if I exchange the import order, it back to normal, which seems very strange.

* Code to reproduce

[code]

[code]

* Conditions
CuPy Version          : 6.2.0
CUDA Root             : /usr
CUDA Build Version    : 10000
CU

[2019-08-16 21:45] econtal commented on #2005
It seems the issue is in `coosort` indeed (which is called only by `coo. tocsr()`).

Here is a MVP

[code]

[2019-08-16 22:11] econtal commented on #2005
I believe the issue is that `x.data` is used both as input and output of CuSPARSE's `gthr` here: https://github.com/cupy/cupy/blob/d0dd06d5145f73da4c56d8678ddf64cea702106a/cupy/cusparse.py#L583

This can be fixed by creating another buffer. I will submit a PR!

[2019-08-18 22:22] lastephey commented on #2365
Thank you for the information, this is helpful to know. Thank you for your work on this.

[2019-08-19 01:06] #1657 closed

[2019-08-19 06:26] IvanYashchuk opened #2414 "Missing error checks for cuSOLVER calls"
Some linalg routines do not check the `dev_info` variable for errors after calling cuSOLVER.
If it is a negative number, then `linalg.LinAlgError` should be raised.

Missing checks:
`inv` https://github.com/cupy/cupy/blob/master/cupy/linalg/solve.py#L287-L295
`qr` https://github.com/cupy/cupy/blob/master/cupy/linalg/decomposition.py#L163-L176

[2019-08-19 22:15] MQQ commented on #2365
I got the same issue. Basically `A_gpu.dot(A_gpu.T)` provides the wrong result when A_gpu is a cupy csr matrix in GPU.

I have seen this since cupy 5.x but didn't get a chance to report. For now, I mitigate this by sending A and A.T(done in CPU) separately to GPU, then doing dot in GPU gives the correct result. But this is very problematic behavior because a numerical error in such basic linear al

[2019-08-19 22:52] econtal commented on #2365
Hi @MQQ. Could you try with the patch I pushed to this MR https://github.com/cupy/cupy/pull/2410? It fixes this issue for @lastephey MVE above, and my other experiments. Please let me know if the patch doesn't work!

[2019-08-20 00:52] MQQ commented on #2365
@econtal I manually applied your patch on cupy 6.2.0 with cuda 10.0, and the dot product result looks good. Thanks a lot for fixing this!

Personally, I would like to suggest explicitly add a test case for the transposed dot product. But I am not really familiar with the cupy test setup, so I will leave it to the cupy maintainers to decide.

[2019-08-20 01:51] emcastillo commented on #2409
I can't reproduce

Pytorch 1.1.0

[code]

Both codes worked fine.

Python version?

[2019-08-20 02:06] yaroslavvb opened #2416 "Feature Request: implementation of linalg.solve_sylvester"
[solve_sylvester](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.linalg.solve_sylvester.html) is implemented in PyTorch and is needed for implementing [gradient of matrix square root](https://github.com/steveli/pytorch-sqrtm/blob/master/sqrtm.py) and quantities related to optimal batch size, it could be useful to have a GPU version of it

[2019-08-20 02:58] tinyalpha commented on #2409
Python 3.7.4
Pytorch 1.1.0

[2019-08-20 08:27] mahdiabdollahpour commented on #2137
I have the same problem
Python 3.7.3
windows 10
pip 19.2.2 from c:\programdata\anaconda3\lib\site-packages\pip (python 3.7)

but :
when I run sys.abiflags in python sell I get
AttributeError: module 'sys' has no attribute 'abiflags'

How can I solve this?

[2019-08-20 08:41] niboshi commented on #2414
I rather feel we should not check the error because it incurs host-device synchronization.

[2019-08-20 09:10] hvy commented on #2414
Did you say we have other routines which incurred similar design choices (and where we choose not to check the status)?

[2019-08-20 10:20] niboshi commented on #2414
Yes, I think it was `cupy.nanargmin`.

[2019-08-21 01:48] hvy commented on #2414
So `cupy.nanargmin` returns an ndarray with `-1` instead of raising an error like NumPy. It's well behaved. We cannot really guarantee that with the cuSOLVER routines and have to leave it UB since it's not documented by the cuSOLVER documentation AFAIK and my concern is that this can make debugging a pain if you'd silently get wrong results.

[2019-08-21 01:52] hvy commented on #2414
Generalizing it beyond `inv` and `qr`, how about giving the user the possibility to control this behavior through some configuration, for instance under `cupy.linalg` (unless there's some existing configuration in CuPy that's already suitable). The default behavior would obviously still need to be discussed.

[2019-08-21 02:02] niboshi commented on #2414
Yes, that's exactly what I am thinking.
Not under `cupy.linalg`. It should be useful for the case of `cupy.nanargmin`.

[2019-08-21 04:15] asi1024 commented on #2379
PR #2396 resolved this issue.

[2019-08-21 04:15] #2379 closed

[2019-08-21 15:14] jakirkham opened #2421 "Subclassing NumPy's RandomState object"
Currently [CuPy's `RandomState` object]( https://github.com/cupy/cupy/blob/68eabf326482e29e266fa071a1cdf6a6cff7cbcc/cupy/random/generator.py#L22 ) simply subclasses `object`. However it would be helpful if it subclassed NumPy's `RandomState` object. This way users could be guaranteed the same API and could more easily drop-in a CuPy `RandomState` object where a NumPy `RandomState` object is expect

[2019-08-23 04:10] anonymouslycn commented on #1912
So do I...out of memory to allocate 75497472 bytes (total 1280286720 bytes)

[2019-08-23 05:11] FlorinAndrei opened #2425 "pip install fails on Windows 10"
Windows 10
CUDA 10.0
python 3.7.4
pip 19.0.3

CUDA and cuDNN are installed and are working correctly - I've tested with tensorflow-gpu and it works fine.

Visual Studio is installed.

Trying to install cupy with pip and it fails with this error:

[code]

[2019-08-23 06:24] tirthajyoti commented on #2425
`Microsoft Visual C++ 14.0 is required`. Is it there?

[2019-08-23 18:16] leofang commented on #661
I was just looking into this issue for some reason. I can help get these CUPY internal env variables documented if you like.

[code]

[2019-08-23 18:28] leofang commented on #2324
@palmerss could you test #2426? With that your example worked in my environment.

[2019-08-25 04:57] FlorinAndrei commented on #2425
@tirthajyoti The issue is solved. There are now fastrlock wheels for Windows uploaded to PyPi. Try again and it should work.

https://github.com/scoder/fastrlock/issues/6

[2019-08-25 04:57] #2425 closed

[2019-08-26 07:29] kmaehashi commented on #661
Thank you, could you work on this?
Some points:

* For historical reasons `CHAINER_SEED` is used in CuPy if `CUPY_SEED` is unspecified
* `CUPY_TEST_*` are internal and should be left undocumented

I guess others are already on the reference: https://docs-cupy.chainer.org/en/latest/reference/environment.html

Agree, I don't meant to document all CUDA variables. I think putting a link to the above C

[2019-08-26 09:52] kmaehashi commented on #2137
Could you paste the output from `pip` command?

Sorry, that was my mistake (`abiflags` is unavailable on Windows)

[2019-08-26 10:03] digital-idiot opened #2431 "Cannot import name 'csgraph' from 'cupyx.scipy.sparse'"
I am trying to use the [minimum_spanning_tree](https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.csgraph.minimum_spanning_tree.html) and [connected_components](https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.csgraph.connected_components.html). However, a quick look at the documentation and source code it seems that entire [csgraph](https://docs.scipy.org/doc/scipy

[2019-08-27 11:26] kmaehashi commented on #2421
I think it is too aggressive to inherit NumPy's `RandomState` as the API is not completely compatible. Do you have any specific code/use-case that requires this?

[2019-08-27 11:28] kmaehashi commented on #2431
No specific reasons. It's not yet implemented and contributions are always welcomed.

[2019-08-27 21:54] elliottslaughter opened #2433 "Thread local has no attribute _current_plan"
I've been seeing an error in 7.0.0b3 resulting in the error `AttributeError: '_thread._local' object has no attribute '_current_plan'`. Looking through a git blame seems to point to https://github.com/cupy/cupy/commit/b150b89701fa51bf218765bf3c280a77b20e82bf which introduced a thread-local variable to hold the current plan. If I'm reading correctly (I'm not that familiar with Cython) it looks like

[2019-08-29 05:33] hvy opened #2436 "[RFC] Introduce a configuration mechanism"
There is no mechanism in CuPy to give the user (thread local) control over various behaviors in CuPy e.g. how to trade off performance vs debuggability/NumPy compatibility on a routine-level. This is not an issue for most of the routines, but there are cases where this matters.

1. Allow synchronous CUDA kernel calls to report proper errors (e.g. check ndarray values or device status codes to repo

[2019-08-29 05:39] hvy commented on #2414
@IvanYashchuk How about addressing this bug using some environment variable to allow the user to control whether to check `devInfo` or not? We need to discuss the default behavior but I'm feeling it's better to make it synchronous since errors are most likely difficult to spot.

Another slightly more demanding idea would be to queue the D2H transfer of the `devInfo` and allow the user to query it

[2019-08-29 05:41] hvy commented on #2414
Introducing a configuration mechanism is a more proper approach, again expanding it beyond these two solver routines. It can be discussed here https://github.com/cupy/cupy/issues/2436

[2019-08-29 05:54] niboshi commented on #2414
Anyway that would be a temporary API (will taken over by #2436), so I think an environment variable is better than a function to query an error.

As for whether or not to make it default to synchronize, I think the default should be to skip the check and run asynchronously, as it's the current policy of CuPy to weigh performance over convenience.

[2019-08-29 06:05] #2433 closed

[2019-08-29 06:31] hvy commented on #2414
I agree that an environment variable suffices. D2H would introduce more interfaces than needed and sounds a bit overkill.

You mean it's agains the policy? I'm okay with that as long as it's clearly documented, how it behaves by default and how one can control it.

[2019-08-29 07:57] kmaehashi commented on #2414
Another case that performs sync to retrieve `devInfo` to follow [NumPy spec](https://docs.scipy.org/doc/numpy-1.16.1/reference/generated/numpy.linalg.slogdet.html):

https://github.com/cupy/cupy/blob/97c72a3c729f63fe86bc2349fb9c4433bbd9eeab/cupy/linalg/norms.py#L246-L249

[2019-08-29 11:42] niboshi commented on #2414
@hvy Unfortunately it's not documented, but if my understanding is correct, it has been the central policy since the beginning of the development.

For example, many functions do not accept `numpy.ndarray`s because supporting that would expose users to unexpected synchronization that is difficult to even notice.

[2019-08-30 02:02] hvy commented on #2414
Okay that makes sense. I'll create a draft PR.

[2019-08-30 07:04] hvy commented on #2414
The draft is ready for review, #2437.

[2019-08-30 12:37] haoyiping opened #2438 "Need more information on: unsatisfied condition: cuda >= 9.2"
Thank you for using and contributing to CuPy!

If your issue is a **request for support in using CuPy**, please post it on [Stack Overflow](https://stackoverflow.com/questions/tagged/cupy) or Google Groups ([en](https://groups.google.com/forum/#!forum/cupy) / [ja](https://groups.google.com/forum/#!forum/cupy-ja)).
Developer team members are monitoring questions on these channels.

If it is a bug r

[2019-08-30 18:03] palmerss commented on #2324
This seems to be working correctly :) thanks!

[2019-08-30 18:12] leofang commented on #2324
@palmerss Thank you for testing!

[2019-08-30 21:31] elliottslaughter commented on #2433
Confirmed that the fix works in our original code base. Thanks all!

[2019-09-01 02:25] leofang opened #2439 "Possibly redundant lines in `cupy.cuda.function._launch()`?"
These two lines seem to be superseded by the usage of `kargs`:
https://github.com/cupy/cupy/blob/e7c1086c04b782133633b6b10bd120ef1a699086/cupy/cuda/function.pyx#L121
https://github.com/cupy/cupy/blob/e7c1086c04b782133633b6b10bd120ef1a699086/cupy/cuda/function.pyx#L127
I suppose they can be removed?

[2019-09-02 03:38] gwtnb opened #2440 "Handle PCI bus ID"
`cudaDeviceGetByPCIBusId` converts a PCI bus ID string to a device ID integer. It may be useful to add a feature which handles a PCI bus ID string to specify a device. The feature may be split into two functions:

- a thin wrapper of `cudaDeviceGetByPCIBusId`
- a conversion function from a PCI bus ID string to cupy `Device` object.

[2019-09-02 09:20] asi1024 opened #2444 "`TestDLTensorMemory.test_deleter` test failure"
https://jenkins.preferred.jp/job/chainer/job/cupy_pr/312/TEST=cupy-py3,label=mn1-p100/testReport/junit/tests.cupy_tests.core_tests.test_dlpack/TestDLTensorMemory/test_deleter/

[2019-09-02 10:55] dBeker opened #2446 "Add support for array-like inputs for linspace"
Currently, numpy supports array-like inputs while cupy only considers scalars for start & stop values of linspace function. It would be great to match the functionality.

Sample code to reproduce the feature:

[code]

[2019-09-03 08:14] Crissman commented on #2438
@haoyiping We'll need more information to look at this. Please take a look a the requirements for a bug report, and add those items to this PR.

Thanks,

[2019-09-03 08:14] beam2d commented on #2439
It looks they can be removed. Could you send a PR?

[2019-09-03 13:53] leofang commented on #2439
Thanks for confirmation, @beam2d. Sure, see #2449.

[2019-09-04 11:24] asi1024 commented on #2439
@leofang @beam2d These lines seem to be needed to prevent the contents of the pointers `kargs` being freed before referred.
`args` are converted to `CPointer` type, and passed to `driver.launchKernel` by pointer at the end of function `_launch`. If `pargs` are removed, the `CPointer` object created at L126 will be freed at the end of `for` scope.

[2019-09-04 12:16] leofang commented on #2439
Ah...Yet another lifetime trap....Sorry that I overlooked and made noise 🙁 Thank you @asi1024 for pointing this out.

[2019-09-04 12:17] #2439 closed

[2019-09-04 12:49] HesseSummer commented on #2188
I tried @kmaehashi's advice, and it works for me, thank you. The following is my practice:
1. `ls /usr/local/cuda*`
[code]
2. `gedit ~/.profile`
Copy the following to the end of the file
[code]
3. `source ~/.profile`
4. `nvcc --version`
[code]
5. `pip uninstall cupy`
6. `pip install cupy-cuda100`

[2019-09-05 15:57] lastephey commented on #2365
I confirm the manual patch fixes things for me also using cupy 6.0.0 and cuda 10.1. Thanks again!

[2019-09-05 16:09] leofang opened #2450 "Recent refurbishment of `RawKernel`"
This is simply a meta-issue keeping track of recent changes / ongoing efforts made to (or built on top of) `RawKernel`, so that the progress in those scattered PRs can be monitored in one place.
- [x] Support texture memory (#2432)
- [x] Support separate compilation (for dynamic parallelism, etc) (#2426)
- [x] Support `nvcc` backend (#1941)
- [x] ~~Document the usage of complex-valued arrays in `R

[2019-09-06 15:05] leofang commented on #1615
I suppose this is closed by #1636.

[2019-09-07 20:15] devmessias commented on #1527
Same problem
cupy.__version__=6.3.0

[2019-09-09 00:33] leofang commented on #1913
Hi @ninoshi, when I was working on PRs that would touch the driver wrappers, I noticed that in `driver.pxd`/`driver.pyx` there are many types that should have been changed from `size_t` to `intptr_t` but were left untouched in #1952, which made me thought that using `size_t` was the deliberately chosen convention for drivers, but looking at this issue I doubt it's the case.

Specifically, I am ref

[2019-09-09 04:46] niboshi commented on #1913
I didn't deliberately leave them. I think I simply overlooked, so please feel free to fix them!

[2019-09-09 06:50] #1811 closed

[2019-09-09 06:50] #2278 closed

[2019-09-09 20:14] jakirkham commented on #2421
Yeah other libraries (like scikit-learn) often allow users to supply their own `RandomState` objects. However they check to see if they are instances of NumPy's `RandomState`. So subclassing NumPy's `RandomState` would allow CuPy's `RandomState` to be used easily with these other libraries.

[2019-09-10 02:38] anaruse commented on #2414
Just FYI.  `_batched_inv` has error checks after cuSOLVER call.

https://github.com/cupy/cupy/blob/993ddc4ab60d1ad93836c2a7be66528a9eb78231/cupy/linalg/solve.py#L344-L356

[2019-09-10 03:07] hvy commented on #2414
I completely missed that. I should update the draft.

[2019-09-10 03:18] anaruse commented on #2414
I could be wrong but I think the default behavior of #2437, not to check the `devInfo`, is problematic..

[2019-09-10 04:13] hvy commented on #2414
Thanks for the input. The cuBLAS documentation is not too generous in explaining this device status code and would be grateful for any comments from an NVIDIA developer. Could you elaborate on the problem?

[2019-09-10 04:26] hvy commented on #2414
I also noticed that `_batched_inv` has error checks after cuBLAS calls and not cuSOLVER. This means that we might want to to introduce another flag in #2437 for controlling cuBLAS separately.

[2019-09-10 06:06] hvy commented on #2414
Okay so the problem was that the results could be wrong and that it can be difficult for a user to detect (discussed this in person with @anaruse). We may need to discuss the default behavior further.

[2019-09-10 06:46] asi1024 opened #2456 "Parameters `in_dtypes` and `out_dtype` are unused in `test_loss.py`"
`LossBase.generate_inputs` should cast input arrays in `tests/chainerx_tests/unit_tests/routines_tests/test_loss.py`

[2019-09-10 08:30] kmaehashi commented on #2456
Could you move to chainer repo?

[2019-09-10 08:31] asi1024 commented on #2456
Sorry.

[2019-09-10 08:31] #2456 closed

[2019-09-10 19:56] lastephey opened #2457 "Feature Request: cupyx implementation of scipy.sparse.linalg.spsolve"
Dear CuPy developers,

We would like to request that you consider implementing scipy.sparse.linalg.spsolve.

We are exploring porting some part of the DESI spectroscopic pipeline to GPUs (https://github.com/desihub) and we would like to use scipy.sparse.linalg.solve in CuPy.

At the moment we are using cp.linalg.solve instead, but we are finding that it is the current bottleneck in our workload:
[

[2019-09-10 23:02] mrocklin commented on #2099
@jakirkham @pentschev , do you have a sense for how long it would take to build out the core operations necessary for a couple of important/common user operations?  What would be a good time investment to see if this approach has promise?

[2019-09-11 16:29] jakirkham commented on #2099
My (albeit naive) approach to this problem would be (looking at the [SciPy's `convolve` docs]( https://docs.scipy.org/doc/scipy-1.0.0/reference/generated/scipy.ndimage.convolve.html#scipy.ndimage.convolve )).

1. Only allow the default `origin` (so `0`) initially.
2. Handle the `mode` and `cval` parameters through [CuPy's `pad`]( https://docs-cupy.chainer.org/en/stable/reference/generated/cupy.pad

[2019-09-11 17:20] jakirkham commented on #2099
To get a sense of how complicated this might be to do (given the rough plan above), I tried just using CuPy and Chainer as-is to mimic SciPy's `convolve`. Was able to come up with a [short notebook]( https://gist.github.com/jakirkham/2c66b096d472054ccb1c9556bad9601a ) that has a working first pass of this functionality.

[2019-09-11 19:06] jakirkham commented on #2099
It's worth noting that PR ( https://github.com/cupy/cupy/pull/2399 ) is overhauling CuPy's `pad` and adding the functionality that was missing when compared to NumPy's `pad`. So this may help up handle any other padding cases we want.

[2019-09-11 22:21] pentschev commented on #2099
Those points look good to me @jakirkham, I agree that the best is to start with a minimal set of requirements and expand in a future iteration if/when needed.

[2019-09-12 04:34] #2444 closed

[2019-09-12 05:59] leofang commented on #2450
After the pending PRs are merged, I expect that these changes together should offer painless migration experience from PyCUDA to CuPy :sunglasses:

[2019-09-12 06:01] hvy commented on #2414
To better understand the impact of aligning the checking of `dev_info` in various CuPy routines, I tried to list all `cupy.linalg.*` and `cupyx.scipy.linalg.*` that would be affected (somehow depends on a cuSOLVER call that involves `dev_info`).

- Currently checking `dev_info` (synchronizing): `lu_factor`, `lu_solve`, `det` (calls `slogdet`), `slogdet`, `matrix_rank` (calls `svd`), `solve`, `tens

[2019-09-12 06:27] hvy commented on #2414
People apparently call `cholesky` and check if it raises an error in order to find out if some matrix is positive definite or not. If users have written this kind of code with CuPy, it'd obviously break if aligned to not check `dev_info`. https://stackoverflow.com/a/16266736/11409592

[2019-09-12 06:49] asi1024 commented on #2436
I want to support a `cupy.errstate` class which has the same API as `numpy.errstate`, but it can handle only floating-point errors. So, how about supporting additionally `cupyx.errstate` as an extension of `cupy.errstate`? In my mind, `cupyx.errstate` will have more keyword arguments than `{numpy/cupy}.errstate` (e.g., `linalg`)

[2019-09-12 18:40] pentschev opened #2462 "__cuda_array_interface__ doesn't include always strides"
The current `__cuda_array_interface__` implementation doesn't include strides for `c_contiguous`. Even though it's obvious what the strides are in that case, it would be useful to have them there, in particular since there's no information on contiguity in that interface.

Would there be any objections to including it even if `c_contiguous`? Note that Numba includes it even in that case.

Edit: ch

[2019-09-13 03:27] emcastillo opened #2463 "Use cupy datatypes consistently in the code"
Currently in several parts of the code [#1](https://github.com/cupy/cupy/blob/master/cupy/statistics/histogram.py#L135) [#2](https://github.com/cupy/cupy/blob/master/cupy/linalg/decomposition.py#L51) [#3](https://github.com/cupy/cupy/blob/master/cupy/cutensor.py#L32) `numpy.datatype` is being used while ideally it should be the corresponding `cupy.datatype`.
In some other scenarios, string-based d

[2019-09-13 08:06] imtoolkit opened #2464 "cp.linalg.inv does not support a complex-valued matrix"
I sincerely appreciate the outstanding efforts having been devoted to this project. It seems that cp.linalg.inv does not support a complex-valued matrix. For example, one can reproduce the same situation as follows:

    import numpy as np
    A = np.eye(1) + 1.j
    print(A.dot(np.linalg.inv(A))) #=> [[1.+0.j]]
    A = np.eye(2) + 1.j
    print(A.dot(np.linalg.inv(A)))  # => [[1.+5.55111512e-17j,

[2019-09-13 14:18] leofang commented on #2464
possible dup: #2071

[2019-09-14 06:35] gwtnb opened #2466 "Test fails when using pytest 5.0.*"
[code]

[2019-09-14 07:23] gwtnb opened #2467 "Test fails when using numpy with MKL backend"
[code]

[2019-09-14 07:25] gwtnb commented on #2467
Note that numpy with MKL backend is default on conda.

[2019-09-17 02:16] imtoolkit commented on #2464
Dear @leofang, I appreciate your immediate notice. Since this cp.linalg.inv issue has been already labeled as `contribution-welcome`, I would like to close this one -- with thanks.

[2019-09-17 02:25] leofang commented on #2464
it doesn't hurt to keep it open I think. Multiple dup issues could perhaps help prioritize things and signal the need.

[2019-09-17 03:18] leofang commented on #2464
@imtoolkit check out #2468 if you have time.

[2019-09-17 03:21] leofang commented on #2467
It'd be nice to get this fixed. It's indeed annoying when I was testing the FFT module. But I am not sure if we are able to detect the NumPy's backend in tests?

[2019-09-17 03:25] niboshi opened #2469 "Newly created instances of `cupy.ElementwiseKernel` always synchronize"
#725 moved the kernel cache from the global (`@util.memoize`) to each instance of `ElementwiseKernel` (`ElementwiseKernel._kernel_memo`). With this change, if `ElementwiseKernel` instance is created in each repeated call with the identical CUDA code, the loaded module is not reused and always loaded from disk, causing host-device synchronization [at this line](https://github.com/cupy/cupy/blob/966

[2019-09-17 05:03] grlee77 commented on #2467
Even when MKL is present, non-MKL versions of the functions should still be available. For NumPy <1.17, these are `numpy.fft.fftpack.*`, etc. (for numpy >=1.17 `numpy.fft.pocketfft.*`)`.

[2019-09-17 05:41] leofang commented on #2467
@grlee77 wow is `numpy.fft.fftpack` an undocumented feature of `numpy.fft`?

[2019-09-17 06:18] asi1024 opened #2471 "Data race occurs in advanced indexing test"
`TestArrayAdvancedIndexingVectorValue` does not pass locally.
The parameter `{'shape': (2, 3, 4), 'indexes': (slice(None), [[0, 1], [2, 0]]),
      'value': numpy.arange(2 * 2 * 2 * 4).reshape(2, 2, 2, 4)}` seems to cause data race.
[code]

[2019-09-17 08:23] gwtnb commented on #2467
https://github.com/chainer/chainer-test/issues/177

[2019-09-17 08:46] emcastillo commented on #2466
Reproduced!

[2019-09-17 09:08] smarchesini commented on #2365
the patch #2410 works great, thank you! the results look good.

perhaps I am doing something else wrong, but it seems  that the matrix gets sorted again (calling coosort.py modified in #2410) the first time you do an SpMV after conversion to csr format;  the matrix is already sorted and sorting takes a lot of time and shouldn't be repeated. I tried with the csc format but  every  time I used it (m

[2019-09-17 09:40] emcastillo commented on #2466
Fixed by #2473

[2019-09-17 11:42] kmaehashi commented on #2457
Thank you for raising a feature request!  We welcome pull-request for this feature if anyone is interested in writing it.

@lastephey Please be aware that `line_profiler` results may not be correct for CuPy code as CuPy (CUDA) runs asynchronously. You can use nvprof/nvvp to diagnose which CUDA kernel is actually taking time.

[2019-09-17 11:54] kmaehashi commented on #2436
Another use-case for configuration is `cupy.fft.config.enable_nd_planning`:
* https://github.com/cupy/cupy/blob/v7.0.0b3/cupy/fft/config.py
* https://docs-cupy.chainer.org/en/v7.0.0b3/reference/fft.html#code-compatibility-features

[2019-09-17 11:55] kmaehashi commented on #2467
We discussed and using `numpy.fft.fftpack` in unit tests sounds reasonable.

[2019-09-17 13:55] #2466 closed

[2019-09-17 15:52] econtal commented on #2365
Hi @smarchesini. The optimization looks great, thanks!
Do you have evidence that the CSR matrix always has canonical format after `coo2csr` is called? The doc for the Cuda function is here https://docs.nvidia.com/cuda/cusparse/index.html#coo2csr. They don't mention it, but I believe Cuda's functions always work on data with canonical format only.

[2019-09-17 22:59] smarchesini commented on #2365
Hi @econtal, I think so,  following the definition in there [coo2csr](https://docs.nvidia.com/cuda/cusparse/index.html#coo2csr), this function converts the array containing the uncompressed row indices (corresponding to COO format) into an array of **compressed row pointers (corresponding to CSR format)**. In the [cuda definition](https://docs.nvidia.com/cuda/cusparse/index.html#csr-format): "Spar

[2019-09-17 23:39] lastephey commented on #2457
I see, thank you for the profiling advice @kmaehashi . In the future we will use nvprof/nvvp.

[2019-09-18 01:02] okuta commented on #1912
@cc20002002 Could you share whole code?

And, you can know memory usage by following code. I think it's useful for debugging.

`cupy.get_default_memory_pool().used_bytes()`

[2019-09-18 05:49] niboshi opened #2476 "`import cupy` causes `ImportWarning`"
Reported [here](https://github.com/chainer/chainer/pull/8131#issuecomment-532521654).

(by running with `python -W error`)

It is actually `fastrlock` that is causing `ImportWarning`:
[code]

[2019-09-18 07:56] emcastillo commented on #2476
Seems to be a Cython issue
https://github.com/cython/cython/issues/1720

[2019-09-18 08:16] emcastillo commented on #2476
Installing `fastrlock==0.3` makes this error dissapear, however now theres a new one
[code]

[2019-09-18 08:21] emcastillo commented on #2476
Should we force fastrlock to be 0.3 in the requirements?
pytest is restricted to 4.1 only in our infra

[2019-09-19 04:06] #1903 closed

[2019-09-19 04:06] #2071 closed

[2019-09-19 04:06] #2464 closed

[2019-09-19 04:33] imtoolkit commented on #2464
Thanks to @leofang 's immediate patch and @hvy 's appropriate Jenkins fix, cp.linalg.inv does now support a complex-valued matrix. I really appreciate your efforts!

[2019-09-19 04:40] hvy commented on #2464
Thanks for mentioning, Jenkins was fixed by @kmaehashi 🙂

[2019-09-19 05:02] Santosh-Gupta opened #2481 "Offer a `cupy.cuda.get_allocator` , and a pinned allocator that can associate with a particular device. Current workaround allows 110x speed over Pytorch CPU pinned tensors"
I am filing these requests on the suggestion of this stackoverflow answer

https://stackoverflow.com/questions/57752516/how-to-use-cuda-pinned-zero-copy-memory-for-a-memory-mapped-file

Which is an answer to how to pinn cupy tensors to CPU memory. This is important, because pinned Cupy tensors with dlpack offer the fastest CPU<->GPU transfer for Pytorch cuda variables.

I have made a library aroun

[2019-09-19 05:19] #2471 closed

[2019-09-19 08:05] niboshi commented on #2481
Probably related to #1899.

[2019-09-19 09:01] emcastillo commented on #2481
I think that the main reason behind the original stackoverflow post might be this
https://github.com/cupy/cupy/blob/master/cupy/core/core.pyx#L1945

Even though the array is mem-mapped, it is unraveled creating a copy in the pinned host memory and then t that object is transferred to the device.

[2019-09-19 15:41] jakirkham commented on #2351
@anaruse, is this still an issue with the recent updates applied to CUDA 10.1?

cc @pentschev (for awareness)

[2019-09-19 15:43] jakirkham commented on #2181
@hameerabbasi, is this still an issue for you? Have you retried with more recent CuPy releases?

[2019-09-20 02:08] niboshi commented on #2469
Several functions in CuPy are affected by this (like `tri`, `percentile`, `random.shuffle`, `random.permutation` and those indirectly using them).
I consider this a bug.

[2019-09-20 06:09] delta2323 opened #2485 "`cupy.linalg.eigh` returns incorrect results."
The behavior of `cupy.linalg.eigh` is seemingly wrong at least two situations.

1. In the current implementation, `cupy.linalg.eigh` just calls an appropriate `syevd` of CuSolver. Since `sysevd` guarantees the returned eigenvalues are sorted in ascending order (see the [document](https://docs.nvidia.com/cuda/cusolver/index.html#cuds-lt-t-gt-syevd)), we can expect that so does `cupy.linalg.eigh`. H

[2019-09-20 06:11] delta2323 commented on #2485
Here is the matrix I used to reproduce.
[L_normalized.npz.zip](https://github.com/cupy/cupy/files/3634425/L_normalized.npz.zip)

[2019-09-20 07:35] hameerabbasi commented on #2181
Unfortunately, I no longer have Antergos (or any variation of Arch) installed on my CUDA machine, so I'm unable to check this. However, Ubuntu doesn't have this issue.

[2019-09-20 07:35] #2181 closed

[2019-09-20 08:32] toslunar commented on #2485
I couldn't reproduce the issue in my environment with config:
[code]

[2019-09-20 16:23] leofang commented on #584
As pointed in https://github.com/cupy/cupy/issues/2450#issuecomment-530677886, when #2450 is closed I believe PyCUDA users can easily migrate to CuPy.

[2019-09-22 12:08] Santosh-Gupta commented on #2481
Some details on how it's speeding up transfer processes in certain cases for Pytorch

https://discuss.pytorch.org/t/introducing-speedtorch-4x-speed-cpu-gpu-transfer-110x-gpu-cpu-transfer/56147

[2019-09-23 02:12] liwt31 opened #2486 "`concatenate` not compatible with NumPy"
According to the [NumPy 1.17 document](https://docs.scipy.org/doc/numpy/reference/generated/numpy.concatenate.html#numpy.concatenate), `np.concatenate` supports `axis=None` in which case arrays are flattened before use. Currently, CuPy doesn't support the behavior.

This should be easy to implement if performance is not crucial.

[2019-09-23 02:40] UmashankarTriforce commented on #1956
May I know the status of this issue, and what needs to be accomplished?

[2019-09-23 20:54] leofang commented on #2450
Success story: https://github.com/cupy/cupy/pull/2432#issuecomment-534268065

[2019-09-23 22:14] grlee77 commented on #2450
One other feature related to `RawKernel` that would be good to document is a the use of dynamically allocated shared memory. It looks like the kernel launch in CuPy already supports a `shared_mem` kwarg, but this does not appear to be documented. I assume that with this argument it should be possible to do things like the dynamic shared memory example in
https://devblogs.nvidia.com/using-shared-me

[2019-09-24 02:05] #2407 closed

[2019-09-24 02:36] leofang commented on #2450
@grlee77 Yes, I've used it. This is why we needed #2369 🙂 In part of our code we needed to enlarge the shared memory maximum.

For the example you linked, a CuPy counterpart looks like this:
[code]
For this case it's hard to ask beyond the default shared memory limit (=49152 bytes on my GPU), as the maximum block size is only 1024.

I think `RawKernel`'s docstring does document this usage, see [he

[2019-09-24 06:28] #2005 closed

[2019-09-24 06:28] #2365 closed

[2019-09-24 08:09] hvy commented on #2485
I'm not sure if this holds if the issue is environment dependent, but `dev_info` indicates an error so there might be something wrong with the input data? I think I reproduced it locally and got `384224752` when reading it.
https://github.com/cupy/cupy/blob/master/cupy/linalg/eigenvalue.py#L85-L87

See also https://github.com/cupy/cupy/issues/2414.

[2019-09-24 09:36] anaruse commented on #2485
Thanks for your error reporting, @delta2323 .

The error was actually reproduced with CUDA 10.0 on my local workstation but not with CUDA 10.1.
Probably this error was due to an issue in cuSolver of CUDA 10.0, and seems the issue has been fixed in CUDA 10.1.

Could you try CUDA 10.1?

Thanks.

[2019-09-24 09:38] anaruse commented on #2485
my config.
[code]

[2019-09-24 10:00] anaruse commented on #2351
Yes, this is still an issue even with CUDA 10.1 Update 2.

[2019-09-24 18:55] rjurney commented on #1721
What is the issue with Python 3.7? Does cupy not support it?

[code]

[2019-09-24 19:00] rjurney opened #2490 "pip install problem: Could not find a version that satisfies the requirement cupy-cuda100"
* Conditions (you can just paste the output of `python -c 'import cupy; cupy.show_config()'`)
  - Conda version 4.7.11
  - Python 3.7.4
  - pip version 19.2.3
  - CuPy version 6.3.0
  - OS/Platform Mac OS X
  - CUDA version 10.0
* `pip install cupy-cuda100==6.3.0`
* Error messages, stack traces, or logs

[code]

[2019-09-24 19:14] leofang commented on #2490
It's because the CuPy team stoped building wheels for Mac OS X for a while. Check out the wheel list on PyPI: https://pypi.org/project/cupy-cuda100/#files

[2019-09-25 06:18] niboshi opened #2492 "`testing.numpy_cupy_allclose` does not support test skips"
https://github.com/cupy/cupy/pull/2483#discussion_r327902360

[2019-09-25 08:48] beam2d commented on #2486
Interesting, I didn't know that feature! Are you interested in contributing?

[2019-09-25 09:50] liwt31 commented on #2486
I'd be glad to! Working on it

[2019-09-25 13:18] leofang commented on #2450
@kmaehashi I wonder if relevant PRs involved in this meta-issue can be merged before the official v7.0 release? Does this fit the CuPy team's schedule and agenda?

[2019-09-26 01:03] cbwang2016 opened #2497 "[Feature Request] implementation of scipy.sparse.linalg.eigs"
Thank you for using and contributing to CuPy!

If your issue is a **request for support in using CuPy**, please post it on [Stack Overflow](https://stackoverflow.com/questions/tagged/cupy) or Google Groups ([en](https://groups.google.com/forum/#!forum/cupy) / [ja](https://groups.google.com/forum/#!forum/cupy-ja)).
Developer team members are monitoring questions on these channels.

If it is a bug r

[2019-09-26 01:56] emcastillo commented on #2481
#2489 adds the `get_allocator`

[2019-09-26 02:13] Santosh-Gupta commented on #2481
Heads up, what's causing the speed up in Pytorch is "masquerading the pinned-memory CPU tensor as a cupy GPU tensor and using the cupy GPU indexing kernels".

from

https://discuss.pytorch.org/t/introducing-speedtorch-4x-speed-cpu-gpu-transfer-110x-gpu-cpu-transfer/56147/2

So unless the Cupy CPU indexing kernels are more optimized at lower numbers of cores than the Pytorch cpu indexing kernels, t

[2019-09-26 08:51] #2481 closed

[2019-09-26 09:37] #2476 closed

[2019-09-27 05:46] #2221 closed

[2019-09-27 07:33] #2367 closed

[2019-09-27 08:06] #2492 closed

[2019-09-27 08:12] niboshi opened #2505 "Policy: performance vs compatibility"
Context: https://github.com/cupy/cupy/pull/2483#discussion_r328074119

There are cases where we have to make a choice between performance vs compatibility.
In the case above, `scipy.ndimage.convolve` (`cupyx.scipy.ndimage.convolve`) internally casts the weights to `float64` for better precision. #2483 is (tentatively) implemented in the same manner to achieve the same precision as SciPy's counterp

[2019-09-27 08:14] niboshi commented on #2436
Another example this mechanism could be useful: #2505

[2019-09-27 20:26] leofang commented on #2436
Personally all I care is performance and I'm all in for making any possible performance boost default. But, from the standpoint of users migrating from NumPy or even outside the Python ecosystem, it is also important to minimize surprises.

Based on this, I suggest to do all the syncs and checks you could possibly image, and in the documentation you create a tutorial or guideline for performance t

[2019-09-28 00:28] xuzhang5788 opened #2507 "pip install fails on ubuntu"
When I use $pip install cupy, or I install it from the source, both I got:

ERROR: Complete output from command python setup.py egg_info:
    ERROR: Options: {'package_name': 'cupy', 'long_description': None, 'wheel_libs': [], 'wheel_includes': [], 'no_rpath': False, 'profile': False, 'linetrace': False, 'annotate': False, 'no_cuda': False}

    -------- Configuring Module: cuda --------
    cc1pl

[2019-09-28 01:12] #2486 closed

[2019-09-29 02:00] liwt31 commented on #1274
On a CPU this is done by a binary search which seems to be complicated to implement on a GPU.
For this kind of functions, maybe dispatching to NumPy is an acceptable workaround?
Of course, the behavior should be well-documented.

[2019-09-30 01:31] emcastillo commented on #2507
Do you have cuda installed?

[2019-09-30 02:16] leofang commented on #2450
(Updated the TODO list.)

[2019-09-30 16:20] xuzhang5788 commented on #2507
@emcastillo
Yes. It is cuda10

[2019-10-01 01:13] emcastillo commented on #2507
`ERROR: CUDA could not be found on your system.`

Seems like you don't have the cuda paths correctly configured.

[2019-10-01 07:57] kmaehashi commented on #2497
Thanks for the request! We welcome contribution for it.

[2019-10-01 07:59] kmaehashi commented on #2507
If you have no special reasons to build from source, I'd suggest you to use wheels.
https://docs-cupy.chainer.org/en/latest/install.html#install-cupy

[2019-10-01 10:05] kmaehashi commented on #2490
Actually we have never published a wheel for macOS.
(Also note that CUDA won't work with the latest macOS Mojave)
You can try building it from source.

[2019-10-01 15:20] leofang commented on #2490
@kmaehashi it is a known problem that building from source isn't working on Mac, see https://github.com/cupy/cupy/issues/952#issuecomment-491635935 and links there. Are you able to take a look?

[2019-10-02 02:25] leofang opened #2513 "`test_check_*_version()` errors"
See, e.g., https://jenkins.preferred.jp/job/chainer/job/cupy_pr/417/TEST=cupy-py2,label=mn1-p100/testReport/junit/tests.install_tests.test_build/TestCheckVersion/test_check_cuda_version/ from #1941:
[code]
due to the new `use_hip` argument, supposedly introduced in #1094. This patch should fix it:
[code]

Let me add that it is amazing the HIP-support PR only caused this single error! Job well done

[2019-10-02 02:32] niboshi commented on #2513
Thank you!
Could you make a PR?

[2019-10-02 02:40] leofang commented on #2513
See #2513.

[2019-10-02 07:40] #2513 closed

[2019-10-02 08:18] okuta commented on #2513
Thank you for your fixing!

[2019-10-02 15:15] UmashankarTriforce opened #2515 "Comparing `numpy.ndarray` and `cupy.ndarray`"
Is it possible to implement a method which compares `numpy.ndarray` and `cupy.ndarray`?

[code]

[2019-10-02 18:11] smarkesini opened #2516 "ReductionKernel in linear algebra"
Hi,
cupy linalg norm does not use  reduction kernels, and makes copies of the input variable to compute intermediate results (abs, x*x).  The performance improvement with reduction kernel is not negligible, see below timing for a random vector of 1e8 float32 or complex64 elements, using cupy version '7.0.0b4', tesla k80, using attached code.

 Is there a reason why reductionkernels are not used? w

[2019-10-03 04:29] leofang opened #2519 "Discussion for possible enhancements of the new CUB support"
With the great effort by @anaruse in #2090, I've seen encouraging performance boosts. Below is a list of possible improvements I can think of, either for offering extensive support or for enabling even more boost. I am interested in knowing what I've missed or misunderstood.
- [x] Support complex numbers (#2538)
- [x] Allow using CUDA streams: (#2555)

if users set up a context manager like this
[

[2019-10-03 04:43] leofang commented on #2519
Could also be useful? http://nvlabs.github.io/cub/structcub_1_1_device_segmented_reduce.html

[2019-10-03 05:57] #2331 closed

[2019-10-03 07:48] #2462 closed

[2019-10-03 08:02] niboshi opened #2521 "Write unit tests for older protocols of __cuda_array_interface__"
#2491 has updated the supported protocol version to 2, and it's tested.

CuPy should also ensure protocol 0 and 1 are accepted.

[2019-10-03 10:07] niboshi opened #2522 "Document `_J` in reduction kernel template"
Related: #2518

https://github.com/cupy/cupy/blob/1af22f57fda92ae35bde806d0c4d110faf4fed52/cupy/core/reduction.pxi#L47-L49

`_J` looks unused but actually used in some functions within CuPy.
I'm not sure if it should be documented to the public, but at least there should be a comment.

[2019-10-03 11:28] grlee77 commented on #2519
Agreed that enhancements to add segmented reductions and/or looping to support batch reduction would be great.

Functions for `argmin` and `argmax` reductions are also available in CUB and could be added.
http://nvlabs.github.io/cub/structcub_1_1_device_reduce.html#a6b35963e90120b6d2c76a6068b0340a9

[2019-10-03 11:44] kmaehashi commented on #2106
For later reference:

* You don't have to specify `CUDA_VISIBLE_DEVICES` environment variable unless you want to limit CUDA device available in CuPy.
* If you encounter this error, unset `CUDA_VISIBLE_DEVICES` environment variable if you encounter this error (`unset CUDA_VISIBLE_DEVICES`). Do NOT leave it blank (`export CUDA_VISIBLE_DEVICES=` is **wrong**; this will make all CUDA devices invisible

[2019-10-03 14:43] leofang commented on #2104
This issue is resolved by #2491. The new v2 protocol specifies that the pointer to 0-size arrays should be `0`.

[2019-10-03 15:34] leofang opened #2524 "Stream in the context-manager form is not used in `ElementwiseKernel` or `ReductionKernel`"
This is actually a bug reported back in #1695 that unfortunately went unnoticed.

In `examples/stream/map_reduce.py`, a list of streams was created for executing `cupy.matmul()` in parallel, which is backed by a `ReductionKernel` in this case: https://github.com/cupy/cupy/blob/1af22f57fda92ae35bde806d0c4d110faf4fed52/cupy/core/core.pyx#L2513-L2516
However, inspecting the implementation I found tha

[2019-10-03 15:35] leofang commented on #1695
@mrocklin I think you found a bug, see #2524. In this example, all operations were serialized, which is why you didn't see any performance gain.

[2019-10-03 15:53] grlee77 commented on #2519
See also #2517 which extends support for the existing 1d reductions to include other valid `axis` argument and `keepdims` combinations

[2019-10-03 16:03] leofang commented on #2519
Oh cool. You move so fast @grlee77! In #2508 I enabled support of complex numbers. I wonder if we should just combine the two PRs into one. Some conflicts need to be resolved either way.

[2019-10-03 16:11] grlee77 commented on #2519
I think it was just coincidence that I happened to be working on `linalg.norm` earlier this week :). I was initially defining simple `ReductionKernels` for various norms, but then found that relying on CUB would be much faster in cases where it can be used. I don't mind rebasing after #2508 is merged (or just rebasing on it now if you prefer to go that way).

[2019-10-03 16:34] leofang commented on #2519
I see, I thought you were looking into #2516 already 😆

Interesting. I suppose at some point we could even rewrite the logic in `ReductionKernel` based on CUB!

Well, now that I think about it, I guess the complex numbers can wait after your #2517, which is a more fundamental work.

[2019-10-03 17:25] grlee77 commented on #2516
Hi @smarchesini, I also happened to be looking at this last Friday and had come up with a similar solution.

See the most recent commits in:
https://github.com/grlee77/cupy/commits/fast_norm

I used the lower level `create_reduction_func` instead of `ReductionKernel` to better handle complex dtypes (largely inspired by code written by @asi1024 adding complex dtype support for `np.var` in #2484).

[2019-10-03 17:34] jakirkham opened #2525 "Support other boundary modes in convolve/correlate"
Would be good to support the other `mode` arguments in `convolve` and `correlate`. Currently [only a few are supported]( https://github.com/cupy/cupy/blob/6c4799638abb046d7e0512ff07d7c4a38e9ba97a/cupyx/scipy/ndimage/filters.py#L100-L102 ).

At a first pass, it would be great to just use `cupy.pad` to do this and trim off the excess after convolution or correlation. At a second pass, it should be p

[2019-10-03 18:25] grlee77 commented on #2525
It seems that it is already supported. I think maybe you missed the `not` in ```if mode not in"  in the line you linked?

[2019-10-03 18:33] jakirkham commented on #2104
Indeed. Thanks for doing that @leofang! 😄

@TomAugspurger, happy to close?

[2019-10-03 19:27] TomAugspurger commented on #2104
Yep, I think so. Thanks!

[2019-10-03 19:27] #2104 closed

[2019-10-03 19:36] jakirkham commented on #2525
Yep you are right. Thanks for the correction. Have rescoped this to handling all other boundary modes that are not supported.

[2019-10-03 20:18] leofang commented on #1532
@jakirkham In my opinion, while supporting the buffer protocol should be easy (see Refs 1, 2), it has little use in practice for GPU computation.

The reason is that both the producer and the consumer of the buffer live on the host (CPU if you wish) while the actual buffer lives on the device (GPU). Even if you just want a read-only view of a `cupy.ndarray`, the moment the consumer parses the view

[2019-10-03 20:32] leofang commented on #2524
This issue is related to Item 1 of #2519.

[2019-10-03 21:00] andy6975 commented on #2305
Is this issue still open? I would like to work on this. Thanks!

[2019-10-03 21:02] andy6975 commented on #2224
Is this issue still open? I would like to work on this. Thanks!

[2019-10-03 21:07] andy6975 commented on #2223
Is this issue open? I would like to work on this. Thanks!

[2019-10-03 21:13] jakirkham commented on #2224
I think you can just give it a go. Not aware of anyone else working on it. Please let us know if you need anything. 🙂

[2019-10-03 21:14] jakirkham commented on #2305
That would be great. Please let us know if you need anything. 🙂

[2019-10-03 21:15] andy6975 commented on #2224
Thank you for the response. If you don't mind, can I ask you for a headstart? I am new to cupy.

[2019-10-03 21:39] grlee77 commented on #2525
Do you mean adding support for other modes supported by `cupy.pad`, but not by `scipy.ndimage`? (I think all the modes available in `ndimage` are implemented)

As you may be aware, there are unfortunately some differences in naming conventions among the modes in `ndimage` and `pad`. Particular confusing is that:

pad's `'mirror'` is equivalent to ndimage's `'reflect'`
pad's `'reflect'` is equivale

[2019-10-03 22:23] grlee77 commented on #2224
Implementation can sometimes be tricky because you often need some familiarity with NumPy/C to determine what is going on there and then some familiarity with CUDA/C++ to be able to implement an equivalent function for CuPy.

In the case of `compress`, you could check whether maybe it can be implemented by adapting an existing function like `_take` as defined in [cupy/core/_routines_indexing.pyx](

[2019-10-03 22:39] grlee77 commented on #2224
Hey @rgommers: my prior comment here reminded me of a discussion you started (maybe on numpy-dev?) about what defining certain core functions that are most important within the NumPy API.

It seems like `compress` (and `extract`) is an example of a non-core function that can be implemented purely in terms of other existing NumPy functions (despite having a dedicated C implementation in NumPy itsel

[2019-10-03 22:41] jakirkham commented on #2224
Is there a good place for us to collect a list of such functions Ralf?

[2019-10-04 02:46] leofang commented on #2519
Just tried this, no difference in timing. I wonder why...

[2019-10-04 02:53] leofang commented on #2516
@smarchesini could you try timing using [CUDA events](https://docs-cupy.chainer.org/en/stable/reference/cuda.html#streams-and-events)? It should be more accurate.

Related: #750

[2019-10-04 04:39] grlee77 commented on #2224
I found the prior discussion [here](http://numpy-discussion.10968.n7.nabble.com/defining-a-NumPy-API-standard-td47064.html). Ralf mentioned starting a repo for this at: https://github.com/Quansight-Labs/rnumpy

[2019-10-04 12:16] say2sarwar commented on #2106
I tried this but the error is still thee. the same error.

[2019-10-04 12:56] say2sarwar commented on #1147
How did you solve this issue? i am facing the same issue. can you please post your solution.

[2019-10-04 13:25] andy6975 commented on #2305
I am starting to work on this issue. Could you please tell me what is the path to cupy source? Thanks!

[2019-10-04 14:12] rgommers commented on #2224
https://github.com/Quansight-Labs/python-api-inspect

Yes, that's the right discussion and repo. I have an 0.0.1 version of `rnumpy` up on [PyPI](https://pypi.org/project/rnumpy/) for easy access, just so people can look at the idea. I haven't had time to push it forward, but hope to have a discussion on this at the NumPy sprint in Berkeley on 22-23 Nov.

The very brief summary here is:
- the NumP

[2019-10-04 20:10] andy6975 commented on #2305
Hi, I wanted to know if there are functions for the following tasks in CuPy?

* Partition: like np.partition()
* Swapaxes: like np.swapaxes()

[2019-10-05 09:18] say2sarwar commented on #2106
My GPU is working find for other scripts. I only face this issue for cupy. i am facing this issue to run some code related to faster RCNN.

[2019-10-05 16:42] OswinGuai commented on #1147
@say2sarwar My problem may be not your case. It was the unset parameter like gpu_id='', an empty string. So no device could be found.

[2019-10-06 03:35] leofang commented on #2521
Before adding a compatibility test, we need to first backport #2491 to v6, see numba/numba#4661. @niboshi I could work on the tests once this is done.

[2019-10-06 07:09] leofang opened #2530 "How to use CuPy's headers in a CUDA file?"
I must have missed something trivial. I want to use CuPy's Thrust headers to do some tests, but I am unable to compile even a simple file like this:
[code]
Compile it with `nvcc -Icupy/core/include -c do_nothing.cu` in the root of CuPy source to generate an object file, I got the following errors:
[code]
Any hint or comment is appreciated.

[2019-10-07 00:24] niboshi commented on #2521
Why do you think #2491 needs to be backport first?
Conversely I think the test is needed first, because otherwise backporting it could break support of older protocols in v6.

[2019-10-07 00:26] niboshi commented on #2521
Simply backporting #2491 without appropriate tests could break older protocols in v6.
I think we should write the tests first and backport them altogether.

[2019-10-07 02:33] emcastillo commented on #2524
@leofang can you check #2532?

[2019-10-07 04:09] emcastillo commented on #2524
Apparently if the `stream` is set to None in those two functions, when the kernel is launched
the current stream is retrieved:
https://github.com/cupy/cupy/blob/32718607a7808ec6bc3a24cf9231a9351f8fc95e/cupy/cuda/function.pyx#L126

[2019-10-07 05:17] leofang commented on #2524
That's true, otherwise we'd see all computations collapsing on the null stream...Not sure what I was thinking, but I'll need to investigate the reason of slowness further later. Let me first close this issue, and reopen if necessary.

Thank you for digging it up for me, @emcastillo!

[2019-10-07 05:17] #2524 closed

[2019-10-07 05:47] emcastillo commented on #2524
Well, I have seen that using curand introduces explicit synchronization across all the streams.
If in the mapreduce example, you decouple the input initialization from the actual computation, you can see that the curand kernels are serialized, but the matrix dot ones run in parallel.

[code]

[2019-10-07 06:08] emcastillo commented on #2524
Actually, the previous code was fine, just increasing the matrix sizes shows real overlap
![image](https://user-images.githubusercontent.com/15824382/66288449-40f61e80-e914-11e9-9a33-7cc672499938.png)

[2019-10-07 09:13] emcastillo commented on #2530
It worked in my case
[code]
I guess that you have cupy installed in editable mode?

[2019-10-07 15:49] leofang commented on #2521
The updated implementation of `_convert_object_with_cuda_array_interface()` guarantees backward compatibility. The problem in numba/numba#4661 is that v6.4.0 did not support CUDA arrays compliant with the new v3 protocol. This is why I suggested backport first.

I have no objection to this. Would you like me to fire up a backport PR with the compatibility tests included?

[2019-10-07 15:56] leofang commented on #2524
Ah, I also suspected this but haven't had time to confirm it. Thanks a lot @emcastillo! Should I create a PR to improve that test?

[2019-10-07 16:26] leofang commented on #2530
Thanks for helping me diagnose, @emcastillo!

Yes, I did. But I just tried a fresh install of CuPy from wheel, compile in/outside the source tree, compile against CUDA 8.0/9.1, etc. None of the combinations worked :(

If I turn on the `-v` flag for `nvcc`, I see the error happens at this step:
[code]
Could you show me the following info in the place you made it:
- `pwd`
- `which nvcc`
- `which gcc

[2019-10-07 16:27] leofang commented on #2530
It worked fine if `-cubin` is used instead of `-c` btw.

[2019-10-08 01:26] emcastillo commented on #2530
[code]
[code]

[2019-10-08 02:46] niboshi commented on #2521
In #2491 there's no test for older protocols. In that sense there's no "guarantee" for backward compatibility. That's why we need test first.

We can do that, but if you prefer, you can as well.

[2019-10-08 02:54] leofang commented on #2521
OK. Let me make a first pass. I was the one pushing the protocol renewal, and I feel I'm somewhat responsible for the aftermath 😅

[2019-10-08 03:01] niboshi commented on #2521
Oh, it's all our responsibility once PRs are merged.
You don't have to feel like that, but thank you so much anyway! 🙏

[2019-10-08 03:11] anaruse commented on #2525
I also think all modes available in scipy.ndimage are already supported.  Am I missing something?
https://github.com/scipy/scipy/blob/4bfc152f6ee1ca48c73c06e27f7ef021d729f496/scipy/ndimage/_ni_support.py#L38-L52

[2019-10-08 04:00] leofang commented on #2521
See #2534.

[2019-10-08 04:17] anaruse commented on #2519
Just FYI. You can also speedup reduction operations using cuTENSOR.
https://pspringer.gitlab-master-pages.nvidia.com/cuTensor/sphinx/api/cutensor.html#cutensorreduction
`cutensorReduction` is implemented in cuTENSOR 0.2 and cuTENSOR 0.2 will be available in CuPy once theis PR is merged (https://github.com/cupy/cupy/pull/2341)

[2019-10-08 06:34] leofang commented on #2530
Thank you, @emcastillo! I confirm it works with your environment setup (tested in a container). Closing this issue.

For my own record, it was not possible to test new host compiler (say gcc 7.3.0) + old CUDA toolkit (in my case, v9.1). Apparently CUDA toolkit has a strong requirement on supported platform + host compiler versions according to Installation Guide for Linux. Using `nvcc -ccbin` to o

[2019-10-08 06:34] #2530 closed

[2019-10-08 06:43] leofang commented on #2530
Interesting. nvcc 9.0 + gcc 6.4.0 works...

[2019-10-08 06:47] leofang commented on #2530
Interesting. nvcc 9.0 + gcc 6.4.0 works...So it means gcc 4.8.5 is too old to compile CuPy's Thrust headers!

[2019-10-08 06:51] emcastillo commented on #2530
😂 Thrust is c++14?

[2019-10-08 07:07] leofang commented on #2530
I think C++11 is fine...But I thought 4.8.5 also supports C++11...😭

[2019-10-08 07:50] niboshi commented on #2515
We intentionally prohibit this kind of mixing of `numpy.ndarray` and `cupy.ndarray`, because that would inherently lead to host-device synchronization which greatly degrades performance, and it's difficult to spot for users.

Thank you for raising an issue, anyway!

[2019-10-08 07:50] #2515 closed

[2019-10-08 07:54] niboshi commented on #2522
I think this comment should also be addressed: https://github.com/cupy/cupy/pull/2518#issuecomment-537965321

[2019-10-08 08:18] kmaehashi commented on #2106
@say2sarwar Could you please copy and paste the full stacktrace?

[2019-10-08 08:29] say2sarwar commented on #2106
print(cupy.show_config())
CuPy Version          : 6.4.0
CUDA Root             : /usr/local/cuda-10.0
CUDA Build Version    : 10000
CUDA Driver Version   : 10010
CUDA Runtime Version  : 10000
cuDNN Build Version   : 7603
cuDNN Version         : 7603
NCCL Build Version    : 2402
NCCL Runtime Version  : 2402
None

Platform: Linux-5.0.0-31-generic-x86_64-with-debian-buster-sid
Chainer: 6.4.0
NumPy: 1.

[2019-10-08 08:33] say2sarwar commented on #2106
![Screenshot from 2019-10-08 16-31-47](https://user-images.githubusercontent.com/34134990/66380111-55581b00-e9e9-11e9-9c87-4eab79c9ec73.png)

[2019-10-08 09:41] emcastillo commented on #2516
I was doing some tests using kernel fusion,
Although I got performance numbers pretty similar to the `ReductionKernel`
kernel fusion does not allow us to use `keepdim` or an specific axis to be used right now.

@grlee77 it would be great if you can send a PR with the reduction kernels!

[2019-10-08 09:49] kmaehashi commented on #2525
@jakirkham As commented above all modes available in SciPy are implemented in CuPy. Please feel free to reopen if you have further requests!

[2019-10-08 09:49] #2525 closed

[2019-10-08 09:55] kmaehashi commented on #2106
Thanks, the installation seems correct. Could you share the output of `nvidia-smi`?
Also, if you are on anaconda, could you try uninstalling `cudatoolkit` if it is installed?

[2019-10-08 10:04] say2sarwar commented on #2106
![Screenshot from 2019-10-08 17-56-30](https://user-images.githubusercontent.com/34134990/66387101-d74e4100-e9f5-11e9-9b1c-45b46610196b.png)
I already removed cudatoolkit but the error remain the same. nvidis-smi output is attached.

[2019-10-08 15:48] hassanrazakhalid opened #2537 "cupy.cuda.memory.OutOfMemoryError"
Thank you for using and contributing to CuPy!

If your issue is a **request for support in using CuPy**, please post it on [Stack Overflow](https://stackoverflow.com/questions/tagged/cupy) or Google Groups ([en](https://groups.google.com/forum/#!forum/cupy) / [ja](https://groups.google.com/forum/#!forum/cupy-ja)).
Developer team members are monitoring questions on these channels.

If it is a bug r

[2019-10-08 19:41] grlee77 commented on #2519
There was also related discussion about using `cudnnReduceTensor` in #2294. However, it seems **cuDNN** does not have complex-valued support either.  **cuTENSOR** does support complex-valued tensors and also seems to support reduction over specific axes of n-d arrays.

[2019-10-08 19:52] leofang commented on #2519
@grlee77 I'm preparing a PR for native support of complex numbers in CUB, and I'll abandon #2508 then. I see a very promising performance (of course). Can you help me test it later?

[2019-10-08 20:40] leofang commented on #2463
Testing the data types might have a performance impact, see https://github.com/cupy/cupy/pull/2508#discussion_r332160932. Using string-based data types might be more efficient (I didn't test).

[2019-10-08 23:43] anaruse commented on #2519
It will be a separate library like cuDNN.

Yes, you can download cuTENSOR EA via the link once you join NVIDIA Developer Program.
https://developer.nvidia.com/developer-program/signup

[2019-10-09 01:30] emcastillo commented on #2537
Hello, thank you for the report.

Have you tried with the stable version?
If the error persist could it be related to the size of your training data?

[2019-10-09 17:37] leofang commented on #2519
@anaruse, I have a quick question: Since CUB is header-only, are we legally allowed to distribute it along with CuPy's source code (and wheels) on PyPI? Bundling it would be more convenient for users.

[2019-10-09 19:38] leofang commented on #2521
It'd be nice to give a short warning like in numba/numba#4682 about the protocol update in the release notes of v6.5.0 and v7.0.0.

[2019-10-09 20:02] leofang commented on #2519
By the way, the last update time for CUB was Feb 2018? @anaruse do you know why? Is it because CUB is absorbed into Thrust?

[2019-10-10 02:51] anaruse commented on #2519
I'm not a legal person, so I'm not so sure, but it would be OK as long as distribution way conforms to BSD-3-Clause License.
https://github.com/NVlabs/cub/blob/1.8.0/LICENSE.TXT

[2019-10-10 02:57] anaruse commented on #2519
CUB is internally used by Thrust (see /usr/local/cuda/include/thrust/system/cuda/detail/cub), but it does not mean that CUB is absorbed into Thrust.

[2019-10-10 03:49] leofang commented on #2519
Thanks @anaruse for both answers! Sounds like we could just cherry-pick the needed CUB header files and include them in CuPy (along with the license file of course), very much like how Thrust was included. Since v1.8.0 is quite stable for a while, I suggest to pin at this version.

The next question would be if we wanna enable CUB reductions by default.

[2019-10-10 04:40] hassanrazakhalid commented on #2537
yes i tried with version 6.4.0 of cupy and chainer and same issue, i'm not sure that it could be size of training data. Its works fine when using without GPU but training takes so much time approx 9 days.

[2019-10-10 12:46] niboshi commented on #2537
Did you check the actual memory consumption with nvidia-smi?
CUDA can internally occupy about 500MiB of GPU memory by just initializing a CUDA context.
It's possible that GPU memory was actually just exhausted.

[2019-10-10 15:44] niboshi commented on #2537
Thanks. Apparently GPU memory is actually full.

CuPy won't "automagically" swap-out unused data on GPU memory so that you could allocate more than physical GPU memory size.
It doesn't matter how calculation is done. Once memory is allocated, it occupies physical GPU memory, even while unused.
I don't know how you are handling the data, but most likely you would have to delay the data transfer (or

[2019-10-10 15:51] hassanrazakhalid commented on #2537
right i was trying to run the following code with GPU by running train.py,
https://github.com/takiyu/portrait_matting

[2019-10-11 01:27] niboshi commented on #2537
As it is apparently not CuPy's problem, please ask at either StackOverflow or Chainer slack community.
For slack, you can follow a link in chainer README: https://github.com/chainer/chainer

Please reopen once it turns out to be a CuPy issue.
Thanks!

[2019-10-11 01:27] #2537 closed

[2019-10-13 03:17] leofang commented on #1928
Closed by #1941.

[2019-10-13 07:15] leofang commented on #1928
@niboshi This is closed by #1941.

[2019-10-13 08:44] niboshi commented on #1928
Right. Thanks!

[2019-10-13 08:44] #1928 closed

[2019-10-16 15:29] SebastianSemper opened #2547 "Add 'axes' option to ufuncs"
It would be nice to replicate the feature added in numpy 1.15:

In my special case, I would need this in cupy.matmul.

[2019-10-17 07:43] jalfonsi opened #2548 "linalg.eigh fails for large matrix size unlike scikit-cuda"
When diagonalizing a tridiagonal matrix on an Nvidia Fermi GT540M, CuPy fails for matrix size  4181 x 4181 (but is ok with 2584 x 2584) whereas scikit-cuda is able to deal with larger size (6765 x 6765). I've perfromed the installation pip install cupy-cuda80 .
Please add support for eigh_tridiagonal as in numpy which is more memory efficient.

* Conditions CuPy Version          : 6.4.0
CUDA Root

[2019-10-17 08:30] say2sarwar opened #2549 "cupy.cuda.runtime.CUDARuntimeError: cudaErrorNoDevice: no CUDA-capable device is detected"
cupy.show_config()
CuPy Version          : 6.4.0
CUDA Root             : /usr/local/cuda-10.0
CUDA Build Version    : 10000
CUDA Driver Version   : 10010
CUDA Runtime Version  : 10000
cuDNN Build Version   : 7603
cuDNN Version         : 7603
NCCL Build Version    : 2402
NCCL Runtime Version  : 2402
CuPy Version: 6.4.0
OS: Ubuntu 18.04
Cuda: 10.0
cuDNN version: 7.5
g++ (Ubuntu 7.4.0-1ubuntu1~18.04.

[2019-10-17 09:24] emcastillo commented on #2549
Hello,

Do you get your gpus listed in the output of `nvidia-smi`?

[2019-10-17 10:04] say2sarwar commented on #2549
I have only one GPU and it's listed. output is below. the GPU is working without CUPY. but CUPY create this issue.
![Screenshot from 2019-10-17 18-02-36](https://user-images.githubusercontent.com/34134990/66999399-82eb4580-f108-11e9-84b0-3d5006c76057.png)

[2019-10-17 17:06] leofang commented on #2450
Another success story: https://github.com/cupy/cupy/pull/2432#issuecomment-543193359.

[2019-10-17 17:08] leofang opened #2550 "Support texture objects in `ElementwiseKernel`?"
This feature is requested by @the-lay in https://github.com/cupy/cupy/pull/2432#issuecomment-543193359. I'll briefly comment below.

[2019-10-17 17:29] leofang commented on #2550
@the-lay, I quickly skimmed over the implementation of `ElementwiseKernel` in `cupy/core/_kernel.pyx`. It seems a bit involved for supporting textures, but not impossible.

Before proceeding, I believe the following two prerequisites are necessary:
1. Only support texture objects and not texture references: the latter is to be deprecated, and you don't want extra effort.
2. Only support `tex1D<typ

[2019-10-17 17:55] leofang commented on #2550
One more thought: you might need to specialize an instance of `CIndexer` (from `cupy/core/include/cupy/carray.cuh`) for texture objects. In particular, the `set()` method should be disabled, as textures are read-only.

[2019-10-17 23:45] C9KenData commented on #2243
i think i'm running into the same problem
but i couldn't quite understand what the solution means.

i checked environmental variables, my CUDA_PATH is defined (default).
what do i do with the script?

[2019-10-18 00:08] cgohlke commented on #2243
but i couldn't quite understand what the solution means.

Add the following lines to your code before importing cupy or add them to `cupy/__init__.py`:
[code]

[2019-10-18 00:57] C9KenData commented on #2243
I ran this

[code]
and got this:

'''
 runfile('C:/Users/New User/Documents/shopify/tester.py', wdir='C:/Users/New User/Documents/shopify')
Traceback (most recent call last):

  File "<ipython-input-4-e60f7b3f5e8e>", line 1, in <module>
    runfile('C:/Users/New User/Documents/shopify/tester.py', wdir='C:/Users/New User/Documents/shopify')

  File "C:\ProgramData\Anaconda3\lib\site-packages\spyder

[2019-10-18 01:47] emcastillo commented on #2549
Do you have a minimum script to reproduce the error?

[2019-10-18 04:50] leofang commented on #2450
(Added #2551 to the TODO list.)

[2019-10-18 05:04] emcastillo opened #2552 "Support generalized universal functions"
Cupy does not offer generalized universal functions.
I would like to discuss how should we proceed and implement this feature.

https://docs.scipy.org/doc/numpy/reference/c-api.generalized-ufuncs.html

TODOs

- [ ] Parse gufuncs signatures to retrieve the core dimensions.
- [ ] Modify `core.pyx::ndarray::__array_ufunc__` to remove the signature check.
- [ ] Given the signature, modify `_kernel.pyx

[2019-10-18 05:08] leofang commented on #2552
FYI, Numba already supports this, see http://numba.pydata.org/numba-doc/latest/cuda/ufunc.html. But I am not sure if their generalized ufuncs support CuPy arrays (via `__cuda_array_interface__`). Should be quickly verifiable.

[2019-10-18 05:37] emcastillo commented on #2552
Dask have some facilities too https://docs.dask.org/en/latest/array-gufunc.html

[2019-10-18 06:34] leofang commented on #2440
This is closed by #2531.

[2019-10-18 08:28] #2193 closed

[2019-10-18 08:36] kmaehashi commented on #2549
Ref. https://github.com/cupy/cupy/issues/2106#issuecomment-537910196

Another possible reason is that your installation of CUDA driver is not complete.
https://devtalk.nvidia.com/default/topic/876432/cuda-setup-and-installation/no-cuda-capable-device-is-detected/

[2019-10-18 08:39] kmaehashi opened #2553 "Check"
Currently some linalg functions accepts `float16`, which should fail as in NumPy.

* https://github.com/cupy/cupy/pull/2509#discussion_r331863033
* https://github.com/cupy/cupy/pull/2526#discussion_r335804411

[2019-10-18 10:51] #2440 closed

[2019-10-18 15:15] leofang commented on #2549
Wait, your CUDA version (from `nvidia-smi`) is 10.1, but you installed `cupy-cuda100`? Could you try uninstalling it and then installing `cupy-cuda101`?

[2019-10-18 19:46] C9KenData commented on #2243
os doesn't have a add_dll_director function....
and my computer can't find CUDA_PATH despite me adding it onto environmental variables. =/

[2019-10-18 19:54] cgohlke commented on #2243
This issue and workaround are specific to using official Python 3.8 and the NVIDIA CUDA Toolkit on Windows. They don't apply other Python versions or Conda distributions...

[2019-10-18 20:17] C9KenData commented on #2243
i see. i assume i can manually add the dll path ?
if i know where to find it ...

[2019-10-18 20:28] C9KenData commented on #2243
went to environmental variable, added the bin path and i can import cupy now

[2019-10-19 15:09] the-lay commented on #2550
I agree, no need in adding something that will be deprecated soon.

I think this might be an overkill, as indexing is not a problem. You can always convert a flattened index to original indices, and it should be up to "operation" of ElementwiseKernel what to do, there's no need to force end users to use texture (if I understood you correctly and that's what you meant). For example in PyCUDA, I was

[2019-10-21 01:53] say2sarwar commented on #2549
I didn't understand. if you are talking about the code. the link is here. https://github.com/LiangSiyuan21/Adversarial-Attacks-for-Image-and-Video-Object-Detection/tree/master/img_attack_with_attention

[2019-10-21 01:54] say2sarwar commented on #2549
10.1 is the available version of cuda. i check with NVCC and it's 10.0. still, i did what you asked and no solution.

[2019-10-21 01:55] say2sarwar commented on #2549
I can use GPU on other programs and i run different codes under different env. but the cupy is creating the problems.

[2019-10-21 04:40] jiahaosuda commented on #2507
Hello! I also met the problem when I tried to install cupy. Have you already solved the problem? And how did you solve the problem? Thanks!

[2019-10-21 10:05] Leberwurscht opened #2558 "Incompatibility with matplotlib backend Gtk3Agg - floating constant is out of range"
Hi,

with the following test script:

    #!/usr/bin/env python3

    import numpy as np
    import cupy as cp

    import matplotlib.pyplot as plt

    data1 = np.random.random(4096)
    data2 = np.random.random(4096)
    cpdata1 = cp.asarray(data1)
    cpdata2 = cp.asarray(data2)
    cpdata3 = cp.add(cpdata1, cpdata2)
    result = cp.asnumpy(cpdata3)

    plt.figure()
    plt.plot(result)
    pl

[2019-10-21 14:08] leofang commented on #2519
I got this working in https://github.com/leofang/cupy/tree/cub_enhance with CUB's `device_segmented_reduce`. The idea is to do a device-device copy to make reduced axes be contiguous. But, the performance numbers are not uniformly better across all test combinations (tried different `axis` setup for a `ndim=3` array). Looking into this now.

If anyone is interested, please feel free to comment / d

[2019-10-21 16:15] leofang opened #2559 "Single-precision `sum()` over certain axes sometimes deviates from NumPy's outcome"
When using single-precision floating numbers (`float32` and `complex64`) and summing over a particular axis set (`axis=(0, 1)` for `ndim=3`; other possible axis combinations work fine), the result of `sum(axis=axis)` in CuPy is not the same (within tolerance) as that of NumPy.

Not sure how this can be fixed -- most likely it's due to a combination insufficient numerical precision and the order of

[2019-10-21 16:30] leofang commented on #2550
No, this is not what I meant. If you look at the implementation of `ElementwiseKernel`, it doesn't care the array dimension, and always launches 1D blocks that operate over the whole array. What I meant is that because of this, users should only pass in 1D texture objects. (See further below.)

I understand we can always compute the index on the fly. My concern is that how would you pass in this `

[2019-10-21 17:03] xuzhang5788 commented on #2507
@jiahaosuda
I gave it up. I tried several methods to install it, but no one worked. unfortunately, they made my system crushed. So, it took my time to restore the system. So, I gave up.

[2019-10-21 17:08] leofang commented on #2559
btw, `min()` and `max()` don't have this issue.

[2019-10-21 17:55] grlee77 commented on #2559
I think NumPy does pairwise summation to improve accuracy in some cases. They [describe it in the notes section here](https://docs.scipy.org/doc/numpy/reference/generated/numpy.sum.html). It sounds like your case when providing axes=(0, 1) would fall under one of the cases where it is NOT used, though. Unfortunately I won't have time to look into this in the immediate future, but I think it is a p

[2019-10-22 15:05] leofang commented on #2559
Thanks a lot @grlee77 for pointing that out. So there's a slight chance that NumPy is wrong on this case? Interesting...

I'm having a hard time digging the NumPy code for locating the implementation of the optimized pairwise summation. I was able to trace up to around https://github.com/numpy/numpy/blob/d8a7c44b33221bb7b6fd926c93a9bca38ca45f69/numpy/core/src/umath/ufunc_object.c#L3572 but not fur

[2019-10-23 11:53] the-lay commented on #2550
Unfortunately, I won't continue this (I'd be very happy if someone else does though). Making `ElementwiseKernel` accept and pass texture object seems too much work at this moment (current dtype-ctype parameters system is based on numpy types) , so I just made a `RawKernel` that mimics elementwise processing - not as pretty and integrated as actual ElementwiseKernel, but works for my current needs.

[2019-10-24 03:39] leofang commented on #2550
If you just need a copy kernel, also take a look at this example from the texture tests:
https://github.com/cupy/cupy/blob/b9db374f4d0ccee358a998d7b283248f77cef351/tests/cupy_tests/cuda_tests/test_texture.py#L112-L126

[2019-10-24 03:42] leofang commented on #2519
See #2562.

[2019-10-24 08:41] the-lay commented on #2550
Thank you! The actual elementwise operation that I use is more complicated than just copying texture, it's just an example (and I agree that copying texture can be done much easier).

[2019-10-24 11:28] kmaehashi commented on #2547
Thanks for the catch, and yes, #2552 was created during discussing this issue.

[2019-10-24 17:03] jakirkham commented on #2274
Thanks @kmaehashi! Sorry for being quiet here.

We've recently added the infrastructure to build GPU packages. This includes the necessary logic for conda-build to perform builds with `nvcc` and add the `cudatoolkit` libraries as a dependency. Added `nccl` recently. So `cupy`'s dependencies are in place.

Have replaced the aforementioned PR with this updated one ( https://github.com/conda-forge/st

[2019-10-24 17:41] jakirkham opened #2568 "Avoid exposing functions overlapping with NCCL names"
Currently CuPy exposes NCCL stub functions that overlap with those that NCCL itself provides. This is done depending on whether a CUDA enabled build of CuPy was produced. Also which functions are exposed depends on which version of NCCL was used in the CuPy build. If the latest version of NCCL (supported by CuPy) was not available during the build, CuPy will expose some functions with names that o

[2019-10-24 19:55] leofang commented on #2568
Let me fill in some context. @jakirkham correct me if I am wrong. So far CuPy always bundles a specific version of NCCL so that what CuPy was built against *is* what's actually delivered to and runs on users' systems. This saves `pip` users a lot of headache.

Now, with the Conda build https://github.com/conda-forge/staged-recipes/pull/9959 in mind, the idea is to try decoupling CuPy from NCCL, as

[2019-10-24 22:43] jakirkham commented on #2568
That sounds like a good summary. Thanks for expanding that point, @leofang. 😄

Would note as much as possible here mean only trying to constrain NCCL as much as is needed to ensure the API/ABI remains compatible. The point being we want to make sure users are able to get new versions of NCCL that include bug fixes and improvements whenever possible. We just want to do so in such a way that their s

[2019-10-25 04:51] kmaehashi commented on #2568
Thanks for pointing this issue out. The same thing can be said to cuDNN as we're exposing symbols whose names are same as cuDNN depending on build-time cuDNN version, and cudnn is linked as `libcudnn.so.7` (not `libcudnn.so.7.5`).

[2019-10-25 04:54] kmaehashi opened #2569 "Support CUDA 10.1 Update 2"
Currently CuPy does not work with CUDA 10.1 Update 2. It should be resolved by the final release of v7.

* Following tests are failing (
    * cupy_tests.fft_tests.test_fft.TestRfftn_param_11.test_irfftn
    * tests.cupy_tests.linalg_tests.test_product.TestMatrixPower.test_matrix_power_inv2

* #2542 broke compatibility with CUDA 10.1 Update 2. Some undocumented APIs (e.g.,  `cusparseCbsrilu02_buff

[2019-10-25 20:20] jakirkham commented on #2569
So this an issue with the current release or just `master`?

[2019-10-26 00:20] jakirkham commented on #2568
I guess the cuSPARSE binding will have the same issue too.

[2019-10-28 04:46] anaruse commented on #2313
Closing since the PR was merged.

[2019-10-28 04:46] #2313 closed

[2019-10-28 05:05] kmaehashi commented on #2568
Thanks for the catch. It's better to fix cuSPARSE as well.
Note that, at least currently, cuSPARSE won't be affected because:

* The header only contains branch of CUDA 9.0/9.2. It seems that CUDA 10.1 or later uses `libcusparse.so.10`-style shared library names (exceptions: `libcudart.so.10.1`, `libnvrtc.so.10.1`, `libnvrtc-builtins.so.10.1`, `libcuinj64.so.10.1`, `libaccinj64.so.10.1`), instead

[2019-10-28 05:06] kmaehashi commented on #2569
v7.0.0rc1 release and current `master` branches are affected.

[2019-10-28 06:58] #1956 closed

[2019-10-28 11:18] rietmann-nv opened #2574 "`cupy.diff` doesn't respect input-major layout."
`cupy.diff()` takes data in both column- and row-major formats, but always returns in row-major. It would be nice to have it use the same -major output like the input.
[code]

Runtime info:
CuPy Version          : 6.2.0
CUDA Root             : /usr/local/cuda
CUDA Build Version    : 9020
CUDA Driver Version   : 10010
CUDA Runtime Version  : 9020
cuDNN Build Version   : 7301
cuDNN Version         :

[2019-10-28 14:00] hgt312 opened #2575 "How can I obtain the source code generated from user-defined kernel?"
As title.
Besides, a way to get source code generated by built-in kernels?

[2019-10-28 14:23] grlee77 commented on #2575
You can set the environment variable CUPY_CACHE_SAVE_CUDA_SOURCE to 1. This will cause `.cu` files to appear alongside the `.cubin` files in the directory containing your cached kernels (by default this is in the user's home account under `.cupy/kernel_cache`). If the corresponding `.cubin` already exists, I am not sure the `.cu` will get created; you might have to clear the cache folder first (or

[2019-10-28 15:51] jakirkham opened #2576 "Implementing `tofile` and `fromfile` to use GPUDirect"
Recently [GPUDirect Storage]( https://devblogs.nvidia.com/gpudirect-storage/ ) added support for reading and writing directly using the GPU. It would be useful if `tofile` and `fromfile` were implemented to use this functionality (possibly falling back to their current behavior).

[2019-10-29 03:40] anaruse commented on #2569
Sorry, this was my mistake. I was using CUDA 10.1 Update 1 at that time and did not notice this. I checked that some undocumented APIs like `cusparseCbsrilu02_bufferSizeExt` are actually removed from libcusparse.so.10.3.0.243, though those are still in libcusparse_static.a.

[2019-10-29 04:57] hgt312 commented on #2575
Thanks!

[2019-10-29 04:57] #2575 closed

[2019-10-29 06:18] pentschev commented on #2274
Just a brief comment from our NVIDIA-PFN meeting today, the PFN team would like to maintain the package as a team. @jakirkham is it possible to add a group of people to be maintainers of conda-forge packages? If not, I think the primary maintainer would be @kmaehashi, could you confirm?

[2019-10-29 06:19] kmaehashi opened #2579 "Test CUB and cuTensor in CI"

[2019-10-29 06:26] kmaehashi commented on #2569
Test results:

https://jenkins.preferred.jp/job/chainer/job/chainer-test_pr/70/label=mn1-p100,test=cupy-combination/testReport/junit/tests.cupy_tests.fft_tests.test_fft/TestRfftn_param_11/test_irfftn/

https://jenkins.preferred.jp/job/chainer/job/chainer-test_pr/70/label=mn1-p100,test=cupy-combination/testReport/junit/tests.cupy_tests.linalg_tests.test_product/TestMatrixPower/test_matrix_power_inv

[2019-10-29 07:07] kmaehashi commented on #2274
Yes, I will be a primary maintainer.

[2019-10-29 07:46] YoujinShin opened #2581 "problem in calculating inverse of complex matrix with cupy.linalg.pinv"
Hello,
I am using cupy.linalg.pinv to calculate inverse of complex matrix. And the result is different from numpy.linalg.pinv, only imaginary part.

I know that if
![render](https://user-images.githubusercontent.com/57126850/67747083-5110a200-fa6b-11e9-9350-690f9c0666df.png) is the SVD of A, then pseudoinverse is ![render2](https://user-images.githubusercontent.com/57126850/67747134-78676f00-fa6b-

[2019-10-29 08:29] kmaehashi commented on #2547
Discussed in the team today. Closing this issue as it is now tracked in #2552.

[2019-10-29 08:29] #2547 closed

[2019-10-29 08:35] kmaehashi commented on #2548
@jalfonsi Thanks for raising an issue.

Unfortunately CUDA GPU whose CC < 3.0 is no longer supported in CuPy v4.0 or later.

https://docs-cupy.chainer.org/en/stable/install.html

[2019-10-29 08:47] kmaehashi commented on #2581
@YoujinShin Thank you for raising an issue, do you have interest in sending a PR?

[2019-10-29 12:46] leofang commented on #2274
I think so. Give me a list of github ids. I can add them as the maintainers

[2019-10-29 13:07] berceanu opened #2583 "No matching distribution for PowerPC"
When trying to install on the IBM ppc64 architecture with
`pip install cupy-cuda90` we get

[code]

[2019-10-29 13:37] leofang commented on #2583
For the time being you need to build from source. Try `pip install cupy`. We’ve done that on Ascent (test nodes for Summit) and it worked fine.

[2019-10-29 14:14] leofang commented on #2579
@kmaehashi I am working on writing a test suite for CUB, is it duplicate to what you're working on?

[2019-10-29 14:24] leofang commented on #2274
For the discussion on the maintainers, please go to conda-forge/cupy-feedstock#7.

[2019-10-29 14:37] leofang commented on #2583
No, unfortunately. You will need a local copy of CUDA toolkit, not the one from conda, as it only contains the runtime libraries and not the compiler toolchain (`nvcc` and friends).

[2019-10-29 14:44] berceanu commented on #2583
I see. And how do I point cupy to this local copy?

[2019-10-29 14:47] leofang commented on #2583
A heads-up: if you have a local CUDA installation, it's better to remove the one from conda to avoid potential conflicts (not saying it's necessary, just a precautionary step).

[2019-10-29 14:50] berceanu commented on #2583
This doesn't affect `numba` at all, right?

[2019-10-29 14:53] leofang commented on #2583
No, if the installation is in default path `/usr/local/cuda`, numba should be able to find it. If not, set `CUDA_HOME`: http://numba.pydata.org/numba-doc/latest/cuda/overview.html#setting-cuda-installation-path

[2019-10-29 17:02] leofang commented on #2519
Bundling CUB is attempted in #2584.

[2019-10-29 20:27] anudeepbablu opened #2585 "Improving and Adding new functions to CuPy Statistics"
**Usage**
Statistical functions are widely used by Data Scientists. Having an API like scipy.stats in CuPy is always helpful. Since most of the calculations involve matrix operation and mathematical calculations, they can be GPU accelerated. Some of the functions are covered in the statistics module.

**Proposal**

If approved, I would like to start with implementing Correlation functions and Summ

[2019-10-30 00:06] YoujinShin commented on #2581
Ok, I will send PR.

[2019-10-30 00:30] leofang commented on #2585
Personally I'd love to see more GPU support added for the SciPy functions! But I can imagine this is a huge task, even just to cover the Summary and Correlation sections. I suggest to take baby steps. Try implementing one to three functions per PR, and experience how it works to get your implementation merged to the codebase.

The functions you want to add will be in the `cupyx.scipy.stats` module

[2019-10-30 04:17] kmaehashi commented on #2579
No, I intended to track CI infrastructure tasks, not test code in this repo.

[2019-10-30 04:17] kmaehashi commented on #2581
Thanks!

[2019-10-30 04:28] leofang commented on #2579
Cool, thanks. Then I will add the CUB test to #2584.

[2019-10-30 06:31] emcastillo commented on #2569
The API calls that #2573 removed were not present in the stable release 😃

[2019-10-30 08:38] kmaehashi commented on #2569
Test failures are currently under investigation by @anaruse.

[2019-10-30 09:27] hvy commented on #2553
Just sharing some knowledge from @IvanYashchuk as it seems relevant here https://github.com/chainer/chainer/pull/7995#issuecomment-547777423.

[2019-10-30 16:22] leofang commented on #2585
Thanks for the info, @grlee77. Neither do I, just curious. I suppose the support of `uarray` can wait until the planned `cupyx.scipy.stats` is in a good shape.

[2019-10-30 16:22] leofang commented on #2583
@berceanu did it work?

[2019-10-31 00:05] awthomp opened #2589 "CuPy to PyTorch with __cuda_array_interface__ - Array Strides not Multiple of Element Byte Size"
PyTorch version:
`torch.__version__`: 1.3.0

CuPy config:
[code]

With PyTorch accepting the __cuda_array_interface__, I'd expect to be able to use a CuPy generated CUDA array in PyTorch without going through DLPack.

[code]
Throws: `ValueError: given array strides not a multiple of the element byte size. Make a copy of the array to reallocate the memory.`

If this is on PyTorch's side, please let

[2019-10-31 00:14] leofang commented on #2589
This is supposed to be handled in pytorch/pytorch#24947, but I don’t know why it is halt. The CUDA array interface protocol is updated to v2 recently in cupy’s master. Before pytorch fixes it, you can stay on cupy v6.

[2019-10-31 03:45] emcastillo commented on #2552
Would like some feedback on the TODOs list :).
Thanks!

[2019-10-31 13:58] leofang commented on #2589
@beam2d is your PR to PyTorch ready, or you're still working on it? Thanks.

[2019-11-01 01:11] isaac-you opened #2594 "Is there any method to calculate batch linear regression in GPU efficiently???"
[code]

[code]

[2019-11-01 01:33] isaac-you commented on #2594
I have written a cpu version of such calculate problem, but cpu version is still slow.

[code]

The np.linalg.solve is most efficient method in cpu version.
But If I have a Nvidia 2080Ti
And how can I broadcast the loop of massive regressions into GPU.
Or is there any method to calculate massive regressions in GPU ???
Thank you so much.

[2019-11-01 02:55] #2436 closed

[2019-11-01 16:39] leofang opened #2595 "Signatures and behaviors of `argmax` and `argmin` are incompatible with NumPy"
First, for the signature: In CuPy the signature for `argmax()` and `argmin()` is
[code]
But in NumPy it's
[code]
That is, `dtype` and `keepdims` should be removed.

Second, for the behavior: In CuPy the `axis` could be a tuple, but in Numpy it can only be an integer:
[code]

I think both are easy to fix. Just add a few guards prior to calling the actual workhorses.

[2019-11-01 17:19] leofang commented on #2519
`argmin()` and `argmax()` are supported in #2596.

[2019-11-01 17:25] leofang commented on #2595
From my viewpoint, I don't mind at all such deviations. I think it'd help more use cases. Rather than fixing them, I think documenting them clearly is enough.

[2019-11-02 01:57] irondachui opened #2597 "connot import in1d"
I can install cupy, I suppose. Because the code said that
[code]
I don't know what these mean, am I install it correctly?
And when I run `import cupy`, it can work, but I cannot use `in1d`.
When I run `from cupy import in1d`, I got this `ImportError: cannot import name 'in1d' from 'cupy' (E:\anaconda\envs\ts\lib\site-packages\cupy\__init__.py)`

here is my information
nvcc: NVIDIA (R) Cuda compile

[2019-11-04 01:34] jakirkham opened #2599 "Python 3.8 Support"
Opening this issue to ask if Python 3.8 is currently supported. If not, this issue can be used to track adding Python 3.8 support.

[2019-11-04 15:31] leofang commented on #1961
It'd be great to have this ability. Building CuPy from source takes so long and it's not good for both developers and CI infrastructures.

[2019-11-04 15:49] nikita-astronaut opened #2601 "cupy.linalg.svd is different from numpy.linalg.svd?"
Dear all,

seems like these two functions give different results. Is it how it meant to be? I couldn't find a mention of this difference in the docs.

[code]

Though I checked that both these functions are actually the correct SVD decompositions:
[code]

[code]

[2019-11-04 16:09] nikita-astronaut commented on #2601
There is an ambiguity in the way SVD decomposition is performed and seems that cupy and numpy use different conventions.

[2019-11-04 16:32] leofang commented on #2599
Below are my initial tests for PY38 (against v7.0.0rc1). It seems to be working with Python 3.8. Test environment:
- Python 3.8.0
- numpy 1.17.3
- cython 0.29.14
- CUDA 9.1

Two notes:
1. I installed cupy via `pip install 'cupy==7.0.0rc1'`, so I wasn't able to test `install_tests` (`install` not found).
2. SciPy for PY38 is [not yet available from conda-forge](https://github.com/conda-forge/cupy-f

[2019-11-04 16:34] leofang commented on #2599
...what triggered @pfn-ci-bot? 😆

[2019-11-05 02:32] #1695 closed

[2019-11-05 03:40] seanyuner opened #2604 "cupy.cuda.compiler.CompileException with pytorch"
Thanks for Cupy.

* Conditions:

I tested a simple code like following:
[code]
It tells me:
[code]
But if without pytorch module, the remainining two lines worked fine!
I have checked  [https://docs-cupy.chainer.org/en/stable/install.html#cupy-always-raises-cupy-cuda-compiler-compileexception](https://docs-cupy.chainer.org/en/stable/install.html#cupy-always-raises-cupy-cuda-compiler-compileexcepti

[2019-11-05 07:55] kmaehashi commented on #2594
Could you ask this in StackOverflow or on ML?

[2019-11-05 13:37] seanyuner commented on #2604
After I recreated a new conda env containing the above modules, it worked! Though I don't know what happened.

Thanks again for cupy.

[2019-11-05 13:37] #2604 closed

[2019-11-05 16:04] leofang opened #2607 "`cupyx.scipy.ndimage.rotate()` saturates P100's 16G memory for 1G input data"
We discovered this out-of-memory (OOM) issue in a recent GPU Hackathon with @jqyin and @dxm447, and I'm revisiting this.

The implementation along the call path `cupyx.scipy.ndimage.rotate()` -> `affine_transform()` -> `map_coordinates()` is very memory-inefficient. The memory inflation from a 1G input to over 16G on a P100 as shown in the following example (extracted from a real-life workload) is

[2019-11-05 16:52] leofang commented on #2607
Just tested @not522's #1168, and unfortunately it doesn't help resolve the OOM either...

[2019-11-06 03:07] leofang commented on #1969
@asi1024 could you confirm if this is fixed? Last time I checked the struct (some time between v7.0.0b4 and v7.0.0rc1) it looked fine to me.

[2019-11-06 06:29] y1r opened #2608 "Reduce `cudaGetDevice` calls"
As I and @leofang mentioned in PR #2600, `device.get_device_id()` is called many times.

Below is part of the caller list:
- cuDNN get_handle()
- ufunc call
- elementwise kernel call
- reduction kernel call
- CUB call
- memory allocate
- util.memorize(for_each_device=True)

`device.get_device_id()` is a thin wrapper of `cudaGetDevice`.
I don't know the performance of cudaGetDevice but we can cache

[2019-11-06 07:37] leofang commented on #2608
I just found that PyTorch also experienced a similar issue (https://github.com/pytorch/pytorch/issues/18048) but they concluded there that it's not impacting the performance. I'll try profiling myself later this week.

[2019-11-06 14:49] leofang opened #2610 "Bug for 0-size arrays in `__cuda_array_interface__`"
From https://github.com/cupy/cupy/pull/2536#issuecomment-549676148:
[code]
`b` is a 0-size array but it's pointer is not 0, violating the v2 protocol.

This is due to my oversight when updating the interface...😞 PR to follow.

[2019-11-06 16:09] leofang commented on #2608
Profiling a randomly picked test:
[code]
The number of calls to `cudaSetDevice()` is indeed excessive, but it seems the overhead is quite low. @y1r could you pick some other tests and verify?

[2019-11-07 01:08] #661 closed

[2019-11-07 07:41] asi1024 commented on #2610
Note: https://numba.pydata.org/numba-doc/latest/cuda/cuda_array_interface.html

[2019-11-07 10:07] kmaehashi commented on #756
Implemented in https://github.com/cupy/cupy/pull/1067

[2019-11-07 10:07] #756 closed

[2019-11-07 13:16] Leberwurscht opened #2613 "cupy.where fails for complex arrays"
The function cupy.where does not work for complex arrays (numpy.where does):

[code]

fails with the error message

For `cp.float64`, everything works fine.

CuPy Version          : 6.4.0
CUDA Root             : /usr
CUDA Build Version    : 8000
CUDA Driver Version   : 10020
CUDA Runtime Version  : 8000
cuDNN Build Version   : 7102
cuDNN Version         : 7102
NCCL Build Version    : 2213
NCCL Run

[2019-11-07 14:37] berceanu commented on #2583
[code]

[2019-11-07 14:38] berceanu commented on #2583
Any idea what causes the `ERROR: stevedore 1.30.1 requires pbr!=2.1.0,>=2.0.0, which is not installed`?

[2019-11-08 01:38] emcastillo commented on #2613
Hello, thanks for the report.

This issue was fixed on the 7.0 series but it wasn't backported.
I just created the corresponding backport so it will be included in the next 6.x release.

If you need this feature urgently please install `cupy-cuda80==v7.0.0rc1`

[2019-11-08 02:03] jakirkham opened #2616 "Adding `writeable` to `flags`"
NumPy arrays have the `writeable` option in `flags`. This can be useful for checking to see if one can write to an array or not. Also it can be useful to ensure an array is not written to (by setting this flag to `False`). Would be useful to have this flag on CuPy arrays as well.

[2019-11-08 03:19] leofang commented on #2616
I suppose you know this already?

Changing `WRITEABLE` (to `True`) in Python is now considered dangerous and deprecated in NumPy:
https://docs.scipy.org/doc/numpy/release.html#writeable-flag-of-c-api-wrapped-arrays

But are you suggesting the opposite operation should be allowed?

I could dig this myself, but perhaps it's faster to just ask 🙂: How does this flag get honored at the C level in NumPy

[2019-11-08 04:05] leofang opened #2620 "`BaseMemory` does not have attribute `device_id`"
I do not encounter this "bug" myself and I doubt anyone would. I'd rather say it's a hygienic issue than a bug.

Take a look at how `MemoryPointer` is initialized:
https://github.com/cupy/cupy/blob/82617542ead6046e0cd12368f85dbad556f1d067/cupy/cuda/memory.pyx#L288-L295
Note that `mem` is a `BaseMemory` instance, but it doesn't have the `device_id` attribute; the class that has it is `Memory`, a ch

[2019-11-08 04:07] leofang commented on #2608
This https://github.com/cupy/cupy/pull/2600#discussion_r343978055 could be useful for any places that need the device id.

[2019-11-08 04:24] #2610 closed

[2019-11-08 04:29] leofang commented on #1243
I think to address this, this [nice comment](https://github.com/cupy/cupy/issues/2575#issuecomment-546969540) can be documented somewhere? (I know the env var `CUPY_CACHE_SAVE_CUDA_SOURCE` is already listed in the reference, but perhaps a short tutorial or something could offer a better guidance.)

[2019-11-08 05:03] leofang commented on #2620
Ah...never mind. The intention here is to be able to pass `Memory`, `UnownedMemory`, or `ManagedMemory`, etc, all of which inherit from `BaseMemory`, to initialize a `MemoryPointer`. Kinda like a virtual dispatch but I am not a fan of this style. 🙁 I don't have a better suggestion though, so closing this.

[2019-11-08 05:03] #2620 closed

[2019-11-08 07:10] jakirkham commented on #2616
Right the interest here would be to mark arrays as read-only. 🙂

Yeah NumPy honors this at the C level as well. It does bit masking against the flags (an `int`) to check. Only operations that are manipulating the data itself.

I'm not sure. Would think `__setitem__` and the inplace math operations would be the main issues. Are there other cases outside of these that would manipulate data in CuPy?

[2019-11-08 07:40] kmaehashi commented on #2616
There are some case that NumPy return non-writable ndarray (e.g. `xp.imag(xp.ones(5))`), so it's better to have this feature also in terms of the compatibility. As suggested by Leo, I also think the change is not trivial, though. Specifically I don't come up with an idea to protect an array memory passed to `RawKernel`/`RawModule`.

[2019-11-08 08:16] leofang commented on #2616
In addition to RawKernel, I suppose any CUDA libraries that permit in-place operation (like cuFFT) would also require some nontrivial guard.

I fantasize asking NVIDIA folks to allow setting a writable flag in the pointer attribute would probably be  the easiest (though highly unlikely) approach 🤣

[2019-11-08 18:37] jakirkham opened #2622 "Supporting datetime64/timedelta64"
A couple of the types that NumPy supports, which do not appear to be supported in CuPy currently (though please correct me if I'm mistaken), are [`datetime64` and `timedelta64`]( https://docs.scipy.org/doc/numpy/reference/arrays.datetime.html ). It would be great to have support for these within CuPy. This is useful when working on array data that may be acquired at some frequency over time.

[2019-11-08 22:48] jakirkham commented on #751
FWIW this does not raise for me when using 6.5.0. So maybe it can be closed as fixed?

[2019-11-08 22:50] jakirkham commented on #1224
This fails for a different reason now when using 6.5.0.

[code]

[2019-11-10 09:04] Algabri opened #2623 "TypeError: Unsupported type <type 'numpy.ndarray'>"
how to fix this error
here more details

https://stackoverflow.com/questions/58786923/typeerror-unsupported-type-type-numpy-ndarray

[2019-11-10 20:56] Fokatu opened #2624 "CuPy surface support"
I saw that Cupy have added support to texture memory.
Is it possiable to add surface support, such that one can read and write a cudaArray at the same time.

[2019-11-11 01:21] jakirkham opened #2625 "set_allocator context manager"
In some cases a library developer may want to change the allocator temporarily. The don't want to negatively affect other library or user code. However they may need to temporarily set the allocator to a specific type for a block of code. In service of this it would be useful if `set_allocator` could be used like a context manager.

[2019-11-11 01:38] emcastillo commented on #2625
Let me send a PR about this, I actually drafted it a while ago  😄

[2019-11-11 03:39] jakirkham commented on #2625
Awesome! Thanks for doing that. Great minds think alike 😄

[2019-11-11 03:48] emcastillo commented on #2623
Detections needs to be a cupy array to
[code]

[2019-11-11 04:36] Algabri commented on #2623
@emcastillo, thank you so much for your help.
 I got another error:
[code]

it's work if mak comment out for these lines:
[code]

[2019-11-11 04:36] leofang opened #2629 "Sync the headers in `cupy/core/include/cupy/complex/` with upstream?"
Recently the bundled Thrust complex headers have been modified on a per-PR basis for the following reasons:
1. Performance impact: #2562 (fixed alignment)
2. Missing `__host__` qualifiers: #2538
3. Missing support: #2520

All of these changes are more or less in sync with the latest Thrust codes. I suggest that these headers can be brought up to date with the upstream. The incentive is that one mi

[2019-11-11 04:45] emcastillo commented on #2623
Your `confidence` variable is a string instead of a float

[2019-11-11 05:00] Algabri commented on #2623
it is fine now. thank you sooo much @emcastillo

[2019-11-11 05:02] #2623 closed

[2019-11-11 05:03] emcastillo commented on #2629
All these changes are already present in the current thrust?

[2019-11-11 05:44] leofang commented on #2629
Yes 😄 For example:

The alignment is done via a specialized data holder `complex_storage`:
https://github.com/thrust/thrust/blob/324243f6bb70687aeaeb2419193a335648c5869d/thrust/complex.h#L454

All Thrust complex functions have a `__host__` qualifier, as it is meant to be interchangeable with `std::complex` on the host:
https://github.com/thrust/thrust/blob/324243f6bb70687aeaeb2419193a335648c5869d/

[2019-11-11 05:56] kmaehashi commented on #2629
If I recall correctly Thrust bundled with CUDA Toolkit uses `__host__` code so NVRTC cannot compile it.

[2019-11-11 06:00] kmaehashi commented on #2583
I think this issue is not related to CuPy. It's just an error/warning message about your environment printed after any package installation.

[2019-11-11 06:14] leofang commented on #2629
As long as the full qualifier is `__host__ __device__`, as in both #2538 and the Thrust, NVRTC will not complain: https://docs.nvidia.com/cuda/nvrtc/index.html#execution-space

[2019-11-11 07:40] emcastillo commented on #2629
The minimum cuda version we support is 8, I guess we have to check the status of thrust headers on that version

[2019-11-11 08:12] emcastillo commented on #2629
I am doing some tests and thrust has
[code]
included in the base thrust.h which makes nvrtc blow up 😂

[2019-11-11 08:15] leofang commented on #2629
Sounds like `#include <thrust/complex.h>` won't work 🤣

[2019-11-11 08:16] emcastillo commented on #2629
nope, and all the detail/complex/ headers include `thrust/complex.h` back
So it seems that we need to hold cupy specific thrust headers

[2019-11-11 08:23] emcastillo commented on #2608
Lets close this, feel free to reopen it if needed.

[2019-11-11 08:23] #2608 closed

[2019-11-11 09:22] fujiisoup commented on #751
Thanks @jakirkham.
I didn't notice this. Closed.

[2019-11-11 09:22] #751 closed

[2019-11-11 11:13] kmaehashi commented on #1243
I think it's nice to document it in https://docs-cupy.chainer.org/en/latest/tutorial/kernel.html

[2019-11-11 11:22] kmaehashi commented on #1436
Implemented in #2303

[2019-11-11 11:22] #1436 closed

[2019-11-11 11:23] kmaehashi commented on #2069
Implemented in #2117

[2019-11-11 11:23] #2069 closed

[2019-11-11 12:00] kmaehashi commented on #1961
It's worth trying, but the merit of parallelization may be limited by Thrust module.
In my environment, full build took 548.98s (thrust module = 373.36s, all the rest = 175.62s).

[2019-11-12 03:28] leofang commented on #1961
Both the Thrust and CUB modules will take the majority of time due to template instantiation...I wonder if we can assign two independent processes to handle them, or even apply some tricks to speed it up.

[2019-11-12 05:06] kmaehashi commented on #1961
I guess you are already aware of, but using `ccache` significantly improves build time.
https://docs-cupy.chainer.org/en/latest/contribution.html#how-to-run-tests

[2019-11-12 06:21] kmaehashi commented on #2583
Closing as the original issue seems resolved.

[2019-11-12 06:21] #2583 closed

[2019-11-12 10:44] kmaehashi commented on #2607
Thanks for the detailed report!
SciPy roughly used 2.5 GB including the original 1GB array for the same operation.
We definitely need optimization of memory usage here...

[2019-11-12 10:47] kmaehashi commented on #2616
Discussed in the dev team today, the reasonable implementation is to to support writable flag only in ElementwiseKernel/ReductionKernel (i.e., writable arrays cannot be specified as an output array).

@jakirkham Are there any immediate needs for this?

[2019-11-12 10:53] kmaehashi commented on #2622
Yes, they're currently not supported by CuPy.

[2019-11-12 11:11] not522 commented on #2607
Thank you. My code of #1168 is buggy and outdated. I'll try to write smarter implementation.

[2019-11-12 11:19] kmaehashi commented on #2629
Discussed in dev team, it is better to have a forked version of Thrust in cupy organization so that we can easily rebase to the future upstream changes. Then we can use it as a submodule from CuPy.
Well, first we need to find the base version which that we started fork in https://github.com/cupy/cupy/pull/232 😂

[2019-11-12 16:29] jakirkham commented on #2274
Thanks all! Going to close this as complete. 😄

We can follow up on anything else either as issues here on the feedstock as appropriate.

[2019-11-12 16:30] jakirkham commented on #2599
So I guess the main thing would be adding this to CI?

[2019-11-12 18:05] pentschev commented on #2274
Great to hear, thanks @jakirkham for the enormous effort on this!

[2019-11-12 18:19] #2274 closed

[2019-11-12 21:12] grlee77 opened #2634 "CUB-related test failures"
* Conditions
CuPy Version          : 7.0.0rc1
CUDA Root             : /usr/local/cuda
CUDA Build Version    : 10010
CUDA Driver Version   : 10010
CUDA Runtime Version  : 10010
cuDNN Build Version   : 7402
cuDNN Version         : 7402
NCCL Build Version    : None
NCCL Runtime Version  : None

* Code to reproduce
run pytest with / without CUB enabled

* Error messages, stack traces, or logs

The fol

[2019-11-13 03:04] jakirkham opened #2635 "Using RMM with CuPy"
As RMM is the memory manager used in the RAPIDS stack, it might be interesting to explore what would be needed to use RMM with CuPy. This would allow users working with RAPIDS and CuPy to ensure all memory allocations are managed by the same memory manager (RMM) and come from the same memory pool. Not only can this be useful at a low-level by consolidating memory management, but it can be useful a

[2019-11-13 04:56] kmaehashi commented on #2599
Basically yes. In addition, Windows needs additional fixes for Python 3.8 I'm going to start working on it (#2243)

[2019-11-13 04:58] kmaehashi commented on #2635
Basically it sounds feasible as CuPy supports replacing allocator (https://docs-cupy.chainer.org/en/latest/reference/memory.html#changing-memory-pool) and `rmm` provides Python interface for allocating memory.
It's nice if RMM (or cuDF?) provides CuPy memory pool support.

[2019-11-13 05:08] leofang commented on #2634
Thanks for the thorough tests, @grlee77! Apparently these corner cases are not captured in #2598 either... 😞

This is super tricky. If I am not wrong, the problem is in CUB: in [this file](https://github.com/NVlabs/cub/blob/1.8.0/cub/thread/thread_operators.cuh) the comparison operators do not even bother to check `isnan()`. (Note that `CUB_MAX`/`CUB_MIN` are simple macros defined [here](https://g

[2019-11-13 05:13] leofang commented on #2634
(Updated my reply above.)

[2019-11-13 06:57] leofang opened #2637 "A size-0 array should not be reshaped into a size-1 array"
It seems the `reshape()` function missed a size check somewhere?
[code]
NumPy behaves as expected:
[code]

[2019-11-13 07:12] kmaehashi commented on #2637
Thanks, it should be fixed...

[code]

[2019-11-13 07:17] leofang commented on #2637
Yeah, `CUDARuntimeError` happens because the data pointer for a size-0 array is `NULL`, while for a size-1 array is a valid one.

[2019-11-13 07:34] kmaehashi commented on #2634
Hmm, I'm trying to reproduce but currently unable to build CuPy master with CUB 1.8.0, maybe I'm missing something...

`cupy/core/include/cupy/complex/arithmetic.h:262:80: error: ‘double thrust::abs(const thrust::complex<double>&)’ is not declared in ‘thrust’`

<details>

[code]

[2019-11-13 07:47] leofang commented on #2624
I wrote the texture support (#2432) so I feel obligated to say something 🙂

If you are interested in supporting surface memory, I'll be more than happy to give you a detailed guidance as needed. Basically, you need to expose the relevant runtime API to Python, have a few wrappers around the surface objects, and make RawKernel recognize it. Understanding how the texture memory was supported in #243

[2019-11-13 07:51] leofang commented on #2634
@kmaehashi Your compiler is probably too old. If using gcc, it seems the 4.x series is not fully supporting c++11, despite they claimed so. I've had a hard time with it, see https://github.com/cupy/cupy/issues/2530#issuecomment-539366174...

[2019-11-13 08:45] Fokatu commented on #2624
@leofang ,thank you for your reply. Based on your code and a short learning of Cython, I have implemented the support of Surface memory. But I am not familiar with github and who it works, I don't know how to share my modifications.

The reason I use texture is its auto interpolation function. If there is no apparent speedup, then it is better to use global memory.

[2019-11-13 11:29] kmaehashi commented on #2634
Thanks @leofang, I'm currently on Ubuntu 16 (gcc 5.4.0 / nvcc 9.2), so I guess it's enough (and it can also build `cupy.cuda.thrust`). Will try on another environment.

[2019-11-13 14:16] leofang commented on #2634
That's odd. I think I tried this combination earlier and it seemed to work. Will look into this later.

[2019-11-13 15:56] leofang commented on #2634
Found a way to treat NaNs without touching CUB source code! For example, this works for fixing `Max()`:
[code]
Will add and expand this to #2636 later today.