[2020-10-13 08:38] #3927 closed

[2020-10-13 11:16] akopich commented on #4120
@anaruse For a continuous random variable `xi ~ U[0, high)` (where `high` is natural) pdf is `f(x)=1/high` and a chance to hit a unit interval is `P(i <= xi < i+1) = 1/high`. But `int(xi) == i` iff. `i <= xi < i+1` for any natural `i < high`  and hence `P(int(xi) == i) = 1/high`. This proves uniformity of the discrete r. v. `int(xi)` over `0,1,...,high-1`.

OTOH, we are discussing the pseudorandom

[2020-10-13 11:44] anaruse commented on #4120
@akopich  For simplicity, let's assume that the return range of `random.uniform` is [0.5, 1.0) and its data type is float64 (64-bit floating point).  float64 has 52 fraction bits, so the number of possible value in this range is 2^52. Given that this is assigned to N integers, it cannot be assigned strictly equally unless N is a power of 2. This is what I mean by "not complete uniform". Of course,

[2020-10-13 14:03] mnicely opened #4129 "[FEA] Added functionality to ElementwiseKernel"
To begin, cuSignal has increased its use of CuPy's Elementwisk Kernel functionality with great success!

I would like to request two additional features.

### Performance
1. It is known that adding the `__restrict__` flag to pointer parameters allows the compiler to perform additional optimizations. Also, adding `const` to read-only data. https://developer.nvidia.com/blog/cuda-pro-tip-optimize-poi

[2020-10-13 15:17] asmafar commented on #3601
Any updates on this issue please ?
Thanks

[2020-10-13 16:13] grlee77 commented on #3601
I will take a quick look.

[2020-10-13 17:48] grlee77 commented on #3601
This should be fixed by the changes #4130. It should also be possible to backport the fix to the 8.x branch.

[2020-10-13 18:49] pretzelpy commented on #2622
Datetime64 support on GPU would change my life

[2020-10-13 19:59] akopich commented on #4120
@anaruse Could you please clarify a little further? Is your argument based on the fact, that the uniform distribution is modeled by float64-values of equal probability for intervals of equal exponent field, like [0.5, 1)? `randint` seems to be implemented only for int32 and it is possible to distribute 2^52 equiprobable objects into 2^32 bins _almost_  uniformly. And in general (not on [0.5,1)), w

[2020-10-13 22:44] itisyeetimetoday opened #4131 "Cupy concurrency does not work with for loop"
I'm currency write code that requires iterating over a point cloud, and as a result, I often need to use for loops. More specifically, I'm trying to calculate the distance of each point from each other, where a first row is the distance of the first point from all the other points, the second row is the distance of the second point to all the other points, etc. Here is my repo, where I created a m

[2020-10-14 02:19] #4082 closed

[2020-10-14 02:41] emcastillo commented on #4129
I think we definitely have to add the `__restrict__` to both elementwise and reductions.
I will work on an implementation and do some benchmarking

[2020-10-14 02:45] emcastillo opened #4132 "ROCm 3.5+ support roadmap"
Tracking issue for ROCm tasks before v9
@leofang

- rocSOLVER/ hipMAGMA

[2020-10-14 04:29] #4121 closed

[2020-10-14 04:35] emcastillo commented on #4129
Regarding 1 I've been doing some survey,

1 st, all the generated elementwise kernels uses `CArray` objects as parameters instead of plain pointers, so we need to decouple the actual buffer from the `CArray` for `__restrict__` and `const` to be used.
This is quite a heavy change so to motivate it, I tried to measure the potential speedup we could get.

I went ahead and try a simple RawKernel
[code

[2020-10-14 04:54] leofang commented on #4129
For CUB reduction, I actually just tried the restrict trick earlier this week, but didn't find any performance boost. It's as simple as adding `__restrict__` to this line:
https://github.com/cupy/cupy/blob/ded0d3e8b4a3e4d44067a358bb9c9cf7fbfdabff/cupy/core/_cub_reduction.pyx#L347
so that we have `const void* __restrict__` for input array and `void* __restrict__` for output array. @mnicely Is it be

[2020-10-14 06:21] leofang commented on #4105
I think the ultimate question is whether it's possible to wrap `cufftXtSetCallback` in a shared library (so that we can call it from Python). Looks like the answer is no.

[2020-10-14 07:27] emcastillo commented on #2601
This is because a single matrix can have multiple SVD decompositions, probably if you run different numpy versions, or with different LAPACK libraries, numpy will yield different results as well.

[2020-10-14 07:27] #2601 closed

[2020-10-14 07:33] #2778 closed

[2020-10-14 07:34] #2783 closed

[2020-10-14 08:09] pwuertz commented on #4043
Is it (now) possible to relax the CUDA version match to major versions (i.e. 11.X) only?

One of the points from the version 11 [release notes](https://docs.nvidia.com/cuda/cuda-toolkit-release-notes/index.html#cuda-general-new-features) states:
- Enhanced CUDA compatibility across minor releases of CUDA will enable CUDA applications to be compatible with all versions of a particular CUDA major re

[2020-10-14 08:29] kmaehashi commented on #2783
Sorry I haven't responded here after replying to you via email...
Closing as this issue is not active for months.

For those who need support when contributing to CuPy, please join the [Gitter](https://gitter.im/cupy/community) chat so that we can help you.

[2020-10-14 08:30] kmaehashi commented on #2647
Closing as this issue is not active for months. Feel free to reopen if needed.

[2020-10-14 08:30] #2647 closed

[2020-10-14 08:35] kmaehashi commented on #2635
Closing as this the support has been implemented in RMM. (FYI - We're now periodically revisiting old/inactive issues.)
Feel free to leave a comment if needed.

[2020-10-14 08:35] #2635 closed

[2020-10-14 08:40] kmaehashi commented on #2976
Closing as NBEP 7 has been finalized.
Feel free to leave a comment so that we can reopen it.

[2020-10-14 08:40] #2976 closed

[2020-10-14 09:40] emcastillo commented on #4129
I added a horrible test implementation of restrict here

https://github.com/emcastillo/cupy/commit/e3562440bd61355aeb0551306d9a0a3143fc31b2

I haven't seen any performance improvement yet though,
can you @mnicely test this and tell me if you see anything significant?

This is a simple test code
[code]

[2020-10-15 01:36] szsdk opened #4136 "The `get` function of the sparse matrix `csr` with stream does not give excepted result."
* Conditions
CuPy Version          : 8.0.0
CUDA Root             : /usr/local/cuda-11.0
CUDA Build Version    : 11000
CUDA Driver Version   : 11000
CUDA Runtime Version  : 11000
cuBLAS Version        : 11200
cuFFT Version         : 10201
cuRAND Version        : 10201
cuSOLVER Version      : (10, 6, 0)
cuSPARSE Version      : 11101
NVRTC Version         : (11, 0)
Thrust Version        : 100909
CUB

[2020-10-15 04:55] kmaehashi commented on #4043
@pwuertz Thank you for letting us know about it! I succeeded to run `cupy-cuda110` with CUDA 11.1.

[code]

It seems CUDA 11.1 now provides `libcudart.so.11.0` (which is a symlink to `libcudart.so.11.1.74`). What error did you see when importing `cupy-cuda110` on CUDA 11.1?

[2020-10-15 06:08] ThierryDeruyttere commented on #4043
@kmaehashi Could you give a step by step installation for CUDA 11.1? When I just do "pip install cupy-cuda110" I'm getting errors such as libnvrtc.11.0 not being found or libcusolver.so.10: cannot open shared object file: No such file or directory.

[2020-10-15 06:20] kmaehashi commented on #4043
@ThierryDeruyttere @pwuertz Sorry, it was my mistake... In my environment, both CUDA 11.0 and 11.1 are installed and some CuPy binaries are linked to CUDA 11.0 shared libraries.

[code]

I guess "Enhanced CUDA compatibility across minor releases" is only possible with CUDA 11.1 or later?
The filename of NVRTC in CUDA 11.1 (`libnvrtc.so.11.1`) and CUDA 11.0 (`libnvrtc.so.11.0`) are different so CuP

[2020-10-15 06:26] ThierryDeruyttere commented on #4043
@kmaehashi oh okay. I have another question: if you would build CuPy from source and give it the path of CUDA 11.1, should it work? Because I tried it yesterday and it didn't seem to work...

[2020-10-15 06:35] leofang commented on #4043
I think that's right. IIRC in a recent GTC talk they mentioned this. It's likely already documented somewhere as well.

[2020-10-15 06:58] ThierryDeruyttere commented on #4043
Nvm, I tried `CUDA_PATH=/usr/local/cuda/ pip install cupy --no-cache-dir -vvvv` and it seems that cupy is now built against CUDA 11.1. I still got an error from chainer though about `cupy.utils`.

[2020-10-15 07:20] pwuertz commented on #4043
@ThierryDeruyttere CuPy with CUDA 11.1 works. I think you encountered an API change that happened between CuPy 7.x to 8.x: `Rename cupy.util submodule to cupy._util`, which the `chainer` version you are using doesn't handle yet.

[2020-10-15 07:34] ThierryDeruyttere commented on #4043
@pwuertz Thanks for the comment. I just found it out myself. Now it seems to run without issues.

[2020-10-15 07:51] szsdk commented on #4136
I solved this problem. It turns out that cupy sparse does not set stream at all. Now, I need manually do this. Hope in the futrue, a smarter API or more clear documentation will be applied.
[code]

[2020-10-15 10:09] anaruse commented on #4129
On Kepler generation GPUs, adding `__restrict__` improves performance, but modern GPUs, it rarely improve performance..

[2020-10-15 13:41] mnicely commented on #4129
All, I really appreciate the quick responses.

@emcastillo The example above was more for visual example for (2). But I have written a few elementwise kernels that require data reuse. I don't expect improvements to always be significant. I guess it's more of a programming style I've developed over time, just to give the compiler as much help as possible.

@leofang I'm not really sure. I'll ask the

[2020-10-15 17:30] mnicely commented on #4129
@emcastillo I did confirm what you saw in your example is as expected, or little-to-no performance improvement. But if the elementwise kernel were to become more complex (adding for-loops and data reuse), adding `__restrict__` DOES give the compiler more information to make further optimizations.

All that being said, because it's a heavy change I see no need in push the idea further. Again thanks

[2020-10-15 19:30] mnicely commented on #4129
Further information for those interested.

[code]

will reorder loads and stores since it knows src and dst don't overlap:
[code]

without restrict the loads and stores don't get reodered:
[code]

[2020-10-15 19:55] akopich opened #4139 "cupy.random.uniform(low=low, high=high) returns high"
[code]
returns `array(11)`, while `array(0)` is expected, as "Samples are drawn from a uniform distribution over the half-open interval [low, high)".

Interestingly, the documentation of standard `random.uniform` says "The end-point value b may or may not be included in the range depending on floating-point rounding in the equation `a + (b-a) * random()`".  `RandomState._scale_kernel ` seems to do

[2020-10-15 23:39] leofang commented on #4105
I have a working prototype in this branch! Will polish it and send a PR.

[2020-10-16 02:15] emcastillo commented on #4139
This also happens in numpy

[code]
returns 12

This is due to floating-point precision issues in the comparison with high when the integer is cast to floating-point.
[code]

[2020-10-16 02:29] emcastillo commented on #4129
Can you test those with my branch? or can you post a snipper so I can measure them?

Probably if an Elementwise kernel gets too complicated and it can benefit from the restrict qualifier it might be better to have it just as a raw kernel :).

[2020-10-16 08:56] ThierryDeruyttere commented on #4043
When using Chainer, However, I found that the code was not run with cuDNN. I think it's because of this line: https://github.com/chainer/chainer/blob/f747f478beb42795b100ff666d83fd48d7b5495d/chainer/backends/cuda.py#L123
A solution for me was to add the following import to the file: `from cupy.cuda import cudnn as cuda_cudnn`
and then change https://github.com/chainer/chainer/blob/f747f478beb42795

[2020-10-16 12:01] akopich commented on #4139
@emcastillo

First of all, thank you for pointing out an available update.

I don't think the issue is related to precision loss due to int to float64 conversion.
[code]
However, for larger numbers (like `~2**54`) this would indeed take effect.

Moreover, the issue still persists if we cast `high` and `low` to float beforehand.
[code]

[2020-10-16 12:07] mnicely commented on #4129
I'll try to test your branch next week! I have to teach a course today.

You're probably right. I guess I've gotten lazy with easiness of the Elementwise Kernel :joy:

[2020-10-16 21:52] llukas commented on #4105
@leofang sorry for late reply, what was missing in link above is device link, if you use nvcc to link it does it automatically, if you use host linker then you need to produce *.o with device code linked (nvcc -dlink)

If your callback functions are known at time of linking this shared library then yes. In other cases no.

[2020-10-19 04:28] leofang opened #4148 "RTD environment is very outdated"
I am seeing a very strange issue like `NameError: name '__file__' is not defined` in RTD, but it's been fixed upstream for quite sometime (https://github.com/cython/cython/issues/1035#issuecomment-327210233). I think Cython 0.28 is too outdated:

https://github.com/cupy/cupy/blob/d2c5d51c222166b7b012b7beba4b6653cccbac89/docs/requirements.txt#L2

@kmaehashi Can I updated this requirement?

[2020-10-19 04:29] leofang commented on #4148
ref: https://readthedocs.org/projects/cupy/builds/12131511/

[2020-10-19 14:18] anaruse commented on #4139
Just to confirm, as Numpy's documentation says, this is the effect of floating-point rounding and not a CuPy issue, right?

[code]
a = 4294967294.0
b = 1.999999999999999
c = a + b
c = 4294967296.0

[2020-10-19 14:20] mnicely commented on #4129
@emcastillo I'm not seeing huge improvements in my testing. 10% is some cases.

Question, how do Elementwise kernels handle inputs when they are also the output?

Scenario:
1. Input is the output, therefore only add `__restrict__`
2. Input is different from output, therefore add `const` and `__restrict__` to input and `__restrict__` to output.

[2020-10-19 14:25] akopich commented on #4139
@anaruse what do you mean by "this"? Do you mean your code example? I believe, its behavior is defined by IEEE 754.

[2020-10-19 14:42] anaruse commented on #4139
@akopich, I simply wanted to make sure this wasn't a CuPy issue, do you think this is a CuPy issue?

[2020-10-19 14:56] anaruse commented on #4139
Ah, I think I finally figured out what you're saying is the issue.
In numpy.random.uniform, "The high limit may be included in the returned array of floats due to floating-point rounding in the equation low + (high-low) * random_sample(). ".
You're saying that the problem is that there is no such an explanation in the cupy.random.uniform document?

[2020-10-19 15:09] akopich commented on #4139
@anaruse
I was just about to explain this.
I see two options here. Either the documentation should explicitly cover a possibility for `high` to be generated (the approach `numpy` and the standard library follow), or the code shouldn't yield `high`.

[2020-10-20 03:44] leofang commented on #4129
@mnicely Dumb question, probably unrelated to the main thread: I noticed from your example code and many cuSignal PRs that you seem to favor direct-list-initialization even for primary data types:
[code]
Is there a performance reason, or just a matter of style taste?

[2020-10-20 04:06] leofang commented on #4105
Hello @llukas, thanks for your comments!

Yeah I know. The example code was mainly to show what I meant by leakage of undefined symbols. When we first started working on this, @maxpkatz helped me ensure we did exactly what's needed (`nvcc -dc` -> `nvcc -dlink` -> `gcc` to link all objects). I also repeated everything myself when I started #4141 as you may have noticed, since I lost the previous at

[2020-10-20 04:28] anaruse commented on #4139
@akopich, Could you take a look at https://github.com/cupy/cupy/pull/4153?  Probably, this PR will fix the issue.

At first I didn't thinks there was an easy solution for this issue, but I realized that CUDA has intrinsics that allow you to specify a rounding mode (https://docs.nvidia.com/cuda/floating-point/index.html#rounding-modes), so if you select "round toward negative" for the rounding mode

[2020-10-20 07:47] kmaehashi commented on #4131
I think this is also related to the synchronization issue. Let's continue discuss in #4026.

[2020-10-20 07:47] #4131 closed

[2020-10-20 08:10] asi1024 commented on #4026
`cupy.ndarray` stores its shape and strides in CPU memory space and stores the array data in GPU memory space. The shape of the return value of `nonzero` cannot be determined only from the input's shape/strides.

[2020-10-20 08:10] #4026 closed

[2020-10-20 11:47] mnicely commented on #4129
@leofang Not dumb at all :smile it's just personal preference. I like how it catches illegal narrowing at compile time.

[2020-10-20 20:18] leofang commented on #4132
Library support:
- sparse: #4101
- dnn: #4100

Improvement:
- move from hipBLAS to rocBLAS (#3989)
- SVD (available since ROCm 3.8.0?)

Known bugs:
- #4078
- #3841
- #3834
- #3833

[2020-10-20 23:38] markanesko commented on #4043
Hello sorry to bother you all, but I ran into sort of same issue. Cuda version 11.1 installed, i guess successfully (make in samples folder worked well). At first I tried to install it with `cupy-cuda110` package, but it failed giving me same error as above (obviously because the version of cuda and cupy didn't match). Then I ran into this thread and tried installing it with `python -m pip install

[2020-10-21 02:26] #3601 closed

[2020-10-21 07:14] markanesko commented on #4043
Hello all. Little update. It seems to be arch nvidia driver problem.
https://www.archlinux.org/news/nvidia-45528-is-incompatible-with-linux-59/
So when this is fixed I will give you all update.
Best regards.

[2020-10-21 10:57] kmaehashi commented on #3188
Sorry for not responding here. We revisited this issue today and concluded that documenting the development on Colab environment is too specific for the official docs. I think your own blog or medium would be the best place to share such tips and experience.

[2020-10-21 10:57] #3188 closed

[2020-10-21 11:10] #3213 closed

[2020-10-21 11:11] #3267 closed

[2020-10-21 11:25] #3127 closed

[2020-10-21 11:25] kmaehashi commented on #2559
I think this issue can be closed as NumPy behavior is not well-defined as well?

[2020-10-21 11:30] kmaehashi commented on #3349
If you build from source tarball on PyPI, Cython is not used at all because pre-generated `*.cpp` files are included in it. (as discussed above Cython was not a cause of the op's issue)

[2020-10-21 11:30] #3349 closed

[2020-10-21 12:03] kmaehashi commented on #3359
Thanks for the feedback, `cupy.cuda.MemoryPointer` can be passed as an argument to raw kernels but not documented very well. We now have a gitter channel so feel free to join and ask questions when needed. https://gitter.im/cupy/community

[2020-10-21 13:51] leofang commented on #2559
Yes I think. It's hard to match the behavior. Maybe at most we can do is to document this observation?

[2020-10-21 13:51] #2559 closed

[2020-10-21 19:40] cjnolet commented on #2359
@venkywonka has built an LOBPCG solver in cupy for cuML. Specifically, we would like to use this to implement sparse TSVD.  The `LinearOperator` API has also been implemented in [his PR](https://github.com/rapidsai/cuml/pull/2772), which will allow us to implement PCA w/ the implicit mean centering trick (see related [Scikit-learn issue](https://github.com/scikit-learn/scikit-learn/issues/12794)).

[2020-10-22 03:28] leofang commented on #3629
I think this is done.

[2020-10-22 03:30] leofang commented on #3246
ROCm 3.5+ is supported on the master branch.

[2020-10-22 03:35] leofang commented on #2576
@jakirkham @awthomp What's the hardware and software requirement to use this feature? Is there a public API or documentation for it?

Related: Is it possible to use GPUDirect Storage to load hdf5 data? It's much more relevant for our need (and thus easier to justify if I spend time on it 😁).

[2020-10-22 03:37] leofang commented on #2332
This is implemented in #4008.

[2020-10-22 03:39] leofang commented on #2218
@kmaehashi My PR #4088 would resolve this confusion, see https://github.com/cupy/cupy/pull/4088#issuecomment-713310500.

[2020-10-22 05:25] emcastillo opened #4163 "Add `cupy.random.BitGenerator` and `cupy.random.Generator`"
In order to match NumPy's new random API, these mechanisms need to be added.

There are two main issues that I am currently working on:
1st, curand, and NumPy random generators are not equivalent.
NumPy supports
- PCG64 (PCG XSL RR 128/64) 128 bit state/ 64 bit output
- MT19937
- Philox 4x64
- SFC64

And the only one available in curand is mt19937.
Moreover, in the current `cupy.random.RandomState

[2020-10-22 06:05] toslunar commented on #4163
See also #1431.

[2020-10-22 07:02] toslunar opened #4165 "`nonzero` is wrong for nonzero 0d-array"
[code]

https://github.com/cupy/cupy/blob/a8dfcd66d89c8e66a60e4b7272f95a15c26fc907/cupy/core/_routines_indexing.pyx#L58-L61

[2020-10-22 07:21] toslunar opened #4166 "`argwhere` is wrong for 0d-array"
[code]

See https://numpy.org/devdocs/release/1.18.0-notes.html#argwhere-now-produces-a-consistent-result-on-0d-arrays.

[2020-10-22 07:37] #2675 closed

[2020-10-22 07:37] #1639 closed

[2020-10-22 08:45] toslunar commented on #4139
The specification change is trade-off.  `random.uniform(...).mean()` can be much different than before.  Without the new spec, it is easy to avoid `high` value by `x[x == high] = low`.

[2020-10-22 11:36] toslunar opened #4170 "Many uncaught warnings in the tests"
Uncaught warnings flood the test log.  85 % of them are of type `SparseEfficiencyWarning`.

[2020-10-22 13:25] venkywonka commented on #2359
hey @cjnolet , although I have implemented LOBPCG solver in cupy in cuML, I have not implemented the `LinearOperator` feature that scipy contains. The corresponding places, instead, use simple cupy matrix multiplication. Just wanted to clarify. That said, I'm all in for redirecting the contributions to cupy repo 👍

[2020-10-22 14:26] akopich commented on #4139
@toslunar I don't quite understand which change will cause a significant shift of the mean in your opinion.

the choice of the RHS of the expression seems rather arbitrary to me. Why should we (in some cases, significantly) increase the mass assigned to `low`? We can also do `x[x == high] = (low+high)/2` to keep the mean intact.

[2020-10-22 16:17] kdatta commented on #2576
API information here: https://docs.nvidia.com/gpudirect-storage/design-guide/index.html

[2020-10-22 16:36] Yuriyzabegaev opened #4171 "`sparse.coo_matrix.tocsr` memory release issue"
I have `cupy.sparse.coo_matrix` and construct `csr_matrix` from it with method `tocsr`. After it I release memory with `free_all_blocks`. Then I check number of free blocks with `n_free_blocks`. I expect 0 free block in memory pool right after `free_all_blocks`, but it shows 1 free block.

Conditions:

Code to reproduce:
[code]

Output:

[2020-10-22 17:04] cnewburn commented on #2576
And the Design Guide Kushal pointed to describes system support and what GDS is validated on.
A third party at NERSC has been experimenting with HDF5 here: https://github.com/hpc-io/hdf5/tree/cu_dev.
Please let us know what other readers you have interest in.

[2020-10-22 17:32] leofang commented on #4163
Cool, didn't know there's device API!

[2020-10-23 01:41] toslunar commented on #4139
My opinion is that the result using round-toward-negative https://github.com/cupy/cupy/pull/4153#issuecomment-712578483 is not desirable to everyone.

The result with `x[x == high] = low` (maybe `x[x >= high] = low`) looks similar to the round-toward-negative result, but I'm not sure if it's always true.

[2020-10-23 02:07] toslunar commented on #4139
I found the discussion in NumPy numpy/numpy#10803.  I'll read it soon.

[2020-10-23 02:35] emcastillo commented on #4170
Should we modify the test runners to fail on warnings?

[2020-10-23 03:06] takagi commented on #4136
Thanks for reporting. CuPy sparse is basically designed to automatically use the current stream if it is set:

https://github.com/cupy/cupy/blob/a8dfcd66d89c8e66a60e4b7272f95a15c26fc907/cupy_backends/cuda/libs/cusparse.pyx#L1556-L1560

There may be something wrong. Let me have further investigation.

[2020-10-23 04:53] takagi commented on #4136
Would you try https://github.com/cupy/cupy/pull/4173 to check if it fixes the issue, if possible? @szsdk

[2020-10-23 05:21] toslunar commented on #4170
I'd rather not, because it is hard.  Recall https://github.com/chainer/chainer/blob/f747f478beb42795b100ff666d83fd48d7b5495d/setup.cfg#L10-L52.

There can be a daily or weekly test that treats warnings as errors, with a chosen set of dependency versions.  With small version gaps, tests can pass with warnings.

[2020-10-23 07:20] szsdk commented on #4136
I'd love to. It seems that I need to compile cupy by myself. Could you kindly point out how to compile it with multiple cores? The compiling is a bit slow now.

[2020-10-23 08:15] szsdk commented on #4136
I have tested. The example code I posted passed in @takagi 's patch.

[2020-10-23 12:33] akopich commented on #4139
@toslunar
We're dealing with the expression `round(low+round(r*round(high-low)))`. Let `D` denote the largest distance between the two consecutive floats in the interval `[low, high]`. The change of the rounding policy will shift the value of `round(high-low)` by at most `D`. As long as `|r|<=1`, the value `r*round(high-low)` will be also shifted by at most `D`. Hence, `round(r*round(high-low))` s

[2020-10-23 17:38] stsievert commented on #3378
Hm, that sounds interesting. Can you expand?

Yes, I agree it's not the most straightforward implementation (I briefly looked at it in https://github.com/scipy/scipy/pull/5608#issuecomment-189783648). The boundary modes throw some complications that might be tricky to deal with.

Concretely, I think a correct implementation of [ndimage.convolve][3] would require repeating the input according to th

[2020-10-23 19:02] coderforlife commented on #3378
I added `signal.convolve()`, `signal.correlate()`, `signal.convolve2d()`, and `signal.correlate2d()` in #3748. Those functions simply use the internal `ndimage` code to do real-space correlations. If given `method="fft"` (and in many cases with `auto`) they raise an error. They however support all of the other arguments (except complex arrays sometimes misbehave, that is being worked on).

My curr

[2020-10-24 01:45] leofang commented on #2576
Thanks @kdatta @cnewburn for quick reply and pointer! For our purposes I think a hdf5 reader is a good enough starter!

Looks like it's unlikely to test this on our system...But I happen to have access to NERSC. Do you know if this can already run on the Cori GPU nodes there? I was in the Cori GPU User Call earlier and asked about GPUDirect Storage, and they thought it's possible but not 100% sure

[2020-10-24 18:24] #4166 closed

[2020-10-25 05:36] #4136 closed

[2020-10-25 21:03] stanleyshly opened #4176 "[Feature Request] Add Cupy.delete"
Usage:
Currently, numpy.delete is a very often used function, as it allows numpy row/columns to be quickly and efficiently deleted from an array. However, this function does not exist in cupy.
Proposal:
I would suggest writing a function that hopefully be run synchronously, which works as close as possible to the numpy.delete function, but runs on the GPU.

[2020-10-25 21:31] takagi commented on #4136
Thanks a lot! The fix is now included in the next stable minor v8.1, which is planed to release this Thursday.

[2020-10-27 07:34] takagi commented on #4125
#4094 closes this.

[2020-10-27 07:34] #4125 closed

[2020-10-27 09:50] pentschev commented on #3777
I was provided with a preview build of cuFFT 11.2 and verified the issue has been fixed there. Thanks @leofang for the report and reproducer, it has been very helpful!

[2020-10-27 09:56] pentschev commented on #3757
For future reference: I was provided with a preview build of cuFFT 11.2 and was able to verify that the issue is indeed fixed in that version, the condition in https://github.com/cupy/cupy/pull/3775/files#diff-ccb51faf00a37e7d1236eefcdef3d78aaba921baeca21e7405169a4c43d9398bR169 should then be fine and no other action should be needed on CuPy's end. Thanks everyone!

[2020-10-27 10:30] #4165 closed

[2020-10-28 06:05] leofang opened #4193 "Question: maximum ndim discrepancy between CuPy and NumPy?"
I noticed in CuPy we set `MAX_NDIM = 25`:
https://github.com/cupy/cupy/blob/46e5ff0bdf401ad88f404cd7cb7d26dd62b061c0/cupy/core/_carray.pxd#L10
whereas in NumPy this is set to 32 more than a decade ago:
https://github.com/numpy/numpy/blob/9563a3a63fd3dfb3b687fbabad134b5ded72bd46/numpy/core/include/numpy/ndarraytypes.h#L40

Is there a particular reason to pick 25? I was experimenting some iterator s

[2020-10-28 06:10] leofang commented on #4193
Looks like NumPy has a sanity check for this limit:
[code]

[2020-10-28 06:17] leofang commented on #4193
Might consider this as a compatibility issue?
[code]

[2020-10-28 08:13] takagi commented on #4171
Thanks for reporting. I can reproduce the result above.

CuPy's memory pool may split a pooled block to a smaller size required for space efficiency, and the split block is not freed until all its parts are put back to the pool even when `free_all_blocks` is called. In that sense, the behavior is valid. Maybe it should be described in the reference.

Or You mean something another?

[2020-10-28 08:54] IchiruTake commented on #4176
Same request

[2020-10-28 08:58] IchiruTake opened #4197 "[Bug Fix] This is an error why I tried to check two columns"
Thank you for using and contributing to CuPy!

If your issue is a **request for support in using CuPy**, please post it on [Stack Overflow](https://stackoverflow.com/questions/tagged/cupy) or Google Groups ([en](https://groups.google.com/forum/#!forum/cupy) / [ja](https://groups.google.com/forum/#!forum/cupy-ja)).
Developer team members are monitoring questions on these channels.

If it is a bug r

[2020-10-28 08:59] IchiruTake commented on #4193
Hugh error, although I haven't used this feature once

[2020-10-28 09:00] IchiruTake commented on #4176
I have searched once but it seems CuPy does not own that feature. I have used Cupy to check array_equal but don't have its delete function. I have posted a request about array_equal

[2020-10-28 12:01] Yuriyzabegaev commented on #4171
Thanks for explaining. Well it's not a memory leak! I'm closing the issue.

[2020-10-28 12:01] #4171 closed

[2020-10-28 16:58] asi1024 commented on #4118
NEP-13 says that `self.__op__` return `NotImplemented` when `other.__array_priority__ > self.__array_priority__`, but otherwise calls the corresponding ufunc and it never return `NotImplemented`. Could you set the value of `dask.array.__array_priority__` higher than 100?
https://github.com/dask/dask/blob/0ca77043bbbe015dcb69378ece54419332734f40/dask/array/core.py#L1413)
https://github.com/cupy/cup

[2020-10-28 17:10] pentschev commented on #4118
Apologies, I missed responses here.

I'm guessing we can't as I believe many projects use that and have already higher values specifically because of Dask. @mrocklin could you confirm/deny my statement, or maybe copy someone else who's more familiar with that in Dask?

[2020-10-28 17:20] mrocklin commented on #4118
100 seems like a very high value.  I think that numpy uses 10 and most other projects use values like 11.

In practice though I also don't know if `__array_priority__` is commonly used.  In cases like this I think that the Python binary operator dance is probably a better fit (try `left.__add__(right)` if that doesn't work then try `right.__radd__(left)`.  However, I do not know how that integrate

[2020-10-28 17:44] seberg commented on #4118
Looking at the cupy code, it uses the logic:
[code]

This is different from what NumPy does. NumPy rather first checks for `__array_ufunc__` with the assumption that the `__array_ufunc__` protocol will handle it correctly later (assuming `__array_ufunc__` is not `None`, which means that you should defer always).

My first impression is that cupy should add the check for `__array_ufunc__` to allow

[2020-10-28 18:28] seberg commented on #4118
From my perspective, array-priority is more of an artifact of the past. We probably can't quite do without it yet, but I think we should try.

Normally, the logic in `__add__` is something like:

[code]
NumPy (and cupy probably) can't do that easily, because we coerce most python objects agressively.  The solution is to use `__array_ufunc__` to decide whether this is a "coercible" type:
[code]
Num

[2020-10-28 19:07] asi1024 commented on #4118
@pentschev @mrocklin @seberg Thanks for your explanations! I fixed cupy.ndarray binary operation logic in #4198.

[2020-10-28 21:49] jroose-pp opened #4199 "CuPy's cuBLAS context doesn't respect "with stream:""
CuPy functions that rely upon cuBLAS (such as cupy.matmul) don't seem to respect the "with stream" usage as suggested by the stream examples: https://github.com/cupy/cupy/blob/v8/examples/stream/cublas.py

This can be shown via a simple script:
[code]

On a Tesla V100 this returns:
[code]

However, if you uncomment the line: `cupy_backends.cuda.libs.cublas.setStream(handle, compute_stream.ptr)` Yo

[2020-10-28 21:53] jroose-pp commented on #4199
Adding: `cupy.cuda.Device().synchronize()` prior to the call doesn't seem to affect this behavior.

[2020-10-28 23:22] jroose-jv opened #4200 "CuPy's cupy_backend.lib.cublas.* scalar arguments are somewhat broken"
In CuPy 8.0.0 the cuBLAS functions are exposed via cupy_backend.lib.cublas.  The [Cython file wrapping cuBLAS](https://github.com/cupy/cupy/blob/v8/cupy_backends/cuda/libs/cublas.pyx) exposes cuBLAS functionality, but treat scalar data arguments differently than cuBLAS.

For example, the gemm routine is exposed as: `cupy_backends.cuda.libs.cublas.dgemm` as:
[code]

In this case the alpha and beta

[2020-10-29 02:38] aitikgupta commented on #4197
I looked around a bit, leaving a few comments:
[code]
This is because in [NumPy implementation](https://github.com/numpy/numpy/blob/ab22e0076608f4825bf9a3ca1b6a0a6a7a670d14/numpy/core/numeric.py#L2448), return is casted to `bool`. However, following https://github.com/cupy/cupy/issues/3125#issuecomment-594260606, this is not done here as it synchronizes the device when called.

One workaround in y

[2020-10-29 02:49] emcastillo commented on #4197
[code]
`cp.array_equal` is a cupy array containing `True`, so it is not `True` object, making the comparison fail.
You need to explicitly get the True value by either doing `bool(cp.array_equal(a, b))` or just `if cp.array_equal(a, b)`.
Beware that this triggers device synchronization.

[2020-10-29 03:03] aitikgupta opened #4201 "[Bug, Enhancement] array_equal returns False on identical arrays with NaN values"
* Conditions (you can just paste the output of `python -c 'import cupy; cupy.show_config()'`)
  - CuPy Version          : 8.0.0
  - OS/Platform : Pop OS
  - CUDA Version    : 10000
  - cuDNN Version         : 7605
  - NCCL Version    : 2604

* Code to reproduce
[code]
This relates exactly with https://github.com/numpy/numpy/issues/9229
This could be resolved by following the same procedure, resolv

[2020-10-29 07:11] kmaehashi commented on #4199
Sorry for the inconvenience, we had a regression in v8.0.0. https://github.com/cupy/cupy/pull/4173
We'll be releasing v8.1.0 today which addresses this issue.

Ref: https://github.com/cupy/cupy/issues/4136

[2020-10-29 07:11] #4199 closed

[2020-10-29 07:25] kmaehashi commented on #4043
Hi @markanesko, thanks for sharing the information regarding compatibility issues with the Linux 5.9 kernels.
I'm closing this issue as CuPy now supports CUDA 11.1 but it would be great if you could share updates here.

[2020-10-29 07:25] #4043 closed

[2020-10-29 07:27] kmaehashi opened #4209 "CUDA 11.1 Wheel Packages for Linux"
As mentioned in the [release notes](https://github.com/cupy/cupy/releases/), `cupy-cuda111` package is currently only available for Windows. We are going to publish Linux wheels once we get approval from the PyPI team (https://github.com/pypa/pypi-support/issues/690). Meanwhile, Linux wheels can be downloaded from the Assets section of each release.

### v8.1.0

[code]

### v9.0.0a1

[code]

[2020-10-30 09:09] leofang commented on #3982
I've put most of pieces together locally, and the last missing piece is a sequence permutation problem, but I have had a hard time figuring out a valid and robust procedure to solve this, so a little fresh thoughts would be appreciated! @asi1024 @emcastillo 🙏

Problem: Given a continuous sequence `i = (0, 1, 2, 3, ..., N-1)`, I would like to do a permutation based on the reduction axes. So, for ex

[2020-10-31 00:03] leofang commented on #3982
nvm I figured it out! Will do more tests and then send a PR!

[2020-10-31 20:22] jamestwebber commented on #2360
Thanks for fixing this, I started using it about a week ago. I see about 2.5x speed increase in training my model when I can keep it entirely in GPU memory and convert to dense tensors on demand.

I wrote up my (very simple) solution [in a gist](https://gist.github.com/jamestwebber/6df95d77a47c367e2c3e2c8431d48f66) in case anyone wants to use it.

[2020-11-02 04:27] #4201 closed

[2020-11-02 09:10] ipe-zhangyz opened #4216 "hip runtime compilation bug in simple cupy code"
Hello, I'm trying to use cupy with AMD MI50 GPUs and I find that there is a bug in the hip runtime compilation code.  Running this simple code piece will get these error messages:

[code]
[code]
I've already found that it's the hiprtcCompileProgram API in cupy/cupy_backends/cuda/libs/cupy_hiprtc.h that cause this problem and I have submitted an issue to the HIP project https://github.com/ROCm-Deve

[2020-11-02 12:25] leofang commented on #4216
Thanks for reporting. This is a known issue in ROCm that hipRTC does not recognize the -I option. However, a workaround has been made on our side to avoid this. May I ask how did you install your CuPy, which version/branch did you use, etc?

[2020-11-02 14:36] leofang commented on #4216
Notes:
1. The workaround to which I referred was added in #3823: https://github.com/cupy/cupy/blob/50361e0d42ca8e41e7200382c3031cfc4e201764/cupy/cuda/compiler.py#L613-L627
2. I just checked that this hipRTC bug is still present in ROCm 3.8.0
3. I can run @ipe-zhangyz's sample code locally on two different machines without problem. (One with Radeon VII (gfx906) + ROCm 3.5.0, the other with the same

[2020-11-02 18:33] leofang commented on #4132
Looks like ROCm 3.9.0 is out...😞😞😞

[2020-11-02 19:57] leofang opened #4218 "[BUG] ROCm: the `cupy.cuda.cub` module cannot be built in v8"
Looks like in CuPy v8 we assumed the `cupy.cuda.cub` module is always built, but the ROCm support was not added until recently (#4027), so an error is raised upon `import cupy`:
[code]
I think this can be fixed simply by backporting #4027.

ref: https://stackoverflow.com/questions/64613606/cupy-on-amd-gpu-causing-an-importerror

[2020-11-02 20:51] leofang commented on #4132
It seems CuPy master builds just fine on 3.9.0: https://ci.preferred.jp/cupy.py3.amd/64299/

[2020-11-02 22:03] rlratzel opened #4219 "[RFC] Use RAPIDS cuGraph as the backend for CuPy graph algorithms"
@pentschev suggested that @BradReesWork and I post the following RFC to the CuPy community.  Please don't hesitate to comment and let us know if there's anything else you'd like to see.

<hr>

# Introduction
CuPy has recently started the process of adding support for various graph algorithms that operate on CuPy sparse matrices, such as seen in PR https://github.com/cupy/cupy/pull/4054. This is a

[2020-11-03 02:02] ipe-zhangyz commented on #4216
Thank you @leofang ! The version I installed before is v8.0.0rc1.  I installed it on a server with CentOS 7.6 and ROCM 3.5 from source in this steps:
[code]
I've switched to v8.0.0 and reinstalled  it in the same steps. My test code can run now.

[2020-11-03 02:04] #4216 closed

[2020-11-03 03:29] leofang commented on #4216
Thanks for confirming, @ipe-zhangyz. Yes, this was fixed between v8.0rc1 and v8.0, so you had the buggy version installed 😅

[2020-11-03 03:47] takagi opened #4220 "Proposal: Tolerance per dtype for `cupy.testing.numpy_cupy_allclose`"
Currently, `cupy.testing.numpy_cupy_allclose` takes only a tolerance value, so we need to split a test or make an imperative call of `cupy.testing.assert_allclose` to supply different tolerance values per dtype.

Here proposed is making `cupy.testing.numpy_cupy_allclose` take association from a dtype to a tolerance value something as following:

[code]

Actual representation would have room for di

[2020-11-03 03:54] ipe-zhangyz commented on #4216
Hi @leofang , I find that you have done many tests of cupy on rocm platform. I also want to do a systematical test on my CentOS 7.6 + rocm 3.5 server, as the official supported OS of hip is usually ubuntu. Could you please tell me how do you do your tests? Did you use the code in the source code of cupy, or you write your own test codes? If it is the first case, is there any simple command to run

[2020-11-03 04:05] leofang commented on #4216
The current CuPy test suite has a great coverage, some much more extensive than NVIDIA's internal ones that we were able to catch a dozen of CUDA bugs in the past. I'd say if you're super interested, running CuPy's tests locally (given that you already built from source) is the best. You can do it as simple as `pytest tests/` to run them all!

However, I don't recommend you to do this for the mome

[2020-11-03 06:27] ipe-zhangyz commented on #4216
Thanks for your advice! I just tried the cases on the cupy tutorial web page. Most of them work on my machine, however, I find that if the kernel in my source file includes some headers, like this:
[code]
I will still encounter the hiprtc error for not found the header file. I can include the absolute path to the header, but if the header itself includes some other header files, the error still oc

[2020-11-03 13:05] leofang commented on #4216
For RawKernel and RawModule, you can set `backend='nvcc'` to make it use hipcc. It's probably a confusing name for ROCm users that we should change.

[2020-11-03 16:42] slowkow opened #4223 "OverflowError: value too large to convert to int"
Could I please ask if you have any ideas for working around this error?

It seems that `array.sum(axis=0)` threw an error.

[code]

[code]

The full traceback:

[code]

I also posted this issue at https://github.com/clara-parabricks/rapids-single-cell-examples/issues/50

[code]

[2020-11-03 17:36] leofang commented on #4223
Looks like as an intermediate step your csr matrix is converted to coo, whose size exceeds 2^31-1 elements (nnz > 2**31-1). I think this is a known limitation in CuPy's sparse matrix support (#3513).

Part of the computation involves `sparse_gpu_array.sum_duplicates()` because `sparse_gpu_array.has_canonical_format` is `False`. If for any reason you happen to know in advance your matrix has no dup

[2020-11-03 19:12] leofang commented on #3408
Hi @maddyscientist, just out of curiosity to evaluate the level of challenge, do I understand it correctly that once C/C++ header includes are mapped correctly (ex: `#include <limits.h>` -> `jitsafe_header_limits_h`) NVRTC will be able to compile it correctly? We (CuPy) already have NVRTC and a full build chain working, so I am hoping this is the last missing piece to achieve what jitify can provi

[2020-11-03 19:16] maddyscientist commented on #3408
Not sure I follow this question @leofang.  Jitify takes care of this mapping automatically, so that the code the user provides just has to `#include <limits.h>` are normal in the user kernel source code.

[2020-11-03 19:29] leofang commented on #3408
Thanks @maddyscientist, I meant to do this mapping under the hood for CuPy users. So suppose I have a piece of "illegal" code like below:
[code]
but I'd still like to pass this to `cupy.RawKernel`/`cupy.RawModule` and use NVRTC to compile it:
[code]
My understanding for a working prototype is that behind the scene we should do something equivalent of this for users:
[code]
then pass the processed

[2020-11-03 22:06] nvAli opened #4224 "Cannot import cupy-cuda111 on Windows, CUDA 11.1"
Hi, installation of cupy does fail on my system - Windows 10, CUDA 11.1, driver 460.40, Python 3.8.

I installed cupy via

and my fresh Python 3.8 installation shows

  cupy-cuda111==8.1.0
  fastrlock==0.5
  numpy==1.19.4

But trying to import cupy fails with

The complete output is attached
[log.txt](https://github.com/cupy/cupy/files/5484301/log.txt)

I tried already the solution proposed here

[2020-11-04 03:00] emcastillo commented on #4224
Have you set the CUDA_PATH env var?

[2020-11-04 03:33] ipe-zhangyz commented on #4216
Thank you! @leofang Now all of my test cases are passed.

[2020-11-04 07:35] nvAli commented on #4224
Yes. Hence the output in the log.txt from the additional code in __init.py__
`print('Add DLL path {}'.format(os.path.join(os.environ['CUDA_PATH'], 'bin')))`

Could somehow the spaces confuse the handling? But then I probably wouldn't be the first reporting that...

[2020-11-04 07:58] nvAli commented on #4224
And looking at the source causing this failure in device.pyx and the line right before it
`from cupy_backends.cuda.libs import cublas
from cupy_backends.cuda.libs import cusolver`
one can see that while cublas was apparently imported properly it fails with cusolver. I am not familiar with the internals of cupy but maybe the issue is within the cusolver backend itself?

[2020-11-04 08:47] nvAli commented on #4224
As a WAR I found out that building cupy myself allowed me to import it properly. Ie

did work for me.

As a side note: building it took quite some time while my machine was mostly idling. It seems as if there is no parallel compilation happening - maybe that could be improved?

[2020-11-04 12:33] maddyscientist commented on #3408
@leofang if you're just wanting some of the headers provided by Jitify, you might be better looking at using libcu++'s headers: https://github.com/NVIDIA/libcudacxx/tree/main/include/cuda/std.

These are more fully featured, and are being continually expanded to provide more coverage of the the C++ standard library, as well as some C headers.

[2020-11-04 14:06] anaruse commented on #4224
You can reduce the build time by limiting the target GPU architecture as follows.

    $ export CUPY_NVCC_GENERATE_CODE=arch=compute_70,code=sm_70

https://docs.cupy.dev/en/stable/contribution.html#tips-for-developers

[2020-11-05 13:49] quasiben commented on #2360
Thanks for testing this out @jamestwebber ! Now for distributed GPUs :)

[2020-11-05 23:46] carterbox commented on #3062
Related to #3470.

[2020-11-06 07:22] toslunar opened #4232 "`AssertFunctionIsCalled` fails to unpatch target"
`AssertFunctionIsCalled` does not exit `mock.patch` if the assertion fails:
https://github.com/cupy/cupy/blob/c0c99108b78f4480b17cdf22ba3e903eb65f3646/cupy/testing/helper.py#L1441-L1444

As a consequence, CI reports weird failures.

Example: https://jenkins.preferred.jp/job/chainer/job/daily_master_cupy-shuffled/378/ID=20,label=mn1-p100/consoleFull

- The first failure is `TestCubReduction_param_5

[2020-11-06 16:08] jakirkham commented on #3755
cc @pentschev (for vis)

[2020-11-06 18:57] leofang commented on #3408
Hello @kkraus14 @harrism @devavret @emcastillo @jrhemstad @maddyscientist I sent a PR (#4228) to support Jitify in CuPy. Please feel free to comment there 🙂

[2020-11-07 05:06] leofang commented on #4232
This is very weird. I can't reproduce this locally. We should also investigate the failures, as the assert check is important to ensure whether the target code path is indeed executed or not.

[2020-11-07 05:48] leofang commented on #4224
Let me expand a little on @anaruse's reply, and why we haven't done parallel builds so far.

When compiling CuPy's modules, the two most time-consuming ones are `cupy.cuda.thrust` and `cupy.cuda.cub`, because they have many C++ template kernels and we request many specializations. Compared to them, compiling other modules is really nothing. So even if we parallelize the build, in the end we still

[2020-11-07 10:19] nvAli commented on #4224
Thanks for your explanations. I don't mind some compile times (and am aware of the 'for all SMs' vs 'just for mine' build issue) and added it hence just as a side note. But I wasn't aware that Thrust and CUB are the bottlenecks here.

But I guess that the issue with the CUDA 11.1 Windows pre-build cupy package is more serious and probably others will hit it soon. Assuming that I am not the sole cu

[2020-11-07 22:53] dmargala opened #4237 "Add batch cholesky solve"
I have a batch cholesky solver implementation that uses `cupy.cuda.cusolver.dpotrfBatched` and `cupy.cuda.cusolver.dpotrsBatched`. It's very similar to `cupyx.linalg._solve._batched_invh`, replacing the identity matrix used on the rhs of Ax = b with an argument for the user to supply a batch of vectors b.

I see a pretty good speed up using batch cholesky solve for my use. Would it be useful to ad

[2020-11-09 02:49] kmaehashi opened #4238 "`cupy.random.randint` does not support boolean dtype"
[code]

[2020-11-09 03:44] aitikgupta commented on #4238
The culprit is `cupy.iinfo(dtype)` where `dtype` is `bool`.
`iinfo()` is taken directly from Numpy, where:
[code]
So `cupy.iinfo(cupy.bool)` raises the exact same error.
I guess the condition should check if dtype is _not_ bool here:
https://github.com/cupy/cupy/blob/f10c98d10757632d41f1b8c0dc9e6228cfbcec53/cupy/random/_generator.py#L1166-L1171

If this seems like a legit change, I can take this u

[2020-11-09 05:59] kmaehashi commented on #4224
So far I'm unable to reproduce this issue. Could you confirm that `cusolver64_11.dll` exists under `C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v11.1\bin`?

FYI, here are DLL dependents:

[code]

[2020-11-09 06:48] #3915 closed

[2020-11-09 08:43] nvAli commented on #4224
Good catch. In my installation it indeed does not exist, but only a cusolver64_10.dll. Wondering why you aren't seeing that issue I looked into the most up-to-date CUDA 11.1 Update 1 installer and found that while there is now a cusolver64_11.dll there are still a few dlls like cufft64_10.dll and curand64_10.dll.

So, definitely not a cupy issue but a CUDA installer one. But maybe you could add it

[2020-11-09 09:52] kmaehashi opened #4243 "Improve tables in documentation"
Currently, tables in docs are rendered with a horizontal scroll bar so difficult to read. I think we need to improve this.

e.g. https://docs.cupy.dev/en/stable/reference/environment.html

[2020-11-09 12:31] nvAli commented on #4224
It actually seems as if this is an intended change in the installer. I will follow that issue and report back. And might, dependent of the outcome, reopen the ticket again.

[2020-11-09 16:55] nvAli commented on #4224
Re-opening. As of CUDA 11 the versioning of its components is actually a feature
  https://docs.nvidia.com/cuda/cuda-toolkit-release-notes/index.html#cuda-major-component-versions
So, the current approach of cupy is not reliably working anymore for all CUDA >= 11.0.

[2020-11-09 18:56] ooreilly opened #4246 "Check number and types of args passed to RawKernel function?"
Hello CuPy developers,
I noticed that if you pass the wrong number or types of input arguments to RawKernel that CuPy crashes. What do you think about adding some checks?
[code]
[code]
If you think it is a good idea, I would be happy to try to contribute a PR.

[2020-11-09 21:31] grlee77 opened #4247 "allow single precision operation in the cupyx.scipy.ndimage module"
## allow single-precision computations in cupyx.scipy.ndimage

I opened this PR to discuss the potential for performing computations in single precision in `cupyx.scipy.ndimage` functions when the input is single precision. Currently, the internal `weights` arrays used in the convolution function, etc. are always `np.float64`, which does match the internal use of double precision in `scipy.ndimage

[2020-11-09 21:32] grlee77 commented on #4247
There was some related previous discussion during the review of #2483.

[2020-11-10 01:19] toslunar opened #4249 "Deprecate truth value of empty array"
https://numpy.org/doc/stable/release/1.14.0-notes.html#deprecations

[code]

[2020-11-10 02:54] kmaehashi commented on #4224
Thank you for the information!

* CUDA 11.1.0 contains cuSOLVER 11.0.0.74
* CUDA 11.1.1 (Update 1) contains cuSOLVER 11.0.1.105

So I guess it was a bug in CUDA 11.1.0 that mistakenly shipped cuSOLVER 11 with the name `cusolver64_10.dll`.

That said,

https://docs.nvidia.com/cuda/cuda-toolkit-release-notes/index.html#cuda-major-component-versions

I think many Python projects shipping wheels like

[2020-11-10 04:50] #1961 closed

[2020-11-10 05:51] asi1024 opened #4251 "Speed up `cupyx.scipy.sparse` indexing routines"
- [x] row slicing #3782, #3851, #3852
- [x] row fancy indexing #3865
- [x] column fancy indexing #3886
- [ ] inner indexing
- [ ] setitem

[2020-11-10 05:57] takagi commented on #4232
Looks `cupy.core._routines_statistics.cub.device_segmented_reduce` is not called in the failing shuffled test configuration?

[2020-11-10 06:08] toslunar commented on #4232
For record, the shuffle configuration (`ID=20`) in `daily_master_cupy-shuffled/378` is
[code]

[2020-11-10 07:28] #4197 closed

[2020-11-10 07:42] leofang commented on #4246
IMHO this is a very hard task with potentially non-negligible overhead, which I strive to avoid. The problem with RawKernels/RawModules is that they also support template arguments, texture objects, struct inputs, etc, whose types are not easy to deduce if not impossible. My 2 cents is that if users are brave enough to write their own CUDA C++ kernels, it should be fairly easy for them to detect i

[2020-11-10 07:42] kmaehashi commented on #4223
Let's continue discussion in #3513.

[2020-11-10 07:42] #4223 closed

[2020-11-10 07:45] leofang commented on #4232
Yeah all tests just passed fine locally. Without the first issue, `AssertFunctionIsCalled` wouldn't observe this assertion problem.

[2020-11-10 08:01] leofang commented on #3982
I have a branch that can handle non-contiguous reductions in the segmented fashion: https://github.com/leofang/cupy/tree/cub_seg_reduce_stride. The idea is to use iterators to group all elements logically belonging to the same segments together. The experiment was done for CUB device reduction kernels (in `cupy.cuda.cub`) as it's an easier starting point.

However, this is an extremely inefficient

[2020-11-10 08:01] #3982 closed

[2020-11-10 08:07] emcastillo commented on #3982
😭 thanks for all the effort!

[2020-11-10 11:19] takagi commented on #4232
Okay. Then I'll merge #4233 with closing this issue, and post another that addresses the first issue.

[2020-11-10 11:21] #4232 closed

[2020-11-10 12:01] takagi opened #4254 "`ndarray.max()` does not call CUB in some conditions"
As mentioned in #4232, a daily test fails where `ndarray.max()` does not call `cupy.core._routines_statistics.cub.device_segmented_reduce` for some reasons.

https://jenkins.preferred.jp/job/chainer/job/daily_master_cupy-shuffled/378/ID=20,label=mn1-p100/

The following shows the condition of the daily shuffle test.

[code]

[2020-11-10 12:27] venkywonka opened #4256 "request feature - interface and support for `cupyx.scipy.sparse.linalg.aslinearoperator`"
* Request for feature that does the same job as `scipy.sparse.linalg.aslinearoperator` and it's interfaces.
(basically [this](https://github.com/scipy/scipy/blob/master/scipy/sparse/linalg/interface.py))
* this feature, as pointed by @cjnolet , would be a great tool for PCA mean-centering trick (as mentioned by corey [here](https://github.com/cupy/cupy/issues/2359#issuecomment-713830279) as part o

[2020-11-10 15:30] nvAli commented on #4224
Maybe there wasn't a bug int the CUDA 11.1.0. I had spent some time but couldn't find out where I had my installed CUDA 11.1.0 installer from - potentially it was an internal one. Looking into both publicly available 11.1.0 and 11.1.1 I see what you already stated - the cuSolver dll hasn't changed the filename.

So, maybe there is no need to guard against filename changes between CUDA minor releas

[2020-11-10 18:59] ooreilly commented on #4246
Thank you for your detailed explanation and for your input. I didn’t think about how complicated it can get when you need to support type deduction for structs and template parameters. Also, I agree that you definitely don’t want to add a lot of overhead for having a little bit of convenience.

I am pretty good at making mistakes, especially when the kernel has to take in a lot of args. What I wil

[2020-11-10 18:59] #4246 closed

[2020-11-11 05:04] toslunar commented on #4254
Note that CuPy v9 has dropped Python 3.5 support (https://github.com/cupy/cupy/issues/2993#issuecomment-676164894).  Use a bit old commit (and cherry-pick #4233) to investigate the issue.

[2020-11-11 05:17] kmaehashi commented on #4219
Thank you for the proposal, and for providing the awesome cuGraph library.

The dev team discussed this and agreed to go with your idea - implementing a thin wrapper for `scipy.sparse.csgraph` using cuGraph.

As you already noted, we have to carefully consider adding a new dependency. We want to keep the dependencies at a minimum because CuPy aims to be a fundamental component for other libraries

[2020-11-11 05:23] toslunar opened #4259 "Doctest of `lu_factor` is not valid with newer CUDA"
### Conditions

<details><summary>the output of `python -c 'import cupy; cupy.show_config()'`</summary>

[code]

</details>

### Code to reproduce

`cd docs; make doctest`

### Error messages, stack traces, or logs

[code]

[2020-11-11 05:32] leofang commented on #4246
@ooreilly It would be great if you could point me to how you achieve this with regex! 🙂 I am not a regex user but I know it can be very powerful. I might be able to apply a similar approach elsewhere.

[2020-11-11 06:05] leofang commented on #3309
Thrust and CUB are addressing this issue on their end: https://github.com/NVIDIA/thrust/issues/1271, https://github.com/NVIDIA/cub/issues/212.

[2020-11-11 06:07] leofang commented on #3326
Is this still a concern @mnicely?

[2020-11-11 08:12] #3408 closed

[2020-11-11 09:24] nvAli commented on #4224
I will close the issue for now. It is not clear whether it was caused by a public CUDA toolkit.

So, in case that there are similar issue reports are coming in you might already know what could be the culprit. Until then one probably can rely on identical component names between CUDA minor releases.

[2020-11-11 09:24] #4224 closed

[2020-11-11 09:34] #4105 closed

[2020-11-11 12:50] mnicely commented on #3326
It is not, thanks for checking.

[2020-11-11 12:50] #3326 closed

[2020-11-11 16:20] grlee77 commented on #4247
I just realized that I had actually implemented the `allow_float32` keyword-only argument in #4145 which was just merged. If one of the other approaches above is preferred instead then we should change that prior to making a new release that includes this.

[2020-11-11 17:14] jakirkham commented on #4247
If we are able to use the `dtype`s of the array(s) provided, that would be good.

Do you know if there's an equivalent issue raised for SciPy?

[2020-11-11 17:39] grlee77 commented on #4247
I don't think there is an equivalent issue related to single-precision open on SciPy. For SciPy itself, I think the argument is less compelling because the amount of work required would be substantial and the performance benefits of single precision may not be substantial.

As an example, many C functions copy lines to [buffers that are double precision](https://github.com/scipy/scipy/blob/25ba003

[2020-11-11 17:44] grlee77 commented on #4247
I think I am leaning toward that as well and that is what `cupy.fft` [currently does](https://github.com/cupy/cupy/blob/fd11f0d917426cea9c4f3658e5d8b8cf7c9d56f2/cupy/fft/_fft.py#L64-L78)

[2020-11-11 18:16] weiyuanlou opened #4266 "Include Elliptic Integral functions in cupy (e.g. scipy.special.ellipkinc )"
Dear Cupy developers:

Elliptic integral functions are important in many scientific applications.
I wonder if it's possible to add these functions offered by scipy (https://docs.scipy.org/doc/scipy/reference/special.html#elliptic-functions-and-integrals) in cupy?

In particular, my project needs ellipkinc(phi, m) and ellipeinc(phi, m) ( The incomplete elliptic integral of the first and second kind

[2020-11-11 18:37] jakirkham commented on #4247
Ah right. Sorry forgot this.

It may still be worth adding an issue even if it is closed out as unfeasible or lingerings for time. At least that will make this issue more visible to others who may care about the performance improvement.

[2020-11-11 20:11] leofang opened #4268 "ROCm: HIP does not provide math_constants.h"
In a number of places in the codebase, we use constants like `CUDART_NAN`:
https://github.com/cupy/cupy/blob/fd11f0d917426cea9c4f3658e5d8b8cf7c9d56f2/cupyx/scipy/ndimage/_filters_core.py#L261-L266
But HIP does not provide `math_constants.h`, so any code involving math constants will fail. Looks like we need to provide a stub file on our own?

[2020-11-11 20:28] grlee77 commented on #4268
In I prior PR, I had originally tried to define NAN and INF when I didn't know about the CUDART_NAN and CUDART_INF defines. Perhaps those can be used to define CUDART_NAN and CUDART_INF for HIP? see: https://github.com/cupy/cupy/pull/2861/commits/c06acf6d6632975c8e6c3f92df3c9bf59bd1d843#

[2020-11-11 20:39] leofang commented on #4268
Cool, yeah I think this is exactly what `math_constants.h` in CUDA does too:
[code]
So a stub file can be generated as easy as copying all contents from there.

[2020-11-12 02:58] leofang opened #4270 "Technically illegal syntax in ndimage generic filters"
#3614 added a very cool generic filter to `cupyx.scipy.ndimage` supporting both `ReductionKernel` and `RawKernel`. However, when testing its compatibility with ROCm/HIP, I noticed there are two lines containing technically illegal syntax even in CUDA:
https://github.com/cupy/cupy/blob/a118905a7976079db8726001a3983d520847cb52/cupyx/scipy/ndimage/_filters_generic.py#L192
https://github.com/cupy/cupy

[2020-11-12 04:18] leofang opened #4272 "ROCm: ndimage filter failures"
Below is a list of failing tests after #4271 is applied. All tests produced outcomes (rather than, say, erring out during compilation) which mismatch with the expected results.
[code]

[2020-11-12 06:59] ooreilly commented on #4246
@leofang sorry it took a while for me to get back to you, busy day here! I agree with you, regex is really powerful.  I was able to get started on checking the number of args with regex. Usually, what I do when I try to build something with regex is to use this nice tool: https://regexr.com/. If you copy and paste the regex below (with some small modifications) into regexr.com, it can explain it p

[2020-11-12 13:30] grlee77 commented on #4272
All of these filters (median, rank, percentile) are ones that involve sorting elements, so at least it is probably a single common issue in the sorting that needs to be fixed for HIP/ROCm.

[2020-11-12 13:39] grlee77 commented on #4272
For reference, [this is the sorting code](https://github.com/cupy/cupy/blob/b4a296f68bb78f57048c2c3288d13c46482e9034/cupyx/scipy/ndimage/filters.py#L1030-L1104).

There are two different paths that can be taken depending on the number of elements to sort (in that code `filter_size` are the number of elements in the n-d filter footprint and `rank` is which element out of the `filter_size` elements

[2020-11-12 15:18] leofang opened #4274 "Need to pin Jitify on a target commit"
In #4228 we added Jitify as a submodule. However, we defaulted to the master branch, which could be potentially problematic if the upstream introduces a breaking change ~~(like what I'm doing in NVIDIA/jitify#82 for improving performance 😅)~~. Unfortunately Jitify does not use any branch or tag/release, so we need to find a way to pin on a specific commit so as not to break existing code and CI.

[2020-11-12 15:38] leofang commented on #4272
Thanks a lot, @grlee77! Fixing one issue to fix them all would be the best scenario indeed.

Any chance this sorting would involve comparisons with NaN, Inf, etc? I took a quick look and didn't spot any immediate issues there, so was wondering if it's due to different architecture handling floating points differently.

[2020-11-12 16:14] leofang commented on #4274
Sorry, dunno what I was thinking, but NVIDIA/jitify#82 is not a breaking change. It's still best to address this issue though.

[2020-11-12 17:09] grlee77 commented on #4272
I don't think any of those test cases use either NaNs or Inf values. In general, `scipy.ndimage` doesn't have any special NaN handling, but there have occasionally been issues requesting it (or masked array support).

[2020-11-12 17:10] grlee77 commented on #4272
I think the only tests involving NaN in the whole `cupyx.scipy.ndimage` test suite are a few cases where `cval=np.nan` was used as the background pixel choice.

[2020-11-12 17:15] leofang commented on #4274
@kmaehashi pointed out to me that we've pinned: https://github.com/cupy/cupy/tree/master/cupy/core/include/cupy. Sorry for being silly today.

[2020-11-12 17:15] #4274 closed

[2020-11-13 01:59] leyojoseph opened #4279 "Cupy version installation"
Hello,
**I have Nvidia tesla K40 and nvidia cuda toolkit 11.1 installed on windows 10 HP Z440 machine.
My pip list command shows ==>**

(base) PS C:\> pip list
Package                            Version
---------------------------------- --------------------
alabaster                          0.7.12
anaconda-client                    1.7.2
anaconda-navigator                 1.9.12
anaconda-project

[2020-11-13 03:25] hande6688 opened #4280 "AttributeError: module 'cupy' has no attribute 'array'?"
conda install cupy

[2020-11-13 03:41] leofang commented on #4279
This issue is originated from https://github.com/rapidsai/cusignal/issues/284. @leyojoseph in the initial discussion we thought you're on CUDA 11.0, but based on your latest report here and there it seems you're actually on 11.1? Could you confirm which version you have?

For CUDA 11.1, you should do `pip install cupy-cuda111` instead of `cupy-cuda110`.

For building from source (`pip install cupy

[2020-11-13 04:17] leofang commented on #3777
Glad to hear, @pentschev! Do you know the exact condition to trigger this bug, like CUDA 10.0 - 11.1?

[2020-11-13 04:17] evanmayer commented on #4279
Seconding this! It is important that the CUDA Toolkit version and Cupy wheel you request and install must match exactly. When I tested cusignal Windows install, getting this right was the last stumbling block. There are a lot of ways to do it wrong, and `pip install cupy-cudaXXX` worked for me. I tested on CUDA 10.1, and used `pip install cupy-cuda101`.

[2020-11-13 04:53] leofang commented on #3757
Thank you for the update, @pentschev!!

[2020-11-13 11:30] pentschev commented on #3777
Unfortunately, I don't know the exact condition. The only explanation I was given is that there was some internal state being stored in cuFFT. If you think it's important, I could ask for details, please let me know.

[2020-11-13 13:37] leyojoseph commented on #4279
**Thanks ..
Let me please ask you a basic question as I  am just learning this. The command pip-install cupy -cuda111  installs cupy -cuda11.1
Will this also install basic cupy version 8.1?.Looks like it is not. So do ineed to install cupy again using pip -install cupy?**

**As shown below, i have Nvidia tool kit 11.1**
(base) C:\Windows\system32>nvcc --version
nvcc: NVIDIA (R) Cuda compiler drive

[2020-11-13 13:53] leyojoseph commented on #4279
This is the path variable set up in my PC

![Capture](https://user-images.githubusercontent.com/67446653/99079225-409f6c80-2585-11eb-8237-1cdebc80f6e1.PNG)

[2020-11-13 14:01] evanmayer commented on #4279
If you’re using a fresh conda env, you should be able to call `pip install cupy-cuda111` only. You don’t need to do Cupy 8.1 first, and in fact you shouldn’t - Cupy docs say the versions can conflict with one another. If you’re not using a fresh conda env you should remove any previously installed Cupy or `freeze` any other versions like the Cupy install docs say. I would just try to get it workin

[2020-11-13 14:16] leofang commented on #3777
That's fine, was just curious 😄 I suppose this issue can be closed?

[2020-11-13 14:29] pentschev commented on #3777
I think so, but if you prefer we can also wait for CUDA 11.2 to verify, it's really up to you. :)

[2020-11-13 14:39] leyojoseph commented on #4279
Thanks a lot... Could you please explain little bit on what you mean by "Fresh Conda env"...also hwo to do this to get the fresh conda environment. Appreciate your help

[2020-11-13 14:44] evanmayer commented on #4279
`conda create —name cusignal-dev`
`conda activate cusignal-dev`

should do it.

https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html

[2020-11-13 15:08] leofang commented on #3777
Thanks, Peter! If I catch that on 11.2 I'll reopen then.

[2020-11-13 23:02] leyojoseph commented on #4279
One  more question on this please..
After installing cupy -conda111,, what is the best way to install cusignal? Is it pip -install cusignal (I think cusignal support this now).
Making sure that I am doing everything correct..

[2020-11-13 23:52] evanmayer commented on #4279
Let’s confirm first that you have Cupy installed correctly so this issue can be closed. Cupy docs should have some examples you can follow to test this without having cusignal installed.

[2020-11-14 00:40] leyojoseph commented on #4279
**Hello,
created a new environment "gpu" and installed everything as shown below==>**

(gpu) C:\Windows\System32>conda list
# packages in environment at C:\ProgramData\Anaconda3\envs\gpu:
#
# Name                    Version                   Build  Channel
alabaster                 0.7.12                     py_0
argh                      0.26.2                   py38_0
astroid                   2

[2020-11-14 05:59] leofang commented on #4279
Hi @leyojoseph, looks like your cupy is working? Could you verify a pure CuPy code like this (based on yours with a small modification) can run without error?
[code]
If so you should close this issue, and continue the discussion on cuSignal in https://github.com/rapidsai/cusignal/issues/284 like @evanmayer did.

[2020-11-15 01:34] leyojoseph commented on #4279
Hello,
I tried the above code and is working fine. As you suggested, I will continue  the discussion at cusignal.

[2020-11-15 17:51] mazzman101 opened #4282 "fft memory leakage"
**cupy-cuda101 8.1.0; Window 10; Python 3.7.7**

cupy.fft.fft and probably also other cupy.fft fuctions cause memory leakage. I can reproduce this bug with the following code:

[code]

Output:
[code]

[2020-11-15 19:18] leofang commented on #4282
(On my cell so forgive my brevity) this is not a bug; this is expected behavior, as starting v8.0 we cache cuFFT plans by default. The plans are tied to some memory as workspace, so unless the plans are deleted/the cache is cleared, there will be some memory hold. Check out the doc at https://docs.cupy.dev/en/stable/reference/plan_cache.html#cupy.fft._cache.PlanCache and try disabling the cache.

[2020-11-15 19:38] mazzman101 commented on #4282
This explains why I started to get this behavior after upgrading from an earlier version. Thanks for pointing that out!

[2020-11-15 19:38] #4282 closed

[2020-11-15 20:41] leofang commented on #4105
@llukas @mnicely Any chance you know the callback linking must be done by a c++ compiler (ex: g++)? We are experiencing some issues in which if the host compiler is specified as `gcc` instead of `g++`, there'd be undefined symbols:
[code]
see, e.g. https://jenkins.preferred.jp/job/chainer/job/chainer-test_pr/231/label=mn1-p100,test=cupy-combination/testReport/junit/tests.cupy_tests.fft_tests.test_

[2020-11-15 21:04] mnicely commented on #4105
Interesting :thinking:
I'm not sure, but I'll check with @llukas

[2020-11-16 03:11] emcastillo commented on #4280
Hi, we need a bit more of information to find why this is happening.

Do you have the cuda toolkit installed?
Are you using windows or Linux?
Can you try to install it through PyPi instead of conda? https://docs.cupy.dev/en/stable/install.html#installing-cupy

[2020-11-16 05:18] kmaehashi commented on #4193
I talked with @okuta regarding this. It seems there's no strong reason why 25 is picked. I think changing it to 32 for NumPy compatibility is better (but must verify that there's no strong performance degradation).

If I recall correctly there was a MAX_NDIM validation in the past versions of CuPy but seems it's lost at some point. It should be added too.

[2020-11-16 05:59] leofang commented on #4270
See #4271.

[2020-11-16 06:08] kmaehashi commented on #4237
Thanks! Support for `cho_solve`  is currently ongoing here: https://github.com/cupy/cupy/pull/4172

[2020-11-16 06:36] leofang commented on #4282
xref: https://stackoverflow.com/q/64846693/2344149

[2020-11-16 06:49] leofang commented on #4246
Thanks, @ooreilly! Already bookmarked your repo and regexr.com (looks like a nice resource) 👍

Maybe I should move the discussion to your repo. Your `regex` line made me wonder if there's an easy way to parse multiple kernels in a common `extern` block? Something like this:
[code]

[2020-11-16 06:54] leofang commented on #4272
Ah, right, I forgot you brought this up just recently (#4090) 😅

[2020-11-16 07:31] leofang commented on #4272
All failing tests happen in `_get_rank_kernel` and do *not* use shell sort, i.e. errors are from this code path:
https://github.com/cupy/cupy/blob/01d8d0f37e573cf55732e78cddc94fd302d900a8/cupyx/scipy/ndimage/filters.py#L1060

[2020-11-16 11:09] beam2d commented on #4193
Yeah, if I remember correctly. That just meant there was a well-used tensor library that chose the number without any problem for years.

[2020-11-16 18:35] brandondube opened #4288 "array and asarray incorrectly convert some arrays"
Download reference data from https://wfirst.ipac.caltech.edu/sims/Coronagraph_pupil_masks.html
WFIRST Pre-cycle 5 pupil, 1000x1000 pixels (FITS file).

Per the FITS standard, this data is big endian.  The data of the particular file is 64-bit / double precision.

Reproducible script:
[code]

The "white" part of the mask should be 1, but cupy converts it to something a few bits from the max value f

[2020-11-16 19:00] leofang commented on #4288
I think it is a known issue that CuPy currently does not support big-endian arrays (#3652). The discussion and workaround there might be relevant for you. I am unaware of anyone working on this support at the moment.

[2020-11-16 21:03] brandondube commented on #4288
There is a widespread question of what to do about BE.  For the case of `array` or `asarray` which are used to transfer the data from host->device, could cupy just convert the endianness?  Numpy has a method `ary.byteswap()`.

The logic to handle edge cases could look something like...

[code]

[2020-11-16 21:43] leofang commented on #3510
Does it make sense to autotune ufuncs/ElementwiseKernels? Say adjusting the block size etc.

[2020-11-17 00:09] MikGen commented on #3115
Same here. I was transferring my code into GPU with cupy. While CPU's scipy worked well, similar GPU code fails with this error

[2020-11-17 00:26] jakirkham commented on #3115
@MikGen, would recommend raising a new issue with the minimal amount of code needed to reproduce the error on the latest version of CuPy 🙂

[2020-11-17 04:24] ooreilly commented on #4246
Nice!

Sure. Up to you if you want to continue the conversation there. Yes, what you are asking for should be possible to do in a single pass. I can try to do that on Thursday for you. You could also do a double pass where you first search for the `extern "C"` block and then extract each function in a second search. Do you want to grab all functions within the extern block or just a specific one?

[2020-11-17 05:03] asi1024 opened #4290 "Support `cupyx.jit` for custom kernel definition"
Task list:
- [x] Add `cupy.vectorize` #4135
- [ ] Support compile-time constants #4241
- [ ] Support function calls (math library functions, cupy ufuncs)
- [ ] Explicit typecasts
- [ ] for-loops
- [ ] raw-kernel from python function
- [ ] ndarray/indexer arguments
- [ ] syncthreads, shared_memory, threadIdx
- [ ] *args, **kwargs, default arguments, keyword-only arguments
- [ ] recursive function
-

[2020-11-17 09:32] kmaehashi commented on #4139
Talked offline with @anaruse and dev members regarding this, we will keep the current implementation as the current behavior is compatible with the NumPy's documented behavior. But we should this restriction documented in the NumPy docs to CuPy docs.

[2020-11-17 09:33] #4279 closed

[2020-11-17 09:33] morizin opened #4294 "Please fix this issue as fast as possible"
[code]
[code]

[code]
*Output
[code]
[code]
*OutPut
[code]

[2020-11-17 09:39] kmaehashi commented on #4288
Thank you for the report! We discussed this today and prioritized issue #3652. We will be fixing to automatically convert big-endian NumPy arrays to little-endian in `array`/`asarray`. This will be backported to v8 as we considere this as bug.

Let's continue discussing further in #3652 if needed.

[2020-11-17 09:39] #4288 closed

[2020-11-17 16:02] mnicely commented on #4246
@leofang I'm pretty sure the `log_stream` method you and I added should have caught this error just as if you compile directly with NVCC/NVRTC.

I agree with @leofang that while the regex feature would be useful, it also chips away at the speed-of-line performance.

@ooreilly Would you might giving it a try and let us know the output? https://docs.cupy.dev/en/stable/reference/generated/cupy.RawKer

[2020-11-17 19:38] leofang commented on #4193
Thanks @kmaehashi @beam2d!

I was actually wondering whether changing it to 32 would *improve* performance or not, as it'd likely make the struct aligned.

[2020-11-18 00:41] toslunar commented on #4254
Reproduced with python 3.6.
[code]

<details>

<summary>tests.cupy_tests.core_tests.test_ndarray_reduction.TestCubReduction_param_0_{backend='device', order='C', shape=(10,)}.test_cub_max</summary>

### Error Message

[code]

### Stacktrace

[code]

### Standard Output

[code]

</details>

https://jenkins.preferred.jp/job/chainer/job/daily_master_cupy-shuffled/388/ID=19,label=mn1-p100/testReport/j

[2020-11-18 01:10] leofang commented on #4254
If it's due to half, I probably know why. It could be that we disable CUB's half support for CUDA<9.2. But I remember the first error was for a different style, am I right?

[2020-11-18 01:16] veritas9872 opened #4298 "extern "C" Feature Request for RawKernel and RawModule"
Hello, I would like to request a wrapper for raw CUDA kernels that ensures that `extern "C"` is applied to CUDA source code when using RawKernels and RawModules.

Due to the lack of documentation as of version 8.0, it is difficult for inexperienced users to find out why their functions will not compile.

PyCUDA has a "no_extern_c" flag in its functions that is set to False by default (See [here)](

[2020-11-18 01:35] toslunar commented on #4254
Now `test_cub_max` and `test_cub_min` report the same error.

[2020-11-18 02:27] leofang commented on #4246
@mnicely I thought @ooreilly's problems happen at kernel launch time, not at compile time?

[2020-11-18 02:52] leofang commented on #4254
This is what I was referring to:
https://github.com/cupy/cupy/blob/ed52a652ed9fb30b9c78378cad2aa38a45526eeb/cupy/cuda/common.pyx#L55-L57
For CUDA 9.0 we got `_has_fp16=0`, so CUB is not used, and `handle.call_count=0`. @toslunar I think we should just skip `test_cub_*` tests for CUDA 9.0, what do you think? Would you like me to put together a PR?

[2020-11-18 03:14] leofang commented on #4298
Hi @veritas9872, thanks for the suggestion, and sorry to hear your frustration from your migration journey. The `extern "C"` usage is demonstrated in the [Tutorial](https://docs.cupy.dev/en/stable/tutorial/kernel.html#raw-kernels) session of the doc. The documentation might not be obvious and certainly has room for improvement, as always.

However, I think your suggestion would lead to backward in

[2020-11-18 03:20] leofang commented on #4298
Another thing worth noting is that like in most of the CuPy codebase `RawKernel`/`RawModule` are compiled by NVRTC by default (unless `backend='nvcc'` is set), which is a strict C++ compiler. This is another difference from PyCUDA.

[2020-11-18 03:25] mnicely commented on #4246
Oh okay. Completely missed that. Is there any cuda error checking built-in? That could be activated by passing a flag? I’ve never thought about it until know. Use it when your developing/debugging and turn it off when your finished

[2020-11-18 03:26] emcastillo commented on #4294
Hello,
I am sorry but CuPy does not support structured data types and we are not planning to do so in the short-mid term.

[2020-11-18 03:26] #4294 closed

[2020-11-18 03:38] leofang commented on #4246
Yes, for CUDA driver/runtime API and other CUDA libraries we check the return value and convert it to Python exceptions, for example here:
https://github.com/cupy/cupy/blob/ed52a652ed9fb30b9c78378cad2aa38a45526eeb/cupy_backends/cuda/api/driver.pyx#L122-L124
The problem, at least in his 2nd example, is that CUDA driver API would actually return `CUDA_SUCCESS` despite that the argument number mismat

[2020-11-18 03:48] mnicely commented on #4246
We might need to file a bug. Having too many parameter should return a illegal address error

[2020-11-18 04:02] leofang commented on #4246
You know, one nice thing I enjoy when working with NVIDIA people is that there's always someone kind enough to do this for me so that I never have to file bugs myself 😂😂😂

[2020-11-18 04:07] toslunar commented on #4254
Looks good to skip the mock tests for CUDA 9.0 (than to vary the range of `dtype`).  Yes, your PR is welcome.

[2020-11-18 04:22] leofang commented on #4254
The error message in another failing test is a lot clearer:
[code]
https://jenkins.preferred.jp/job/chainer/job/daily_master_cupy-shuffled/388/ID=19,label=mn1-p100/testReport/junit/tests.cupy_tests.logic_tests.test_truth/TestIn1DIsIn_param_7_%7Bassume_unique=False,%20f='in1d',%20invert=False,%20shape_x=(3,),%20shape_y=(3,)%7D/test/

[2020-11-18 05:02] kmaehashi opened #4300 "[RFC] Deprecation Plans for v9"
In CuPy v9, we are going to drop support for the following:

* Python 3.5
* NumPy 1.16
    * c.f. NEP29: https://numpy.org/neps/nep-0029-deprecation_policy.html#support-table
* SciPy 1.3
* CUDA 9.0
    * CUDA 9.1 is already dropped in v8, so v9 will only support CUDA 9.2+

As for cuDNN and NCCL, we will only support the latest versions depending on the CUDA version:

* cuDNN: v9 supports v7.6.5 (f

[2020-11-18 05:03] kmaehashi commented on #3646
Deprecation plans for v9: #4300

I will include a link to this issue in the release note of the next release to gather comments/concerns from the community.

[2020-11-18 05:38] morizin commented on #4294
Can i add string data into it

[2020-11-18 05:50] emcastillo commented on #4294
W don't have planned support for string arrays as well.
If you want you can implement it and send a PR 😀

[2020-11-18 07:47] #4120 closed

[2020-11-18 08:38] #4268 closed

[2020-11-18 08:38] #4270 closed

[2020-11-18 08:57] veritas9872 commented on #4298
@leofang Thank you for the explanation.
I could not make my code compile and resorted to using `backend='nvcc'` because NVRTC could not find several header files.
After hearing your explanation, I think that the best solution would be to have better documentation with guides on how to deal with some common pitfalls.
I understand that RawKernel and RawModule are both relatively new and not frequent

[2020-11-18 09:20] veritas9872 commented on #4298
Also, I believe that many people, such as myself, wish to integrate pre-existing CUDA libraries, instead of writing CUDA code for CuPy per se. For example, I only hoped to integrate a pre-existing CUDA implementation of non-local means.

[2020-11-18 14:04] mnicely commented on #4246
@leofang No problem. I just need a few days to create an example to submit. I'm swamped with my new position!

[2020-11-18 21:53] leofang commented on #4246
Haha, no pressure Matt! (And congrats!)

[2020-11-19 01:06] grlee77 opened #4302 "jitify-related test failures"
I get a lot of jitify-related test failures when trying the run the test suite on current master (at commit d5b31f4a5e4263b429ae8cdd4d52220815f1eb59). These seem to occur when a CUB-based reduction is attempted.

Strangely enough, when not running pytest, I do not encounter the same sort of errors. For example, I think the following is equivalent to a failing test case, but it works fine when I ru

[2020-11-19 01:45] leofang commented on #4302
Hi @grlee77 I updated the submodule commit in #4277, which got merged last night. Could you try updating the submodule, and then rebuild `cupy.cuda.jitify`?

[2020-11-19 02:11] grlee77 commented on #4302
Okay, I had already checked out that commit, but apprently when I rebuilt the library afterward `cupy.cuda.jitify` didn't get rebuilt. I deleted the existing .so and .cpp and rebuilt and now it seems to be working. Thank you for the quick response!

[2020-11-19 02:11] #4302 closed

[2020-11-19 02:21] leofang commented on #4302
Thanks for confirming @grlee77. This is what I found too. Not saying I expect the submodule will be updated frequently, but it'd be nice to have a way to enforce rebuilding if it's updated. Any idea?

[2020-11-19 06:22] kmaehashi commented on #3380
`cupy.fuse` use-case is documented here: https://docs.cupy.dev/en/stable/tutorial/kernel.html#kernel-fusion
Maybe it's better to cross-reference from cupy.fuse page.

[2020-11-19 06:25] kmaehashi commented on #3414
Closing as implemented in #3371

[2020-11-19 06:25] #3414 closed

[2020-11-19 12:30] veritas9872 commented on #4298
Thank you for your help! I will try out CuPy integration a bit more with your suggestions.

[2020-11-19 12:30] #4298 closed

[2020-11-19 17:56] leofang commented on #4300
ref: #3643, #3631

[2020-11-19 18:02] leofang commented on #2351
@anaruse Is this fixed in CUDA 11.x?

[2020-11-19 18:03] leofang commented on #2136
cc: @jakirkham This is related to our earlier discussion. Anaconda should make old packages inaccessible.

[2020-11-19 18:04] leofang commented on #2136
xref: https://groups.google.com/g/cupy/c/Qryl0j0K9uQ

[2020-11-19 20:42] grlee77 commented on #4302
No direct experience with this, but the following docs indicate the `depends` option to `Extension` could be used for this:
https://docs.python.org/3/distutils/setupscript.html#other-options

[2020-11-19 20:56] keithroe commented on #2031
Hello.  I am an engineer at NVIDIA working on python bindings for our C API for raytracing with CUDA, OptiX.  OptiX works alongside CUDA and takes in CUDA-allocated memory for its inputs and outputs.  CuPy would be a natural fit except for this issue of missing structured array support.  Most of OptiX's inputs are arrays of structs.  Many of these structs are predefined by the  OptiX C API so ther

[2020-11-19 23:29] jakirkham commented on #4294
Outside of the string bit, this is a duplicate of issue ( https://github.com/cupy/cupy/issues/2031 ).

[2020-11-20 04:01] leofang commented on #2031
@keithroe @jakirkham I think from CUDA C/C++ point of view manipulating AoS/SoA in CuPy is totally possible. It should not be confused with the need of supporting arbitrary dtypes as done in NumPy, though having a dtype living in the Python space that backs the C/C++ AoS or SoA is certainly helpful and might save some work.

Below is a toy example to play with AoS:
[code]

[2020-11-20 05:12] ooreilly commented on #4246
@leofang, I finally had time to update the regex function to handle extern blocks.

[2020-11-20 06:55] toslunar commented on #1647
Closed by #2300.

[2020-11-20 06:55] #1647 closed

[2020-11-20 06:58] toslunar opened #4309 "`cupy.linalg.inv` returns wrong value on integer input"
[code]

[2020-11-20 07:11] toslunar commented on #4309
CuPy v7 reproduced the wrong output.

[2020-11-20 08:07] #4249 closed

[2020-11-20 09:37] kmaehashi commented on #2031
@keithroe Hi, happy to hear that OptiX is considering CuPy interoperability!

* What dtype will you need in your struct? Currently, CuPy supports the subset of NumPy dtypes, so for example adding support for unicode can be a bit tough work.
* Despite the dtypes, there can be several levels of "supporting" structured arrays.
    * Record access
    * Indexing (slicing)
    * Copying
    * Manipulat

[2020-11-20 09:39] anaruse commented on #2351
This issue should have been fixed in CUDA 11.0.

[2020-11-20 18:42] keithroe commented on #2031
Thanks for the additional info @kmaehashi and @leofang.  Maybe it would help if I gave an overview of our use case.  I am writing python bindings for the optix C api ((https://developer.nvidia.com/blog/how-to-get-started-with-optix-7/).  I am using pybind11 for the C->python bindings.

OptiX is tightly coupled to cuda -- it takes in device memory for inputs, mainly linear memory and texture memory

[2020-11-20 20:10] keithroe commented on #2031
And as to earlier questions:  I dont think any of the more advanced operations would be necessary (eg, algorithm functions like sorting, reshaping ).

[2020-11-20 20:22] leofang commented on #2031
Hi @keithroe I think my toy code above already did what you asked:

So my question still stands: Do you really need the ability to define compound/custom dtypes in Python? What is the expected usage? How do you guarantee your users will do it right so that the dtype is consistent with their own C struct?

Furthermore, how will you utilize CuPy in your Optix Python binding? What kind of CuPy operat

[2020-11-20 20:55] keithroe commented on #2031
Sorry, I switched to a simpler SbtRecord layout for my 2nd example code with just the header and a float3 for the user data.

In a real-world case, the struct's post-header user data is likely to be much more complicated and heterogenous.   I worry about your approach scaling with complexity.  Here is my first example again:
[code]

It is more difficult to see how to set the data for an array of s

[2020-11-20 21:25] leofang commented on #2031
Oh, so you meant it is possible for OptiX to simply use CuPy arrays as a "container" that holds the actual GPU data, without requiring it to be able to perform operations other than copying (to and from device)? This would indeed make everyone's life a lot easier 😂

That is already possible. CuPy provides a rather complete wrapper for CUDA C APIs, so anything you can do in C you can likely do it u

[2020-11-21 23:24] lucasrodes opened #4312 "cupy.random.bytes not working"
* Conditions (you can just paste the output of `python -c 'import cupy; cupy.show_config()'`)

[code]

* Code to reproduce
[code]

* Error messages, stack traces, or logs
[code]

[2020-11-23 16:38] keithroe commented on #2031
@leofang Can you please point me to documentation on the `cp.cuda.memory` module used above?  I can't find it in the CuPy docs.  I can find `cp.cuda.alloc` and `cp.cuda.runtime.malloc `

thanks

[2020-11-23 18:02] leofang commented on #2031
Oops @keithroe I am sorry! I've been working with CuPy internals for far too long that I forgot what's exposed as public API 😅 The access to `cupy.cuda.memory` module as done in all of my snippets above is unnecessary, as all functionalities are exposed one level up to `cupy.cuda`, so for example
private | public
-------|-------
`cupy.cuda.memory.alloc` | `cupy.cuda.alloc`
`cupy.cuda.memory.Unowne

[2020-11-23 18:16] keithroe commented on #2031
Perfect.  Thanks

[2020-11-24 07:05] leofang opened #4317 "Make `ctypes.c_void_p` optional for copying to/from host memory?"
Take this function as an example: https://github.com/cupy/cupy/blob/50361e0d42ca8e41e7200382c3031cfc4e201764/cupy/cuda/memory.pyx#L368-L378
I found it a bit cumbersome having to wrap a pointer by `c_void_p` first. Using integer as input is more intuitive IMHO. IIUC this is because the distinction between host and device pointers was desired: `c_void_p` is always for the former and `MemoryPointer`

[2020-11-24 07:33] toslunar commented on #4312
The bug came from a typo in https://github.com/cupy/cupy/pull/484/files#diff-91d0b84e88f4b46502000e7ec2cf6c4ebd35d9089d800805c1caf80525a20b21.  `numpy.bytes` -> `numpy.random.bytes`.

[2020-11-24 09:12] kmaehashi commented on #4317
Thanks for the proposal! We discussed this today, but from the dev side, there's not much motivation to accept int because `copy_*` is not frequently called in CuPy codebase. I feel that it's better to keep it strictly-typed (similar to C semantics) as this is relatively a low-layer API.
Do you often use these copy APIs from your code outside of CuPy?

@okuta Are there any background why `c_void_p

[2020-11-24 09:34] kmaehashi commented on #4312
Hi, thanks for reporting! Although I'm going to address this bug in #4318, there are several discussions in CuPy dev team whether the current implementation is appropriate. More specifically there can be several ways to provide `cupy.random.bytes`:

- Just call the NumPy implementation (as-is)
    - Pros: Convenient when users are using CuPy as a replacement for NumPy
    - Cons: Implicitly consum

[2020-11-24 10:17] lucasrodes commented on #4312
Hi,
Thanks for your answers!

First of all, a small disclaimer: I am new to working with cupy.

My case might be a bit specific, but let me briefly explain it:
1. Generate array of shape _N_ x 1, _N_: number of elements (each of them being a byte sequence if a given length _L_). So, basically an array of bytes: `[b'\xc9', b'DV', b'\x93/', ...]`.  **<-- problem raised here**
2. Next, I am trying to

[2020-11-24 11:07] kmaehashi commented on #4312
Thanks for sharing the details of your use-case @lucasrodes!
In your case, I think it's better to generate and handle data as a sequence of uint8 instead of bytes.

[code]

As for hash functions, you will need to write or find the CUDA implementation like [this one](https://github.com/tadasv/gpgpu_sha/blob/master/src/sha1_kernel.cu#L153]), load it using `cupy.RawKernel` and pass the generated rand

[2020-11-24 15:53] leofang commented on #4317
Thanks @kmaehashi for quick discussion over my question. Yes in one of our code we ended up using Runtime API directly, something like
[code]
But it is arguably too low-level and I'd prefer to reuse CuPy's utilities whenever possible. My impression is that, despite our view of them being low-level, they are documented public APIs:
https://docs.cupy.dev/en/stable/reference/generated/cupy.cuda.Memor

[2020-11-24 16:12] lucasrodes opened #4321 "cupy.RawModule error: "AttributeError: 'NoneType' object has no attribute 'split'""
* Conditions (you can just paste the output of `python -c 'import cupy; cupy.show_config()'`)

[code]
* Code to reproduce
Testing class [cupy.RawModule](https://github.com/cupy/cupy/blob/98dd97f804b9f766ea9c5cd5b8b668f6181bc7eb/cupy/core/raw.pyx#L294), I was trying to reproduce the example from https://github.com/cupy/cupy/issues/3728#issuecomment-670018685.

[code]
* Error messages, stack traces,

[2020-11-24 16:13] lucasrodes commented on #4312
Thanks for your hints, @kmaehashi, really appreciate it. While trying this I ran into an error. I opened issue #4321

[2020-11-24 16:13] #4312 closed

[2020-11-24 16:28] leofang commented on #4321
This error is raised  because your `PATH` is not set up correctly so CuPy can't find your `nvcc`. Two questions:
1. Do you have to set `backend='nvcc'`? Is it because the default (`'nvrtc'`) does not compile Thrust headers?
2. Could you check if `nvcc` can be found in your `PATH`? If not, try setting an env var `NVCC` to your `nvcc`, such as `export NVCC=/opt/cuda-10.1/bin/nvcc`, before launching

[2020-11-24 17:08] lucasrodes commented on #4321
Thanks for your message, @leofang.

---

Yes, otherwise it appears not to be working properly.

[code]

This has happened with other files when trying to import other libraries (cuda.h, stddef.h etc.) See this example (using code from [nvidia](https://developer.nvidia.com/blog/easy-introduction-cuda-c-and-c/)):

[code]

Throws

[code]

---

Couple of checks:

[code]

So I set the environment varia

[2020-11-24 17:19] lucasrodes commented on #4321
Couple of checks:

[code]

So I set the environment variable `NVCC` and now the code opening the issue seems to be working!

However, the nvidia code from [here](https://developer.nvidia.com/blog/easy-introduction-cuda-c-and-c/) is throwing the same error:

[code]

Thanks for your time, really appreciate it!

[2020-11-24 19:24] leofang commented on #4321
Hi @lucasrodes I don't understand the question. Does your [original example](https://github.com/cupy/cupy/issues/4321#issue-749846971) work now after `NVCC` is set? Your [2nd example](https://github.com/cupy/cupy/issues/4321#issuecomment-733115088) is illegal code. Only kernels and device functions can be compiled and loaded by `RawModule`, not host functions.

[2020-11-24 20:38] leofang commented on #4247
I believe whenever there's opportunity to use fewer bits for speedup, we should try to allow it!

[2020-11-24 22:01] lucasrodes commented on #4321
Hi @leofang, indeed the code from the [first example](https://github.com/cupy/cupy/issues/4321#issue-749846971) is working, thanks a lot.

Now I see what you mean. I am new to CUDA programming, so all these issues are new to me.

Once again, thanks for your time & help.

[2020-11-24 22:01] #4321 closed

[2020-11-24 22:03] leofang commented on #4321
Glad it worked! Welcome to the GPU wonderland!

[2020-11-25 02:31] #4254 closed

[2020-11-25 10:36] toslunar opened #4330 "Support 0×0 matrices in linalg routines"
### `cupy.linalg.solve`, `cupy.linalg.inv`
[code]

<details>

[code]

</details>

### `cupy.linalg.lstsq`
[code]

<details>

[code]

</details>

[2020-11-25 10:58] kmaehashi commented on #4209
Both Linux/Windows packages can now be installed via `pip install cupy-cuda111`, thanks to the PyPI team!

[2020-11-25 10:58] #4209 closed

[2020-11-25 11:04] kmaehashi commented on #4218
Thanks! Fixed by backporting #4027 (+ #4162).
Will add test in https://github.com/cupy/cupy/pull/4326.

[2020-11-25 11:04] #4218 closed

[2020-11-25 11:10] #3615 closed

[2020-11-25 11:10] kmaehashi commented on #3619
Closing as it seems stale. Please feel free to reopen when needed.

[2020-11-25 11:10] #3619 closed

[2020-11-25 11:13] kmaehashi commented on #3637
Thanks for the feature request! I'm closing the issue as #2552 covers this topic, let's continue discussing there.

[2020-11-25 11:13] #3637 closed

[2020-11-25 12:57] leofang commented on #4218
Thanks @kmaehashi @emcastillo!

[2020-11-26 04:51] leofang commented on #4132
btw I noticed the cythonized .c & .cpp codes could be very different between CUDA and HIP builds, so if uploading sdist to PyPI is on the roadmap, this issue must be addressed (ex: can we upload two sets of sdist, one for CUDA and the other for HIP?)

[2020-11-26 06:54] kmaehashi opened #4344 "Re-enable `CUPY_NUM_BUILD_JOBS` option"
I'm currently investigating the issue reported in #4339.

## Without parallelism

https://jenkins.preferred.jp/job/chainer/job/other_cupy_release_builder/133/CUDA=11.1,PYTHON=3.7.0,label=mn1-p100/consoleFull

[code]

## With parallelism

https://jenkins.preferred.jp/job/chainer/job/other_cupy_release_builder/132/CUDA=11.1,PYTHON=3.7.0,label=mn1-p100/consoleFull

[code]

[2020-11-26 07:43] #4220 closed

[2020-11-26 08:16] kmaehashi commented on #4344
Emilio and I found that there's a race here (build for `thrust.o` and `cupy_thrust.cu` shares the same UnixCCompiler instance)
https://github.com/cupy/cupy/blob/v9.0.0a2/cupy_setup_build.py#L940-L954

[2020-11-26 09:53] #4344 closed

[2020-11-26 12:59] kmaehashi opened #4350 "Consider migrating to PyData Sphinx Theme?"
Recently docs of NumPy's master branch migrated to the PyData Sphinx Theme: https://numpy.org/devdocs/
It looks nice and clean, I think it's worth considering to migrate CuPy docs. https://pydata-sphinx-theme.readthedocs.io/en/latest/

[2020-11-26 14:25] ma-sadeghi opened #4352 "import cupy 9.0.0a2 doesn't work on Windows 10"
Thank you for using and contributing to CuPy!

If your issue is a **request for support in using CuPy**, please post it on [Stack Overflow](https://stackoverflow.com/questions/tagged/cupy) or Google Groups ([en](https://groups.google.com/forum/#!forum/cupy) / [ja](https://groups.google.com/forum/#!forum/cupy-ja)).
Developer team members are monitoring questions on these channels.

If it is a bug r

[2020-11-26 19:59] grlee77 opened #4354 "suprising behavior of cupy.array on numpy views with base array of a different dtype"
The following example illustrates that creating CuPy array from a NumPy view where the underlying array has a different base dtype can result in unexpected behavior. Here is a minimal concrete example for a boolean view of a `uint8` array. In NumPy calling `np.array()` creates a copy. In CuPy, the created array has flags.owndata=True as expected, so it looks like it is a copy, but the underlying d

[2020-11-27 00:24] leofang commented on #4352
Hi @ma-sadeghi Thanks for reporting! This is surprising, could you help me debug it? I need to know the output of the following snippet on Windows:
[code]

[2020-11-27 02:49] ma-sadeghi commented on #4352
No worries, it doesn't return anything for me.

[2020-11-27 04:31] leofang commented on #4352
Thanks! Right, this callback module is new, so it's not included in the v8 releases. I will push a fix.

[2020-11-27 04:33] leofang commented on #4352
btw forgot to say, though this is irrelevant to my planned fix (as the callback doesn't work on Windows anyway): Any chance you know the path to an MSVC compiler installed on your system? I couldn't make sense of the output you reported.

[2020-11-27 06:43] kmaehashi commented on #4095
NumPy 1.19.3 (Oct 29) and SciPy 1.5.4 (Nov 5) now supports Python 3.9.
https://pypi.org/project/numpy/1.19.3/
https://pypi.org/project/scipy/1.5.4/
Time to start supporting Python 3.9 in CuPy.

[2020-11-27 17:53] ma-sadeghi commented on #4352
I don't think I have MSVC compiler installed

[2020-11-28 09:48] takagi commented on #3513
It seems that the newer cuSPARSE Generic API supports 64bit indices (and the legacy API we currently use only supports 32bit indices).

https://docs.nvidia.com/cuda/cusparse/index.html#cusparse-generic-api-reference

[2020-11-28 09:55] takagi commented on #3513
cuSPARSE Generic API is starting with CUDA 10.1.
https://docs.nvidia.com/cuda/archive/10.1/cusparse/index.html#cusparse-generic-api-reference

[2020-11-29 03:42] leofang commented on #743
I think this has been resolved for quite some time.

[2020-11-29 04:42] takagi opened #4358 "Generating CUDA-related library FFI from its headers"
Rel #3513.

Currently, the FFI for CUDA-related library is hand-written in the files as `cusparse.pyx`, `cusparse.pxd` and `cupy_cusparse.h` for cuSPARSE. It may be time to generate it from its C header files automatically. The process consists of two parts: parsing and generating.

As for parsing, any reasonably matured C parser in any language would be fine. For example, the following gist is th

[2020-11-29 04:50] leofang commented on #4358
It would great to automatic this and extend it to generating stubs for RTD and HIP as well, as it is indeed a painful process to wrap a batch of APIs. @anaruse and I had discussed this briefly offline, and he also suggested pycparser, but I haven't had time to experiment with it 😅 Though it still looks hard to me to sort out everything...

[2020-11-29 05:44] ma-sadeghi opened #4359 "Feature Request: scipy.sparse.linalg.spsolve"
`cupy` seems to lack a performant direct sparse solver.

[2020-11-30 04:12] #4352 closed

[2020-11-30 04:26] kmaehashi opened #4360 "[Announcement] Removal of outdated pre-release wheels from PyPI"
Currently, we are distributing CuPy binary packages (`cupy-cudaXXX` wheels) via PyPI. As the size of CuPy wheels is relatively large compared to other packages, we are starting to occupy a non-negligible space quantity of PyPI storage.

To help keep the PyPI ecosystem healthy, we are now planning to remove wheels of outdated pre-releases (alpha/beta/release candidate) from PyPI. This does not affe

[2020-11-30 05:43] leofang commented on #2550
I've been looking into `ElementwiseKernel` lately (for other reasons), and I think @the-lay was right in https://github.com/cupy/cupy/issues/2550#issuecomment-544157487. Looks to me that as long as we make `ElementwiseKernel` recognize `texObj` the rest can be handled in users' hand.

[2020-11-30 08:34] kmaehashi commented on #4352
Thank you for the feedback, we'll soon make a release including this fix as v9.0.0a3.

[2020-11-30 10:33] toslunar commented on #4309
After #4293,

[code]

[2020-11-30 15:40] leofang commented on #4352
Hi @ma-sadeghi I know nothing about CUDA + Windows, so I took a quick look at the [Installation Guide](https://docs.nvidia.com/cuda/cuda-installation-guide-microsoft-windows/index.html) and found that MSVC needs to be installed before installing CUDA Toolkit. Looks like you're using a conda environment, but given that we haven't built Windows packages yet (https://github.com/conda-forge/cupy-feeds

[2020-11-30 17:52] ma-sadeghi commented on #4352
@leofang You're right, I have Cuda Toolkit installed on conda (from https://anaconda.org/anaconda/cudatoolkit), and then I installed cupy using `pip` in my conda environment.

When I run `nvcc --version` in `cmd` or conda prompt, I get a valid output:

[code]

I'm not really familiar with C++ build tools, but I just installed the C++ build tools from Microsoft, and still I get no output when runni

[2020-11-30 19:46] ashkspark commented on #2457
Regarding this issue, does CuPy have UMFPACK sparse direct solver?

[2020-12-01 01:51] takagi opened #4371 "Method-level parameterized test"
We can parametrize test classes by `testing.parameterize`. It would be nice if we can do a similar thing on the test method level. `pytest` has `pytest.mark.parametrize` that may be used for that purpose, however, there are the following problems once we are to use it naively in CuPy:

- `pytest.mark.parametrize` can not be used in a subclass of `unittest.TestCase`
- it can not be with `cupy.testi

[2020-12-01 02:42] #3983 closed

[2020-12-01 03:13] toslunar commented on #4371
It seems working.

[code]

result

[code]

[2020-12-01 03:27] toslunar commented on #4371
It would be simpler to stop inheriting `unittest.TestCase`.

Also note that https://docs.pytest.org/en/stable/unittest.html#pytest-features-in-unittest-testcase-subclasses says:

[2020-12-01 03:27] takagi commented on #4371
Oh, it may depend on pytest version. It seems I used older pytest and let me check it with `pytest==4.1.1`.

[2020-12-01 04:27] leofang commented on #4359
Looks like a dup of #2457, which might have an easy solution as @anaruse pointed out in #4000.

[2020-12-01 04:27] leofang commented on #4000
Related: #4000

[2020-12-01 04:50] takagi commented on #4371
It works!

[2020-12-01 04:50] #4371 closed

[2020-12-01 07:33] kmaehashi commented on #4359
Closing as duplicate of #2457.

[2020-12-01 07:33] #4359 closed

[2020-12-01 09:16] ma-sadeghi commented on #4000
For some reason, `cupyx.scipy.sparse.linalg.lsqr` is very slow compared to `scipy.sparse.linalg.spsolve`. Here's a benchmark (# of non zeros is roughly 6X the number of pores [nodes]):

<img src="https://user-images.githubusercontent.com/14086031/100720063-74eb9900-338b-11eb-86b7-2afcb700c4b5.png" width=70%>

[2020-12-01 16:26] leofang commented on #4358
I noticed from https://github.com/cupy/cupy/pull/4338#discussion_r533071052 that if we set up compile time constants correctly for the version checks, Cython is able to eliminate dead code for us so that we don't have to add stubs for APIs that do not exist in older versions (of CUDA or HIP). Sounds like a viable strategy to save us some headache? Though I still have no clue how to automate this..

[2020-12-01 21:03] leofang opened #4383 "Windows: Error in compiling CUB block reduction kernels"
From the new Windows CI https://ci.preferred.jp/cupy.win.cuda100/65528/#L96449 being introduced in #4362. Looks like Windows is not happy with `CUB_NS_PREFIX` (the line at which the first error was raised):
[code]

Full log:
[code]

[2020-12-01 21:06] leofang commented on #4383
@allisonvacanti Quick question: Could this be related to the issues tracked in NVIDIA/cub#239? Any chance you already knew how to fix it? 🙂

[2020-12-01 22:19] allisonvacanti commented on #4383
That issue was for a different problem that came up with the `CUB_NS_` macros. I've not seen this one before. If someone can come up with a small CUB-only example of this I can take a closer look.

The compiler error doesn't say the symbol it's picking up here. The line info points to the `CUB_NS_PREFIX` macro, but it could be that a) this macro is set to something strange, or b) the macro itself

[2020-12-02 02:56] anaruse commented on #4000
Thank you for the benchmark results!

There might be several reasons why `cupyx.scipy.sparc.linalg.lsqr` using [cusolverSpXcsrlsvqr()](https://docs.nvidia.com/cuda/cusolver/index.html#cusolver-lt-t-gt-csrlsvqr) has lower performance compared with `scipy.sparse.linalg.spsolve`.

* `scipy.sparse.linalg.spsolve` uses sparse LU decomposition, whereas `cupyx.scipy.sparc.linalg.lsqr` uses sparse QR deco

[2020-12-02 03:34] kmaehashi commented on #3891
Added the highlights for v9 and updated timeline.

[2020-12-02 03:39] takagi commented on #3513
CuPy already has cuSPARSE Generic API supports, #3129 and #3242, awesome @anaruse!

[2020-12-02 05:26] kmaehashi commented on #4352
Unfortunately, as many test failures are observed in #4362, we decided not to release v9.0.0a3 this time and will work on fixing the Windows issues towards v9.0.0b1 planned next month. We are going to take down v9.0.0a2 Windows wheels. We're sorry for the inconvenience.

[2020-12-02 05:28] kmaehashi commented on #4352
This is everything I could obtain via `sysconfig` module in my test environment:
[code]

[2020-12-02 07:40] kmaehashi opened #4387 "`tensordot_core` raises `CUDA_ERROR_INVALID_VALUE`"
[code]

[2020-12-02 07:48] emcastillo commented on #3822
Seems the CUB pr got closed 😅
https://github.com/NVIDIA/cub/pull/196

[2020-12-02 08:22] ipe-zhangyz commented on #4218
Hi @leofang ！I encountered this problem on ROCM 3.9. I read the messages in #4027 , but still not very clear about how this problem was solved. Is the solution merged in any released version of CuPy? I tested v8.1.0, v8.2.0 and v9.0.0a2 on ROCM 3.9 and all of these tests failed due to this problem.

[2020-12-02 08:24] emcastillo commented on #4387
Seems like this comes from the matrix int kernel with a large grid size

[2020-12-02 09:26] kmaehashi commented on #3695
Let me close this issue as currently we don't have a plan to support OpenCL in the short/mid-term. Many parts of CuPy codebase heavily rely on CUDA API/semantics so introducing an OpenCL backend will require a huge design change and rewrite.

[2020-12-02 09:26] #3695 closed

[2020-12-02 09:29] kmaehashi commented on #3825
I think the performance issue has been resolved in recent CuPy versions with the rewritten `tensordot_core`. However, I found another issue when testing your snippet: #4387 so we'll working on it.

[2020-12-02 09:29] #3825 closed

[2020-12-02 10:29] toslunar opened #4389 "`linalg.lstsq` is broken for complex types"
### Code to reproduce

[code]

### Error messages, stack traces, or logs
[code]

[2020-12-02 10:38] takagi commented on #4358
I think of starting with the following script. It generates FFIs and wrapper functions for some cuSPARSE API that are listed in `config` dict in the file. It still needs API listed by hands, but would make the effort for working with wrappers far less.

[code]

<details>
<summary>script</summary>

[code]
</details>

<details>
<summary>output</summary>

[code]
</details>

[2020-12-02 15:04] leofang commented on #3513
That's right, so using 64-bit indices becomes possible!

[2020-12-02 15:10] leofang opened #4393 "Relying on Cython to eliminate some C stubs that were needed for version compatibility"
As suggested by @takagi I am opening this issue for sharing the information. In #4338 I found that Cython is smart enough to eliminate dead code if there's enough information provided at compile time. For example, in https://github.com/cupy/cupy/pull/4338#discussion_r533071052 I showed that the two `if-not supported-then-raise` clauses there completely eliminated the need for adding stubs for RTD

[2020-12-02 18:13] carterbox commented on #3370
It looks like the [CUDA documentation](https://docs.nvidia.com/cuda/cufft/index.html#common-cudadatatype-types) mentions complex half-precision as far back as toolkit 8 as part of the `cudaDataType` enum. This enum is mentioned in the CuSOLVER, CuBLAS, CuFFT, and CuSPARSE documentation.

Has anyone actually tried using the half-complex? The documentation seems to indicate that there is broad suppo

[2020-12-02 19:44] leofang commented on #3370
Hi @carterbox I checked cuFFT and cuBLAS quickly:
- cuFFT: It seems possible to do C2C/R2C/C2R transforms involving `complex32` if we use the `cufftXtMakePlanMany()` API to create plans. I never test it myself, but I could add wrappers to them easily for further evaluation in the Python space.
- cuBLAS: Note that only a very limited subset of cuBLAS functions (suffixed with "Ex") accept `cudaDataT

[2020-12-02 19:47] leofang commented on #3370
Another thing is how to make this work in HIP...😞

[2020-12-03 05:58] emcastillo commented on #4393
This looks pretty neat!

[2020-12-03 07:36] #4200 closed

[2020-12-03 08:58] leofang commented on #4218
@ipe-zhangyz, this is fixed in v8.2 (#4327) and should just work in v9.x (the master branch). Did you install `hipcub` and `rocprim`? They are part of the ROCm libraries but are optional packages, not installed by default when you install the meta package. See the installation guide: https://docs.cupy.dev/en/stable/install_rocm.html.

[2020-12-03 09:27] EliteMinerZMC opened #4396 "CuPy Failed to Open nvrtc-builtins64_111.dll NVRTC_ERROR_BUILTIN_OPERATION_FAILURE (7)"
Failing to imprort nvrtc-builtins64_111.dll while running
Hoping this is not something with CuPy but with me as thats the easier fix
Was having issues with python version 3.7.9 so upgraded to 3.8.6 and now import worked (previously i couldnt get past importing cupy) now it seems after moving to a new venv and installing new python and cupy its failing here, far as i can tell the dll is present so

[2020-12-03 11:28] EliteMinerZMC commented on #4396
3rd reinstall of Cuda exactly thesame as the other previous installs fixed this issue asuming something transient was going on breaking the specific dll. Closing issue

[2020-12-03 11:28] #4396 closed

[2020-12-03 16:08] ma-sadeghi opened #4398 "Using multiple GPUs for storing cupy arrays"
I want to create and manipulate a `cupy` array that doesn't fit on a single GPU memory, but it does on two. When I create the array, I was expecting that `cupy` would automatically use the combined memory of the two GPUs I have to store the array, but I get `OutOfMemoryError`.

Is there a way around it?

[2020-12-03 17:06] pentschev commented on #4398
I believe you're looking for something like [Dask](https://dask.org/) (or, more specifically, [Dask-CUDA](https://dask-cuda.readthedocs.io/en/latest/)), which can automatically split work on multiple GPUs and multiple nodes. See an example [here](https://github.com/mrocklin/dask-gpu-benchmarks/blob/master/cupy-transpose.ipynb).

Disclaimer: I'm a maintainer of Dask-CUDA and core dev of Dask.

[2020-12-03 18:29] leofang commented on #4398
Let me show you a very hacky way to achieve simple operations using managed memory. CuPy was not intended to be used in this way AFAIK, at least I don't think we included tests like this, but with all the flexibilities gradually built up in the past few versions, the following should be doable on CuPy v8.x:
[code]
Output:
[code]
A snapshot of `nvidia-smi` showing both GPUs are kept busy (should re

[2020-12-04 03:11] ipe-zhangyz commented on #4218
Hello, @leofang , I have hipcub and rocprim installed. And I checked out the master branch of cupy and reinstalled it, unfortunately, the problem still exists:

[code]
In the log file generated by `pip install cupy --no-cache-dir -vvvv`, there are logs like this:

[code]
I'm not sure whether the cub module is built in my case, as there are some hints that conflict with each other in the log. For e

[2020-12-04 07:00] leofang commented on #4218
@ipe-zhangyz Your error log looks specious to me. First, note that the error is different from those reported originally and on SO: yours is
[code]
whereas the original error (that we fixed now) is
[code]
I think it's suggesting either due to a dirty build, or your env vars were messed up during build time.

For example, if it used to work for you (I think you made it work for quite a while?) but

[2020-12-04 07:36] grlee77 opened #4405 "Jitify/CUB compilation failure"
Here is a case where a Jitify/CUB compilation error occurs. I came across it when I accidentally passed a complex-valued input to a function that calls sum with fixed dtype=cupy.float64. For example:

[code]
Indeed, it does not make sense to sum a complex array using a real dtype, so this does seem like a valid failure, I just wondered if we could detect this type of case and raise a simpler error

[2020-12-04 08:40] leofang commented on #4405
This also happens when CUB/cuTENSOR is *not* in use, so it's a generic CuPy error. I guess we need to a way to detect and convert the dtypes internally, raise `ComplexWarning`, etc. How does NumPy achieve this?
[code]

[2020-12-04 08:50] leofang opened #4406 "Support FFT with more than 2^31 elements"
This is a parallel issue of #3513 but for FFT functions. cuFFT provides API to do this, so I think it's possible.

Work plan:
- [ ] Wrap low-level cuFFT APIs: We only need `cufftXtMakePlanMany` and `cufftXtExec`; this will also be used as part of #3370, the main driver for me to look into this
- [ ] Native support in high-level APIs like `cupy.fft.fftn`: We should determine which API to use depend

[2020-12-04 09:24] ipe-zhangyz commented on #4218
Hello @leofang , thanks for your reply! As you said that there may be something wrong with my  env vars, I switched to a new machine which has not been installed with any version of CuPy to build it form source. However, the problem is the same. I build it as follows:
[code]
Here is the log. There are some errors about _cuda_runtime.h_ not found, which I don't know if matters.

[log.LOG](https://g

[2020-12-04 10:06] leofang commented on #4218
@ipe-zhangyz Thank you. Any chance when it worked previously for you, you were on a machine with CUDA (not ROCm) installed, but now there is none? This would explain and is indeed a bug.

[2020-12-04 11:21] ipe-zhangyz commented on #4218
@leofang , the machine I used before has only ROCm installed, no CUDA. Some of my test cases used to fail before I followed your instructions. We discussed those problems here #4216 .

[2020-12-04 16:59] leofang commented on #4218
@ipe-zhangyz I meant previously you didn't have issues with `import cupy`, right? This is very odd, I don't know what's changed after your upgrade to ROCm 3.9. In CuPy's CI we currently always test building and importing against the latest ROCm.

A few more questions to help me investigate further:
1. Could you run `hipconfig` and post the output here?
2. Are there other versions of ROCm installed

[2020-12-05 05:17] ipe-zhangyz commented on #4218
@leofang , with ROCm 3.5 and CuPy v8.0.0，I have no issue with `import cupy`.
Currently I have tested CuPy with ROCm 3.5 and ROCm 3.9 on two different machines, both of which have more than one version of ROCm installed. I use `module` (an environment variables management tool) to switch among different versions of ROCm.
I uninstalled the previous CuPy  v8.0.0 on ROCm 3.5 and reinstelled it and got

[2020-12-05 05:47] leofang commented on #4218
Thanks, @ipe-zhangyz. Your hipconfig logs seem legit. Could you do one stupid thing to me? Set
[code]
and rebuild a case in which you know import CuPy would fail? I feel I was actually very close 🤞

[2020-12-05 06:26] ipe-zhangyz commented on #4218
@leofang , do you mean to build CuPy in an environment that has only ROCm installed but has an  NVCC env var exported? I tried it as follows:
[code]
This cannot install CuPy successfully. Here is the log.
[log-ROCm39-NVCC.LOG](https://github.com/cupy/cupy/files/5646590/log-ROCm39-NVCC.LOG)

[2020-12-05 14:34] suntaochun opened #4412 "Compilation Error from the latest Source Code in GitHub possibly caused by CUSPARESE APIs"
Kindly need help.
I'm currently trying to install cupy packages by compiling the source code released in the GitHub.

My System version is:
`Ubuntu 18.04`

My CUDA version is:
`Copyright (c) 2005-2019 NVIDIA Corporation`
`Built on Fri_Feb__8_19:08:17_PST_2019`
`Cuda compilation tools, release 10.1, V10.1.105`

My Python version is:
`Python 3.8.5`

And when installing the packages by the following

[2020-12-05 16:06] leofang commented on #4218
Thanks, @ipe-zhangyz. This is precisely the error I am looking for. I will try to work out a patch. The reason we didn't notice it so far is that our dev environments always have CUDA & ROCm GPUs coexist (for cost saving)...

[2020-12-05 17:23] chrisroat opened #4414 "ndimage filters not compiling properly on docker install"
I get a compilation error when using `ndimage.maximum_filter` on a docker Ubuntu18.04 install.   If I installed on my Ubuntu20.04 machine within a pipenv (also with cuda 10.1 and cupy 8.2), I do not get this problem.

* Conditions (you can just paste the output of `python -c 'import cupy; cupy.show_config()'`)

Run on the docker image created below

[code]

* Code to reproduce

Dockerfile:
[code]

[2020-12-05 17:54] grlee77 commented on #4414
I think this was resolved in the master branch by #4271 which bundles `math_constants.h` with CuPy. Normally this header file is part of NVIDIA's CUDA toolkit and would live somewhere like `/usr/local/CUDA/include`.

Those math constants were used for NaN/INF handling in an edge case (#4083), which was backported to the 8.x branch. Perhaps bundling of math_constants.h also needs to be backported.

[2020-12-05 18:57] chrisroat commented on #4414
The commit https://github.com/cupy/cupy/commit/d5b31f4a5e4263b429ae8cdd4d52220815f1eb59 for #4271 is tagged for 9.0.0a2, but that cupy version also seems to have the problem.  The inclusion of the header seems to behind a "hip_environment" flag -- forgive my ignorance is that somehow the issue?

[2020-12-05 19:22] grlee77 commented on #4414
I will try to take a look later this weekend. The HIP stuff has to do with  code for supporting AMD GPUs.

[2020-12-05 19:52] leofang commented on #4414
This will happen even before #4271. The reason is the runtime docker does not contain CUDA headers, so any places where CUDA headers are required at runtime would lead to a similar error. A variant of this issue is known.

[2020-12-05 19:57] leofang commented on #4414
A short term solution would be to make #4271 work for CUDA as well (there the bundle was only in effect on HIP). But the long term solutions are
- Use docker images that contain the full CUDA Toolkit, not just the runtime libraries
- Ask NIVIDA for agreement for CuPy to be exempt from EULA so that CuPy can bundle all CUDA headers to address this and other issues

[2020-12-05 23:33] chrisroat commented on #4414
I verify that changing the Dockerfile to use the devel nvidia images mitigates the issue.  For some header files, what's another 750MB (compressed) between friends?  <sigh>

[code]

[2020-12-06 08:16] leofang opened #4415 "Bug: HIP builds implicitly assume CUDA is present"
In https://github.com/cupy/cupy/issues/4218#issuecomment-737071882 @ipe-zhangyz reported that `import cupy` still fails on both v8.2 and master despite the CUB issue was already fixed in #4327 (a backport of the support added in #4027).

It turns out that it has to do with the build script. We borrow most of the build infrastructure from CUDA, but one of the assumptions is that CUDA Toolkit is pre

[2020-12-06 08:45] leofang commented on #4218
Let's move the discussion to #4415.

[2020-12-07 03:44] leofang commented on #4414
It at least includes NVCC and the whole compiler toolchain, and static device runtime libraries. I don't know the detail, though.

[2020-12-07 04:25] leofang commented on #4383
Hi @allisonvacanti Thanks so much for your quick reply and pointers, and sorry for getting back late.

Ok thanks! I'll try to post a small snippet later and ping you, in a separate comment. We have a CUB block reduction kernel to optionally back all kinds of reductions in CuPy, and the code has to be compiled at runtime. The kernel body can be found in this function:
https://github.com/cupy/cupy/b

[2020-12-07 09:31] kmaehashi commented on #4412
Thanks for reporting! I'm working on the fix in #4419.
If you need an immediate workaround, please upgrade to CUDA 10.1 Update 2 (V10.1.243) or later (currently your have CUDA 10.1 (V10.1.105)).

Due to ABI changes between CUDA 10.1, 10.1 Update 1, and 10.1 Update 2, we were unable to support CUDA 10.1 Update 1 or earlier with the same package `cupy-cuda101`.

[2020-12-07 10:13] suntaochun commented on #4412
Thanks for @kmaehashi 's kind reply. I have already seen #4419 and am surprised that this issue receives your quick response. I'm closely paying attention to the future updates of the cupy, which is really useful to be an accelerator of the numpy with CUDA!
I have already installed Tensorflow, etc. ,with the current version of CUDA, so I will just wait for your newly fix-solved version and won't c

[2020-12-07 19:02] kmaehashi opened #4421 "Separate compilation not working on Windows"
The following code runs fine on Linux but fails on Windows:

[code]

Error raised in Windows:

[code]

Internally, the above code does the following nvcc separate compilation:

[code]

It generates a correct cubin on Linux:

[code]

But on Windows it generates an empty (?) cubin, which is causing `named symbol not found` error:

[code]

It seems we need some other commands to do separate compilati

[2020-12-08 05:05] anaruse commented on #4421
This might be a dumb question, but why do we need a separate compilation?

[2020-12-08 05:06] leofang opened #4423 "`cupy.searchsorted` doesn't seem to handle NaN correctly?"
Reproducer:
[code]

[2020-12-08 05:32] leofang commented on #4423
Discussed with @emcastillo offline, and we think this is undefined behavior, as with NaNs in the middle the array's sort order is not maintained. Closing...

[2020-12-08 05:32] #4423 closed

[2020-12-08 05:51] leofang commented on #4421
Two examples are cooperative group or dynamic parallelism, where a device linking (to the static device runtime library) must happen, and so a separate compilation is required.

[2020-12-08 05:54] leofang commented on #4421
@kmaehashi I found CMake provides an option `CUDA_RESOLVE_DEVICE_SYMBOLS` to address this, but I don't know which compiler flag(s) it translates to: https://stackoverflow.com/a/51353324/2344149

[2020-12-08 06:57] #4389 closed

[2020-12-08 07:25] emcastillo commented on #4393
We feel that this might be a bit dangerous in case this behavior is not confirmed to be kept in future versions, so we might want to check cython docs and ask them directly

[2020-12-08 08:32] anaruse commented on #4421
I'm not familiar with separate compilation, but what happens if you compile with the following options?

    nvcc -gencode=arch=compute_70,code=sm_70 -v --device-c -ftz=true test.cu -o test.o
    nvcc -gencode=arch=compute_70,code=sm_70 -v --device-link --cubin -ftz=true test.o -o test.cubin

[2020-12-09 16:33] leofang commented on #4132
ROCm 3.10:
<img width="384" alt="rocsolverAPI" src="https://user-images.githubusercontent.com/5534781/101657748-3d778f00-3a12-11eb-8665-88bdc0545318.PNG">
https://rocmdocs.amd.com/en/latest/Current_Release_Notes/Current-Release-Notes.html#new-rocsolver-apis

[2020-12-10 03:49] leofang commented on #4421
I think it's what we do?

[2020-12-10 03:56] anaruse commented on #4421
I don't know well about Windows, but the Windows compiler probably dosen't have a -fPIC option, does it?

    nvcc -gencode=arch=compute_70,code=sm_70 -ftz=true -rdc=true -Xcompiler -fPIC -shared -o test_rdc.o test.cu
    nvcc -gencode=arch=compute_70,code=sm_70 --cubin -ftz=true -rdc=true -Xcompiler -fPIC -shared test_rdc.o --device-link -o test_rdc.cubin

[2020-12-10 04:13] leofang commented on #4421
Interesting...Yes for compiling the CUDA codes at build time, I do notice that MSVC does not use `-fPIC` to `postargs`:
https://github.com/cupy/cupy/blob/fa3a87494068d46816f7305735cfa3661cc568b3/cupy_setup_build.py#L1014
So perhaps we could give it a shot? Though if it's the problem, nvcc should have raised an error...

[2020-12-10 18:42] briannghiem opened #4429 "Import error with cupy-cuda101"
## Issue
I'm running into issues with importing CuPy after pip installing cupy-cuda101. I've ensured that I'm using the correct CUDA version available and that I only have one version of CuPy installed.

## Code
[code]

## Error
[code]

## Environment
- Linux (remote cluster)
- python=3.7.9
- cuda=10.1
- cupy-cuda101 = 8.2.0 (pip installation)

[code]

[2020-12-10 19:27] briannghiem commented on #4429
Just found a related issue: #3918; I'll try upgrading to CUDA 10.1 update 2.

[2020-12-11 05:57] #4415 closed

[2020-12-11 15:26] leofang commented on #3370
Just a little update: I think most of the Thrust complex headers (for which CuPy keeps its own copy) should just work:
[code]
For the constructors and arithmetic operations there is no problem at all. For math function calls like `sin`, `cos`, etc, which would be used in ufuncs, there would be an implicit type conversion to (from) single precision before (after) the computation, since `float16` de

[2020-12-11 15:26] anaruse commented on #1533
@kmaehashi  Now that we have `dasum`, I think we can close this.

https://github.com/cupy/cupy/blob/b545c7bc67a7c9a2dc87c7a3a8b2ffeb2d45758c/cupy_backends/cuda/libs/cublas.pyx#L565-L570

[2020-12-11 15:43] leofang opened #4431 "`cupy.vectorize` does not work in the interactive mode"
I was looking into how `inspect` and `ast` work together, and I noticed that a function object defined in an interactive interpreter session would not contain the code information, so `inspect.getsource(func)` would emit an `OSError`. As a result, while the following snippet works as expected in the script mode:
[code]
an error is raised in the interactive mode:
[code]
It's probably not a big deal

[2020-12-11 16:10] briannghiem commented on #4429
Downgrading to python v3.6.9 seemed to resolve import issues with cupy-cuda101=8.2.0 without need to upgrade CUDA 10.1

[2020-12-11 17:06] jakirkham commented on #1533
Thanks Akira! 😄

[2020-12-11 17:06] #1533 closed

[2020-12-11 17:22] jglaser opened #4432 "Feature request: support axis argument in cupy.packbits"
It would be great if the `axis` argument to `packbits` was supported, in analogy to `numpy`.
https://numpy.org/doc/stable/reference/generated/numpy.packbits.html

This would enable vectorization over a a large array, e.g. to compute many fingerprint vectors.

Current workaround (CPU):
[code]

[2020-12-11 18:15] allisonvacanti commented on #3370
I should point out that thrust will eventually be replacing its `complex` header with the libcu++ (https://github.com/NVIDIA/libcudacxx) implementation, so keep an eye on how that effort evolves.

[2020-12-11 20:47] leofang commented on #3370
Thanks, @allisonvacanti! It's good to know. So does libcu++ already support `complex<__half>`? Would `thrust::complex` be removed completely, or become an alias of `cuda::std::complex`?

[2020-12-11 23:30] allisonvacanti commented on #3370
`__half` support has been discussed, but I don't know the current plans are or how it would be implemented. Feel free to file an issue on the libcudacxx repo to let them know you're interested in it.

I'm not sure exactly how we'll handle the switch for thrust yet, it'll depend on how compatible the implementations are.

[2020-12-12 03:16] leofang commented on #4431
Ref: https://bugs.python.org/issue12920

[2020-12-12 15:03] wd1969 opened #4434 "Converting integer to float32 results in error."
(base) PS C:\Users\mengh> python -c 'import cupy; cupy.show_config()'
OS : Windows-10-10.0.19041-SP0
CuPy Version : 8.1.0
NumPy Version : 1.19.3
SciPy Version : 1.5.0
CUDA Root : C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.1
CUDA Build Version : 10010
CUDA Driver Version : 11010
CUDA Runtime Version : 10010
cuBLAS Version : 10100
cuFFT Version : 10010
cuRAND Version : 10010
cuSOLVER Ver

[2020-12-12 15:06] wd1969 commented on #4434
(base) PS C:\Users\mengh> python -c 'import cupy; cupy.show_config()'
OS                           : Windows-10-10.0.19041-SP0
CuPy Version                 : 8.1.0
NumPy Version                : 1.19.3
SciPy Version                : 1.5.0
CUDA Root                    : C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.1
CUDA Build Version           : 10010
CUDA Driver Version          : 11010

[2020-12-13 14:33] Rongzihan opened #4435 "Cupy.linalg.pinv very very Low performance"
If it is a bug report, please include the following information:
* Conditions (you can just paste the output of `python -c 'import cupy; cupy.show_config()'`)
  - CuPy 8.2.0
  - Ubuntu16.04 & Win10
  - CUDA version10.1
  - cuDNN/NCCL version: 7series
* Code to reproduce
_______________________________________________________________________________________
import time
import numpy as np
import cup

[2020-12-13 20:37] shssf opened #4436 "numpy.version.version"
It looks like cuPy doesn't have runtime version getter.
It would be great to have something like `cupy.version.version`

[2020-12-14 01:43] emcastillo commented on #4431
yeah, it's the drawback of using AST instead of bytecode :(

[2020-12-14 02:32] anaruse commented on #4434
This is not a cupy or numpy problem, but a problem caused by the fact that float32 has only 23-bits for mantissa.

    array(26862209)

    array(26862209.)

    array(26862208., dtype=float32)

[2020-12-14 03:45] wd1969 commented on #4434
Thank you. I see

[2020-12-14 03:59] coderforlife commented on #4270
Thanks!

[2020-12-15 05:49] mor2code opened #4440 "cuslover causes memory overrun while calling syevjBatched"
cuslover.py causes memory overrun while calling syevjBatched,

according to NVidia documentation https://docs.nvidia.com/cuda/cusolver/index.html#cuSolverDN-lt-t-gt-syevjbatch

"an integer array of dimension batchSize. If CUSOLVER_STATUS_INVALID_VALUE is returned, info[0] = -i (less than zero) indicates i-th parameter is wrong (not counting handle). Otherwise, if info[i] = 0, the operation is succ

[2020-12-15 07:18] #4434 closed

[2020-12-15 08:57] takagi commented on #4435
Thanks for reporting! I can reproduce your result as following, and we do not have an immediate answer to why CuPy's counterpart takes so much time. Please let us investigate it.

NumPy | CuPy
--|--
2184.667 ms | 3203.060 ms

<details>
<summary>Click to see script</summary>

[code]
</details>

[2020-12-16 02:30] takagi commented on #4440
Thanks for reporting! It looks as the code of the non-batched version was copied there. If possible, would you post a pull request with the attached patch?

[2020-12-16 03:30] kmaehashi opened #4443 "CUDA 11.2 Support"
Tasks:
- [x] Read [CUDA Release Notes](https://docs.nvidia.com/cuda/cuda-toolkit-release-notes/index.html).
- [x] Update CUDA driver in Linux (Jenkins) / Windows (FlexCI) test infrastructure (ask @kmaehashi).
- [x] Update chainer-test to include the CUDA version. https://github.com/chainer/chainer-test/pull/635
- [x] Update CuPy code to support the CUDA version.
  - [x] Compute capability support:

[2020-12-16 09:19] fischcheng commented on #1523
I'm on the same boat, we have a program that uses `map_coordinates` extensively, was very happy when I saw `cupy` and `jax` both support `map_coordinates` but realized both only up to order=1 interpolation.

Happy to see the new boundary/model in SciPy, and currently reading through the #4402. Would love to know more details and how could similar thing can be ported to `jax`. Thanks for the great

[2020-12-16 09:58] #3841 closed

[2020-12-16 10:28] SebastianSemper opened #4448 "Triangular Solve not working for complex case"
I have discovered, that `solve_triangular` does not work, if the input is complex, but the matrix is real:
[code]
produces a real valued result, if `cholesky` is real but `rhs` is complex.

[code]

[2020-12-16 18:29] brandondube opened #4450 "implement cupyx.scipy.special.lambertw"
This function is missing in the scipy compatible routines.  It would be nice to see it added.

[Scipy docs](https://docs.scipy.org/doc/scipy/reference/generated/scipy.special.lambertw.html)

[cupyx special page](https://docs.cupy.dev/en/stable/reference/special.html)

[2020-12-16 20:19] wphicks opened #4451 "Read past end of array in percentile kernel can result in incorrect 100th quantile value"
* Description:
The [percentile_weightnening kernel](https://github.com/cupy/cupy/blob/master/cupy/_statistics/order.py#L242-L252) in `cupy.percentile` will read one element past the end of the input array if it is asked to calculate the 100th quantile. If a NaN happens to be stored at that device memory location, the reported 100th quantile value will be NaN rather than the largest value in the ar

[2020-12-16 22:23] wphicks commented on #4451
I've just managed to find a consistent reproducer that does not require any modification of cupy code. By flooding the available GPU memory with NaNs first, we can ensure that a NaN will be found immediately after the input array. I don't know if this will reproduce the issue 100% of the time, and you may need to adjust the size of the NaN array based on your available GPU memory, but the followin

[2020-12-17 01:39] wphicks commented on #4451
I'm working on a fix for this and will post a PR tomorrow.

[2020-12-17 02:50] kmaehashi commented on #4443
cudaMallocAsync and cudaFreeAsync in CUDA 11.2:
https://developer.nvidia.com/blog/enhancing-memory-allocation-with-new-cuda-11-2-features/

[2020-12-17 04:56] takagi commented on #4435
`cupy.linalg.pinv` uses `cupy.linalg.svd` that relies its implementation on cuSOLVER's `gesvd`, and some report discussed its performance as we found. Replacing it with `gesvdj` may resolve the issue.

https://github.com/tensorflow/tensorflow/issues/13603#issuecomment-418153277
https://github.com/pytorch/pytorch/pull/48436

[2020-12-17 05:30] kmaehashi commented on #4443
File name of some libraries have been changed between 11.1 and 11.2 (e.g. `libnvrtc.so.11.1` in 11.1 and `libnvrtc.so.11.2` in 11.2) so cupy-cuda111 won't run on CUDA 11.2.
c.f. https://github.com/cupy/cupy/issues/4043#issuecomment-708236655 and following discussions

[2020-12-17 06:02] #2457 closed

[2020-12-17 10:00] leofang commented on #4443
From https://docs.nvidia.com/cuda/cuda-toolkit-release-notes/index.html#cuda-general-new-features:

Looks promising!

[2020-12-17 14:03] leofang commented on #4443
Other potentially useful additions or notes:

[2020-12-17 15:44] leofang commented on #4443
Stream Ordered Memory Allocator

https://docs.nvidia.com/cuda/cuda-runtime-api/group__CUDART__MEMORY__POOLS.html#group__CUDART__MEMORY__POOLS

[2020-12-17 19:05] wphicks commented on #4451
PR #4453 has the fix. I've marked it as WIP pending feedback on the associated unit test.

[2020-12-17 21:20] JoPet123 opened #4455 "Import cupy leads to AttributeError?"
Hello! I've just installed CuPy through pip and when I try to import it, or use it CUDA with SpaCy, I get this error :

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\Jonathan\AppData\Local\Programs\Python\Python37\lib\site-packages\cupy\__init__.py", line 57, in <module>
    from cupy import fft  # NOQA
  File "C:\Users\Jonathan\AppData\Local\Programs\Py

[2020-12-17 21:47] grlee77 opened #4456 "cumsum and cumprod modify the input array"
While debugging a test failure in `cupyimg`, I found that `cupy.cumsum` unexpectedly modifies the input array. This did not used to be the case, so I suspect it may be due to recent changes from #4316 or #4366 (attn: @anaruse)

* Conditions (you can just paste the output of `python -c 'import cupy; cupy.show_config()'`)
CuPy 9.0.0a3

* Code to reproduce

Here is a basic example to illustrate the i

[2020-12-17 21:49] leofang commented on #4455
Hi @JoPet123, this is a duplicate of #4352, which was just resolved recently (#4355). A couple of questions:
- Did you install cupy via `pip install cupy`?
- Are you on Windows?

The fix is to install the pre-built wheel, which in your case is `pip install cupy-cuda111`.

[2020-12-17 21:51] JoPet123 commented on #4455
Hello!
Yes I am on Windows and I did install it with pip install cupy.
Should I run pip uninstall cupy before installing cupy-cuda111?
Thank you

[2020-12-17 21:51] grlee77 commented on #4456
cumprod has the same issue

[2020-12-17 21:52] leofang commented on #4456
An indirect way to confirm is to set `CUPY_ACCELERATORS=cub` and rerun the test. Looks like there's a check that prevented in-place operations got removed.

[2020-12-17 21:53] leofang commented on #4455
Yes, uninstall it first, or there'd be bizarre conflicts.

[2020-12-17 21:54] JoPet123 commented on #4455
Thank you, it seems to be working, I'll close the issue now :)

[2020-12-17 21:54] #4455 closed

[2020-12-17 22:01] leofang commented on #4456
I think the bug is this line (from #4316):
https://github.com/cupy/cupy/blob/3388dcec8c939eb01baecb2a0459e4116db05b1d/cupy/core/_routines_math.pyx#L742
`copy` should be `True`.

[2020-12-17 23:55] grlee77 commented on #4456
Thanks for finding that quickly! I think I had encouraged @anaruse to try and avoid copies, so this is probably my fault. I guess we didn't have any test cases that would have detected the problem.

[2020-12-17 23:57] grlee77 commented on #4456
My environment was set to `CUPY_ACCELERATORS=cub,cutensor` when I encountered this

[2020-12-18 00:38] leofang commented on #4456
Ah, never mind. Forgot you set an axis...

[2020-12-18 03:20] #4448 closed

[2020-12-18 06:25] anaruse commented on #4456
Sorry, my checks were inadequate.
I'll prepare a PR that fixes this issue and adds the relevant tests.

[2020-12-18 15:21] thomasaarholt commented on #2354
Just in case anyone like me is a bit stuck with supporting cupy 6 due to `conda install cupy` being currently limited to version 6:

You can use `cp.stack((cp.array(1), cp.array(2)))` instead.
[code]

[2020-12-18 19:22] #4456 closed

[2020-12-18 19:39] leofang commented on #4383
Hi @allisonvacanti, not sure if this is enough, here is one representative for the problematic kernels:
[code]
The option passed to Jitify is:
[code]
and the eventual option used to compile is:
[code]

[2020-12-18 19:50] leofang commented on #3370
Thanks! See NVIDIA/libcudacxx#95.

[2020-12-19 03:01] leofang commented on #3822
Let me check with Allison there.

[2020-12-20 23:29] thomasaarholt opened #4465 "Making an array of a list of zero-dimensional arrays"
I'm getting the following error when I call this code:

[code]

It works as one would expect on numpy, constructing an array of shape `(2, 1)`.
I suspect this is related to #3819, but while I find some references to it [in the docs](https://docs.cupy.dev/en/stable/reference/difference.html#zero-dimensional-array), I'm surprised that this operation isn't supported.

Trying with `cp.stack([[a], [a]]

[2020-12-21 00:15] thomasaarholt opened #4466 "cupy.prod() of tuple raises error"
Duplicate of chainer/chainer#1812

I cannot perform `cp.prod((1,2))`, because `AttributeError: 'tuple' object has no attribute 'prod'`.
This is a numpy common operation to perform on array shapes, which are tuples.

A current workaround is to perform `cp.prod(cp.array(1,2))`.
[code]

[2020-12-21 03:09] takagi opened #4467 "Remove experimental mark of ndimage interpolation's new modes after SciPy 1.6 is released"
#4400 and #4401 introduce some new modes for ndimage interpolation. These modes are to be included in SciPy 1.6 and the latest SciPy 1.5.4 does not have them, so they have been merged to CuPy master with marked as experimental.

We will remove the experimental marks after SciPy 1.6 is released.

[2020-12-21 05:47] kmaehashi commented on #4360
I've synchronized pre-release wheels on PyPI to GitHub releases (FYI, [tool here](https://github.com/kmaehashi/pypi-to-github-release)). Updated the issue description.

[2020-12-21 07:19] bugalo opened #4469 "Implement scipy.sparse.linalg.inv"
Please, implement sparse matrix inversion: scipy.sparse.linalg.inv

Thanks.

[2020-12-21 08:23] kmaehashi commented on #4421
`--device-c` magically solved the issue! (#4470) Thank you very much 👍🏼

[2020-12-21 09:02] bugalo opened #4471 "Implement Radial Basis Function interpolation (scipy.interpolate.Rbf)"
Please, implement Radial Basis Function Interpolation of scattered data: scipy.interpolate.Rbf().

This is a very good function because it is very well behaved, it works with scatterd data, and it creates an interpolator instead of performing the interpolation directly, and thus reducing the computational work in consecutive evaluations of the interpolation over the same original data. However, sc

[2020-12-21 09:30] thomasaarholt commented on #4436
I may just be unfamiliar with the concept of a "runtime version getter", but I think what you want is `cp.__version__`.
 Most packages have their version stored at `package.__version__`, to the degree that it's [basically a standard](https://stackoverflow.com/questions/458550/standard-way-to-embed-version-into-python-package).
[code]

[2020-12-21 10:42] kmaehashi opened #4475 "Failing fusion tests"
### tests/cupy_tests/core_tests/fusion_tests/test_misc.py

[code]

[code]

### tests/cupy_tests/core_tests/fusion_tests/test_indexing.py

[code]

[code]

[2020-12-21 14:43] thomasaarholt opened #4476 "cp.roll cannot take array as shift argument"
I was taking the output of cp.unravel_index, which returns an array, and feeding it to cp.roll, which shifts an array. This raises the error below, but works when the shift argument is a tuple. It applies to 1D shifts as well.

It looks like perhaps the `numpy.broadcast(shift, axis)` in the error below should be `cupy.broadcast(shift, axis)` instead?

[code]

CuPy Version                 : 8.2.0
N

[2020-12-21 15:35] #4436 closed

[2020-12-21 16:19] kmaehashi opened #4478 "Support NCCL 2.8"

[2020-12-21 17:05] leofang commented on #4478
Should be straightforward as no API change was introduced in 2.8 so far:
https://docs.nvidia.com/deeplearning/nccl/release-notes/rel_2-8-3.html#rel_2-8-3

[2020-12-21 19:33] leofang commented on #4383
https://godbolt.org/z/oKM7a4

[2020-12-22 04:08] #4451 closed

[2020-12-22 11:21] kmaehashi commented on #4421
It seems that `--device-c` option support in ccache 3.7.12 is incomplete.  I haven't tested other ccache versions, but sharing FYI for developers.

[code]

[2020-12-23 05:28] #4300 closed

[2020-12-23 07:51] toslunar opened #4483 "`concatenate` does not support `out` with different dtype"
[code]

The check here is too strict.
https://github.com/cupy/cupy/blob/74bbb1b739db983feddced073e0d23b804b5313a/cupy/core/_routines_manipulation.pyx#L604-L614

[2020-12-23 08:50] emcastillo opened #4484 "HIP test errors"
Currently core tests

- [ ] core_tests/test_ndarray.py::TestNdarrayCopy::test_copy_multi_device_non_contiguous - AssertionError:

- Happens only if run with other tests, memory corruption suspected

- [ ] core_tests/test_ndarray_elementwise_op.py::TestArrayElementwiseOp::test_broadcasted_pow - AssertionError:
- Requires adjusting tolerance
[code]
- [ ] core_tests/test_ndarray_elementwise_op.py::Te

[2020-12-23 09:53] toslunar opened #4486 "`expand_dims` fails to check duplicated axes"
[code]

[2020-12-23 09:58] toslunar commented on #4486
`cupy.sum(cupy.ones(7), axis=(0, 0))` fails, too.

<details>

[code]

[2020-12-23 12:19] toslunar opened #4489 "Use `cupy.core.internal.prod` to compute size of shape"
Use `cupy.core.internal.prod` to compute number of elements of an array shape.  Note that `numpy.prod` is not suitable because it's slow and `numpy.prod(())` returns `np.float64(1.0)`.

https://github.com/cupy/cupy/blob/74bbb1b739db983feddced073e0d23b804b5313a/cupy/core/internal.pyx#L24

[code]

[2020-12-24 02:22] emcastillo commented on #4484
Cub errors reproducer

[code]
9.999990120313898
9.999990120313898
4.620013275304939e+281

[2020-12-24 06:36] kmaehashi opened #4493 "CUDA_PATH v.s. ROCM_HOME"
The naming convention is conflicting. Maybe better to use ROCM_PATH instead? It's used in ROCm docs (but only once)
https://rocmdocs.amd.com/en/latest/Deep_learning/Deep-learning.html?highlight=ROCM_PATH#install-rocm

[2020-12-24 06:42] kmaehashi commented on #4132
https://github.com/cupy/cupy/pull/4461

this is not fixed as of ROCm 3.10/4.0.0.

[2020-12-24 06:43] kmaehashi commented on #4132
We have to take care of branching based on CUDA versions.
e.g. https://github.com/cupy/cupy/blob/65ca0818b8c922e52adf2c5788226316849c60d7/cupy/core/core.pyx#L1971-L1977

[2020-12-24 06:44] leofang commented on #4132
@kmaehashi This will be handled in #4102.

[2020-12-24 06:58] kmaehashi commented on #4132
Ah, nice! 👍🏼

[2020-12-24 07:28] toslunar opened #4495 "`cupyx.scipy.sparse.linalg.gmres` produces FutureWarning"
`cupyx.scipy.sparse.linalg.gmres` (#4236) calls `numpy.linalg.lstsq` without `rcond`.

https://github.com/cupy/cupy/blob/b975af074fbc4faa65de7b810f7d55340990b8ce/cupyx/scipy/sparse/linalg/_iterative.py#L202

What `rcond` should we use here?  I don't know if `gmres` has to call SVD-based least square solver.

[2020-12-24 07:43] toslunar opened #4496 "Error type of duplicate axis"
When an axis is repeated, NumPy raises `ValueError` but CuPy sometimes raises `AxisError`.

- NumPy:
  - `ValueError` in `PyArray_ConvertMultiAxis` in `numpy/core/src/multiarray/conversion_utils.c`
  - `ValueError` in `np.core.numeric.normalize_axis_tuple`
- CuPy:
  - `ValueError` in `cupy.core.internal._normalize_axis_indices` https://github.com/cupy/cupy/blob/65ca0818b8c922e52adf2c5788226316849c

[2020-12-24 07:55] asi1024 commented on #4440
This issue is resolved by #4491.

[2020-12-24 07:55] #4440 closed

[2020-12-25 04:27] leofang commented on #4493
Yeah the ROCm doc is as confusing as always...To add one more confusing data point, PyTorch uses both `ROCM_HOME` and `ROCM_PATH` 😂
https://github.com/pytorch/pytorch/search?q=ROCM_HOME
https://github.com/pytorch/pytorch/search?q=ROCM_PATH

[2020-12-25 06:17] #4421 closed

[2020-12-25 06:26] toslunar opened #4506 ""file too short" error in FFT callback"
[code]

https://jenkins.preferred.jp/job/chainer/job/daily_master_cupy-shuffled/420/ID=8,label=mn1-p100/testReport/junit/tests.cupy_tests.fft_tests.test_callback/Test1dCallbacks/test_fft_load__param_0__n_None__norm_None__shape__10__7___/

<details>

`tests.cupy_tests.fft_tests.test_callback.Test1dCallbacks.test_fft_load[_param_0_{n=None, norm=None, shape=(10, 7)}]`          (from pytest)

### Erro

[2020-12-25 06:32] toslunar commented on #4506
This is probably caused by a race.  Thanks @leofang and @emcastillo for pointing out

https://github.com/cupy/cupy/blob/add2ca7554a30af8907030dd6a7a26904ab7fba4/cupy/fft/_callback.pyx#L515-L519

[2020-12-25 06:38] toslunar commented on #4506
The nvcc link is called with `-o cache_dir/mod_filename`.   This may be a cause of the race.

https://github.com/cupy/cupy/blob/5ee535c2a24b2a3a46faaa35c44681189bf735a0/cupy/fft/_callback.pyx#L260-L274

https://github.com/cupy/cupy/blob/5ee535c2a24b2a3a46faaa35c44681189bf735a0/cupy/fft/_callback.pyx#L338

How about `-o` to temporary file and then moving to the cache directory?

[2020-12-25 06:43] leofang commented on #4506
Yes, as discussed offline with @emcastillo I will send a patch to do this. There are two potential places for races...Please assign this to me.

[2020-12-25 06:45] leofang commented on #4506
btw let me say your CI is doing a very good job detecting this! 😂

[2020-12-25 08:09] leofang commented on #4484
Possibly related to `_tensordot_core_int_kernel `: https://github.com/cupy/cupy/pull/4217#issuecomment-749782038

[2020-12-25 11:56] toslunar opened #4511 "`random.choice`: 0 samples from 0 candidates"
Inconsistency in
[code]

vs

[code]

Note that
[code]

[2020-12-28 03:28] leofang opened #4513 "Make DLPack a submodule?"
I am looking into DLPack as we likely need to fix it for ROCm (it supports the `kDLROCM` option). One thing I noticed is that we basically reimplemented everything from the DLPack header [`dlpack.h`](https://github.com/dmlc/dlpack/blob/master/include/dlpack/dlpack.h) in `cupy/core/dlpack.pyx`. I suppose like Jitify it's also a single header thing, so we might as well make it a submodule?

This wil

[2020-12-28 09:09] #1523 closed

[2020-12-28 18:00] leofang opened #4515 "ROCm: TypeError: operand type(s) all returned NotImplemented from __array_ufunc__"
Previously all FFT tests passed on HIP, but it seems the recent change on `__array_ufunc__` (#4198) somehow breaks it...
[code]

[2020-12-30 06:54] kratika464 opened #4516 "Getting Error in cupy module(cupy.append())"
Getting Error in cupy module(cupy.append()):-
error:- Getting Error in cupy module(cupy.append())
full error:- File "GPU_Code_CUML.py", line 478, in
result = sse_numba(symbol,look_back)
File "GPU_Code_CUML.py", line 420, in sse_numba
actual_price_start_date_plus_five = cupy.append(actual_price_start_date_plus_five, ['nan'], axis=None)
AttributeError: module 'cupy' has no attribute 'append'

This w

[2020-12-30 07:20] leofang commented on #4516
`cupy.append()` was just added recently (#4112), so it won't be available in CuPy v8.x. If needed you can pip install the pre-release versions (v9.0.0b1, for example).

[2020-12-30 07:54] kratika464 commented on #4516
Can you suggest to me how to update the cupy version on the conda environment?
Because I download rapids through conda.
cmd:-
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge
-c defaults rapids-blazing=0.17 python=3.7 cudatoolkit=10.1

So should I try...... conda install cupy==v9.0.0b1?

[2020-12-30 19:33] leofang commented on #4515
Minimal reproducer:
[code]

[2020-12-31 06:48] leofang commented on #4516
The pre-release versions are not available on any of the conda channels, so you must install it via pip. You can safely do so in a conda environment and usually it'd just work. The caveat in your case is that the RAPIDS stack depends on CuPy from conda-forge, so you should force-remove it first (otherwise all packages depending on it would also be removed), and then do `pip install 'cupy-cuda101==

[2021-01-04 06:56] #4139 closed

[2021-01-04 07:56] #4506 closed

[2021-01-04 18:54] leofang commented on #4515
I changed the issue title since it seems to have nothing to do with ROCm in particular.

[2021-01-04 21:16] allisonvacanti commented on #4383
At the moment, we don't have any "official" support for NVRTC / Jitify in CUB. Some folks have been making parts of it work, but we lack testing coverage and would need to make a focused push to get any reliable level of support for it. This is something I'd like to do at some point, but don't have the cycles for right now, unfortunately.

But on a related note -- I'm working on addressing NVIDIA/

[2021-01-04 21:29] leofang commented on #4387
Interestingly, this works fine on HIP (even without the fix #4512) but not on CUDA. Magic! 😂

[2021-01-04 21:59] leofang commented on #3833
I checked that #4461 is the root cause. In the failing test, the grid size is 2**32/256 = 16777216 and the block size is 256.

[2021-01-05 02:29] emcastillo commented on #3833
Fixed by #4461

[2021-01-05 02:29] #3833 closed

[2021-01-05 04:45] leofang commented on #3833
Ah, thanks! Sorry I missed it...

[2021-01-05 07:37] emcastillo commented on #4516
As this issue seems to be solved, let us close this. Feel free to reopen it if needed 😄

[2021-01-05 07:37] #4516 closed

[2021-01-05 08:05] toslunar opened #4520 "`cupy.gradient` should not sort axis"
[code]

[2021-01-05 09:12] toslunar opened #4522 "Use NumPy functions: `normalize_axis_index`, `normalize_axis_tuple`"
The functions `normalize_axis_index`, `normalize_axis_tuple` are not documented, but the author says

http://numpy-discussion.10968.n7.nabble.com/Is-numpy-lib-shape-base-normalize-axis-index-considered-part-of-the-public-API-td48016.html#a48020

- SciPy uses `normalize_axis_index` but does not use `normalize_axis_tuple`.
- Dask uses `normalize_axis_index` and `normalize_axis_tuple`, while they are

[2021-01-05 09:42] leofang commented on #4515
So it turns out this bug is only reproducible on HIP 😅 See #4524.

[2021-01-05 17:01] leofang commented on #4414
Same bug reported to cupy-feedstock: https://github.com/conda-forge/cupy-feedstock/issues/78#issuecomment-754629424.

[2021-01-05 17:50] asi1024 commented on #4522
I feel it is confusing to use both NumPy's `normalize_axis_tuple` and CuPy's `cdef`ed `normalize_axis_indices` in this codebase.

[2021-01-07 00:59] #3611 closed

[2021-01-07 00:59] #4513 closed

[2021-01-07 02:44] leofang commented on #4513
UPDATE: We bundle dlpack.h directly without making it a submodule.

[2021-01-07 05:42] #4483 closed

[2021-01-07 22:54] aitikgupta opened #4531 "Dictionary keys cannot be CuPy element"
A more answerable question would be, can keys of a dictionary be an element stored in GPU?

* Code to reproduce
[code]
* Error messages, stack traces, or logs
Conditions (you can just paste the output of `python -c 'import cupy; cupy.show_config()'`)
[code]

[2021-01-08 00:03] aitikgupta opened #4532 "Unsupported f-string format"
`f"{element}:.2f"` isn't a valid format string

* Code to reproduce
[code]

* Error messages, stack traces, or logs
Conditions (you can just paste the output of `python -c 'import cupy; cupy.show_config()'`)
[code]

[2021-01-08 18:43] leofang commented on #4443
In addition to texture reference, I saw several additional deprecation warnings from cuSPARSE and Profiler with CUDA 11.2 (the log is interleaving due to the parallel build). Also, the built-in Thrust/CUB complains that `-std=c++14` is not used.
[code]

[2021-01-11 04:16] leofang commented on #3777
@pentschev I tested on CUDA 11.2 and it seems to be fixed 🙂

However, if I instead use the async mempool from CUDA 11.2, the very same code with a simple change `cudaMalloc` -> `cudaMallocAsync` & `cudaFree` -> `cudaFreeAsync` fails again...
[code]

[2021-01-11 14:55] pentschev commented on #3777
When you say it fails again, do you mean you see the exact same issue as we used to see with `cudaMalloc`/`cudaFree` on 11.1 and earlier versions?

[2021-01-11 15:07] leofang commented on #3777
Yes, I think this is more or less the same issue, but this time with `cudaMallocAsync` /`cudaFreeAsync` on 11.2. Another minor difference is that the error code is now `CUFFT_ALLOC_FAILED ` instead of `CUFFT_INTERNAL_ERROR`. Perhaps I didn't use the async allocation correctly?

[2021-01-11 20:34] pentschev commented on #3777
I was able to upgrade my workstation to 11.2 and test your code @leofang , I think what you're missing is a `cudaStreamSynchronize(0)` after `cudaFreeAsync(a, 0)`, that has resolved the issue for me. Could you check on your end too?

[2021-01-11 20:41] leofang commented on #3777
Thanks @pentschev! I can confirm this eliminates the error, but why is it needed?
- In https://github.com/cupy/cupy/pull/4537#issuecomment-758187939 @jrhemstad said it's OK to rely on the legacy stream as it's implicitly synchronous.
- The doc does not say `cudaStreamSynchronize` must follow `cudaFreeAsync` in order to make the memory available, nor does it make sense to always do so 😅

[2021-01-11 21:04] pentschev commented on #3777
Hmm, that's a good point, I actually thought that was what's missing because I noticed using the `cuda{Malloc,Free}Async` version was much faster than the sync counterparts and instinctively tried adding the sync step without even considering that was stream 0 and should be sync, but now I totally agree with you it shouldn't be necessary. I don't have an answer as to why that resolves the issue, I

[2021-01-11 21:15] jrhemstad commented on #3777
Can someone summarize what I should be looking at?

[2021-01-11 21:20] leofang commented on #3777
Hi @jrhemstad Sorry for confusion. This was an old thread I'm revisiting to test with the new async malloc stuff. The test code in question is here: https://github.com/cupy/cupy/issues/3777#issuecomment-757615139. It seems @pentschev agrees with me that this is a valid code, but we don't know if the problem is in cuFFT not trying harder to allocate memory, or the async mempool not behaving correct

[2021-01-11 22:03] jrhemstad commented on #3777
I'm not familiar with cuFFT or what `cufftMakePlan1d` does. It doesn't look like the pointer `a` interacts with the cuFFT calls at all, so I'm not sure what is expected here.

[2021-01-11 22:17] pentschev commented on #3777
The thing is that in that sample `cudaFree(a)` was implying a synchronization, which doesn't happen if we switch to `cudaFreeAsync(a, 0)`. Shouldn't `cudaFreeAsync` imply a synchronization as long as it's on the default stream, as Leo did in that sample?

[2021-01-11 22:32] jrhemstad commented on #3777
No, that's the primary difference in `cudaFreeAsync` is that it doesn't do a device sync.

[2021-01-12 01:58] leofang opened #4540 "ROCm: Error in hipBLAS dgmm"
From https://github.com/cupy/cupy/pull/4217#issuecomment-749783900:
[code]
It seems the trigger condition is
- mode=0
- incx=-1

I suspect this is a hipBLAS bug.

[2021-01-12 02:33] eldaromer opened #4541 "[Feature Request] Build cupy wheels for aarch64"
Recently I've been doing a lot of work using the Jetson Nano, specifically with [cuSignal](https://github.com/rapidsai/cusignal).
Part of the process of setting up cuSignal is installing cupy via pip. Since there are no wheels available for this architecture, it can take upwards of half an hour to build the wheels on the device.

If your team could add wheels that support the Jetson family of prod

[2021-01-12 02:47] leofang commented on #3777
Thank you @jrhemstad @pentschev. OK, I think it's reasonable that even with stream 0 or 1 cudaFreeAsync does not sync. It's kinda like the order of precedence matters here (a sync stream vs an async API 😁) which would be best to be documented (so is the fact that cudaFree syncs -- it's like a grapevine that we learn all the time from SO, the NV developer forum, etc, but never gets explicitly ackno

[2021-01-12 02:47] #3777 closed

[2021-01-12 02:47] leofang commented on #3777
Sorry, silly mobile UI with my fat thumb

[2021-01-12 02:53] #2046 closed

[2021-01-12 02:55] leofang commented on #4541
Context: https://github.com/rapidsai/cusignal/issues/304

[2021-01-12 03:09] #4515 closed

[2021-01-12 04:38] emcastillo commented on #4541
Duplicate of #3196?

[2021-01-12 07:24] #4163 closed

[2021-01-12 08:59] kmaehashi opened #4546 "Python 3.8 warning in Windows"
[code]

[2021-01-12 16:27] jrhemstad commented on #3777
Would you have expected a `cudaMemcpyAsync` on the legacy default stream to sync the device? For any stream-ordered CUDA operation, doing work on the legacy default stream doesn't sync the device, it just implicitly orders with other streams, i.e., work on streams before/after an operation on the legacy default stream cannot overlap. That doesn't mean the legacy default stream operation blocks the

[2021-01-12 17:17] leofang commented on #3777
You're right. I confused myself with device sync vs stream sync.

Though I still think it's an important implementation detail (like legacy default stream) that's worth documenting. People ask this for all time.

@jrhemstad I got `error: too few arguments in function call`. Also, does this work on the default mempool that backs `cudaMallocAsync` and `cudaFreeAsync`? Is `(cudaMemPool_t)0` the corre

[2021-01-12 17:47] jrhemstad commented on #3777
[`cudaDeviceGetDefaultMemPool`](https://docs.nvidia.com/cuda/cuda-runtime-api/group__CUDART__DEVICE.html#group__CUDART__DEVICE_1g69aee77b793f13fa79c5bc0b566845b7) will get you the handle to the default memory pool.

[2021-01-12 18:13] leofang commented on #3777
Thanks for pointer, @jrhemstad! This really should have been documented/mentioned on the same page for Stream Ordered Memory Allocator...😢 For example, a quick mention under `cudaMallocAsync`/`cudaFreeAsync` would be fine.

Unfortunately, though, it still doesn't fix the error after shrinking the size of the default mempool. Looks like a stream synchronization is the only way to expose the unused

[2021-01-12 19:31] 2W-12 opened #4548 "_broadcast_shape is missing"
Hi,
anyone know how to add ```_broadcast_shape``` to cupy?
Reference: ```np.lib.stride_tricks._broadcast_shape()```

[2021-01-12 19:40] jrhemstad commented on #3777
`cudaMemPoolTrimTo` will only release memory if it's no longer in use. It doesn't do any synchronization.

I'm guessing the memory allocated by `cudaMallocAsync` is still in use by the first `cufftMakePlan1d` call by the time you get to the second call. So it makes sense you'd need the synchronization to ensure that memory is actually free.

Note that the synchronization wouldn't be necessary if `

[2021-01-12 19:42] #4548 closed

[2021-01-12 20:53] ravwojdyla opened #4549 "Numpy dispatch of matmul doesn't work"
* Conditions
OS                           : Linux-4.19.112+-x86_64-with-Ubuntu-18.04-bionic
CuPy Version                 : 8.3.0
NumPy Version                : 1.19.5
SciPy Version                : 1.4.1
Cython Build Version         : 0.29.21
CUDA Root                    : /usr/local/cuda
CUDA Build Version           : 10010
CUDA Driver Version          : 10010
CUDA Runtime Version         : 10010

[2021-01-12 21:09] leofang commented on #3777
The first `cufftMakePlan1d` call fails due to OOM, so it's reasonable to expect that it cleans up before returning, and that the only place holding memory is from `cudaMallocAsync`. (The allocated memory is not used anywhere actually.)

@jrhemstad @pentschev I think this does not explain the "bug", because as I said the memory isn't in use after `cudaFreeAsync` so should be released. But,

this wo

[2021-01-12 22:58] thomasaarholt opened #4550 "ndimage.map_coordinates performs incorrectly with several order values"
The results given by map_coordinates are unexpected when testing the [example given in the function description](https://docs.scipy.org/doc/scipy/reference/generated/scipy.ndimage.map_coordinates.html#scipy.ndimage.map_coordinates).

In particular, the `order=None` and `order=1` are giving incorrect results. In the example below I compare the cpu and gpu versions of the function and show this. (cu

[2021-01-13 02:06] emcastillo commented on #4549
CuPy does not support generalized ufuncs yet. Matmul in numpy is implemented as such, so when trying to dispatch it, there is no corresponding function in CuPy. 😥

[2021-01-13 02:08] emcastillo commented on #4550
The `None` case seems to be fixed in v9.

[code]

Maybe @grlee77 can help with this :)

[2021-01-13 06:29] #4532 closed

[2021-01-13 06:53] #4520 closed

[2021-01-13 07:28] #4280 closed

[2021-01-13 08:12] kmaehashi commented on #4317
I talked with @okuta regarding this. The reason why `size_t` is used here is that CuPy was originally implemented using ctypes. Considering this is a part of public API exposed to the Python code as you said, the change proposed (`ptr = mem if isinstance(mem, int) else mem.value`) sounds good to me.

[2021-01-13 08:12] kmaehashi commented on #4247
Can we close this as #4314 got merged?

[2021-01-13 08:20] kmaehashi commented on #4398
Closing as we so far don't have a concrete plan to implement this feature.

[2021-01-13 08:20] #4398 closed

[2021-01-13 08:28] kmaehashi commented on #4531
Unlike NumPy, CuPy returns a ndarray when iterating over a ndarray, even if the resulting value is a scalar. This is because the scalar value is on GPU and we don't want to implicitly transfer it to the host (CPU) memory. You can use ndarray.item() to explicly convert the ndarray (cupy or numpy) into a scalar, e.g., `cp_dict[i.item()] = "okay"` instead of `cp_dict[i] = "okay"`.
https://docs.cupy.d

[2021-01-13 08:28] #4531 closed

[2021-01-13 08:33] kmaehashi commented on #4541
Closing as duplicate of #3196.

[2021-01-13 08:33] #4541 closed

[2021-01-13 09:11] aitikgupta commented on #4531
Thanks! 👍🏼

[2021-01-13 12:33] #4247 closed

[2021-01-13 12:35] ravwojdyla commented on #4549
Thanks @emcastillo! Linking the relevant issue: https://github.com/cupy/cupy/issues/2552. In the issue there's a list of gufuncs to support (like `inv`, `det` etc), I've tried dispatching for some of them via `np.linalg`, and it seem to work fine, for example:

[code]

I'm likely missing something, where is this discrepancy between `matmul` and say `inv` coming from?

[2021-01-13 14:25] grlee77 commented on #4550
Yes, order=3 is implemented for CuPy 9.0 and in general various SciPy 1.6 bugfixes/enhancements have been incorporated in that branch that are not in CuPy 8.x.

There does indeed seem to be a difference in rounding when the coordinate is exactly 0.5, though. I will take a look at why. If I use
[code]
or
[code]
then I get agreement between CuPy and SciPy for all cases on CuPy 9.0.0b1, so I think an

[2021-01-13 14:49] thomasaarholt commented on #4550
Nice catch! @grlee77, just a quick thank you to you and the others who work on this - for me, now that `map_coordinates` and `histogram2d`* are implemented in CuPy, there is a whole lot image correction that is possible to consider doing for us physicists :) (that would have taken an awful lot longer before).

* I installed cupy v9 today and realised it was there :)

[2021-01-13 15:11] grlee77 commented on #4550
Thanks, it is nice to hear how others are using the library! The CuPy team has been great on reviewing and merging these community-driven ndimage PRs. NVIDIA's RAPIDS team should also get credit for sponsoring effort toward `ndimage` improvements.

The half integer rounding issue seems specific to order=0 and should be fixed by: #4552.

[2021-01-13 20:41] leofang commented on #4317
Thanks, @kmaehashi! Will send a PR later 🙂

[2021-01-14 04:40] kmaehashi commented on #4549
@takagi Could you take a look on this?

[2021-01-14 04:47] emcastillo commented on #4549
I think the issue here is that numpy dispatcher seems to behave differently with regular functions
(numpy.linalg.inv is declared as a function although internally it uses an ufunc) than

https://github.com/numpy/numpy/blob/master/numpy/linalg/linalg.py#L476
This uses the `__array_function__` protocol.

But for matmul, it is an ufunc object, and in such objects, `__array_ufunc__` seems to be dispat

[2021-01-14 04:59] leofang commented on #4531
btw @aitikgupta I guess you installed CuPy from Anaconda's channel? v6.0 is unsupported now. If you're a conda user, you can either pip install in your conda environment, or do `conda install -c conda-forge cupy`.

[2021-01-14 05:06] aitikgupta commented on #4531
That's right, I trust Anaconda to handle CUDA binaries and their versions better than me. :)
(you're right though, I should update)

[2021-01-14 05:10] leofang commented on #4531
We maintain the `cupy` package on Conda-Forge and we have better toolchain now. Recently Conda-Forge has been completely decoupled from the default channel, so perhaps you could give it a try and report any issues to https://github.com/conda-forge/cupy-feedstock 🙂

[2021-01-14 05:31] aitikgupta commented on #4531
Ah, I was in the wrong conda env when I filed the issue. Turns out, I do trust myself with handling the versions. :D
I do a pip install within conda envs, this should be updated now:
`python -c 'import cupy; cupy.show_config()'`:
[code]

Thanks, I'll try the conda-forge channel 👍🏼

[2021-01-14 06:16] leofang commented on #4493
I think we should also accept `ROCM_PATH`. Try `grep -R /opt/rocm -e 'ROCM_PATH'`.

[2021-01-14 22:39] nouiz commented on #4443
Hi,

Current if we want a working cupy with CUDA 11.2, we need compile from scratch. The compilation of cupy is very slow. Would it be possible to make a minimal pipy release of cupy_cuda112 sooner? This will help the community try/adopt CUDA 11.2 faster.

From this threads, I do not see any big problems. All issues are to support new CUDA 11.2 features or warnings that can be ignore (but aren't i

[2021-01-15 03:43] toslunar commented on #4546
`git grep -n '[^A-Za-z]open(' | grep -v 'with open'`

[code]

[2021-01-16 04:46] leofang commented on #4493
Looks like `hipconfig` expects `ROCM_PATH`:
[code]

[2021-01-16 04:59] leofang commented on #4132
I noticed that in many tests we call `runtimeGetVersion()` to determine whether to skip a test. The effect of this on HIP is to skip unconditionally, as in HIP `runtimeGetVersion()` gives an elusive version like 3212 (likely from the HIP runtime `ROCclr`, in which `AMD_PLATFORM_BUILD_NUMBER` is defined as such) that is much smaller that the currently supported CUDA versions. This is OK, but we sho

[2021-01-18 01:18] emcastillo opened #4557 "Add random distributions to new Generator"
The current generator lacks of several methods

- [ ] integers
- [ ] random
- [ ] choice
- [ ] bytes
- [ ] shuffle
- [ ] permutation
- [ ] beta
- [ ] binomial
- [ ] chisquare
- [ ] dirichlet
- [ ] exponential
- [ ] f
- [ ] gamma
- [ ] geometric
- [ ] gumbel
- [ ] hypergeometric
- [ ] laplace
- [ ] logisitic
- [ ] lognormal
- [ ] logseries
- [ ] multinomial
- [ ] multivariate_hypergeometric
- [ ] m

[2021-01-18 05:50] #4467 closed

[2021-01-19 04:28] takagi commented on #4465
Thanks for your report, and very sorry for the late response.

CuPy supports only a sequence of `cupy.ndarray` where NumPy supports a sequence of array_like. `cupy.stack` also follows this and takes a sequence of `cupy.ndarray` only for its first argument [as documented](https://docs.cupy.dev/en/stable/reference/generated/cupy.stack.html). `cupy.stack([[a], [a]])`  raises the following error with

[2021-01-19 05:41] takagi commented on #4354
Thanks for reporting! (and sorry for late response)

It looks the copied `b` has the same binary with `a` in NumPy,

[code]

so `cupy.ndarray.astype` may have some miss compatibility. Would you also check the result above?

[2021-01-19 08:12] leofang commented on #4443
@nouiz CUDA provides a strong guarantee for *forward compatibility* since CUDA 11.0, meaning that applications built on CUDA 11.x can run on 11.y with y>=x, so in theory you could do `pip install cupy-cuda111` in a CUDA 11.2 environment and it should just work. I haven't tested it myself, though.

[2021-01-20 11:32] ravwojdyla commented on #4549
@kmaehashi @emcastillo thanks for looking into this. How should the discussion continue?

[2021-01-20 14:23] nouiz commented on #4443
Good point. Thanks.

[2021-01-20 23:32] leofang commented on #4414
Hi @kkraus14 @jakirkham Not sure if PFN folks have raised this or not, do you think it is possible for CuPy to bundle some of the CUDA headers despite the EULA limitation? It'd be great to have `math_constants.h` and cuRAND device headers to be bundled so that they can be compiled with NVRTC. This is is one of the bug reports due to the lack of those headers.

In general, I think many headers shou

[2021-01-20 23:33] leofang commented on #4414
Another bug report: https://github.com/conda-forge/cupy-feedstock/issues/92

[2021-01-20 23:39] kkraus14 commented on #4414
The only approval we have for conda-forge is for the redistributable pieces where this would definitely not be permitted. I would suggest emailing nvidia-compute-license-questions@nvidia.com and explaining the situation to see what could be done.

[2021-01-21 00:05] leofang commented on #4414
Got it, thanks for the info, Keith! Will send a workaround to fix this later today while a long term solution is under discussion.

[2021-01-21 01:25] #4317 closed

[2021-01-21 05:05] #2550 closed

[2021-01-21 19:41] leofang commented on #4132
For texture memory: ROCm has a renewed interest since 3.6.0 (the support is added in the ROCclr layer). I have a local branch that makes host-device texture copy work: https://github.com/leofang/cupy/tree/hip_texture, but device-device copy is not working. I consider this a low priority unless there are ROCm users who have a serious need, otherwise I think we should disable texture support and tes

[2021-01-25 07:01] leofang commented on #3834
@emcastillo Currently any tests related to cusparse like this one and a few others are failing on HIP. Should we mark them xfail until we address #4101?

[2021-01-25 15:00] leofang commented on #4484
[code]

[2021-01-25 16:02] emcastillo commented on #4484
Is this with my two prs applied?

[2021-01-25 17:09] leofang commented on #4484
No, I think only one. I was on master + #4556, and your #4521 is not in yet.

[2021-01-25 19:43] leofang commented on #4484
Trying to run other tests in `tests/cupy_tests/`...Will keep updating the list below.
[code]

[2021-01-26 01:51] #4550 closed

[2021-01-26 01:59] emcastillo commented on #4484
rebased! thanks!

[2021-01-26 09:20] #4414 closed

[2021-01-26 09:21] #4465 closed

[2021-01-26 09:59] thomasaarholt commented on #4465
Wow, that was impressively quick! Thanks!

[2021-01-26 16:53] pentschev commented on #3777
Sorry @leofang , I dropped the ball here. Is there something that's still blocking you w.r.t. cuFFT with `cudaFreeAsync`?

[2021-01-27 02:13] emcastillo commented on #4549
I think that the best way to fix this will be to add generalized function support.
Right now we could do hacks to get this working, but when kwargs supported by numpy are passed, this will not work so I think it's better to avoid numpy dispatcher and call it explicitly using the `cupy` namespace.

[2021-01-27 09:42] ravwojdyla commented on #4549
@emcastillo for context, I hit this issue while using Dask, where the `matmul` op is dispatched on the blocks using numpy dispatcher, so that support is somewhat important.

[2021-01-27 20:58] MohamedAliRashad opened #4576 "Change the name from `scatter_add` to `add.at` for ease of migration with numpy"
If `scatter_at` behaves identically to `add.at`, shouldn't we name both the same … for connivance in migration from numpy

[2021-01-27 21:33] leofang commented on #3470
Python Array API will require this capability: https://github.com/data-apis/array-api/pull/114

[2021-01-27 21:36] leofang commented on #3062
Related: https://github.com/data-apis/array-api/pull/114, https://github.com/data-apis/array-api/pull/118

[2021-01-28 01:58] kmaehashi opened #4577 "Support cuDNN 8.1"

[2021-01-28 04:54] kmaehashi commented on #4360
Done. Freed up approx. 58 GB space on PyPI 😃

[2021-01-28 04:54] #4360 closed

[2021-01-28 17:37] leofang commented on #3470
Looks like #3247 provides the needed support, I wonder why it wasn't included in `cupy.linalg.svd`? @toslunar Do you remember?

[2021-01-28 21:02] mfoglio opened #4582 "Does copy.array initialize array asynchronously?"
Suppose I do the following:

        numpy_frame = np.array([0,1,2,3,4,5])
        cupy_frame = cp.array(numpy_frame, dtype=cp.uint8)

Is the data copied to the GPU asynchronously or do I need to something like the following

        stream = cp.cuda.Stream(non_blocking=True)
        cupy_frame  = cp.empty(numpy_frame.shape, dtype=cp.uint8)
        cupy_frame.set(numpy_frame, stream=stream)

[2021-01-29 05:08] toslunar commented on #3470
I'd like to support the batched case, and now I suppose it requires a warning in the docstring.

I was uncertain if it's acceptable to use different algorithms depending on shapes.  We will see two types of the difference:

- **sign** (because of the arbitrariness of SVD): It may damage careless users.  For example, recomputing SVDs (for debugging or for memory efficiency) will not always be a goo

[2021-01-29 12:51] kvalv opened #4583 "cupy.divide does not work with where=<...> argument"
The following works with numpy:

[code]

However, if I replace `xp = numpy` with `xp = cupy`, I get the following error:

[code]

I checked the cupy docs and I don't have any indication on why this should not work exactly like numpy. Is this a bug or have I done something wrong?

And here's various system info:

[code]

[2021-01-31 03:22] ken-nakanishi opened #4584 "`cupy.einsum` does not accelerate with CUPY_TF32"
CUPY_TF32 #3810 is very useful! However, `cupy.einsum` does not seem to accelerate with CUPY_TF32.

### Conditions
  - CuPy 8.3.0
  - Ubuntu 20.04.1 LTS
  - GeForce RTX 3090
  - CUDA 11.0
  - cuDNN 8.0.5.39
  - NCCL 2.8.3.1

### Code to reproduce

test_matmul.py
[code]

test_einsum.py
[code]

### Results
[code]

[2021-02-01 05:38] leofang commented on #3470
Thanks for reply, @toslunar. I am thinking to call `gesvdjBatched` in `cupy.linalg.svd` when the input has `ndim>=3`, and I am a bit confused from what you said: it does not seem to be possible to set which algorithm to use in `cusolverDn<t>gesvdjBatched()`. Do I miss something?

[2021-02-01 05:42] leofang commented on #3777
Thanks for checking back @pentschev, I think everything is fine with the new async allocator (except that its documentation needs to be clearer 😂).

[2021-02-01 08:21] miguelusque opened #4590 "Error when creating a CuPy ndarray from a TensorFlow DLPack object"
Hi,

When trying to convert a TensorFlow EagerTensor to a CuPy ndarray via DLPack, a runtime error is raised.

* Conditions:

* Code to reproduce

* Error messages, stack traces, or logs

Hope it helps!
Miguel

[2021-02-01 08:32] miguelusque commented on #4590
I have dug a bit more into this issue, and it looks like the Tensor was being created in CPU. Therefore, the DLPack object returned by TensorFlow is also hosted in CPU, and that is the source of the issue.

The following code works fine:

Nevertheless, I think it is well-worth to add support to CPU-based DLPack objects.

Regards,
Miguel

[2021-02-01 08:45] miguelusque commented on #4590
I have been digging a bit more about this issue, and I think that the issue is due to the fact that the DLPack object is hosted in CPU memory, and not GPU memory.

Nevertheless, I think it would be great if cupy.fromDlpack() method would support DLPack objects in host memory.

Regards,
Miguel

[2021-02-01 14:46] leofang commented on #4590
Thanks for reporting, @miguelusque. DLPack is meant for zero-copy among libraries (where data resides is set in `DLDeviceType`), so if your TF tensor lives on CPU you have to do the explicit copy (using TF-provided mechanisms) yourself.

[2021-02-01 14:55] miguelusque commented on #4590
Hi @leofang ,

I agree that DLPack is meant for zero copy, but it is also being discussed as the standard data representation to be use to interop among libraries.

In the worst scenario (when the data is in host memory), the user will need to manually move the data from host memory to device memory. Therefore, why don’t making his life easier? :-)

[2021-02-01 15:09] leofang commented on #4590
Yes, but the discussion is not yet finalized either on the DLPack side (https://github.com/dmlc/dlpack/issues/57) or Array API side (https://github.com/data-apis/array-api/pull/106), so I suggest we wait 🙂 One of the issues being discussed is that it is currently unclear on which stream the data should be copied.

CuPy has a convention to avoid implicit copy whenever possible, which is why the `__

[2021-02-01 15:22] miguelusque commented on #4590
Thank you! Sure! Let’s wait for a while.

Nevertheless, in your code reference above it looks like implicit conversions are a TODO task:

     # TODO(imanishi): Support an environment variable or a global
     # configure flag that allows implicit conversions to NumPy array.
     # (See https://github.com/cupy/cupy/issues/589 for the detail.)

[2021-02-01 15:28] leofang commented on #4590
It reflected the current decision and noted the place for possible changes in the future. If you're interested please refer to the referenced issue (#589) 🙂 AFAIK no one is working on this, though I could be wrong.

[2021-02-01 16:46] miguelusque commented on #4590
Hi @leofang ,

Apologies for disturbing you again.

I have found a weird case that I think it is well-worth to mention.

The following code works:

[code]

While the following code doesn't work (I have highlighted in bold the code change):

[code]

Any ideas why?

And thank you for your great work with CuPy. I am a happy user of this library!

Miguel

[2021-02-01 16:48] leofang opened #4591 "Make `nvrtc.getCUBIN()` default on CUDA 11.1+?"
In #4558 the new `nvrtcGetCUBIN()` API was exposed. The purpose was to avoid the driver from performing just-in-time compilation of PTX codes, which [was shown slow unless the jitted kernels are cached](https://github.com/cupy/cupy/pull/4558#issuecomment-765610834) (CUDA's default behavior). However, we decided to temporarily disable this feature in 8cb443f. This issue is for discussing the strate

[2021-02-01 17:44] leofang commented on #4590
Hi @miguelusque I know TF very little, but I can say you're still seeing the same error caused by a CPU tensor. For some reason even if I use the device context `with tf.device(...):` the tensors could still reside on CPU, and only actual computations are done on GPU. It's unclear what happened to me...
[code]
If you upgrade to CuPy v8.4.0 you'll see a clearer error:
[code]

Happy to hear CuPy wor

[2021-02-01 19:03] miguelusque commented on #4590
You are right. If I invoke backing_device method instead. It highlights it is a CPU-based tensor. Thank you for your support. Much appreciated!

[2021-02-01 20:25] weishiuchang opened #4593 "Excessive malloc time on Nvidia Ampere Arch"
We recently upgraded our servers from V100s to A100s and encountered a lengthy initialization cupy.cuda.runtime.malloc issue. Narrowing down the problem we were able to reproduce it with:

`docker run -it --rm cupy/cupy:v8.0.0 python3 -c 'import time, cupy; start=time.time(); ptr=cupy.cuda.runtime.malloc(1); end=time.time(); print(end-start); cupy.cuda.runtime.free(ptr)'`

This took 67 seconds to

[2021-02-01 20:46] leofang commented on #4593
Could you try an equivalent C code calling `cudaMalloc` (should just be a few lines) and see if there's something odd on the local environment? IIRC at least @anaruse has done some tests for CuPy on A100 but I don't think this issue was raised before.

[2021-02-01 20:55] weishiuchang commented on #4593
We had tested it with a few of the example code listed in /usr/local/cuda/samples/0_Simple/ (such as matrixMul) at the host level rather than in a docker container, and none of them took more than factional seconds to cudaMalloc. We have not ran it in n nvidia profiler however, as it was just a quick test for ourselves to narrow the problem. Sorry I didn't mention that in the initial.

[2021-02-01 20:58] leofang commented on #4593
I see, how about running the same codes in a docker (as you did in your original report) instead of on bare metal? Would it be Docker's fault?

[2021-02-01 20:59] leofang commented on #4593
btw which driver version are you on?

[2021-02-01 21:03] leofang commented on #4593
I can't reproduce this on bare metal:
[code]

Due to permission issue I can't run Docker on this machine, though, so can't test if Docker is to blame. Perhaps you could build CuPy locally?

[2021-02-01 21:03] weishiuchang commented on #4593
We had not considered if it might be a docker issue, simply because the same docker run of cupy with the V100 slotted back in did not exhibit the same malloc delay. We may try to test that theory further once we have free hardware (all are currently being used).

We are running cuda 11.0.3 with nvidia-driver latest-dkms 450.51.06

[2021-02-01 21:08] leofang commented on #4593
Yeah give it a try. It could be that the driver has a bad interplay with Docker on a new architecture, since you said NVIDIA could also reproduce this issue.

Our driver is 450.102.04.

[2021-02-01 21:09] leofang commented on #4593
[code]

[2021-02-01 21:30] leofang commented on #4593
Another way to run on bare metal without building from source: Installing CuPy from conda-forge.
[code]

[2021-02-02 05:01] kmaehashi commented on #4593
Thanks for reporting! Currently, the CuPy image on Dockerhub uses CUDA Toolkit 10.2 ([Dockerfile](https://github.com/cupy/cupy/blob/master/docker/python3/Dockerfile#L1)), which does not support A100. We also had similar issue even in the bear metal environment with CUDA 10.x + A100.
We will consider upgrading it to CUDA 11 or later in v9 releases.

[2021-02-02 05:07] toslunar commented on #3470
Sorry.  I meant `gesvd` and `gesvdj` are different in algorithm.  `cupy.linalg.svd` uses `cusolverDn<t>gesvd()` for a 2-dim input, but `cusolverDn<t>gesvdBatched()` does not exist.

[2021-02-02 05:12] leofang commented on #4593
I thought A100 is only supported since CUDA 11.0?

[2021-02-02 05:33] leofang commented on #3470
Ah OK I understand now. I think adding a warning in the docstring is sufficient to unblock things.

I think it's acceptable as it's common to change the underlying algorithm for different kinds of inputs, in this case the shape. Would you like me to send a PR or you'd prefer to do this yourself @toslunar? 🙂

[2021-02-02 05:43] leofang opened #4597 "BUG: CUDA_VERSION is set to 0 in sdist"
I was investigating the bug reported in https://github.com/conda-forge/cupy-feedstock/issues/98, and it turns out the reason is on Conda-Forge we built CuPy from sdist, but the source has `CUDA_VERSION` inlined to 0:
[code]
I don't have a good solution or patch for now, as it seems to imply sdist should be generated per CUDA version. Perhaps I am overlooking some obvious fix?

cc: @jakirkham @kmae

[2021-02-02 06:01] kmaehashi commented on #4597
Hmm... I don't come up with the good solution either other than installing the Cython during the installation of CuPy so that CPP code is generated in the user envirnoment.
I think the same can be said for `use_hip` compile time env. (sdist should be buildable on HIP but I guess currently not)

[2021-02-02 06:06] kmaehashi commented on #4593
Right, but it runs while the initialization takes much time.

[2021-02-02 06:11] leofang commented on #4597
Yeah, in #4556 I am removing `use_hip` and making `HIP_VERSION` propagated together with `CUDA_VERSION`, but it wouldn't solve the problem I think. On Conda-Forge we have no problem switching to the git source, so this issue is more for awareness.

[2021-02-02 06:31] kmaehashi commented on #4597
Discussed a bit in the team, adding Cython to `setup_requires` in `setup.py` and exclude cpp files from sdist sounds good to us. This way we can also resolve https://github.com/cupy/cupy/pull/4494 without dirty hacking.

[2021-02-02 06:47] leofang commented on #4597
It's great to solve two bugs at once 👍

[2021-02-02 06:47] kmaehashi commented on #4582
CuPy asynchronously transfers from host to device using pinned memory on the [current stream](https://docs.cupy.dev/en/stable/reference/cuda.html#streams-and-events) (by default, it is a "default stream".)

[2021-02-02 06:58] kmaehashi opened #4600 "Support cuTENSOR preloading"
* Fix CuPy to preload cuTENSOR
* Fix cupy-release-tools to build wheels with cuTENSOR support

[2021-02-02 06:59] kmaehashi opened #4601 "Add Windows support in cuTENSOR download tool"
https://github.com/cupy/cupy/pull/4560#issuecomment-764422155

[2021-02-02 22:07] wphicks opened #4607 "Percentile output non-monotonic for monotonically increasing percentiles"
# Description
For certain inputs, `cupy.percentile` with linear interpolation can produce non-monotonically increasing output for a monotonically-increasing list of desired percentiles. This is identical to the issue resolved by https://github.com/numpy/numpy/pull/16273 in numpy and can be resolved with the same adjustment in how the linear interpolation gets calculated in the `percentile_weightne

[2021-02-02 22:08] wphicks commented on #4607
This should require only a very small change, and I'm happy to take care of it myself later today or first thing tomorrow.

[2021-02-03 03:15] Joevaen opened #4608 "original error: libcudart.so.10.2: cannot open shared object file: No such file or directory"
Thank you for using and contributing to CuPy!

If your issue is a **request for support in using CuPy**, please post it on [Stack Overflow](https://stackoverflow.com/questions/tagged/cupy) or Google Groups ([en](https://groups.google.com/forum/#!forum/cupy) / [ja](https://groups.google.com/forum/#!forum/cupy-ja)).
Developer team members are monitoring questions on these channels.

If it is a bug r

[2021-02-03 03:18] Joevaen commented on #4608
Cupy install failed when I first install it on cuda10.1, so I upgrade cuda to 10.2. It still didn't  work. I use `pip install cupy_cudaxxx`.

[2021-02-03 03:49] Joevaen opened #4609 "cupy map_coordinates doesn't support order = 3?"
Thank you for using and contributing to CuPy!

cupy map_coordinates doesn't support order = 3?

[2021-02-03 05:44] kmaehashi opened #4610 "Support Cython 3.0"
Cython 3.0 is in alpha releases and we should get ready for it.
https://pypi.org/project/Cython/#history

[code]

[2021-02-03 05:49] kmaehashi commented on #4608
Could you try using conda-forge packages instead of pip? Conda installation comes with the CUDA toolkit.
https://docs.cupy.dev/en/stable/install.html#installing-cupy-from-conda-forge

When using pip packages, you may need to set `LD_LIBRARY_PATH` depending on how you installed CUDA.
https://docs.cupy.dev/en/stable/install.html#working-with-custom-cuda-installation

[2021-02-03 05:54] kmaehashi commented on #4607
Thank you for reporting! It would be great if you could make a PR 👍🏼

[2021-02-03 06:54] Joevaen commented on #4608
Hi, kmaehashi.
I have set the LD_LIBRARY_PATH in my .bashrc. it looks right and `nvcc -V`has correct output.
![image](https://user-images.githubusercontent.com/46133615/106709376-62156f00-662f-11eb-962c-827fa1d166f1.png)
As for conda installation. I have tried it but it will install nvidia-cuda-tookit again(I have cuda on my OS). Is this normal?
after I conda, it still didn't work.
Sad.

[2021-02-03 07:36] #3918 closed

[2021-02-03 07:38] #3935 closed

[2021-02-03 07:39] #4019 closed

[2021-02-03 07:45] #3174 closed

[2021-02-03 07:46] #4590 closed

[2021-02-03 09:50] leofang commented on #4608
Could you post the full command you ran for `conda install`, and also the output of `conda list`?

As for pip, your command does not seem right. It should be `pip install cupy-cuda102` (with a hyphen, not underscore). Perhaps it was simply a typo?

[2021-02-03 10:02] toslunar opened #4613 "Some `RandomState` methods cannot infer `size`"
[code]

while `cupy.random.normal(loc=cupy.zeros(3))` works.

[2021-02-03 14:15] grlee77 commented on #4609
The 8.x releases only support orders 0 and 1. The upcoming 9.0 release supports all orders (0-5) supported by SciPy. Many other features have been added to the `cupyx.scipy.ndimage` module in 9.0.

If you are using conda, you can install a release candidate for 9.0 using
[code]

[2021-02-04 00:00] mfoglio commented on #4582
Thank you.

Sometime I have the following error simply doing `cupy_frame = cp.array(numpy_frame, dtype=cp.uint8)`:

[code]

Do I need to pin the numpy array somehow? Also, I am running on other cuda applications (tensorRT) so I don't know how cupy manages different contexts (e.g. cuda's context.push() and context.pop() )

[2021-02-04 00:40] mfoglio opened #4618 "cudaErrorInvalidResourceHandle when using cupy's thread"
I have a Python application that also uses tensorRT and therefore has its own context that get pushed and pop from the gpu (cud's `context.pop()` and `context.push()`).

Among the rest of the code, I have the following class:

[code]

The line that produces a crash reports:

[code]

Do I need to create a new Stream each time? Would that be a good idea considering this function is called quite open

[2021-02-04 02:26] Joevaen commented on #4608
1.`pip install cupy-cuda102` has same output with `pip install cupy_cuda102`.
2. I use `conda install -c conda-forge cupy` to install cupy via conda and I found it worked in a new conda env, but it didn't work in base env with a error says `RemoveError: 'requests' is a dependency of conda and cannot be removed from
conda's operating environment.
RemoveError: 'setuptools' is a dependency of conda a

[2021-02-04 02:33] Joevaen commented on #4608
`conda update --force conda` before `conda install -c conda-forge cupy`solved.

[2021-02-04 02:33] #4608 closed

[2021-02-04 05:23] toslunar commented on #4613
[code]

[2021-02-04 07:24] toslunar opened #4621 "Support NumPy 1.20"
### Deprecations

- type aliases `np.int`, `np.float`, and etc.
  - [x] #4598
  - [x] #4605
  - [x] #4620
- `shape=None` in `ndarray`, `zeros`, and etc.
  - [x] #4616

### Changes

- int `linspace` rounding
  - [x] #4604
- all-zero `poly1d`
  - [x] #4611

[2021-02-04 15:07] leofang commented on #4608
Something must be wrong, because the former is what is supported. If you post the full logs here we'll be able to diagnose.

It could be that it requires a more recent version for these dependencies, in conflict with the base env. In general, it is a very bad practice to touch Conda's base env, and it's expected that users always create a new env to install packages. The base env is to manage mini

[2021-02-04 15:50] asi1024 commented on #4621
Now all CIs for the master branch are green.

[2021-02-04 16:00] leofang commented on #4484
All tests in `tests/cupy_tests/core_tests/fusion_tests/` passed on the master branch!

[2021-02-04 17:00] leofang commented on #4484
only 10 failures in core tests now:
[code]

[2021-02-04 17:23] leofang commented on #4618
@mfoglio CuPy uses CUDA Runtime API's Primary Context, which is [unique per device per process](https://docs.nvidia.com/cuda/cuda-runtime-api/driver-vs-runtime-api.html#driver-vs-runtime-api). My guess is some of your threads do not have the context properly initialized.

Is it possible to pick up the current context in tensorRT, instead of pushing and popping yourselves? If so, one workaround cou

[2021-02-04 23:23] mfoglio commented on #4618
Interesting, thank you.

So right now when initializing my tensorRT model I am creating a context `self.cfx = cuda.Device(0).make_context(flags=cuda.ctx_flags.BLOCKING_SYNC)`, then removing it instantly `cfx.pop()`, and then doing `cfx.push()` and `cfx.pop()` at the beginning and end of each inference with the model.

If I remove those command, and I add `cupy.cuda.Device().mem_info` to the beginn